@using TechnoForms.Postaltypes
<div @*ng-controller="host.views.postaltype.editModal as vm"*@>
             <div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								 <span>@L("EditingPostalType") : <span class="fname"> {{vm.postaltype.postalTypeName}}</span></span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">
            <form name="postaltypeEditForm" role="form" novalidate class="form-validation">   
                <div ng-show="vm.exist">
                    <span class="help-block text-danger">{{vm.message}}</span>
                </div>
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields">
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("PostalTypeName")</label>
                                    <input auto-focus type="text" name="StreetTypeName" class="form-control input-ltr" ng-class="{'edited':vm.postaltype.postalTypeName}" ng-model="vm.postaltype.postalTypeName" required maxlength="@PostalType.MaxPostalTypeNameLength" placeholder="@L("PostalTypeName")">

                                </div>
                            </li>
                            <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("PostalTypeCode")</label>
                                    <input type="text" name="StreetTypeCode" class="form-control edited" ng-class="{'edited':vm.postaltype.postalTypeCode}" ng-model="vm.postaltype.postalTypeCode" required maxlength="@PostalType.MaxPostalTypeCodeLength" placeholder="@L("PostalTypeCode")">

                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer transparentbackground">
                        <button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span> @L("Cancel")</span></button>
                        <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>