@using TechnoForms.Localization
<div ng-controller="host.views.postaltype.index as vm">
    
     <div class="pagetitlebox">
 <div class="row">
        <div class="col-md-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("PostalType")</span> @*<small>@L("PostalTypeHeaderInfo")</small>*@
                    </h1>
                    <button tooltip-placement="top" uib-tooltip="Add" ng-if="vm.permissions.createpostaltype" class="btn btn-primary blue btnaddhead" ng-click="vm.createPostalType()"><i class="fa fa-plus"></i> @*@L("CreateNewPostalType")*@</button>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-right">
            <div class="filtermain">
                <div class="portlet-title portlet-title-filter mt5 mr10">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="input-group">
                            <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("PostalTypeName")" type="text">
                            <span class="input-group-btn">
                                <button ng-click="vm.getPostalType()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
            
            @*<a ng-click="showFilter = !showFilter" class="btn-filter">  </a>*@
            </div>
        </div>
    </div>
     </div>
    <div class="black-transparentbox">
   
    <div class="portlet light margin-bottom-0">
        
        <div class="portlet-body">
            <div ng-show="vm.norecord">
                <div class="errormessage">  @L("NoRecordMessage") </div>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.postalTypeGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>
</div>