@using TechnoForms.StreetName
<div @*ng-controller="host.views.streetname.createStreetNamemodal as vm"*@>
    <div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								 <span>@L("CreateStreetName")</span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>  
    <div class="black-transparentbox">  
        <div ng-show="vm.exist">
            <span class="help-block text-danger">{{vm.message}}</span>
        </div>
        <div class="portlet light margin-bottom-0">
            <form name="createPersonForm" role="form" novalidate class="form-validation">
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields">
                            <li class="wdth100per mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("StreetName")</label>
                                    <input auto-focus class="form-control" type="text" name="Name" ng-model="vm.streetNamelist.StreetName" required maxlength="@StreetNames.MaxNameLength" placeholder="@L("StreetName")">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer transparentbackground">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span>@L("Cancel")</span></button>
                    <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
