@using Abp.Authorization.Users
<div @*ng-controller="common.views.users.createOrEditModal as vm"*@>
    <div class="pagetitlebox">
			   <div class="row">
                    <div class="col-md-12">
                        <div class="page-head">
                            <div class="page-title">
                                <h1>
                                    <span ng-if="vm.user.id">@L("EditUser"): <span class="fname">{{vm.user.userName}}</span></span>
                                    <span ng-if="!vm.user.id">@L("CreateNewUser")</span>
                                </h1>
                                <button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
                            </div>
                        </div>
                    </div>
                </div>
		</div>

    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">

            <form name="userCreateOrEditForm" role="form" novalidate class="form-validation">
             
                @*<div class="modal-header">
                        <h4 class="modal-title">
                            <span ng-if="vm.user.id">@L("EditUser"): {{vm.user.userName}}</span>
                            <span ng-if="!vm.user.id">@L("CreateNewUser")</span>
                        </h4>
                    </div>*@
                <div class="portlet-body">
                    <div class="createjobsform mt0"  style="padding-top:5px!important;">
                        <uib-tabset class="tab-container tabbable-line">
                            <uib-tab heading="@L("UserInformations")">
                                <div class="row">
                                    <div class="col-sm-3 text-center">
                                                <img ng-if="vm.profilePictureId" ng-src="@Url.Action("GetProfilePictureById", "Profile")?id={{vm.profilePictureId}}" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                                <img ng-if="!vm.profilePictureId" src="@Url.Content("~/Common/Images/default-profile-picture.png")" width="128" height="128" class="img-thumbnail img-rounded user-edit-dialog-profile-image" />
                                            </div>
                                            <div class="col-sm-9">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label>@L("Name")</label>
                                                    <input auto-focus class="form-control" type="text" name="Name" ng-class="{'edited':vm.user.name}" ng-model="vm.user.name" required maxlength="@TechnoForms.Authorization.Users.User.MaxNameLength" placeholder='@L("Name")' ng-minlength="2">
                                                    <div>
                                                        <span class="help-block text-danger" ng-show="userCreateOrEditForm.Name.$dirty&&userCreateOrEditForm.Name.$error.minlength">@L("NameMinn_Length")</span>
                                                    </div>
                                                </div>
                                                    </div>
                                                     <div class="col-md-6">
                                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                            <label>@L("Surname")</label>
                                                            <input type="text" name="Surname" class="form-control" ng-class="{'edited':vm.user.surname}" ng-model="vm.user.surname" required maxlength="@TechnoForms.Authorization.Users.User.MaxSurnameLength" placeholder='@L("Surname")' ng-minlength="2">
                                                        <div>
                                                            <span class="help-block text-danger" ng-show="userCreateOrEditForm.Surname.$dirty&&userCreateOrEditForm.Surname.$error.minlength">@L("SurnameMinn_Length")</span>
                                                        </div>
                                                        </div>
                                                     </div>
                                                     <div class="col-md-6">
                                                          <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                                <label>@L("EmailAddress")</label>
                                                                <input type="email" name="EmailAddress" class="form-control" ng-class="{'edited':vm.user.emailAddress}" ng-model="vm.user.emailAddress" required maxlength="@AbpUserBase.MaxEmailAddressLength" placeholder='@L("EmailAddress")' ng-pattern="vm.emailFormat">
                                                                <div>
                                                                    <span class="help-block text-danger" ng-show="!userCreateOrEditForm.EmailAddress.$valid && userCreateOrEditForm.EmailAddress.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
                                                                </div>
                                                            </div>
                                                     </div>
                                                     <div class="col-md-6">
                                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                            <label>@L("Mobile")</label>
                                                            <input type="text" name="PhoneNumber" class="form-control" ng-class="{'edited':vm.user.phoneNumber}" ng-model="vm.user.phoneNumber" required maxlength="@TechnoForms.Authorization.Users.User.MaxPhoneNumberLength" ng-keypress="vm.CheckNumber()" placeholder='@L("PhoneNumber")' ng-pattern="vm.phonepattern">
                                                            <div>
                                                                <span class="help-block text-danger" ng-show="!userCreateOrEditForm.PhoneNumber.$valid && userCreateOrEditForm.PhoneNumber.$dirty">@L("Phone_Regex_Description")</span>
                                                            </div>
                                                        </div>
                                                     </div>
                                                </div>
                                               
                                          

                                 
                                       

                                  
                                      

                                  
                                
                                        <div class="form-group form-md-line-input form-md-floating-label">
                                            <label>@L("UserName")</label>
                                            <input type="text" ng-disabled="!vm.canChangeUserName" ng-class="{'edited':vm.user.userName}" name="UserName" class="form-control input-ltr" ng-model="vm.user.userName" required maxlength="@AbpUserBase.MaxUserNameLength" placeholder='@L("UserName")' ng-pattern="vm.usernameFormat">

                                            <span class="help-block" ng-show="!vm.canChangeUserName">@L("CanNotChangeAdminUserName")</span>
                                            <div>
                                                <span class="help-block text-danger" ng-show="!userCreateOrEditForm.UserName.$valid && userCreateOrEditForm.UserName.$dirty">@L("UserName_Regex_Description")</span>
                                            </div>
                                        </div>

                                  
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.setRandomPassword">
                                            <label>@L("Password")</label>
                                            <input type="password" name="Password" class="form-control" ng-model="vm.user.password" ng-required="!vm.user.id && !vm.setRandomPassword" maxlength="@TechnoForms.Authorization.Users.User.MaxPlainPasswordLength" ng-minlength="@TechnoForms.Authorization.Users.User.MinPlainPasswordLength" placeholder='@L("Password")' ng-pattern="/^(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/">
                                            <div>
                                                <span class="help-block text-danger" ng-show="!userCreateOrEditForm.Password.$valid && userCreateOrEditForm.Password.$dirty">@L("Password_Regex_Description")</span>
                                            </div>
                                        </div>

                                 
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.setRandomPassword">
                                            <label>@L("PasswordRepeat")</label>
                                            <input type="password" name="PasswordRepeat" class="form-control" ng-model="vm.user.passwordRepeat" ng-required="!vm.user.id && !vm.setRandomPassword" maxlength="@TechnoForms.Authorization.Users.User.MaxPlainPasswordLength" ui-validate=" '$value==vm.user.password' " ui-validate-watch=" 'vm.user.password' " ng-minlength="@TechnoForms.Authorization.Users.User.MinPlainPasswordLength" placeholder='@L("PasswordRepeat")' ng-pattern="/^(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/">
                                            <div>
                                                <span class="help-block text-danger" ng-show="!userCreateOrEditForm.PasswordRepeat.$valid && userCreateOrEditForm.PasswordRepeat.$dirty">@L("Password_Regex_Description")</span>
                                            </div>
                                        </div>
                                
                              
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox">
                                                    <input id="EditUser_SetRandomPassword" class="md-check" type="checkbox" name="SetRandomPassword" ng-model="vm.setRandomPassword">
                                                    <label for="EditUser_SetRandomPassword">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("SetRandomPassword")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                 
                                        <div class="md-checkbox-list">
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                <div class="md-checkbox">
                                                    <input id="EditUser_ShouldChangePasswordOnNextLogin" class="md-check" type="checkbox" name="ShouldChangePasswordOnNextLogin" ng-model="vm.user.shouldChangePasswordOnNextLogin">
                                                    <label for="EditUser_ShouldChangePasswordOnNextLogin">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("ShouldChangePasswordOnNextLogin")
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                <div class="md-checkbox">
                                                    <input id="EditUser_SendActivationEmail" class="md-check" type="checkbox" name="SendActivationEmail" ng-model="vm.sendActivationEmail">
                                                    <label for="EditUser_SendActivationEmail">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("SendActivationEmail")
                                                    </label>

                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                <div class="md-checkbox">
                                                    <input id="EditUser_IsActive" class="md-check" type="checkbox" name="IsActive" ng-model="vm.user.isActive">
                                                    <label for="EditUser_IsActive">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("Active")
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.isTwoFactorEnabled">
                                                <div class="md-checkbox">
                                                    <input id="EditUser_IsTwoFactorEnabled" class="md-check" type="checkbox" name="IsTwoFactorEnabled" ng-model="vm.user.isTwoFactorEnabled">
                                                    <label for="EditUser_IsTwoFactorEnabled">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsTwoFactorEnabled")
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                <div class="md-checkbox" ng-if="vm.isLockoutEnabled">
                                                    <input id="EditUser_IsLockoutEnabled" class="md-check" type="checkbox" name="IsLockoutEnabled" ng-model="vm.user.isLockoutEnabled">
                                                    <label for="EditUser_IsLockoutEnabled" uib-tooltip="@L("IsLockoutEnabled_Hint")">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("IsLockoutEnabled")
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                            </div>
                                        </div>
                                    
                                        
                                    
                            </uib-tab>
                            <uib-tab>
                                <uib-tab-heading>
                                    @L("Roles") <b class="badge badge-primary">{{vm.getAssignedRoleCount()}}</b>
                                </uib-tab-heading>
                                <div class="md-checkbox-list">
                                    <div class="md-checkbox" ng-repeat="role in vm.roles">
                                        <input id="EditUser_{{role.roleName}}" class="md-check" type="checkbox" name="{{role.roleName}}" ng-model="role.isAssigned">
                                        <label for="EditUser_{{role.roleName}}">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            {{role.roleDisplayName}}
                                        </label>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="modal-footer transparentbackground">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span>@L("Cancel")</span></button>
                        <button type="submit"  busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>