@using TechnoForms.Localization
<div ng-controller="common.views.users.index as vm">
      <div class="pagetitlebox">
<div class="row">
        <div class="col-md-4">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Users")</span>
                    </h1>
                    <button tooltip-placement="top" uib-tooltip="Add"  ng-if="vm.permissions.create" class="btn btn-primary blue btnaddhead" ng-click="vm.createUser()"><i class="fa fa-plus"></i>
                    @*@L("CreateNewUser")*@ </button>
                    <button class="btn btn-default btnaddhead btnexcelupload" tooltip-placement="top" uib-tooltip="Download"   ng-click="vm.exportToExcel()"><i class="fa fa-file-excel-o"></i> 
                    @*@L("ExportToExcel")*@</button>
                </div>
            </div>
        </div>
        <div class="col-md-8 text-right">
                <div class="filtermain">
                    <div class="portlet-title portlet-title-filter mt5 ">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form>
                                    <div class="input-group">
                                       <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text"> 
                                        <span class="input-group-btn">                                           
                                            <button ng-click="vm.getUsers()" class="btn default " type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>               
                     
                </div>
             
            
            <a ng-click="toggle = !toggle" ng-class="{'showfilter' : toggle}" class="btn-filter">  </a>
            </div> 
        </div>
    </div>
      </div>
    <div class="black-transparentbox">
    
    <div class="portlet light margin-bottom-0">
         <div class="filterarea dropdownfilter" ng-class="{'showfilter' : toggle}">
             <form class="horizontal-form">
                    <div class="form-body" enter-key="vm.getUsers()">
                    <ul>                        
                        <li> <permission-combo selected-permission="vm.requestParams.permission"></permission-combo></li>
                        <li ng-if="vm.permissions.roles"><role-combo selected-role="vm.requestParams.role" empty-text="@L("FilterByRole")"></role-combo></li>
                        <li><button class="btn blue" ng-click="vm.getUsers()"><i class="fa fa-refresh"></i> @L("Refresh")</button></li>
                    </ul>                    
                    </div>
            </form>
            </div>
         <div class="portlet-body">
           
             <div ng-show="vm.norecord">
                 <div class="errormessage">  @L("NoRecordMessage") </div>
             </div>
             <div busy-if="vm.loading">
                 <div ui-grid="vm.userGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
             </div>
         </div>
    </div>
</div>
 <div class="blackoverlay" ng-class="{'showfilter' : toggle}" ng-click="toggle = !toggle"></div>
</div>