﻿@using TechnoForms.Panels
<div @*ng-controller="host.views.panel.createPanel as vm"*@>
             <div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								<span>@L("CreateNewPanel")</span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">
            <form name="createPanelForm" role="form" novalidate class="form-validation">
      
                <div ng-show="vm.exist">
                    {{vm.message}}
                </div>
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields mb-0">
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("LicenceHolder")</label>
                                    <input auto-focus class="form-control" type="text" name="LicenceHolder" ng-model="vm.panel.licenceOrCertiHolder" required maxlength="@Panel.MaxLicenceOrCertiHolder" placeholder="@L("LicenceHolder")">
                                </div>
                            </li>
                            <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("ModelNumber")</label>
                                    <input class="form-control" type="text" name="ModelNumber" ng-model="vm.panel.modelNo" required maxlength="@Panel.MaxModelNo" placeholder="@L("ModelNumber")">
                                </div>
                            </li>
                           
                            <li class="wddth48">
                                <label>@L("Logo")</label>
                                <div class="input-group form-group">
                                    <input type="text" name="Logo" id="logo" ng-model="vm.panel.panelLogo" class="form-control" placeholder="No file selected" readonly>
                                    <span class="input-group-btn">
                                        <div class="btn btn-default  custom-file-uploader">
                                            <input id="Logo" type="file" name="file" nv-file-select uploader="vm.logouploader" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />
                                            Browse
                                        </div>
                                    </span>
                                </div>
                            </li>
                      
                            <li class="wddth48 mr0">

                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Size")</label>
                                    <input class="form-control" type="number" name="Size" ng-model="vm.panel.size" required maxlength="18" placeholder="@L("Size")" min="0">

                                </div>

                            </li>
                            <li class="wdth100per mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("FireTested")</label>
                                    <input class="form-control" type="text" name="FireTested" ng-model="vm.panel.fireTested" required maxlength="@Panel.MaxFireTested" placeholder="@L("FireTested")">

                                </div>

                            </li>
                             <li class="wddth48">
                                @* <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>@L("CECApprovedDate")</label>
                                        <input class="form-control" type="date" name="CECApprovedDate" ng-model="vm.panel.cecApprovedDate" required maxlength="">
                                    </div>*@
                                <label>@L("CECApprovedDate")</label>
                                <div class="input-group form-group datepickerbox">
                                    <input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.panel.cecApprovedDate" is-open="popup1.opened" datepicker-options="dateOptionsApproval" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("CECApprovedDate")"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>
                            </li>
                            <li class="wddth48 mr0">
                                @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>@L("ExpiryDate")</label>
                                        <input class="form-control" type="date" name="ExpiryDate" ng-model="vm.panel.expiryDate" required maxlength="">
                                    </div>*@
                                <label>@L("ExpiryDate")</label>
                                <div class="input-group form-group datepickerbox ">
                                    <input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.panel.expiryDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("ExpiryDate")"/>
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>

                            </li>
                        </ul>
                    </div>

                    <div class="modal-footer transparentbackground">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span> @L("Cancel")</span></button>
                        <button type="submit" class="btn btn-primary blue" ng-click="vm.save()" busy-text="@L("SavingWithThreeDot")"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </div>

            </form>
        </div>
    </div>

</div>