﻿/***
Login page
***/
/* bg color */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');


@font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../../App/fonts/segoe/Segoe UI.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../../App/fonts/segoe/Segoe UI Italic.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../../App/fonts/segoe/Segoe UI Bold.woff') format('woff');
    }
    
    
    @font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../../App/fonts/segoe/Segoe UI Bold Italic.woff') format('woff');
    }

    body {
        background: url('../../App/images/body_background.jpg') no-repeat center top fixed !important;
        background-position: fixed;
        background-size: cover !important; 
        padding: 0px !important;
        margin: 0px !important;
        direction: "ltr"; 
      }

.login {
    background-color: #364150 !important;
    font-family: 'Segoe UI Regular';
}

.login .logo {
    margin: 0 auto;
    margin-top: 60px;
    padding: 15px;
    text-align: center;
}

.login .content {
    background-color: #eceef1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    width: 400px;
    margin: 40px auto 0px auto;
    padding: 30px;
    padding-top: 10px;
    overflow: hidden;
    position: relative;
}

.login .content h3 {
    color: #4db3a5;
    text-align: center;
    font-size: 28px;
    font-weight: 400 !important; text-transform: capitalize;
}

.login .content h4 {
    color: #555;
}

.login .content .hint {
    color: #999;
    padding: 0;
    margin: 15px 0 7px 0;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}

.login .content .form-control {
    border: none;
    background-color: #dde3ec;
    height: 43px;
    color: #8290a3;
    border: 1px solid #dde3ec;
}

.login .content .form-control:focus, .login .content .form-control:active {
    box-shadow: 0 0 5px rgba(0, 100, 242, 1)!important;
    border: 1px solid rgba(0, 100, 242, 1)!important;
}

.login .content .form-control::-moz-placeholder {
    color: #8290a3;
    opacity: 1;
}

.login .content .form-control:-ms-input-placeholder {
    color: #8290a3;
}

.login .content .form-control::-webkit-input-placeholder {
    color: #8290a3;
}

.login .content select.form-control {
    padding-left: 9px;
    padding-right: 9px;
}

.login .content .form-title {
    font-weight: 300;
    margin-bottom: 25px;
}

.login .content .form-actions {
    clear: both;
    border: 0px;
    border-bottom: 1px solid #eee;
    padding: 0px 30px 25px 30px;
    margin-left: -30px;
    margin-right: -30px;
}

.login-options {
    margin-bottom: 30px;
    overflow: hidden;
}

.login-options h4 {
    float: left;
    font-weight: 600;
    font-size: 15px;
    color: #7d91aa !important;
}

.login-options .social-icons {
    float: right;
    padding-top: 3px;
}

.login-options .social-icons li a {
    border-radius: 15px 15px 15px 15px !important;
    -moz-border-radius: 15px 15px 15px 15px !important;
    -webkit-border-radius: 15px 15px 15px 15px !important;
}

.login .content .form-actions .checkbox {
    margin-left: 0;
    padding-left: 0;
}

.login .content .forget-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 20px;
}

.login .content .register-form .form-actions {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0px;
}

.login .content .form-actions .btn {
    margin-top: 1px;
}

.login .content .form-actions .btn-success {
    font-weight: 600;
    padding: 10px 20px !important;
}

.login .content .form-actions .btn-default {
    font-weight: 600;
    padding: 10px 25px !important;
    color: #6c7a8d;
    background-color: #ffffff;
    border: none;
}

.login .content .form-actions .btn-default:hover {
    background-color: #fafaff;
    color: #45b6af;
}

.login .content .forget-password {
    font-size: 16px;
    float: right;
    display: inline-block;
    margin-top: 7px;
}

.login .content .check {
    color: #8290a3;
}

.login .content .rememberme {
    margin-left: 8px;
    margin-top: 10px;
}

.login .content .create-account {
    margin: 0 -40px -40px -40px;
    padding: 15px 0 17px 0;
    text-align: center;
    background-color: #6c7a8d;
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    -ms-border-radius: 0 0 7px 7px;
    -o-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}

.login .content .create-account p a {
    font-weight: 600;
    font-size: 14px;
    color: #c3cedd;
}

.login .content .create-account .pipe-divider {
    color: #c3cedd;
}

.login .content .create-account a {
    display: inline-block;
    margin-top: 5px;
}

.login .content .alert {
    margin-bottom: 10px;
}

.login .content .alert:last-child {
    margin-bottom: 0;
}

/*input.ValidationError{border:1px solid #ff0000!important;}*/

/* footer copyright */
.login .copyright {
    text-align: center;
    margin: 0 auto 30px 0;
    padding: 10px;
    color: #000000;
    font-size: 13px;
}

.login .language-switch-area {
    text-align: center;
    padding: 10px;    
}
.login .language-switch-area .language-icon {
    -ms-opacity: 0.5;
    opacity: 0.5;
}

.login .language-switch-area .language-icon-current {
    -ms-opacity: 1;
    opacity: 1;
}

/* custom css 17-10-2019 */



.login{background: url(../../app/images/body_background.jpg) no-repeat center top!important; height:100vh; background-position: fixed; background-size:cover!important; font-family: 'Segoe UI Regular';}
.login .logo{max-width:400px; margin:0px auto 0px auto; background: #ffffff; padding:15px 15px 15px 15px}
.login .logo img{width: 100%; height:auto; max-width:270px;}
.login .content{border-radius: 0px; background: #fff; margin-top: 0px;max-width:400px; width: 100%;}
.login .content h3{font-size: 45px; font-weight: 500!important; color: #0064F2;}
h1, h2, h3, h4, h5, h6{  font-family: 'Segoe UI Regular';}
.login .content .form-control{height: 50px; background:#ffffff; border-radius: 4px; border: transparent solid 1px; padding: 6px 20px; font-size: 16px;
border:1px solid #ccc;}
.login .content .form-group{margin-bottom: 20px;}
.login .content .form-actions .btn{color: #fff; text-align: center; font-size: 20px!important; font-weight: 500!important; border-radius: 4px!important; padding: 10px 20px!important; text-transform: capitalize!important;}
.login .btn-success{ width: 100%; background: #0064F2; border-color: #0064F2;}
.btn-success.active.focus, .btn-success.active:focus, .btn-success.active:hover, .btn-success:active.focus, .btn-success:active:focus, .btn-success:active:hover, .open>.btn-success.dropdown-toggle.focus, .open>.btn-success.dropdown-toggle:focus, .open>.btn-success.dropdown-toggle:hover{ background: #0064F2; border-color: #0064F2;}
.login .content .form-actions{border: none; padding-bottom: 0px;}
.login .content .create-account{margin: 0px 0px; background: none; padding: 0px; text-align: center;}
.login .content .create-account p{display: flex; flex-direction: row; flex-wrap: wrap;justify-content: space-between; align-items: center;font-size: 16px!important;color: #000;}
.login .content .forget-password{float: none;}
.login .content .create-account p a, .forgotpassword a{ font-weight: 500!important; font-size: 16px;color: #000;  font-family: 'Segoe UI Regular';}
input[type=checkbox]:not(old),
input[type=radio   ]:not(old){
  width   : 32px;
  margin  : 0;
  padding : 0;
  opacity : 0;
    height: 32px;
    position: absolute;left: 0px;top: 0px;
}

input[type=checkbox]:not(old) + span,
input[type=radio   ]:not(old) + span{
  display      : inline-block;
  margin-left  : 0px;
  padding-left : 28px;
  background   : url('../../app/images/bg_checkbox.jpg') no-repeat 0 0;
  line-height  : 24px;
    width: 32px; height: 32px; position: absolute; left: 0px;top: 0px;
}

input[type=checkbox]:not(old):checked + span{
  background-position : 0 -32px;
}

input[type=radio]:not(old):checked + span{
  background-position : 0 -32px;
}
.rememberme{position: relative; padding-left: 44px;padding-top: 7px; font-size: 16px; color: #9C9C9C;}
.login .content .form-title{    margin-bottom: 36px;}
.login .copyright{color: #000000; width:100%; text-align: center;}
.login .content .form-actions.two_button .btn-success{ width: 60%;}
.login .content .form-actions.two_button .btn-default{color:#6c7a8d; background: #eee; border-color: #eee;}
.forgotpass_box{display: flex; flex-direction: row; justify-content: space-between;}
.logincontainer{height: 100%; display: flex; flex-direction: row; justify-content: flex-start;align-items: center;}

.form-label-top {
    display: none;
}

.form-line-error {
    background: none repeat scroll 0 0;
}

.form-required,
.form-button-error {
    display: none !important;
}

.form-validation-error {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.form-line-error {
    background: none repeat scroll 0 0 !important;
}

.form-error-message, .form-required, .form-button-error {
    display: none !important;
}

.form-validation-error {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
#usernameOrEmailAddress-error {font-size:0px!important; border-top:1px solid #ff0000!important; margin-top:0px;
}
#password-error, #EmailAddress-error {
    font-size: 0px !important;
    border-top: 1px solid #ff0000 !important;
    margin-top: 0px;
}

@media screen and (min-width:900px) {
    .loginmainbox{min-width: 400px; height:100vh; /*box-shadow: 0px 23px 20px rgba(0,0,0,0.5);*/ background:#ffffff;
        padding-top: 40px;
  }
  }

  @media screen and (max-width:825px){
    .loginmainbox{min-width: 400px; height:100vh; /*box-shadow: 0px 23px 20px rgba(0,0,0,0.5);*/ background:#ffffff;
        padding-top: 40px;
  }
  }
  

@media screen and (min-width:1400px){
    .login .content h3{font-size:41px;}
    body{font-size: 16px;}
    .login .logo, .login .content{max-width:400px;}
  .logincontainer{display: flex;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: middle;
    height: 100vh;} 
.loginmainbox{min-width:400px; /*box-shadow: 0px 23px 20px rgba(0,0,0,0.5);*/ background:#ffffff;
    height:100vh;
}

.copyright{width:100%; text-align: center;}
.login .content .forget-password{margin-top:15px!important;}
}

@media screen and (max-width:767px){
    .loginmainbox {
        min-width: 100%;
        height: 100vh;
        /* box-shadow: 0px 23px 20px rgba(0,0,0,0.5); */
        background:rgba(255,255,255,0.8);
        overflow:auto;
        padding-top: 40px;
    }
}

@media (max-width: 440px) {
    /***
  Login page
  ***/
  .forgotpass_box{flex-direction: column; padding-left:8px;}
    .login .logo {
        margin-top: 0px;
    }

    .login .content {
        width:300px; 
        margin-top: 10px;
    }

    .login .content h3 {
        font-size: 22px;
    }

    .forget-password {
        display: inline-block;
        margin-top: 20px;
    }

    .login-options .social-icons {
        float: left;
        padding-top: 3px;
    }

    .login .checkbox {
        font-size: 13px;
    }
    .login .content .form-actions .btn{width:100%!important; margin-bottom:10px!important;}
}





@media screen and (max-width:1400px){
    .login .content .form-title{margin-bottom: 25px;}
    .login .content h3{font-size:35px; text-transform: capitalize;}
    .login .content .form-control{height:45px;}
    .login .content .rememberme{margin-top: 0px;}
    .login .copyright{margin-bottom: 10px; margin-top: 15px;}
    .login .logo{margin-top:0px;}
}