﻿@using System.Web.Script.Serialization
@using Abp.Web.Mvc.Extensions
@model TechnoForms.Web.Models.Account.ResetPasswordViewModel
@section Scripts
{
    <script>
        window.passwordComplexitySetting = @(new JavaScriptSerializer().Serialize(Model.PasswordComplexitySetting).Replace("\"", ""));
    </script>
    @Html.IncludeScript("~/Views/Account/ResetPassword.js")
}
<form class="pass-reset-form" action="@Url.Action("ResetPassword")" method="post">
    @Html.AntiForgeryToken()
    <h3>@L("ChangePassword")</h3>
    <p>
        @L("PleaseEnterYourNewPassword")
    </p>
    <input type="hidden" name="TenantId" value="@Model.TenantId">
    <input type="hidden" name="UserId" value="@Model.UserId">
    <input type="hidden" name="ResetCode" value="@Model.ResetCode">
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("Password")</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="Password" placeholder="@L("Password")" name="Password" required/>
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">@L("PasswordRepeat")</label>
        <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="@L("PasswordRepeat")" name="PasswordRepeat" required/>
    </div>
    <div class="form-actions">
        <button type="submit" class="btn btn-success uppercase pull-right">@L("Submit")</button>
    </div>
</form>