﻿@model TechnoForms.Web.Models.Account.SendSecurityCodeViewModel

@using (Html.BeginForm("SendSecurityCode", "Account", new { returnUrl = Model.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    <h3>@L("SendSecurityCode")</h3>
    <p>@L("SendSecurityCode_Information")</p>

    @Html.AntiForgeryToken()
    @Html.Hidden("rememberMe", @Model.RememberMe)

    <div class="form-group">
        @Html.DropDownListFor(model => model.SelectedProvider, Model.Providers, new
           {
               @class = "form-control"
           })
    </div>

    <div class="form-actions">
        <input type="submit" class="btn btn-success uppercase pull-right" value="@L("Submit")" />
    </div>
}
