﻿@using TechnoForms.Localization
@using System.Web.Optimization
@*@Styles.Render("~/calendar/css/bootstrap.css")*@
@Styles.Render("~/calendar/css/fullcalendar.min.css")
@*@Styles.Render("~/calendar/css/calendarDemo.css")*@
@*@Styles.Render("~/App/tenant/views/calendar/style.css")*@


@*@Styles.Render("https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.5.0/fullcalendar.min.css")
    @Styles.Render("~/App/tenant/views/calendar/style.css")
    @Styles.Render("http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css")*@

<div ng-app="app" ng-controller="tenant.views.calendar.index as vm">
    <div class="pagetitlebox">
  <div class="row">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("Calender")</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="black-transparentbox">
      
        @*<div class="row-fluid">
                <div class="span8">
                    <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                    <tabset>
                        <tab select="renderCalendar('myCalendar3');">
                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button class="btn btn-success" ng-click="changeView('agendaDay', 'myCalendar3')">AgendaDay</button>
                                    <button class="btn btn-success" ng-click="changeView('agendaWeek', 'myCalendar3')">AgendaWeek</button>
                                    <button class="btn btn-success" ng-click="changeView('month', 'myCalendar3')">Month</button>
                                </div>
                            </div>
                            <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                        </tab>
                    </tabset>
                </div>
            </div>*@
        <div class="portlet light margin-bottom-0">
            <div class="portlet-body calendarpage">
                <div class="createjobsform mt0">
                    <ul class="formfields">
                        <li class="wdth265">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("Installer")</label>
                                <select id="createforSelectionCombobox"
                                        ng-options="installerval.id as installerval.fullName for installerval in vm.installerList"
                                        ng-model="vm.createFor_Id"
                                        ng-change="vm.getInstallerDetails(vm.jobs.createFor_Id)"
                                        data-live-search="true">
                                    <option selected disabled hidden style='display: none' value=''></option>
                                </select>
                            </div>
                        </li>
                        <li class="wdth265" style="display:none">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("Installer")</label>
                                <select id="installerSelectionCombobox"
                                        class=""
                                        ng-options="installerEmployeeval.id as installerEmployeeval.fullName for installerEmployeeval in vm.installerEmployeeList"
                                        ng-model="vm.installer_Id"
                                        ui-jq="selectpicker"
                                        ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                        data-live-search="true">
                                    <option selected disabled hidden style='display: none' value=''></option>
                                </select>
                            </div>
                        </li>
                        <li class="wdth265">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("ProjectNumber")</label>
                                <input class="form-control edited" type="text" name="projectNumber" ng-model="vm.projectNumber">
                            </div>
                        </li>
                        <li>  <button type="button" class="btn btn-default blue mt25" ng-click="vm.search()"><i class="fa fa-search"></i> Search</button></li>
                    </ul>
                </div>

                <div>{{alertMessage}}</div>
                <div class="mt40 pad15">
                    @*<div class="pull-left monthbox">
                            <md-button class="md-raised monthbtn" ng-click="changeView('month', 'myCalendar3')">month</md-button>
                            <md-button class="md-raised monthbtn" ng-click="changeView('basicWeek', 'myCalendar3')">week</md-button>
                            <md-button class="md-raised monthbtn" ng-click="changeView('basicDay', 'myCalendar3')">day</md-button>
                        </div>*@
                    <div class="calendar" ng-model="eventSources2" calendar="myCalendar3" ui-calendar="uiConfig.calendar"></div>
                </div>
            </div>
        </div>
    </div>
    <div id="fullCalModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @*<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>*@
                    <h4 id="modalTitle" class="modal-title">Job Details</h4>
                </div>
                <div id="modalBody" class="modal-body">
                    <table>
                        <tr>
                            <td>Job Id : </td>
                            <td>{{vm.JobId}}</td>
                        </tr>
                        <tr>
                            <td>Project No : </td>
                            <td>{{vm.PNumber}}</td>
                        </tr>
                        <tr>
                            <td>Cust Name : </td>
                            <td> {{vm.Name}}</td>
                        </tr>
                        <tr>
                            <td>Address : </td>
                            <td>{{vm.Address}}</td>
                        </tr>
                        <tr>
                            <td>Mobile : </td>
                            <td>{{vm.Phone}}</td>
                        </tr>
                        <tr>
                            <td>Installer : </td>
                            <td>{{vm.Installer}}</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

