﻿<nav aria-label="Page navigation example">
	<ul class="pagination justify-content-end">
		<li class="page-item" ng-class="DisableFirstPage();">
			<a class="page-link" ng-click="firstPage()"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
		</li>
		<li class="page-item" ng-class="DisablePrevPage();">
			<a class="page-link" ng-click="prevPage()"> <i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</li>
		<li ng-repeat="n in range()"
			ng-class="{active: n == currentPage}"
			ng-click="setPage(n)">
			<a class="page-link">{{n+1}}</a>
		</li>
		<li class="page-item" ng-class="DisableNextPage()">
			<a class="page-link" ng-click="nextPage()"><i class="fa fa-angle-right" aria-hidden="true"></i> </a>
		</li>
		<li class="page-item" ng-class="DisableLastPage();">
			<a class="page-link" ng-click="lastPage()"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
		</li>
	</ul>
</nav>