﻿<select id="PermissionSelectionCombobox"
        class="form-control"
        ng-model="selectedPermission"
        ui-jq="selectpicker"
        ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
        data-live-search="true">
    <option value="">{{filterByPermissionText}}</option>
    <option ng-repeat="permission in permissions" value="{{permission.name}}">{{permission.displayName}}</option>
</select>