﻿<select name="RoleSelectionCombobox"
        class="form-control"
        ng-model="selectedRole"
        ui-jq="selectpicker"
        ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'>
    <option value="">{{emptyText}}</option>
    <option ng-repeat="role in roles" value="{{role.id}}">{{role.displayName}}</option>
</select>