﻿@using TechnoForms.Localization
<div ng-controller="host.views.stc.index as vm">
    <div class="pagetitlebox">
<div class="row">
            <div class="col-md-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("STCPage")</span>
                            <span class="countbox">{{vm.totalstc}}</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="filtermain">
                    <div class="portlet-title portlet-title-filter mt5 mr10">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form>
                                    <div class="input-group">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("ProjectNumber")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getstc()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a ng-click="toggle = !toggle" ng-class="{'showfilter' : toggle}" class="btn-filter">  </a>
                </div>
            </div>
        </div>
    </div>
    <div class="black-transparentbox">
        
        <div class="portlet light margin-bottom-0">
            <div class="filterarea dropdownfilter jobsfilterdropdown" ng-class="{'showfilter' : toggle}">
                <ul>
                    <li><input ng-model="vm.filterFormId" auto-focus class="form-control" placeholder="@L("formid")" type="text"></li>
                    <li><input ng-model="vm.filterOwnerName" auto-focus class="form-control" placeholder="@L("OwnerName")" type="text"></li>
                    <li><input ng-model="vm.filterPVDNumber" auto-focus class="form-control" placeholder="@L("pvdNumber")" type="text"></li>
                    <li>
                        <select id="tenantSelectionCombobox"
                                ng-options="tenantval.id as tenantval.fullName for tenantval in vm.tenantlist"
                                ng-model="vm.filterTenantvalId"
                                ui-jq="selectpicker"
                                title="@L("Tenant")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true" ng-change="vm.getInstaller()">
                             <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="createforSelectionCombobox"
                                ng-options="installerval.id as installerval.fullName for installerval in vm.installerList"
                                ng-model="vm.filterInstallerId"
                                ui-jq="selectpicker"
                                title="@L("SelectInstaller")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                             <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="streetStateSelectionCombobox"
                                class=""
                                ng-options="streetStateval.stateName as streetStateval.stateName for streetStateval in vm.streetStateList"
                                ng-model="vm.filterState"
                                ui-jq="selectpicker"
                                title="@L("SelectState")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                             <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="systemstcappliedSelectionCombobox"
                                ng-options="stcappliedval.id as stcappliedval.name for stcappliedval in vm.stcapplied"
                                ng-model="vm.filterStcApplied"
                                ui-jq="selectpicker"
                                title="@L("SelectStcApplied")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                             <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="systempvdnumberSelectionCombobox"
                                ng-options="pvdnumberval.id as pvdnumberval.name for pvdnumberval in vm.stcapplied"
                                ng-model="vm.filterPVDNumberval"
                                ui-jq="selectpicker"
                                title="@L("pvdNumber")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                             <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="systempvdstatusSelectionCombobox"
                                ng-options="pvdstatusval.id as pvdstatusval.name for pvdstatusval in vm.pvdstatus"
                                ng-model="vm.filterPVDstatusval"
                                ui-jq="selectpicker"
                                title="@L("pvdStatus")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                             <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="systemTypeSelectionCombobox"
                                ng-options="systemTypeval.id as systemTypeval.systemTypeName for systemTypeval in vm.systemTypeList"
                                ng-model="vm.filterSystemtypeId"
                                ui-jq="selectpicker"
                                title="@L("SelectSystemType")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                             <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="systemDateTypeSelectionCombobox"
                                ng-options="datetypeval.id as datetypeval.name for datetypeval in vm.datetype"
                                ng-model="vm.filterDateypeId"
                                ui-jq="selectpicker"
                                title="@L("SelectDateType")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                             <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <div class="input-group form-group datepickerbox">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.filterStartDate" is-open="popup1.opened" datepicker-options="dateOptionsApproval" ng-required="true" close-text="Close" alt-input-formats="altInputFormats"  placeholder="@L("FromDate")"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group form-group datepickerbox">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.filterEndDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("ToDate")"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </li>

                    <li class="fullwidth100"><button class="btn btn-primary blue" ng-click="vm.getstc()"><i class="fa fa-search"></i> Search</button> <button class="btn btn-success " ng-click="vm.ClearAll()"><i class="fa fa-refresh"></i> Clear</button></li>
                </ul>
            </div>
          
        </div>
        <div class="portlet-body">
            <div ng-show="vm.norecord">
                <div class="errormessage">  @L("NoRecordMessage") </div>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.stcGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>

        </div>
    </div>
    <div class="blackoverlay" ng-class="{'showfilter' : toggle}" ng-click="toggle = !toggle"></div>
</div>