﻿@using TechnoForms.Chat
<!-- BEGIN QUICK SIDEBAR -->
<div class="page-quick-sidebar-wrapper" data-close-on-body-click="false">
    <a href="javascript:;" class="page-quick-sidebar-pinner" ng-click="vm.chat.reversePinned()">
        <i class="icon-pin" ng-class="{'pinned':vm.chat.pinned, 'unpinned':!vm.chat.pinned}"></i>
    </a>
    <a href="javascript:;" class="page-quick-sidebar-toggler">
        <i class="icon-close"></i>
    </a>
    <div class="page-quick-sidebar">
        <div class="tab-content">
            <div class="tab-pane active page-quick-sidebar-chat" id="quick_sidebar_tab_1">
                <div class="page-quick-sidebar-chat-users" data-rail-color="#ddd" data-wrapper-class="page-quick-sidebar-list">
                    <div class="row">
                        <div class="col-md-12" style="padding-top: 30px; margin: 5px; padding-right: 25px;">
                            <div class="input-icon input-icon-sm right">
                                <i ng-if="vm.chat.tenantToTenantChatAllowed || vm.chat.tenantToHostChatAllowed" class="fa fa-question-circle" ui-jq="popover" data-placement="bottom" data-html="true" title="@L("ChatUserSearch_Hint")"></i>
                                <input type="text" class="form-control input-sm" placeholder="@L("FilterOrAddUser")" ng-model="vm.chat.user.userNameFilter">
                            </div>
                        </div>
                        <div class="col-md-12" style="margin: 5px; padding-right: 25px;">
                            <button ng-if="vm.chat.user.userNameFilter.length" ng-click="vm.chat.user.search()" type="button" class="btn btn-block btn-primary blue">@L("AddFriend")</button>
                        </div>
                    </div>
                                <h4 class="panel-title">
                                    <a javascript:; class="accordion-toggle accordion-toggle-styled" data-toggle="collapse" data-parent="#accFriendUsers" data-target="#accFriendUsers_content"> @L("Friends") </a>
                                </h4>

                                <div class="pad15">
                                 <ul class="media-list list-items" ng-repeat="friend in vm.chat.getFilteredFriends(vm.consts.friendshipState.accepted, vm.chat.user.userNameFilter)" data-ng-include="'~/App/common/views/layout/chatFriendListItem.cshtml'"></ul>
                                    <p ng-if="(vm.chat.friends|filter:{state: vm.consts.friendshipState.accepted}).length == 0">@L("YouDontHaveAnyFriend")</p>
                                </div>


                                <h4 class="panel-title">
                                    <a javascript:; class="accordion-toggle accordion-toggle-styled " data-toggle="collapse" data-parent="#accBannedUsers" data-target="#accBannedUsers_content"> @L("BlockedUsers") </a>
                                </h4>
                                <div class="pad15">
                                 <ul class="media-list list-items" ng-repeat="friend in vm.chat.getFilteredFriends(vm.consts.friendshipState.blocked, vm.chat.user.userNameFilter)" data-ng-include="'~/App/common/views/layout/chatFriendListItem.cshtml'"></ul>
                                    <p ng-if="(vm.chat.friends|filter:{state: vm.consts.friendshipState.blocked}).length == 0">@L("YouDontHaveAnyBlockedFriend")</p>
                                </div>

                               
                    @* <div class="panel-group accordion" id="accFriendUsers">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                               
                            </div>
                            <div id="accFriendUsers_content" class="panel-collapse collapse in">
                                <div class="panel-body">
                                   
                                </div>
                            </div>
                        </div>
                    </div> *@
                    @* <div class="panel-group accordion" id="accBannedUsers">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                
                            </div>
                            <div id="accBannedUsers_content" class="panel-collapse collapse in">
                                <div class="panel-body">
                                   
                                </div>
                            </div>
                        </div>
                    </div> *@
                </div>
                <div class="page-quick-sidebar-item">
                    <div class="page-quick-sidebar-chat-user">
                        <div class="page-quick-sidebar-nav">
                            <a href="javascript:;" class="page-quick-sidebar-back-to-list">
                                <i class="icon-arrow-left"></i>Back
                            </a>
                        </div>
                        <div class="selected-chat-user">
                            <div class="selected-chat-user-image">
                                <img ng-src="{{vm.consts.appPath}}Profile/GetFriendProfilePictureById?id={{vm.chat.selectedUser.friendProfilePictureId}}&userId={{vm.chat.selectedUser.friendUserId}}&tenantId={{vm.chat.selectedUser.friendTenantId}}" class="media-object">
                                <span class="contact-status" ng-class="{'online':vm.chat.selectedUser.isOnline, 'offline':!vm.chat.selectedUser.isOnline}"></span>
                            </div>
                            <h5>{{vm.chat.user.getShownUserName(vm.chat.selectedUser.friendTenancyName,vm.chat.selectedUser.friendUserName)}}</h5>
                            <div class="actions">
                                <div class="btn-group">
                                    <a class="btn green btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false">
                                        <i class="icon-wrench"></i>
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu pull-right">
                                        <li ng-if="vm.chat.selectedUser.state != vm.consts.friendshipState.blocked">
                                            <a href="javascript:;" ng-click="vm.chat.user.block(vm.chat.selectedUser)">
                                                <i class="fa fa-ban"></i>
                                                @L("BlockUser")
                                            </a>
                                        </li>
                                        <li ng-if="vm.chat.selectedUser.state == vm.consts.friendshipState.blocked">
                                            <a href="javascript:;" ng-click="vm.chat.user.unblock(vm.chat.selectedUser)">
                                                <i class="fa fa-check"></i>
                                                @L("UnblockUser")
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="page-quick-sidebar-chat-user-messages">
                            <div ng-repeat="message in vm.chat.selectedUser.messages">
                                <div class="post" ng-class="{'out':message.side === 1, 'in':message.side !== 1}">
                                    <img class="avatar" alt="" ng-if="message.side === 1" ng-src="{{vm.consts.appPath}}Profile/GetProfilePictureById?id={{vm.chat.currentUser.profilePictureId}}"/>
                                    <img class="avatar" alt="" ng-if="message.side !== 1" ng-src="{{vm.consts.appPath}}Profile/GetFriendProfilePictureById?id={{vm.chat.selectedUser.friendProfilePictureId}}&userId={{vm.chat.selectedUser.friendUserId}}&tenantId={{vm.chat.selectedUser.friendTenantId}}"/>
                                    <div class="message">
                                        <span class="arrow"></span>
                                        <a href="javascript:;" class="name">{{vm.chat.getUserNameByChatSide(message.side)}}</a>
                                        <span class="datetime">
                                            <time class="timeago" ui-jq="timeago" datetime="{{vm.chat.getFixedMessageTime(message.creationTime)}}"></time>
                                        </span>
                                        <span class="body"> {{message.message}} </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="page-quick-sidebar-chat-user-form">
                            <form name="chatMessageForm">
                                <div class="col-md-12" style="margin: 5px; padding-right: 25px;" ng-if="vm.chat.selectedUser.state === vm.consts.friendshipState.blocked">
                                    <button ng-click="vm.chat.user.unblock(vm.chat.selectedUser)" type="button" class="btn btn-block btn-success">@L("UnblockUser")</button>
                                </div>
                                <div class="input-group" ng-if="vm.chat.selectedUser.state !== vm.consts.friendshipState.blocked">
                                    <textarea id="ChatMessage" type="text" class="form-control" rows="3" placeholder="@L("TypeAMessageHere")" ng-model="vm.chat.message" enter-key="vm.chat.sendMessage()" ng-disabled="vm.chat.selectedUser.state == vm.consts.friendshipState.blocked" focus-if="vm.chat.selectedUser" focus-delay="100" ng-maxlength="@ChatMessage.MaxMessageLength" required></textarea>
                                    <div class="input-group-btn">
                                        <button type="button" class="btn green send-chat-message" ng-click="vm.chat.sendMessage()" ng-disabled="vm.chat.selectedUser.state == vm.consts.friendshipState.blocked || chatMessageForm.$invalid || vm.chat.sendingMessage">
                                            <i class="icon-paper-plane"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END QUICK SIDEBAR -->