﻿div.selected-chat-user {
  border-bottom: 1px solid #36424c;
  margin: 10px;
  padding-bottom: 5px;
  display: block;
  padding-right: 5px;
}
div.selected-chat-user div.selected-chat-user-image {
  display: inline-block;
}
div.selected-chat-user div.selected-chat-user-image img {
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: inline-block;
  width: 30px;
}
div.selected-chat-user div.selected-chat-user-image span.contact-status {
  width: 10px;
  height: 10px;
  left: 32px;
  top: 75px;
}
div.selected-chat-user h5 {
  display: inline-block;
  margin-left: 5px;
}
div.selected-chat-user div.actions {
  display: inline-block;
  float: right;
  padding-top: 5px;
}
div.selected-chat-user div.actions a.btn-sm {
  width: 50px;
  padding: 6px 26px 6px 10px !important;
}
div.page-quick-sidebar-nav {
  display: block;
  position: relative;
}
div.page-quick-sidebar-chat-user-messages div.post a.name {
  cursor: text;
  text-decoration: none;
}
div.page-quick-sidebar-chat-user-messages div.post a.name:hover {
  text-decoration: none;
}
div.page-quick-sidebar-chat-users .panel-heading {
  -ms-border-radius: 0px;
  background-color: transparent;
  border-radius: 0px;
  color: #6c8296;
}
div.page-quick-sidebar-chat-users .panel-title .accordion-toggle {
  padding: 5px 10px;
}
div.page-quick-sidebar-chat-users .panel {
  background-color: transparent;
  box-shadow: none;
}
div.page-quick-sidebar-chat-users .panel-body {
  border-top: 1px solid #e1e1e1 !important;
  border-bottom: 1px solid #e1e1e1 !important;
  padding: 0 !important;
}
div.page-quick-sidebar-chat-users .panel-body p {
  padding: 5px;
}
div.page-quick-sidebar-chat-users .panel-group {
  margin-bottom: 0px;
}
div.page-quick-sidebar-chat-users li.media img.media-object {
  width: 35px !important;
}
div.page-quick-sidebar-chat-users .popover {
  min-width: 300px;
}
.page-header.navbar .top-menu .navbar-nav li.quick-sidebar-toggler > i.icon-speech:before {
  content: "\e02c";
}
@media (min-width: 767px) {
  .page-quick-sidebar-open .page-quick-sidebar-toggler {
    display: none;
  }
}
.page-quick-sidebar-open .page-quick-sidebar-toggler i:before {
  content: "\e082";
}
.contact-status {
  position: absolute;
  width: 12px;
  height: 12px;
  border-radius: 50% !important;
  left: 38px;
  margin-top: -3px;
}
.contact-status.online {
  background-color: #26C281;
}
.contact-status.offline {
  background-color: #BFCAD1;
}
.tooltip-inner {
  text-align: left !important;
}
.toast-chat-open {
  right: 325px;
  bottom: 12px;
}
textarea#ChatMessage,
button.send-chat-message {
  height: 71px;
}
.page-quick-sidebar-open a.page-quick-sidebar-pinner {
  display: inline-block !important;
}
.page-quick-sidebar-open a.page-quick-sidebar-pinner i:before {
  content: "\e031" !important;
}
a.page-quick-sidebar-pinner {
  overflow: hidden;
  z-index: 99999;
  width: 28px;
  height: 27px;
  position: fixed;
  top: 10px;
  right: 50px;
  text-align: center;
  padding-top: 6px;
  display: none;
}
@media (min-width: 767px) {
  a.page-quick-sidebar-pinner {
    right: 15px;
  }
}
a.page-quick-sidebar-pinner i.icon-pin {
  color: #99a8b5;
  font-size: 17px;
}
a.page-quick-sidebar-pinner i.icon-pin:hover {
  color: #fff;
}
a.page-quick-sidebar-pinner i.icon-pin.unpinned {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
a.page-quick-sidebar-pinner i.icon-pin.pinned {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
[dir="rtl"] div.selected-chat-user div.actions {
  float: left;
}
[dir="rtl"] a.page-quick-sidebar-pinner {
  right: unset;
  left: 10px;
}
@media (max-width: 767px) {
  [dir="rtl"] a.page-quick-sidebar-pinner {
    right: unset;
    left: 35px;
  }
}
[dir="rtl"] .page-quick-sidebar-toggler {
  left: 10px;
}
[dir="rtl"] .contact-status {
  left: unset;
  right: 15px;
}
[dir="rtl"] div.selected-chat-user-image span.contact-status {
  left: unset;
  right: 30px;
}