﻿.page-header.navbar .page-logo .logo-default {
  margin: 19px 10px 0 10px;
}
.page-header.navbar.navbar-fixed-top {
  z-index: 1000;
}
.page-header.navbar.navbar-static-top {
  z-index: 1000;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .submenu {
  background-color: #fff!important;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown-dark .submenu a {
  padding-left: 18px;
}
#UserNotificationDropdown {
  max-width: 320px;
  width: 320px;
}
@media (max-width: 767px) {
  #UserNotificationDropdown {
    margin-right: -60px;
  }
  #UserNotificationDropdown:before,
  #UserNotificationDropdown:after {
    margin-right: 70px;
  }
}
#UserNotificationDropdown a.user-notification-item {
  cursor: default;
  color: #ccc;
}
#UserNotificationDropdown a.user-notification-item:hover {
  text-decoration: none;
}
#UserNotificationDropdown a.user-notification-item.user-notification-item-unread {
  color: #fff;
}
#UserNotificationDropdown a.user-notification-item.user-notification-item-unread .notification-time {
  color: #ccc;
}
#UserNotificationDropdown a.user-notification-item.user-notification-item-clickable {
  cursor: pointer;
}
#UserNotificationDropdown a.user-notification-item .set-as-read-text {
  color: #00dd00;
  cursor: pointer;
}
#UserNotificationDropdown a.user-notification-item .fa-info {
  color: #00ffff;
}
#UserNotificationDropdown a.user-notification-item .fa-check {
  color: #0f0;
}
#UserNotificationDropdown a.user-notification-item .fa-warning {
  color: #ffa200;
}
#UserNotificationDropdown a.user-notification-item .fa-bolt,
#UserNotificationDropdown a.user-notification-item .fa-bomb {
  color: #ff0000;
}
#UserNotificationDropdown a {
  color: #fff;
}
#UserNotificationDropdown .notifications-header {
  /*position: relative;*/
  text-align: left;
  min-height: 35px;
  padding: 8px;
  margin: 0;
}
#UserNotificationDropdown .notifications-header a:hover {
  text-decoration: underline;
}
#UserNotificationDropdown .notifications-header a.pull-right{float:left!important;}
#UserNotificationDropdown .notifications-footer {
  min-height: 35px;
  padding: 8px;
  margin: 0;
}
#UserNotificationDropdown .notification-empty-text {
  color: #0372b9;
  padding: 10px;
  text-align: center;
}