﻿@using System.Threading
@using System.Web.Optimization
@using Abp.Application.Features
@using Abp.Extensions
@using Abp.MultiTenancy
@using Abp.Timing
@using Abp.Web.Mvc.Extensions
@using TechnoForms.Features
@using TechnoForms.Localization
@using TechnoForms.Web.Bundling
@{
    SetAntiForgeryCookie();
}
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js" data-ng-app="app"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js" data-ng-app="app"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" data-ng-app="app" dir=@(CultureHelper.IsRtl ? "rtl" : "")>
<!--<![endif]-->
<head>
	<title>Techno Forms</title>
	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />

	<link rel="shortcut icon" href="~/favicon.ico" />

	<link href="~/Content/fonts-open-sans.css" rel="stylesheet" type="text/css" />

	@Styles.Render("~/Bundles/App/libs/css" + (CultureHelper.IsRtl ? "RTL" : ""))
	<link id="ng_load_plugins_before" />
	@Styles.Render("~/Bundles/App/metronic/css" + (CultureHelper.IsRtl ? "RTL" : ""))
	@Styles.Render("~/Bundles/Common/css")
	@Styles.Render("~/Bundles/App/css")
	<script type="text/javascript">
        @* This is used to get the application's root path from javascript.
        It's useful if you're running application in a virtual directory under IIS. *@
        var abp = abp || {}; abp.appPath = '@ApplicationPath';
	</script>
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<!-- DOC: Apply "page-header-fixed-mobile" and "page-footer-fixed-mobile" class to body element to force fixed header or footer in mobile devices -->
<!-- DOC: Apply "page-sidebar-closed" class to the body and "page-sidebar-menu-closed" class to the sidebar menu element to hide the sidebar by default -->
<!-- DOC: Apply "page-sidebar-hide" class to the body to make the sidebar completely hidden on toggle -->
<!-- DOC: Apply "page-sidebar-closed-hide-logo" class to the body element to make the logo hidden on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-hide" class to body element to completely hide the sidebar on sidebar toggle -->
<!-- DOC: Apply "page-sidebar-fixed" class to have fixed sidebar -->
<!-- DOC: Apply "page-footer-fixed" class to the body element to have fixed footer -->
<!-- DOC: Apply "page-sidebar-reversed" class to put the sidebar on the right side -->
<!-- DOC: Apply "page-full-width" class to the body element to have full width page without the sidebar menu -->
<body ng-controller="common.views.layout as vm" class="page-md page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid page-sidebar-closed-hide-logo page-on-load" ng-class="{'page-sidebar-closed': settings.layout.pageSidebarClosed}">

	
	<div ng-spinner-bar class="page-spinner-bar">
		@* <div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>*@
		<img src="~/App/images/loader3.gif" />
	</div>

	<div data-ng-include="'~/App/common/views/layout/header.cshtml'" data-ng-controller="common.views.layout.header as vm" class="page-header navbar navbar-fixed-top md-shadow-zero-light">
	</div>

	<div class="clearfix">
	</div>

	<div class="page-container">
		<div data-ng-include="'~/App/common/views/layout/sidebar.cshtml'" data-ng-controller="common.views.layout.sidebar as vm" class="page-sidebar-wrapper"></div>
		<div class="page-content-wrapper">
			<div class="page-content">
				<div ui-view class="">
				</div>
			</div>
		</div>
		@if (AbpSession.MultiTenancySide == MultiTenancySides.Host || IsFeatureEnabled(AppFeatures.ChatFeature))
		{
			<div data-ng-include="'~/App/common/views/layout/chatbar.cshtml'" data-ng-controller="common.views.layout.chatbar as vm">
			</div>
		}
	</div>

	<div data-ng-include="'~/App/common/views/layout/footer.cshtml'" data-ng-controller="common.views.layout.footer as vm" class="page-footer">
	</div>
	<!--[if lt IE 9]>
		<script src="~/libs/respond/respond.min.js"></script>
		<script src="~/libs/html5shiv/html5shiv.js"></script>
		<script src="~/libs/excanvas/excanvas.min.js"></script>
	<![endif]-->
	@Scripts.Render("~/Bundles/App/libs/js")
	
	@*<script src="~/AnguAutoComplete/angucomplete-alt.js"></script>*@
	<script>
        abp.localization.defaultSourceName = '@LocalizationSourceName';
        moment.locale('@Thread.CurrentThread.CurrentUICulture.Name'); //Localizing moment.js
	</script>

	@Html.IncludeScript(ScriptPaths.Angular_Localization)
	@Html.IncludeScript(ScriptPaths.Bootstrap_Select_Localization)
	@Html.IncludeScript(ScriptPaths.JQuery_Timeago_Localization)

	<!-- Dynamic scripts of ABP system (They are created on runtime and can not be bundled) -->
	<script src="~/api/AbpServiceProxies/GetAll?type=angular&v=@(Clock.Now.Ticks)"></script>
	<script src="~/api/AbpServiceProxies/GetAll?v=@(Clock.Now.Ticks)"></script>
	<script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>

	<!-- SignalR scripts -->
	<script src="~/signalr/hubs"></script>
	@Html.IncludeScript("~/Abp/Framework/scripts/libs/abp.signalr.js")

	@Scripts.Render("~/Bundles/App/metronic/js")
	@Scripts.Render("~/Bundles/Common/js")
	@Scripts.Render("~/Bundles/App/js")

</body>
</html>