@using TechnoForms.PostCodes
<div @*ng-controller="host.views.postcodes.editModal as vm"*@>
                <div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								  <span>@L("EditPostCodes") : <span class="fname">{{vm.postcodes.postcode}}</span></span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">
            <form name="PostCodesEditForm" role="form" novalidate class="form-validation">           
                <div ng-show="vm.exist">
                    <span class="help-block text-danger">{{vm.message}}</span>
                </div>
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields mb-0">
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("PostCode")</label>
                                    <input auto-focus type="text" name="PostCode" class="form-control edited" ng-model="vm.postcodes.postcode" required maxlength="@PostCode.MaxPostCodeLength" placeholder="@L("PostCode")" ng-keypress="CheckNumber()">
                                </div>
                            </li>
                            <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Suburb")</label>
                                    <input class="form-control edited" type="text" name="Suburb" ng-model="vm.postcodes.suburb" required maxlength="@PostCode.MaxSuburbLength" placeholder="@L("Suburb")">
                                </div>
                            </li>
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("POBoxes")</label>
                                    <input class="form-control edited" type="text" name="POBoxes" ng-model="vm.postcodes.poBoxes" required maxlength="@PostCode.MaxPOBoxesLength" placeholder="@L("POBoxes")">
                                </div>
                            </li>
                             <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Area")</label>
                                    <input class="form-control edited" type="text" name="Area" ng-model="vm.postcodes.area" required maxlength="@PostCode.MaxAreaLength" placeholder="@L("Area")">
                                </div>
                            </li>
                        </ul>
                        <ul class="formfields">
                           
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("State")</label>
                                    <select id="stateSelectionCombobox"
                                            class=""
                                            ng-options="stateNameval.stateName for stateNameval in vm.stateNames"
                                            ng-model="vm.state"
                                            ui-jq="selectpicker"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true" required>
                                         <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer transparentbackground">
                        <button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span> @L("Cancel") </span></button>
                        <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>