<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("AddInverterImages")</span>
        </h4>
        <a href="#" class="modalclosebtn" ng-click="vm.cancel()">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <div class="modal-body" style="padding-bottom:10px!important;">
        <form name="exampleForm" role="form" novalidate class="form-validation">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label>@L("InverterImage")</label>
                <input type="text" name="Logo" id="logo" ng-model="vm.scanedInverter.logo" class="form-control" placeholder="No file selected" readonly required>
                <span class="input-group-btn">
                    <div class="btn btn-default  custom-file-uploader">
                        <input id="Logo" type="file" name="file" nv-file-select uploader="vm.logouploader" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />
                        Browse
                    </div>
                </span>
            </div>
        </form>
    </div>
    <div class="modal-footer"><button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button></div>
</div>


@*<div class="black-transparentbox">
        <div class="row margin-bottom-5">
            <div class="col-md-12">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("AddPanelSerial")</span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="portlet light margin-bottom-0">
            <form name="exampleForm" role="form" novalidate class="form-validation">
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("PanelSerial")</label>
                                    <input type="text" name="PanelSerial" class="form-control" ng-model="vm.scanedPanel.panelSerialNumber" required maxlength="200">
                                </div>
                            </li>
                        </ul>
                        <div class="modal-footer transparentbackground buttonarea">
                            <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>*@
