﻿<div class="modal-header reportmodalbox">
    <h4 class="modal-title">
        <span>@L("CECReport")</span>
    </h4>
	<div class="buttonareabox">
		<button type="button" class="btn btn-success" ng-click="vm.verify()"><i class="fa fa-check"></i> @L("verify")</button>
		@*<button type="button" class="btn btn-success" ng-click="vm.print()"><i class="fa fa-check"></i> @L("print")</button>*@
		<button type="button" class="btn btn-success" ng-click="vm.download()"><i class="fa fa-check"></i> @L("pdf")</button>		
	</div>
	<a href="#" class="modalclosebtn" ng-click="vm.cancel()">
		<i class="fa fa-times"></i>
	</a>
</div>
<div class="modal-body" style="padding-bottom:15px!important;">
	<div class="table-responsive printArea">
		<div id="PanGrid">
			<div class="panel-body animate-panel padtopzero">
				<div class="well with-header with-footer addform">
					<div class="table-responsive printArea" style="min-height:700px;">
						<link href="/ReportViewer/styles/kendo.common.min.css" rel="stylesheet" />
						<link href="/ReportViewer/styles/kendo.blueopal.min.css" rel="stylesheet" />
						<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer.kendo-14.2.20.916.min.js")"></script>
						<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-14.2.20.916.js")"></script>

						<style>
							#reportViewer1 {
								position: absolute;
								left: 15px;
								right: 15px;
								top: 15px;
								bottom: 5px;
								overflow: hidden;
								font-family: Verdana, Arial;
							}
						</style>
						<div id="reportViewer1">
							loading...
						</div>

						<script type="text/javascript">
										$(document).ready(function () {
											var printMode = /(chrome)/.test(navigator.userAgent.toLowerCase())
												? telerikReportViewer.PrintModes.FORCE_PDF_PLUGIN
												: telerikReportViewer.PrintModes.FORCE_PDF_FILE;
				$("#reportViewer1")
					.telerik_ReportViewer({
						// The URL of the service which will serve reports.
						// The URL corresponds to the name of the controller class (ReportsController).
						// For more information on how to configure the service please check http://www.telerik.com/help/reporting/telerik-reporting-rest-conception.html.
						serviceUrl: '@Url.Content("~/api/ReportViewer/")',

						// The URL for the report viewer template. The template can be edited -
						// new functionalities can be added and unneeded ones can be removed.
						// For more information please check http://www.telerik.com/help/reporting/html5-report-viewer-templates.html.

						//ReportSource - report description
						reportSource: {

							// The report can be set to a report file name
							// or CLR type name (report class definition).
							report: "CECReport",

							// Parameters name value dictionary
							parameters: { JobId :"456" }
						},

						// Specifies whether the viewer is in interactive or print preview mode.
						// PRINT_PREVIEW - Displays the paginated report as if it is printed on paper. Interactivity is not enabled.
						// INTERACTIVE - Displays the report in its original width and height without paging. Additionally interactivity is enabled.
						viewMode: telerikReportViewer.ViewModes.PRINT_PREVIEW,

						// Sets the scale mode of the viewer.
						// Three modes exist currently:
						// FIT_PAGE - The whole report will fit on the page (will zoom in or out), regardless of its width and height.
						// FIT_PAGE_WIDTH - The report will be zoomed in or out so that the width of the screen and the width of the report match.
						// SPECIFIC - Uses the scale to zoom in and out the report.
						scaleMode: telerikReportViewer.ScaleModes.SPECIFIC,

						// Zoom in and out the report using the scale
						// 1.0 is equal to 100%, i.e. the original size of the report
						scale: 1.0,
						printMode: telerikReportViewer.PrintModes.AUTO_SELECT,
					});
			});
						</script>

					</div>
				</div>

			</div>
		</div>
	</div>
</div>