@using TechnoForms.Jobs
<style>
	.disabled {
		pointer-events: none;
	}
</style>
<div ng-controller="tenant.views.jobs.createjobModal as vm">
	<div class="pagetitlebox">
		<div class="row">
			<div class="col-md-12">
				<div class="page-head">
					<div class="page-title">
						<h1>
							<span>@L("CreateNewJobs")</span>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="black-transparentbox jobsformmain">
		<div class="portlet light margin-bottom-0">
			<form name="createjobsForm" role="form" novalidate class="form-validation">
				<div class="portlet-body">
					<div class="createjobsform mt0">
						<div class="graystransparent padzero">
							<h2>Customer Detail</h2>
							<div class="pad15">
								<h3>Primary Information</h3>
								<ul class="formfields mb-0">
									<li class="wdth250">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("FirstName")<span class="highlited"> *</span></label>
											<input auto-focus type="text" name="FirstName" class="form-control" ng-model="vm.jobs.firstName" required maxlength="@Job.MaxFirstNameLength" placeholder='@L("FirstName")'>
										</div>
									</li>
									<li class="wdth250">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("LastName")<span class="highlited"> *</span></label>
											<input class="form-control" type="text" name="LastName" ng-model="vm.jobs.lastName" required maxlength="@Job.MaxLastNameLength" placeholder='@L("LastName")'>
										</div>
									</li>
									<li class="wdth250">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Company")</label>
											<input class="form-control" type="text" name="CompanStreetNoy" ng-model="vm.jobs.company" maxlength="@Job.MaxCompanyLength" placeholder='@L("Company")'>
										</div>
									</li>
									<li class="wdth250">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("EmailId")<span class="highlited"> *</span></label>
											<input class="form-control" type="text" name="EmailId" ng-model="vm.jobs.emailId" required maxlength="@Job.MaxEmailIdLength" placeholder='@L("EmailId")' ng-pattern="vm.emailFormat">
										</div>
										<div>
											<span class="help-block text-danger" ng-show="!createjobsForm.EmailId.$valid && createjobsForm.EmailId.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
										</div>
									</li>
									<li class="wdth250">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Phone")<span class="highlited"> *</span></label>
											<input class="form-control" type="text" name="Phone" ng-model="vm.jobs.phone" required maxlength="10" placeholder='@L("Phone")' ng-keypress="vm.CheckNumber()" ng-pattern="vm.phonepattern">
										</div>
										<div>
											<span class="help-block text-danger" ng-show="!createjobsForm.Phone.$valid && createjobsForm.Phone.$dirty">@L("Phone_Regex_Description")</span>
										</div>
									</li>
									<li class="wdth250">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Fax")</label>
											<input class="form-control" type="text" name="Fax" ng-model="vm.jobs.fax" maxlength="@Job.MaxFaxLength" placeholder='@L("Fax")'>
										</div>
									</li>
								</ul>
								<h3 class="mt30">Postal Address and Street Information</h3>
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<label>Select Address Type</label>
									<div class="gstcheckbox">
										<ul>
											<li>
												<input id="IsGoogleYes" class="md-radiobtn" checked="checked" ng-click="vm.google()" type="radio" name="IsGoogle" value="true">
												<label for="IsGoogleYes">
													<span class="inc"></span>
													<span class="check"></span>
													<span class="box"></span>
													Google Address
												</label>
											</li>
											<li>
												<input id="IsGoogleNo" class="md-radiobtn" ng-click="vm.manual()" type="radio" name="IsGoogle" value="false">
												<label for="IsGoogleNo">
													<span class="inc"></span>
													<span class="check"></span>
													<span class="box"></span>
													Manual Address
												</label>
											</li>
										</ul>
									</div>
								</div>
								<ul class="formfields mb-0">
									<li class="wdth378" ng-if="vm.IsGoogleAddress">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetAddress")</label>
											@*<div class="form-group">
													<label for="address">Address</label>
													<span>(parsing address components example)</span>
													<input vs-google-autocomplete
														   ng-model="address.name"
														   vs-place="address.place"
														   vs-place-id="address.components.placeId"
														   vs-street-number="address.components.streetNumber"
														   vs-street="address.components.street"
														   vs-city="address.components.city"
														   vs-state="address.components.state"
														   vs-country-short="address.components.countryCode"
														   vs-country="address.components.country"
														   vs-post-code="address.components.postCode"
														   vs-district="address.components.district"
														   vs-latitude="address.components.location.lat"
														   vs-longitude="address.components.location.long"
														   type="text"
														   name="address"
														   id="address"
														   class="form-control"
														   placeholder="Enter address">
													<span class="help-block"><b>Model: </b>{{address.name}}</span>
													<span class="help-block"><b>Place id: </b>{{address.components.placeId}}</span>
													<span class="help-block"><b>Street number: </b>{{address.components.streetNumber}}</span>
													<span class="help-block"><b>Street: </b>{{address.components.street}}</span>
													<span class="help-block"><b>City: </b>{{address.components.city}}</span>
													<span class="help-block"><b>State: </b>{{address.components.state}}</span>
													<span class="help-block"><b>Country code: </b>{{address.components.countryCode}}</span>
													<span class="help-block"><b>Country: </b>{{address.components.country}}</span>
													<span class="help-block"><b>Postcode: </b>{{address.components.postCode}}</span>
													<span class="help-block"><b>District: </b>{{address.components.district}}</span>
													<span class="help-block"><b>Latitude: </b>{{address.components.location.lat}}</span>
													<span class="help-block"><b>Longitude: </b>{{address.components.location.long}}</span>
													<pre class="help-block"><b>Place: </b>{{address.place | json}}</pre>
												</div>*@
											<input id="StreetAddress" class="form-control" placeholder="Search Address" name="StreetAddress" ng-model="vm.jobs.streetAddress" onFocus="geolocate()" type="text" />
											<input id="JobLatitude" name="JobLatitude" ng-model="vm.jobs.jobLatitude" type="hidden" />
											<input id="JobLongitude" name="JobLongitude" ng-model="vm.jobs.jobLongitude" type="hidden" />
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="UnitType">@L("UnitType")</label>
											<input id="UnitType" class="UnitTypetypeahead form-control" autocomplete="off" type="text" placeholder="Unit Type" ng-model="vm.jobs.unitType" ng-keyup="vm.getUnitTypeList()">
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("UnitNo")</label>
											<input id="UnitNo" class="form-control" type="text" name="UnitNo" ng-model="vm.jobs.unitNo" placeholder="Unit No" maxlength="@Job.MaxUnitNoLength" placeholder='@L("UnitNo")'>
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetNo")<span class="highlited"> *</span></label>
											<input id="street_number" class="form-control" type="text" name="StreetNo" ng-model="vm.jobs.streetNo" required maxlength="@Job.MaxStreetNoLength" placeholder='@L("StreetNo")'>
										</div>
									</li>
								</ul>

								<ul class="formfields">
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="StreetName">@L("StreetName")<span class="highlited"> *</span></label>
											<input id="routeName" class="StreetNametypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetName")' required ng-model="vm.jobs.streetName" ng-keyup="vm.getStreetNameList()">
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="StreetType">@L("StreetType")<span class="highlited"> *</span></label>
											<input id="routeType" class="StreetTypetypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetType")' required ng-model="vm.jobs.streetType" ng-keyup="vm.getStreetTypeList()">
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetCity")<span class="highlited"> *</span></label>
											<input id="locality" class="Fnametypeahead form-control" autocomplete="off" type="text" placeholder="Suburb" ng-model="vm.suburb" required ng-keyup="vm.getSuburbList()" ng-blur="vm.statePostCode(vm.jobs)">
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetState")<span class="highlited"> *</span></label>
											<input type="text" class="form-control" id="administrative_area_level_1" name="StreetState" ng-model="vm.jobs.streetState" required placeholder="State" disabled />
											<input type="hidden" id="country" name="country" />
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetPostCode")<span class="highlited"> *</span></label>
											<input type="text" class="form-control" id="postal_code" name="StreetPostCode" ng-model="vm.jobs.streetPostCode" required placeholder="PostCode" disabled />
										</div>
									</li>
								</ul>
								<ul class="formfields mb-0">
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint ">
											<label for="postalAddressTypesSelectionCombobox">@L("PostalAddressType")</label>
											<select id="postalAddressTypesSelectionCombobox"
													class=""
													ng-options="postalAddressTypesval.postalAddressTypeName as postalAddressTypesval.postalAddressTypeName for postalAddressTypesval in vm.postalAddressTypes"
													ng-model="vm.jobs.postalAddressType"
													ui-jq="selectpicker"
													title="Select Address Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("PostalDeliveryNumber")</label>
											<input class="form-control" type="text" name="PostalDeliveryNumber" ng-model="vm.jobs.postalDeliveryNumber" maxlength="@Job.MaxPostalDeliveryNumberLength" placeholder='@L("PostalDeliveryNumber")'>
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="postalDeliveryTypeSelectionCombobox">@L("PostalDeliveryType")</label>
											<select id="postalDeliveryTypeSelectionCombobox"
													class=""
													ng-options="postalDeliveryTypeval.postalDeliveryTypeName as postalDeliveryTypeval.postalDeliveryTypeName for postalDeliveryTypeval in vm.postalDeliveryType"
													ng-model="vm.jobs.postalDeliveryType"
													ui-jq="selectpicker"
													title="Select Postal Delivery Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
								</ul>
								<div class="form-group form-md-line-input form-md-floating-label no-hint checkboxbox chekboxtoggle">
									<ul>
										<li><label>@L("InstallationAddresssameasHouseAddress")</label></li>
										<li>
											<label class="switch">
												<input type="checkbox" id="IsSameAddress" name="InstallationAddresssameasHouseAddress" ng-change="vm.getinstallationAddresssameasHouseAddress()" ng-model="vm.jobs.installationAddresssameasHouseAddress">
												<span class="slider round"></span>
											</label>
										</li>
									</ul>
								</div>
								@*<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
										<label><span class="redstar">Select Postal Address Type *</span></label>
										<div class="gstcheckbox">
											<ul>
												<li>
													<input id="IsPostalGoogleYes" class="md-radiobtn" checked="checked" ng-click="vm.postalgoogle()" type="radio" name="IsPostalGoogle" value="true">
													<label for="IsPostalGoogleYes">
														<span class="inc"></span>
														<span class="check"></span>
														<span class="box"></span>
														Google Address
													</label>
												</li>
												<li>
													<input id="IsPostalGoogleNo" class="md-radiobtn" ng-click="vm.postalmanual()" type="radio" name="IsPostalGoogle" value="false">
													<label for="IsPostalGoogleNo">
														<span class="inc"></span>
														<span class="check"></span>
														<span class="box"></span>
														Manual Address
													</label>
												</li>
											</ul>
										</div>
									</div>*@
								<ul class="formfields mb-0">
									@*<li class="wdth265" ng-if="vm.IsPostalGoogleAddress">
											<div class="form-group form-md-line-input form-md-floating-label no-hint">
												<label>@L("InstallationStreetAddress")</label>
												<input id="InstallationStreetAddress" class="form-control" placeholder="Search Address" name="InstallationStreetAddress" ng-model="vm.jobs.installationStreetAddress" onFocus="geolocate()" type="text" />
											</div>
										</li>*@
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="installationUnitTypeSelectionCombobox">@L("InstallationUnitType")</label>
											<input id="Inst_UnitType" ng-disabled="vm.installationameasHouse" class="Inst_UnitTypetypeahead form-control" autocomplete="off" type="text" placeholder="Installation Unit Type" ng-model="vm.jobs.installationUnitType" ng-keyup="vm.getInstUnitTypeList()">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("InstallationUnitNo")</label>
											<input id="Inst_UnitNo" class="form-control" ng-disabled="vm.installationameasHouse" type="text" name="InstallationUnitNo" ng-model="vm.jobs.installationUnitNo" placeholder="Installation Unit No" maxlength="@Job.MaxUnitNoLength">
										</div>
									</li>
								</ul>
								<ul class="formfields mb-0">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("InstallationStreetNo")<span class="highlited"> *</span></label>
											<input id="Inst_street_number" class="form-control" ng-disabled="vm.installationameasHouse" type="text" name="InstallationStreetNo" ng-model="vm.jobs.installationStreetNo" placeholder="Installation Street No" required maxlength="@Job.MaxStreetNoLength">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="installationstreetNameSelectionCombobox">@L("InstallationStreetName")<span class="highlited"> *</span></label>
											<input id="Inst_routeName" ng-disabled="vm.installationameasHouse" class="Inst_StreetNametypeahead form-control" autocomplete="off" type="text" placeholder='@L("InstallationStreetName")' required ng-model="vm.jobs.installationstreetName" ng-keyup="vm.getInstStreetNameList()">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="installationStreetTypeSelectionCombobox">@L("InstallationStreetType")<span class="highlited"> *</span></label>
											<input id="Inst_routeType" ng-disabled="vm.installationameasHouse" class="Inst_StreetTypetypeahead form-control" autocomplete="off" type="text" placeholder='@L("InstallationStreetType")' required ng-model="vm.jobs.installationStreetType" ng-keyup="vm.getInstStreetTypeList()">
										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("InstallationStreetCity")<span class="highlited"> *</span></label>
											<input id="Inst_locality" ng-disabled="vm.installationameasHouse" class="Inst_Fnametypeahead form-control" autocomplete="off" type="text" placeholder="Installation Street City" ng-model="vm.instSuburb" required ng-keyup="vm.getInstSuburbList()">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("InstallationStreetState")<span class="highlited"> *</span></label>
											<input type="text" ng-disabled="vm.installationameasHouse" class="form-control" id="Inst_administrative_area_level_1" name="StreetState" ng-model="vm.jobs.installationStreetState" required placeholder="Installation Street State" disabled />
											<input type="hidden" id="Inst_country" name="country" />
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("InstallationStreetPostCode")<span class="highlited"> *</span></label>
											<input type="text" ng-disabled="vm.installationameasHouse" class="form-control" id="Inst_postal_code" name="StreetPostCode" ng-model="vm.jobs.installationStreetPostCode" required placeholder="Installation Street PostCode" disabled />
										</div>
									</li>
								</ul>
								@* <ul>
										<li class="wdth265">
											<div class="form-group form-md-line-input form-md-floating-label no-hint">
												<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(1)"> <span>@L("Next")</span> <i class="fa fa-arrow-right"></i></button>
											</div>
										</li>
									</ul> *@
							</div>
						</div>
						<div class="graystransparent padzero">
							<h2>Sites Details</h2>
							<div class="pad15">
								<ul class="formfields mb-0">
									<li class="wdth210">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("HouseType")<span class="highlited"> *</span></label>
											<select id="houseTypeSelectionCombobox"
													class=""
													ng-options="houseTypeval.id as houseTypeval.houseTypeName for houseTypeval in vm.houseType"
													ng-model="vm.jobs.houseType"
													ui-jq="selectpicker"
													title="Select House Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth210">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("RoofType")<span class="highlited"> *</span></label>
											<select id="roofTypeSelectionCombobox"
													class=""
													ng-options="roofTypeval.id as roofTypeval.roofTypeName for roofTypeval in vm.roofType"
													ng-model="vm.jobs.roofType"
													ui-jq="selectpicker"
													title="Select Roof Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("NMINo")<span class="highlited"> *</span></label>
											<input class="form-control" type="text" name="NMINo" ng-model="vm.jobs.nmiNo" required maxlength="@Job.MaxNMINoLength" placeholder='@L("NMINo")'>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("RegPlanNo")</label>
											<input class="form-control" type="text" name="RegPlanNo" ng-model="vm.jobs.regPlanNo" maxlength="@Job.MaxRegPlanNoLength" placeholder='@L("RegPlanNo")'>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("LotNo")</label>
											<input class="form-control" type="text" name="LotNo" ng-model="vm.jobs.lotNo" maxlength="@Job.MaxLotNoLength" placeholder='@L("LotNo")'>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("MeterNumber")</label>
											<input class="form-control" type="text" name="MeterNumber" ng-model="vm.jobs.meterNumber" maxlength="@Job.MaxMeterNumberLength" placeholder='@L("MeterNumber")'>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("AemoDERjobID")</label>
											<input class="form-control" type="text" name="AemoDERjobID" ng-model="vm.jobs.aemoDERjobID" maxlength="@Job.MaxAemoDERjobIDLength" placeholder='@L("AemoDERjobID")'>
										</div>
									</li>
									<li class="wdth210">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("EnergyDestributar")</label>
											<select id="energyDSelectionCombobox"
													class=""
													ng-options="energyDestributarval.id as energyDestributarval.name for energyDestributarval in vm.energyDestributar"
													ng-model="vm.jobs.energyDestributar"
													ui-jq="selectpicker"
													title="Select Energy Distributar"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth210">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("EnergyRetailer")</label>
											<select id="energyRSelectionCombobox"
													class=""
													ng-options="energyRetailerval.id as energyRetailerval.name for energyRetailerval in vm.energyRetailer"
													ng-model="vm.jobs.energyRetailer"
													ui-jq="selectpicker"
													title="Select Energy Retailer"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									@* <li class="wdth265" style="margin-top:25px;">
											<div class="form-group form-md-line-input form-md-floating-label no-hint">
												<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(2)"><span>@L("Next")</span> <i class="fa fa-arrow-right"></i> </button>
											</div>
										</li> *@
								</ul>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="graystransparent padzero">
									<h2>Panels</h2>
									<div class="pad15">
										<ul class="formfields mb-0">
											<li class="wdth30per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Panel")<span class="highlited"> *</span></label>
													@*<select id="panelSelectionCombobox"
																class=""
																ng-options="panelval.licenceOrCertiHolder as panelval.licenceOrCertiHolder for panelval in vm.panelList"
																ng-model="vm.jobs.panelName"
																ng-change="vm.GetPanelName(vm.jobs.panelName)"
																ui-jq="selectpicker"
																title="Select Panel"
																ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
																data-live-search="true" required>
															<option selected disabled hidden style='display: none' value=''></option>
														</select>*@
													<input id="panelSelectionCombobox" class="Paneltypeahead form-control" autocomplete="off" type="text" required placeholder="Select Panel" ng-model="vm.jobs.panelName" ng-keyup="vm.getPanelList()">
												</div>
											</li>
											<li class="wdth32per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Brand")<span class="highlited"> *</span></label>
													<input class="form-control edited" type="text" name="brand" ng-model="vm.jobs.brandName" readonly="readonly" required maxlength="@Job.MaxPanelNameLength" placeholder='@L("Brand")'>

												</div>
											</li>
											<li class="wdth30per wdth354per pr0">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Model")<span class="highlited"> *</span></label>
													<select id="modelSelectionCombobox"
															class=""
															ng-options="modelval.id as modelval.modelNo for modelval in vm.modelList"
															ng-model="vm.jobs.panel_id"
															ui-jq="selectpicker"
															title="Select Model"
															ng-change="vm.GetSize(vm.jobs.panel_id)"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth25per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("NoOfPanels")<span class="highlited"> *</span></label>
													<input class="form-control" type="text" name="noofPanels" ng-model="vm.jobs.noofPanels" ng-change="vm.getSystemCapacity(vm.jobs.noofPanels,vm.jobs.panelSize)" placeholder='@L("NoOfPanels")' ng-keypress="vm.CheckNumber()" required>

												</div>
											</li>
											<li class="wdth20per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Size")<span class="highlited"> *</span></label>
													<input class="form-control" type="text" name="size" ng-model="vm.jobs.panelSize" required readonly="readonly" placeholder='@L("Size")'>
												</div>
											</li>
											<li class="wdth23per wdth28largeper">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("SystemCapacity")</label>
													<input class="form-control" type="text" name="systemCapacity" readonly="readonly" ng-model="vm.jobs.systemCapacity" placeholder='@L("SystemCapacity")'>
												</div>
											</li>
											<li class="wdth20per pr0">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("TotalSTC")</label>
													<input class="form-control" type="text" name="totalSTC" readonly="readonly" ng-model="vm.jobs.expectedSTC" placeholder='@L("TotalSTC")'>
												</div>
											</li>
										</ul>
										@* <ul>
												<li class="wdth250">
													<div class="form-group form-md-line-input form-md-floating-label no-hint">
														<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(3)"> <span>@L("Next")</span> <i class="fa fa-arrow-right"></i></button>
													</div>
												</li>
											</ul> *@
									</div>
								</div>

								<div class="graystransparent padzero">
									<h2>Customer GST</h2>
									<div class="pad15">
										<ul class="formfields">
											<li class="wdth60per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("IsCustomerRegistredGST")</label>
													<select id="isGSTmodelSelectionCombobox"
															class=""
															ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
															ng-model="vm.jobs.isCustomerRegistredGST"
															ui-jq="selectpicker"
															title="Select Yes/No"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true">
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth20per" ng-if="vm.jobs.isCustomerRegistredGST == 1">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("CustomerABN")<span class="highlited"> *</span></label>
													<input class="form-control" type="text" name="CustomerABN" ng-model="vm.jobs.customerABN" required placeholder='@L("CustomerABN")'>
												</div>
											</li>
											<li class="wdth30per" ng-if="vm.jobs.isCustomerRegistredGST == 1">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("CustomerOrganizationName")<span class="highlited"> *</span></label>
													<input class="form-control" type="text" name="CustomerOrganizationName" ng-model="vm.jobs.customerOrganizationName" required placeholder='@L("CustomerOrganizationName")'>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="graystransparent padzero minheight415">
									<h2>Inverter</h2>
									<div class="pad15">
										<ul class="formfields mb-0">
											<li class="wdth30per wdth316largeper">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Inverter")<span class="highlited"> *</span></label>
													@*<select id="inverterSelectionCombobox"
																class=""
																ng-options="inverterval.manufacturarName as inverterval.manufacturarName for inverterval in vm.inverterList"
																ng-model="vm.jobs.inverterName"
																ng-change="vm.getInverterName(vm.jobs.inverterName)"
																ui-jq="selectpicker"
																title="Select Inverter"
																ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
																data-live-search="true" required>
															<option selected disabled hidden style='display: none' value=''></option>
														</select>*@
													<input id="inverterSelectionCombobox" class="Invertertypeahead form-control" autocomplete="off" type="text" placeholder="Select Inverter" ng-model="vm.jobs.inverterName" ng-keyup="vm.getInverterList()" required>
												</div>
											</li>
											<li class="wdth30per wdth316largeper">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Brand")<span class="highlited"> *</span></label>
													<input class="form-control edited" type="text" name="brand" readonly="readonly" ng-model="vm.jobs.inverterBrandName" placeholder='@L("Brand")' required maxlength="@Job.MaxInverterNameLength">

												</div>
											</li>
											<li class="wdth30per wdth316largeper pr0">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Model")<span class="highlited"> *</span></label>
													<select id="invertermodelSelectionCombobox"
															class=""
															ng-options="invertermodelval.id as invertermodelval.modelNumber for invertermodelval in vm.invertermodelList"
															ng-model="vm.jobs.inverter_id"
															ui-jq="selectpicker"
															title="Select Model"
															ng-change="vm.getinverterSeries(vm.jobs.inverter_id)"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth30per wdth316largeper">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("NoOfInventers")<span class="highlited"> *</span></label>
													<input class="form-control" type="text" name="noOfInverter" ng-model="vm.jobs.noOfInverter" placeholder='@L("NoOfInventers")' ng-keypress="vm.CheckNumber()" required>

												</div>
											</li>
											<li class="wdth30per wdth316largeper">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("InverterOutput")</label>
													<input class="form-control" type="text" readonly="readonly" name="inverterOutput" ng-model="vm.jobs.inverterOutput" placeholder='@L("InverterOutput")'>

												</div>
											</li>
											<li class="wdth30per wdth316largeper pr0">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Series")</label>
													<input class="form-control edited" type="text" style="font-size:small" name="series" readonly="readonly" ng-model="vm.jobs.inverterSeries" maxlength="@Job.MaxInverterNameLength" placeholder='@L("Series")'>

												</div>
											</li>
										</ul>
										@* <ul>
												<li class="wdth265">
													<div class="form-group form-md-line-input form-md-floating-label no-hint">
														<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(4)"> <span>@L("Next")</span> <i class="fa fa-arrow-right"></i></button>
													</div>
												</li>
											</ul> *@
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="graystransparent padzero minheight491">
									<h2>Installation Details</h2>
									<div class="pad15">
										<ul class="formfields mb-0">
											<li class="wdth23pe">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("ExpectedInstallDate")<span class="highlited"> *</span></label>
													<div class="input-group datepickerbox">
														<input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.jobs.expectedInstallDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder='@L("ExpectedInstallDate")' ng-change="vm.expectedinstalldatechange()" />
														<span class="input-group-btn">
															<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
														</span>
													</div>
												</div>
											</li>
											<li class="wdth23per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("RECYear")<span class="highlited"> *</span></label>
													<select id="recyearmodelSelectionCombobox"
															class=""
															ng-options="recyearval.id as recyearval.reC_Year for recyearval in vm.recyearList"
															ng-model="vm.jobs.recyear_Id"
															ui-jq="selectpicker"
															title="Select Period"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("PropertyType")</label>
													<select id="solarTypemodelSelectionCombobox"
															class=""
															ng-options="solarTypeval.id as solarTypeval.solarTypeeName for solarTypeval in vm.solarTypeList"
															ng-model="vm.jobs.solarType_Id"
															ui-jq="selectpicker"
															title="Select Solar Type"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true">
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per pr0">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("SystemType")</label>
													<select id="systemTypeSelectionCombobox"
															class=""
															ng-options="systemTypeval.id as systemTypeval.systemTypeName for systemTypeval in vm.systemTypeList"
															ng-model="vm.jobs.systemType_Id"
															ui-jq="selectpicker"
															title="Select System Type"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															ng-change="vm.sysyemTypeFirstTimeGet(vm.jobs.systemType_Id)"
															data-live-search="true">
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per" ng-if="vm.systemTypeVal">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("RoofFacingPanels")<span class="highlited"> *</span></label>
													<select id="roofFacingPanelsSelectionCombobox"
															class=""
															ng-options="roofFacingPanelsval.id as roofFacingPanelsval.roofFacingPanelName for roofFacingPanelsval in vm.roofFacingPanelsList"
															ng-model="vm.jobs.roofFacingPanel_Id"
															ui-jq="selectpicker"
															title="Select Roof Facing Panel"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per" ng-if="vm.systemTypeVal">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("SUGatthisaddress")<span class="highlited"> *</span></label>
													<select id="sugatthisaddressSelectionCombobox"
															class=""
															ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
															ng-model="vm.jobs.sugstthisaddress_Id"
															ui-jq="selectpicker"
															title="Select address"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per" ng-if="vm.systemTypeVal">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("LocationOfNewSystem")<span class="highlited"> *</span></label>
													<select id="LocationOfNewSystemSelectionCombobox"
															class=""
															ng-options="locationOfNewSystemval.id as locationOfNewSystemval.roofFacingPanelName for locationOfNewSystemval in vm.locationOfNewSystemList"
															ng-model="vm.jobs.locationOfNewSystem_Id"
															ui-jq="selectpicker"
															title="Select Location"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Systemmountingtype")</label>
													<select id="systemmountingtypemodelSelectionCombobox"
															class=""
															ng-options="systemmountingtypeval.id as systemmountingtypeval.mountingTypeName for systemmountingtypeval in vm.mountingtypeList"
															ng-model="vm.jobs.Mountingtype_Id"
															ui-jq="selectpicker"
															title="Select System mounting type"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true">
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("ProjectNumber")<span class="highlited"> *</span></label>
													<input class="form-control" type="text" name="projectNumber" ng-model="vm.jobs.projectNumber" placeholder='@L("ProjectNumber")' required ng-change="vm.projectnumberchange()">

												</div>
											</li>
											<li class="wdth23per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("AddcapMoredetailed")</label>
													<input class="form-control" type="text" name="addcapMoredetailed" ng-model="vm.jobs.addcapMoredetailed" maxlength="@Job.MaxAddcapMoredetailedLength" placeholder='@L("AddcapMoredetailed")'>
												</div>
											</li>
											<li class="wdth23per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("AdditionalSystemInformation")</label>
													<input class="form-control" type="text" name="AdditionalSystemInformation" ng-model="vm.jobs.additionalSystemInformation" maxlength="@Job.MaxAdditionalSystemInformationLength" placeholder='@L("AdditionalSystemInformation")'>
												</div>
											</li>
											<li class="wdth60per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Typeofconnection")</label>
													<select id="typeofconnectionmodelSelectionCombobox"
															class=""
															ng-options="typeofconnectionval.id as typeofconnectionval.typeOfConnectionName for typeofconnectionval in vm.typeofconnectionList"
															ng-model="vm.jobs.Typeofconnection_Id"
															ui-jq="selectpicker"
															title="Select Connection Type"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true">
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth30per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Typeofsystem")</label>
													<select id="typeofsystemmodelSelectionCombobox"
															class=""
															ng-options="typeofsystemval.id as typeofsystemval.typeOfSystemName for typeofsystemval in vm.typeofsystemList"
															ng-model="vm.jobs.Typeofsystem_Id"
															ui-jq="selectpicker"
															title="Select Type of system"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true">
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("CreateFor")<span class="highlited"> *</span></label>
													<select id="createforSelectionCombobox"
															class=""
															ng-options="installerval.id as installerval.fullName for installerval in vm.installerList"
															ng-model="vm.jobs.createFor_Id"
															ui-jq="selectpicker"
															title="Select Ceate For"
															ng-change="vm.getInstallerDetails(vm.jobs.createFor_Id)"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Installer")<span class="highlited"> *</span></label>
													<select id="installerSelectionCombobox"
															class=""
															ng-options="installerEmployeeval.id as installerEmployeeval.fullName for installerEmployeeval in vm.installerEmployeeList"
															ng-model="vm.jobs.installer_Id"
															ui-jq="selectpicker"
															title="Select Installer"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Designer")<span class="highlited"> *</span></label>
													<select id="installerdesignerSelectionCombobox"
															class=""
															ng-options="installerDesignerval.id as installerDesignerval.fullName for installerDesignerval in vm.installerDesignerList"
															ng-model="vm.jobs.designer_Id"
															ui-jq="selectpicker"
															title="Select Designer"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth23per pr0">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("Electrician")<span class="highlited"> *</span></label>
													<select id="installerelectricianSelectionCombobox"
															class=""
															ng-options="installerElectricianval.id as installerElectricianval.fullName for installerElectricianval in vm.installerElectricianList"
															ng-model="vm.jobs.electrician_Id"
															ui-jq="selectpicker"
															title="Select Electrician"
															ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
															data-live-search="true" required>
														<option selected disabled hidden style='display: none' value=''></option>
													</select>
												</div>
											</li>
											<li class="wdth100per">
												<div class="form-group form-md-line-input form-md-floating-label no-hint">
													<label>@L("InstallerNote")</label>
													<textarea rows="4" cols="50" class="form-control textarea" name="installerNote" ng-model="vm.jobs.installerNote" placeholder='@L("InstallerNote")'></textarea>
												</div>
											</li>

										</ul>
										@* <ul>
												<li class="wdth265">
													<div class="form-group form-md-line-input form-md-floating-label no-hint">
														<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(5)"> <span>@L("Next")</span> <i class="fa fa-arrow-right"></i></button>
													</div>
												</li>
											</ul> *@
									</div>
								</div>
							</div>
						</div>
						<div class="graystransparent padzero minheight491 recdetailbox">
							<h2 ng-click="toggle = !toggle" ng-class="{'showfilter' : toggle}">REC Details</h2>
							<div class="pad15 recarea" ng-class="{'showfilter' : toggle}">
								<ul class="formfields">
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("installingacompleteunit")</label>
											<select id="installingacompleteunitmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.Installingcompleteunit_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Auditreportavailable")</label>
											<select id="auditreportavailablemodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.Auditreportavailable_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Defaultresourceavailfigure")</label>
											<select id="defaultresourceavailfiguremodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.defaultresourceavailfigure_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("ResourceAvailability")</label>
											<input class="form-control" type="text" name="resourceAvailability" ng-model="vm.jobs.resourceAvailability" maxlength="@Job.MaxResourceAvailabilityLength" placeholder='@L("ResourceAvailability")'>

										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("ExplanatoryNotes")</label>
											<input class="form-control" type="text" name="explanatoryNotes" ng-model="vm.jobs.explanatoryNotes" maxlength="@Job.MaxExplanatoryNotesLength" placeholder='@L("ExplanatoryNotes")'>

										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("CeatingCert")</label>
											<select id="ceatingCertmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.ceatingCert_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("GovernmentSitingApprovals")</label>
											<select id="governmentSitingApprovalsmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.governmentSitingApprovals_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("AustralianStandardsStatement")</label>
											<select id="australianStandardsStatementmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.AustralianStandardsStatement_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("InstallPropertyName")</label>
											<input class="form-control" type="text" name="installPropertyName" ng-model="vm.jobs.installPropertyName" maxlength="@Job.MaxInstallPropertyNameLength" placeholder='@L("InstallPropertyName")'>

										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("SGUatThisAddress")</label>
											<select id="sguatThisAddressmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.sguatThisAddress_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("DescribeAdequateIinfo")</label>
											<input class="form-control" type="text" name="describeAdequateIinfo" ng-model="vm.jobs.describeAdequateIinfo" maxlength="@Job.MaxDescribeAdequateIinfoLength" placeholder='@L("DescribeAdequateIinfo")'>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("CECAccreditationStatement")</label>
											<select id="cecaccreditationStatementmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.cecaccreditationStatement_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("ElectricalSafetyDocumentation")</label>
											<select id="electricalSafetyDocumentationmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.electricalSafetyDocumentation_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("NotgridConnectedStatement")</label>
											<select id="notgridConnectedStatementmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.notgridConnectedStatement_Id"
													ui-jq="selectpicker"
													title="Select Yes/No"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Systemmountingtype")</label>
											<select id="systemmountingtypeSelectionCombobox"
													class=""
													ng-options="systemmountingtypeval.id as systemmountingtypeval.systemMountingTypeName for systemmountingtypeval in vm.systemmountingtypeList"
													ng-model="vm.jobs.systemMountingType_Id"
													ui-jq="selectpicker"
													title="Select System mounting type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("OwnerAddressType")</label>
											<select id="ownerAddressTypemodelSelectionCombobox"
													class=""
													ng-options="postalAddressTypesval.id as postalAddressTypesval.postalAddressTypeName for postalAddressTypesval in vm.postalAddressTypes"
													ng-model="vm.jobs.ownerAddressType_Id"
													ui-jq="selectpicker"
													title="Select Owner Address Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("CustomerAddressType")</label>
											<select id="customerAddressTypemodelSelectionCombobox"
													class=""
													ng-options="postalAddressTypesval.id as postalAddressTypesval.postalAddressTypeName for postalAddressTypesval in vm.postalAddressTypes"
													ng-model="vm.jobs.customerAddressType_Id"
													ui-jq="selectpicker"
													title="Select Customer Address Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth23per">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Accreditationcode")</label>
											<input class="form-control" type="text" name="accreditationcode" ng-model="vm.jobs.accreditationCode" maxlength="@Job.MaxAccreditationCodeLength" placeholder='@L("Accreditationcode")'>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="buttonarea">
							<button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
							<button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
						</div>
						@* <uib-tabset class="tab-container tabbable-line" active="vm.activeTabIndex">
								<uib-tab heading="@L("SitesDetail")" tabindex="1" class="{{vm.sitesdetailclass}}">
								</uib-tab>
								<uib-tab heading="@L("Panels")" tabindex="2" class="{{vm.paneldetailclass}}">
									<div class="createjobsform">
									</div>
								</uib-tab>
								<uib-tab heading="@L("Inverter")" tabindex="3" class="{{vm.inverterdetailclass}}">
									<div class="createjobsform">
									</div>
								</uib-tab>
								<uib-tab heading="@L("InstallationDetail")" tabindex="4" class="{{vm.installationdetailclass}}">
									<div class="createjobsform">
									</div>
								</uib-tab>
								<uib-tab heading="@L("RECDetails")" tabindex="5" class="{{vm.recdetailclass}}">
									<div class="modal-footer transparentbackground buttonarea">
										<button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
										<button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createjobsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
									</div>
								</uib-tab>
							</uib-tabset> *@
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	// This sample uses the Autocomplete widget to help the user select a
	// place, then it retrieves the address components associated with that
	// place, and then it populates the form fields with those details.
	// This sample requires the Places library. Include the libraries=places
	// parameter when you first load the API. For example:
	// <script
	// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

	var placeSearch, autocomplete;

	var componentForm = {
		subpremise: 'short_name',
		street_number: 'short_name',
		route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'short_name',
		country: 'long_name',
		postal_code: 'short_name'
	};
	var InstcomponentForm = {
		subpremise: 'short_name',
		street_number: 'short_name',
		route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'short_name',
		country: 'long_name',
		postal_code: 'short_name'
	};

	function initAutocomplete() {

		// Create the autocomplete object, restricting the search predictions to
		// geographical location types.
		autocomplete = new google.maps.places.Autocomplete(
			document.getElementById('StreetAddress'), { types: ['geocode'] });

		// Avoid paying for data that you don't need by restricting the set of
		// place fields that are returned to just the address components.
		autocomplete.setFields(['address_component']);

		// When the user selects an address from the drop-down, populate the
		// address fields in the form.
		autocomplete.addListener('place_changed', fillInAddress);
	}

	function fillInAddress() {
		// Get the place details from the autocomplete object.
		var place = autocomplete.getPlace();
		//for (var component in componentForm) {
		//	document.getElementById(component).value = '';
		//	document.getElementById(component).disabled = false;
		//}

		// Get each component of the address from the place details,
		// and then fill-in the corresponding field on the form.
		for (var i = 0; i < place.address_components.length; i++) {
			var addressType = place.address_components[i].types[0];
			if (componentForm[addressType]) {
				var val = place.address_components[i][componentForm[addressType]];
				if (addressType == "route") {
					var res = val.split(" ");
					document.getElementById('routeName').value = res[0].trim().toUpperCase();
					document.getElementById('routeType').value = res[1].trim().toUpperCase();
				}
				else if (addressType == "subpremise") {
					var res = val.split(" ");
					document.getElementById('UnitType').value = res[0].trim().toUpperCase();
					document.getElementById('UnitNo').value = res[1].trim().toUpperCase();
				}
				else {
					document.getElementById(addressType).value = val.toUpperCase();
				}
				if (place.address_components.length == 7) {
					document.getElementById('UnitType').value = "";
					document.getElementById('UnitNo').value = "";
				}
			}
		}
		for (var j = 0; j < place.address_components.length; j++) {
			var addressType1 = place.address_components[j].types[0];
			if (InstcomponentForm[addressType1]) {
				var val = place.address_components[j][InstcomponentForm[addressType1]];
				if (addressType1 == "route") {
					var res = val.split(" ");
					document.getElementById('Inst_routeName').value = res[0].trim().toUpperCase();
					document.getElementById('Inst_routeType').value = res[1].trim().toUpperCase();
				}
				else if (addressType1 == "subpremise") {
					var res = val.split(" ");
					document.getElementById('Inst_UnitType').value = res[0].trim().toUpperCase();
					document.getElementById('Inst_UnitNo').value = res[1].trim().toUpperCase();
				}
				else {
					document.getElementById("Inst_" + addressType1).value = val.toUpperCase();
				}
				if (place.address_components.length == 7) {
					document.getElementById('Inst_UnitType').value = "";
					document.getElementById('Inst_UnitNo').value = "";
				}
			}
		}
	}

	// Bias the autocomplete object to the user's geographical location,
	// as supplied by the browser's 'navigator.geolocation' object.
	function geolocate() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				var geolocation = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				document.getElementById('JobLatitude').value = position.coords.latitude;
				document.getElementById('JobLongitude').value = position.coords.longitude;
				var circle = new google.maps.Circle(
					{ center: geolocation, radius: position.coords.accuracy });
				autocomplete.setBounds(circle.getBounds());
				console.log(position);
			});
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALoDvKqgmTfpfPOEjqS2fI1kcabuxImMA&libraries=places&callback=initAutocomplete" defer></script>

@*<script data-require="angular.js@1.2.x" src="https://code.angularjs.org/1.2.28/angular.js" data-semver="1.2.28"></script>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALoDvKqgmTfpfPOEjqS2fI1kcabuxImMA&libraries=places"></script>*@