﻿@using TechnoForms.Installers
<div ng-controller="tenant.views.jobs.createDocument as vm">    
<div class="pagetitlebox">
   <div class="row">
            <div class="col-md-12">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("AddNewDocument") : <span class="fname"> {{vm.job.firstName + " " + vm.job.lastName}} </span></span>
                        </h1>
                    </div>
                </div>
            </div>
        </div>
</div>
    <div class="black-transparentbox">
     
        <div class="portlet light margin-bottom-0">
            <form name="CreateNewDocument" role="form" novalidate class="form-validation">
                <div class="portlet-body">
                    <div class="createjobsform">
                        <div class="graystransparent">
                            <ul class="formfields">
                                <li class="wdth180">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label for="doctypeSelectionCombobox">@L("FileType")</label>
                                        <select id="doctypeSelectionCombobox"
                                                class=""
                                                ng-options="doctypesval.id as doctypesval.photoTypeName for doctypesval in vm.doctypes"
                                                ng-model="vm.docs.fileType"
                                                ui-jq="selectpicker"
                                                title="Select File Type"
                                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                                data-live-search="true">
                                             <option selected disabled hidden style='display: none' value=''></option>
                                        </select>
                                    </div>
                                </li>
                                <li class="wdth180" ng-if="vm.docs.fileType == 18">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label for="OldSystemSelectionCombobox">@L("OldSystemDirection")</label>
                                        <select id="OldSystemSelectionCombobox"
                                                class=""
                                                ng-options="directionsval.id as directionsval.directionName for directionsval in vm.directions"
                                                ng-model="vm.docs.oldSystemDirection"
                                                ui-jq="selectpicker"
                                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                                data-live-search="true">
                                             <option selected disabled hidden style='display: none' value=''></option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                            <ul class="formfields uploadimbbox">
                                <li class="wdth265">
                                <div class="form-group">
                                    <label>@L("Logo")</label>
                                    <div class="input-group">
                                        <input type="hidden" value="123456" ng-model="vm.docs.longitude" id="Longitude" name="Longitude" />
                                        <input type="hidden" value="123456" ng-model="vm.docs.latitude" id="Latitude" name="Latitude" />
                                        <input type="text" name="Logo" id="logo" ng-model="vm.installer.logo" class="form-control" placeholder="No file selected" readonly required>
                                        <span class="input-group-btn">
                                            <div class="btn btn-default  custom-file-uploader">
                                                <input id="Logo" type="file" name="file" nv-file-select uploader="vm.logouploader" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />
                                                Browse
                                            </div>
                                        </span>
                                    </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="buttonarea">
                            <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                            <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
