@using TechnoForms.Localization
<div>
    <div class="modal-header">
        <h4 class="modal-title">
            <span>@L("CustomerSign")</span>
        </h4>
        <a href="#" class="modalclosebtn" ng-click="vm.cancel()">
            <i class="fa fa-times"></i>
        </a>
    </div>
    <div class="modal-body" style="padding-top:20px!important;">
        <div>
            Are you sure to send Customer Signature request using SMS/Email?
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary blue" ng-click="vm.customerSignMessage()" name="CustomerSignMessage"><i class="fa fa-commenting-o" aria-hidden="true"></i> <span>@L("CustomerSign")</span></button>
        <button type="submit" class="btn btn-primary blue" ng-click="vm.customerSignEmail()" name="CustomerSignEmail"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>@L("CustomerSign")</span></button>
    </div>
</div>
