@using TechnoForms.Jobs
<style>
	.disabled {
		pointer-events: none;
	}
</style>
<div ng-controller="tenant.views.jobs.editModal as vm">
	<div class="pagetitlebox">
		<div class="row">
			<div class="col-md-12">
				<div class="page-head">
					<div class="page-title">
						<h1>
							<span>@L("EditJobs") : <span class="fname"> {{vm.jobs.firstName}} </span></span>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="black-transparentbox">
		<div class="portlet light margin-bottom-0">
			<form name="jobsEditForm" role="form" novalidate class="form-validation">
				<div class="portlet-body">
					<uib-tabset class="tab-container tabbable-line" active="vm.activeTabIndex">
						<uib-tab heading="@L("CustomerDetail")" tabindex="0">
							<div class="createjobsform">
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("FirstName")</label>
											<input type="text" name="FirstName" class="form-control input-ltr" ng-class="{'edited':vm.jobs.firstName}" ng-model="vm.jobs.firstName" required maxlength="@Job.MaxFirstNameLength">

										</div>
									</li>
									<li class="wdth265">

										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("LastName")</label>
											<input type="text" name="FirstName" class="form-control edited" ng-model="vm.jobs.lastName" required maxlength="@Job.MaxLastNameLength">

										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Company")</label>
											<input class="form-control edited" type="text" name="Company" ng-model="vm.jobs.company" maxlength="@Job.MaxCompanyLength">

										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("EmailId")</label>
											<input class="form-control edited" type="text" name="EmailId" ng-model="vm.jobs.emailId" required maxlength="@Job.MaxEmailIdLength" ng-pattern="vm.emailFormat">
										</div>
										<div>
											<span class="help-block text-danger" ng-show="!jobsEditForm.EmailId.$valid && jobsEditForm.EmailId.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Phone")</label>
											<input class="form-control edited" type="text" name="Phone" ng-model="vm.jobs.phone" required maxlength="@Job.MaxPhoneLength" ng-keypress="vm.CheckNumber()" ng-pattern="vm.phonepattern">
										</div>
										<div>
											<span class="help-block text-danger" ng-show="!jobsEditForm.Phone.$valid && jobsEditForm.Phone.$dirty">@L("Phone_Regex_Description")</span>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Fax")</label>
											<input class="form-control edited" type="text" name="Fax" ng-model="vm.jobs.fax" maxlength="@Job.MaxFaxLength">

										</div>
									</li>
								</ul>
								<h2>Postal Address and Street Information</h2>
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<label>Select Address Type</label>
									<div class="gstcheckbox">
										<ul>
											<li>
												<input id="IsGoogleYes" class="md-radiobtn" checked="checked" ng-click="vm.google()" type="radio" name="IsGoogle" value="true">
												<label for="IsGoogleYes">
													<span class="inc"></span>
													<span class="check"></span>
													<span class="box"></span>
													Google Address
												</label>
											</li>
											<li>
												<input id="IsGoogleNo" class="md-radiobtn" ng-click="vm.manual()" type="radio" name="IsGoogle" value="false">
												<label for="IsGoogleNo">
													<span class="inc"></span>
													<span class="check"></span>
													<span class="box"></span>
													Manual Address
												</label>
											</li>
										</ul>
									</div>
								</div>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetAddress")</label>
											@*<input class="form-control edited" type="text" name="StreetAddress" ng-model="vm.jobs.streetAddress" maxlength="@Job.MaxStreetAddressLength" disabled="disabled">*@
											<input id="StreetAddress" class="form-control" placeholder="Search Address" name="StreetAddress" ng-model="vm.jobs.streetAddress" onFocus="geolocate()" type="text" />
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="unitTypeSelectionCombobox">@L("UnitType")</label>
											@*<select id="unitTypeSelectionCombobox"
														class=""
														ng-options="unitTypeval.unitTypeName as unitTypeval.unitTypeName for unitTypeval in vm.unitType"
														ng-model="vm.jobs.unitType"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" ng-change="vm.getStreetAddress()">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="UnitType" class="UnitTypetypeahead form-control" autocomplete="off" type="text" placeholder="Unit Type" ng-model="vm.jobs.unitType" ng-keyup="vm.getUnitTypeList()">
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("UnitNo")</label>
											<input class="form-control edited" type="text" name="UnitNo" ng-model="vm.jobs.unitNo" maxlength="@Job.MaxUnitNoLength">

										</div>
									</li>

								</ul>
								<ul class="formfields">
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetNo")</label>
											<input id="street_number" class="form-control edited" type="text" name="StreetNo" ng-model="vm.jobs.streetNo" required maxlength="@Job.MaxStreetNoLength">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="streetNameSelectionCombobox">@L("StreetName")</label>
											@*<select id="streetNameSelectionCombobox"
														class=""
														ng-options="streetNameval.streetName as streetNameval.streetName for streetNameval in vm.streetNames"
														ng-model="vm.jobs.streetName"
														ui-jq="selectpicker"
														title="Select Street"
														required
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" ng-change="vm.getStreetAddress()">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="routeName" class="StreetNametypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetName")' ng-model="vm.jobs.streetName" ng-keyup="vm.getStreetNameList()">
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="streetTypeSelectionCombobox">@L("StreetType")</label>
											@*<select id="streetTypeSelectionCombobox"
														class=""
														ng-options="streetTypeval.streetTypeName as streetTypeval.streetTypeName for streetTypeval in vm.streetType"
														ng-model="vm.jobs.streetType"
														ui-jq="selectpicker"
														title="Select Street Type"
														required
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" ng-change="vm.getStreetAddress()">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="routeType" class="StreetTypetypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetType")' ng-model="vm.jobs.streetType" ng-keyup="vm.getStreetTypeList()">
										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetCity")</label>
											@*<select id="streetCitySelectionCombobox"
														class=""
														ng-options="streetCityval.id as streetCityval.suburbstatePostcodes for streetCityval in vm.streetCity"
														ng-model="vm.jobs.suburb_Id"
														ui-jq="selectpicker"
														ng-change="vm.getPostCodes(vm.jobs.suburb_Id)"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" required>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="locality" class="Fnametypeahead form-control" autocomplete="off" type="text" placeholder="Suburb" ng-model="vm.suburb" ng-keyup="vm.getSuburbList()" ng-blur="vm.statePostCode(vm.jobs)">
										</div>
									</li>
									@*<li class="wdth265">
											<div class="form-group form-md-line-input form-md-floating-label no-hint">
												<label>@L("StreetCity")</label>
												<input class="form-control edited" type="text" name="StreetCity" ng-model="vm.jobs.streetCity" required maxlength="@Job.MaxStreetCityLength">

											</div>
										</li>*@
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetState")</label>
											@*<select id="streetStateSelectionCombobox"
														class=""
														ng-options="streetStateval.stateName as streetStateval.stateName for streetStateval in vm.streetStateList"
														ng-model="vm.jobs.streetState"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" required disabled>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input type="text" class="form-control" id="administrative_area_level_1" name="StreetState" ng-model="vm.jobs.streetState" placeholder="State" disabled />
											<input type="hidden" id="country" name="country" />
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetPostCode")</label>
											@*<select id="streetPostCodeSelectionCombobox"
														class=""
														ng-options="streetCityval.postcode as streetCityval.postcode for streetCityval in vm.streetPostcodes"
														ng-model="vm.jobs.streetPostCode"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" required disabled>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input type="text" class="form-control" id="postal_code" name="StreetPostCode" ng-model="vm.jobs.streetPostCode" placeholder="PostCode" disabled />
										</div>
									</li>
									@*<li class="wdth265">
											<div class="form-group form-md-line-input form-md-floating-label no-hint">
												<label>@L("StreetPostCode")</label>
												<input class="form-control edited" type="text" name="StreetPostCode" ng-model="vm.jobs.streetPostCode" required maxlength="@Job.MaxStreetPostCodeLength">

											</div>
										</li>*@
								</ul>
								<ul class="formfields">
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="postalAddressTypesSelectionCombobox">@L("PostalAddressType")</label>
											<select id="postalAddressTypesSelectionCombobox"
													class=""
													ng-options="postalAddressTypesval.postalAddressTypeName as postalAddressTypesval.postalAddressTypeName for postalAddressTypesval in vm.postalAddressTypes"
													ng-model="vm.jobs.postalAddressType"
													ng-bind="vm.jobs.postalAddressType"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("PostalDeliveryNumber")</label>
											<input class="form-control edited" type="text" name="PostalDeliveryNumber" ng-model="vm.jobs.postalDeliveryNumber" maxlength="@Job.MaxPostalDeliveryNumberLength">

										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="postalDeliveryTypeSelectionCombobox">@L("PostalDeliveryType")</label>
											<select id="postalDeliveryTypeSelectionCombobox"
													class=""
													ng-options="postalDeliveryTypeval.postalDeliveryTypeName as postalDeliveryTypeval.postalDeliveryTypeName for postalDeliveryTypeval in vm.postalDeliveryType"
													ng-model="vm.jobs.postalDeliveryType"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option value="" ng-selected="vm.jobs.postalDeliveryType"></option>
											</select>
										</div>
									</li>

								</ul>
								<div class="form-group form-md-line-input form-md-floating-label no-hint checkboxbox chekboxtoggle">
									@*
										<input class="form-control" type="checkbox" name="InstallationAddresssameasHouseAddress" ng-change="vm.getinstallationAddresssameasHouseAddress()" ng-model="vm.jobs.installationAddresssameasHouseAddress">
										<label>@L("InstallationAddresssameasHouseAddress")</label>
									*@
									<ul>
										<li><label>@L("InstallationAddresssameasHouseAddress")</label>  </li>
										<li>
											<label class="switch">
												<input type="checkbox" name="InstallationAddresssameasHouseAddress" ng-change="vm.getinstallationAddresssameasHouseAddress()" ng-model="vm.jobs.installationAddresssameasHouseAddress">
												<span class="slider round"></span>
											</label>
										</li>
									</ul>
								</div>
								<ul class="formfields mt27">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
											<label>@L("InstallationStreetAddress")</label>
											<input class="form-control edited" type="text" name="InstallationStreetAddress" ng-model="vm.jobs.installationStreetAddress" maxlength="@Job.MaxStreetAddressLength" disabled="disabled">

										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
											<label for="installationUnitTypeSelectionCombobox">@L("InstallationUnitType")</label>
											@*<select id="installationUnitTypeSelectionCombobox"
														class=""
														ng-options="unitTypeval.unitTypeName as unitTypeval.unitTypeName for unitTypeval in vm.installationUnitType"
														ng-model="vm.jobs.installationUnitType"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" ng-change="vm.getInstallationStreetAddress()">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="Inst_UnitType" class="Inst_UnitTypetypeahead form-control" autocomplete="off" type="text" placeholder="Installation Unit Type" ng-model="vm.jobs.installationUnitType" ng-keyup="vm.getInstUnitTypeList()">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
											<label>@L("InstallationUnitNo")</label>
											<input class="form-control edited" type="text" id="InstallationUnitNo" name="InstallationUnitNo" ng-model="vm.jobs.installationUnitNo" maxlength="@Job.MaxUnitNoLength">

										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
											<label>@L("InstallationStreetNo")</label>
											<input class="form-control edited" type="text" name="InstallationStreetNo" ng-model="vm.jobs.installationStreetNo" placeholder="Installation Street No" required maxlength="@Job.MaxStreetNoLength">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
											<label for="installationstreetNameSelectionCombobox">@L("InstallationStreetName")</label>
											@*<select id="installationstreetNameSelectionCombobox"
														class=""
														ng-options="streetNameval.streetName as streetNameval.streetName for streetNameval in vm.streetNames"
														ng-model="vm.jobs.installationStreetName"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" required ng-change="vm.getInstallationStreetAddress()">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="Inst_routeName" class="Inst_StreetNametypeahead form-control" autocomplete="off" type="text" placeholder='@L("InstallationStreetName")' ng-model="vm.jobs.installationstreetName" ng-keyup="vm.getInstStreetNameList()">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
											<label for="installationStreetTypeSelectionCombobox">@L("InstallationStreetType")</label>
											@*<select id="installationStreetTypeSelectionCombobox"
														class=""
														ng-options="streetTypeval.streetTypeName as streetTypeval.streetTypeName for streetTypeval in vm.streetType"
														ng-model="vm.jobs.installationStreetType"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" required ng-change="vm.getInstallationStreetAddress()">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="Inst_routeType" class="Inst_StreetTypetypeahead form-control" autocomplete="off" type="text" placeholder='@L("InstallationStreetType")' ng-model="vm.jobs.installationStreetType" ng-keyup="vm.getInstStreetTypeList()">
										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
											<label>@L("InstallationStreetCity")</label>
											@*<select id="installationstreetCitySelectionCombobox"
														class=""
														ng-options="streetCityval.id as streetCityval.suburbstatePostcodes for streetCityval in vm.streetCity"
														ng-model="vm.jobs.InstallationSuburb_Id"
														ui-jq="selectpicker"
														ng-change="vm.getInstallationPostCodes(vm.jobs.InstallationSuburb_Id)"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" required>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="Inst_locality" class="Inst_Fnametypeahead form-control" autocomplete="off" type="text" placeholder="Installation Street City" ng-model="vm.instSuburb" ng-keyup="vm.getInstSuburbList()">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
											<label>@L("InstallationStreetState")</label>
											@*<select id="installationStreetStateSelectionCombobox"
														class=""
														ng-options="streetStateval.stateName as streetStateval.stateName for streetStateval in vm.installationstreetStateList"
														ng-model="vm.jobs.installationStreetState"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" disabled required>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input type="text" class="form-control" id="Inst_administrative_area_level_1" name="StreetState" ng-model="vm.jobs.installationStreetState" placeholder="Installation Street State" disabled />
											<input type="hidden" id="country" name="country" />
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="!vm.installationameasHouse">
											<label>@L("InstallationStreetPostCode")</label>
											@*<select id="installationStreetPostCodeSelectionCombobox"
														class=""
														ng-options="streetCityval.postcode as streetCityval.postcode for streetCityval in vm.installationstreetPostcodes"
														ng-model="vm.jobs.installationStreetPostCode"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" disabled required>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input type="text" class="form-control" id="Inst_postal_code" name="StreetPostCode" ng-model="vm.jobs.installationStreetPostCode" placeholder="Installation Street PostCode" disabled />
										</div>
									</li>
								</ul>
								<ul class="statusbox">
									<li class="">
										<div ng-repeat="job in vm.jobstatusList" class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="rbCustomer_{{job.id}}">
												<input id="rbCustomer_{{job.id}}" type="radio" ng-model="vm.jobs.jobStatus_Id" ng-value="{{job.id}}" checked="{{vm.jobs.jobStatus_Id==job.id ? "checked":" "}}" />
												{{ job.jobStatusName }}
											</label>
										</div>
									</li>
								</ul>
								<ul>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(1)"><i class="fa fa-arrow-right"></i> <span>@L("Next")</span></button>
										</div>
									</li>
								</ul>
							</div>
							@*<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.setActiveTab(1)"><i class="fa fa-save"></i> <span>@L("Next")</span></button>*@
						</uib-tab>

						<uib-tab heading="@L("SitesDetail")" tabindex="1" class="{{vm.sitesdetailclass}}">
							<div class="createjobsform" ng-class="{{vm.jobs.jobStatus_Id}} == 2 ? \'disablediv'\">
								<ul class="formfields">
									<li class="wdth265">

										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("HouseType")</label>
											<select id="houseTypeSelectionCombobox"
													class=""
													ng-options="houseTypeval.id as houseTypeval.houseTypeName for houseTypeval in vm.houseType"
													ng-model="vm.jobs.houseType"
													ui-jq="selectpicker"
													ng-bind="vm.jobs.houseType"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("RoofType")</label>
											<select id="roofTypeSelectionCombobox"
													class=""
													ng-options="roofTypeval.id as roofTypeval.roofTypeName for roofTypeval in vm.roofType"
													ng-model="vm.jobs.roofType"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("NMINo")</label>
											<input class="form-control edited" type="text" name="NMINo" required ng-model="vm.jobs.nmiNo" required maxlength="@Job.MaxNMINoLength">

										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("RegPlanNo")</label>
											<input class="form-control edited" type="text" name="RegPlanNo" ng-model="vm.jobs.regPlanNo" maxlength="@Job.MaxRegPlanNoLength">
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("LotNo")</label>
											<input class="form-control edited" type="text" name="LotNo" ng-model="vm.jobs.lotNo" maxlength="@Job.MaxLotNoLength">

										</div>
									</li>
								</ul>
								<ul>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(2)"><i class="fa fa-arrow-right"></i> <span>@L("Next")</span></button>
										</div>
									</li>
								</ul>
							</div>
							@*<div class="text-right">
									<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.setActiveTab(2)"><i class="fa fa-save"></i> <span>@L("Next")</span></button>
								</div>*@
						</uib-tab>

						<uib-tab heading="@L("Panels")" tabindex="2" class="{{vm.paneldetailclass}}">
							<div class="createjobsform">
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Panel")</label>
											@*<select id="panelSelectionCombobox"
														class=""
														ng-options="panelval.licenceOrCertiHolder as panelval.licenceOrCertiHolder for panelval in vm.panelList"
														ng-model="vm.jobs.panelName"
														ng-change="vm.getPanelName(vm.jobs.panelName)"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" required>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="panelSelectionCombobox" class="Paneltypeahead form-control" autocomplete="off" type="text" placeholder="Select Panel" ng-model="vm.jobs.panelName" ng-keyup="vm.getPanelList()">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Brand")</label>
											<input class="form-control edited" type="text" readonly="readonly" name="brand" ng-model="vm.jobs.brandName" required maxlength="@Job.MaxPanelNameLength">

										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Model")</label>
											<select id="modelSelectionCombobox"
													class=""
													ng-options="modelval.id as modelval.modelNo for modelval in vm.modelList"
													ng-model="vm.jobs.panel_id"
													ui-jq="selectpicker"
													ng-change="vm.GetSize(vm.jobs.panel_id)"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("NoOfPanels")</label>
											<input class="form-control edited" type="text" name="noofPanels" ng-model="vm.jobs.noOfPanels" ng-change="vm.getSystemCapacity(vm.jobs.noOfPanels,vm.jobs.panelSize)" ng-keypress="vm.CheckNumber()" required>

										</div>
									</li>
								</ul>
								<ul class="formfields panelorangebox orangeback">
									<li>
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Size")</label>
											<input class="form-control edited" type="number" readonly="readonly" name="size" ng-model="vm.jobs.panelSize">
										</div>
									</li>
									<li>
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("SystemCapacity")</label>
											<input class="form-control edited" type="text" readonly="readonly" name="systemCapacity" ng-model="vm.jobs.systemCapacity">
										</div>
									</li>
									<li>
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("TotalSTC")</label>
											<input class="form-control" type="text" style="width:200px;" name="totalSTC" readonly="readonly" ng-model="vm.jobs.expectedSTC">
										</div>
									</li>
								</ul>
								<ul>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(3)"><i class="fa fa-arrow-right"></i> <span>@L("Next")</span></button>
										</div>
									</li>
								</ul>
							</div>
							@*<div class="text-right">
									<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.setActiveTab(3)"><i class="fa fa-save"></i> <span>@L("Next")</span></button>
								</div>*@
						</uib-tab>

						<uib-tab heading="@L("Inverter")" tabindex="3" class="{{vm.inverterdetailclass}}">
							<div class="createjobsform">
								<ul class="formfields">
									<li class="wdth365">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">

											<label>@L("Inverter")</label>
											@*<select id="inverterSelectionCombobox"
														class=""
														ng-options="inverterval.manufacturarName as inverterval.manufacturarName for inverterval in vm.inverterList"
														ng-model="vm.jobs.inverterName"
														ng-change="vm.getInverterName(vm.jobs.inverterName)"
														ui-jq="selectpicker"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" required>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="inverterSelectionCombobox" class="Invertertypeahead form-control" autocomplete="off" type="text" placeholder="Select Inverter" ng-model="vm.jobs.inverterName" ng-keyup="vm.getInverterList()">
										</div>
									</li>
									<li class="wdth365">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Brand")</label>
											<input class="form-control edited" type="text" name="brand" readonly="readonly" ng-model="vm.jobs.inverterBrandName" required maxlength="@Job.MaxInverterNameLength">

										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Model")</label>
											<select id="invertermodelSelectionCombobox"
													class="d"
													ng-options="invertermodelval.id as invertermodelval.modelNumber for invertermodelval in vm.invertermodelList"
													ng-model="vm.jobs.inverter_id"
													ui-jq="selectpicker"
													ng-change="vm.getinverterSeries(vm.jobs.inverter_id)"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("NoOfInventers")</label>
											<input class="form-control edited" type="text" name="noOfInverter" ng-model="vm.jobs.noOfInverter" ng-keypress="vm.CheckNumber()" required>
										</div>
									</li>
								</ul>
								<ul class="formfields panelorangebox blueback">

									<li>
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("InverterOutput")</label>
											<input class="form-control edited" type="text" readonly="readonly" name="inverterOutput" ng-model="vm.jobs.inverterOutput">
										</div>
									</li>
									<li>
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Series")</label>
											<input class="form-control edited" type="text" name="series" readonly="readonly" ng-model="vm.jobs.inverterSeries" maxlength="@Job.MaxInverterNameLength">
										</div>
									</li>
								</ul>
								<ul>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(4)"><i class="fa fa-arrow-right"></i> <span>@L("Next")</span></button>
										</div>
									</li>
								</ul>
							</div>
							@*<div class="text-right">
									<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.setActiveTab(4)"><i class="fa fa-save"></i> <span>@L("Next")</span></button>
								</div>*@
						</uib-tab>

						<uib-tab heading="@L("InstallationDetail")" tabindex="4" class="{{vm.installationdetailclass}}">
							<div class="createjobsform">
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("SolarType")</label>
											<select id="solarTypemodelSelectionCombobox"
													class=""
													ng-options="solarTypeval.id as solarTypeval.solarTypeeName for solarTypeval in vm.solarTypeList"
													ng-model="vm.jobs.solarType_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("SystemType")</label>
											<select id="systemTypeSelectionCombobox"
													class=""
													ng-options="systemTypeval.id as systemTypeval.systemTypeName for systemTypeval in vm.systemTypeList"
													ng-model="vm.jobs.systemType_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													ng-change="vm.sysyemTypeFirstTimeGet(vm.jobs.systemType_Id)"
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("ProjectNumber")</label>
											<input class="form-control edited" type="text" name="projectNumber" ng-model="vm.jobs.projectNumber" required>

										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("ExpectedInstallDate")</label>
											@*<input class="form-control edited" type="date" name="expectedInstallDate" ng-model="vm.jobs.expectedInstallDate">*@
											<div class="input-group datepickerbox">
												<input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.jobs.expectedInstallDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder='@L("ExpectedInstallDate")' />
												<span class="input-group-btn">
													<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
												</span>
											</div>
										</div>
									</li>

								</ul>
								<ul class="formfields" ng-if="vm.systemTypeVal">
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("RoofFacingPanels")</label>
											<select id="roofFacingPanelsSelectionCombobox"
													class=""
													ng-options="roofFacingPanelsval.id as roofFacingPanelsval.roofFacingPanelName for roofFacingPanelsval in vm.roofFacingPanelsList"
													ng-model="vm.jobs.roofFacingPanel_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth365">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("SUGatthisaddress")</label>
											<select id="sugatthisaddressSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.sugstthisaddress_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth345">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("LocationOfNewSystem")</label>
											<select id="LocationOfNewSystemSelectionCombobox"
													class=""
													ng-options="locationOfNewSystemval.id as locationOfNewSystemval.roofFacingPanelName for locationOfNewSystemval in vm.locationOfNewSystemList"
													ng-model="vm.jobs.locationOfNewSystem_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("CreateFor")</label>
											<select id="createforSelectionCombobox"
													class=""
													ng-options="installerval.id as installerval.fullName for installerval in vm.installerList"
													ng-model="vm.jobs.createFor_Id"
													ui-jq="selectpicker"
													ng-change="vm.getInstallerDetails(vm.jobs.createFor_Id)"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Installer")</label>
											<select id="installerSelectionCombobox"
													class=""
													ng-options="installerEmployeeval.id as installerEmployeeval.fullName for installerEmployeeval in vm.installerEmployeeList"
													ng-model="vm.jobs.installer_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Designer")</label>
											<select id="installerdesignerSelectionCombobox"
													class=""
													ng-options="installerDesignerval.id as installerDesignerval.fullName for installerDesignerval in vm.installerDesignerList"
													ng-model="vm.jobs.designer_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Electrician")</label>
											<select id="installerelectricianSelectionCombobox"
													class=""
													ng-options="installerElectricianval.id as installerElectricianval.fullName for installerElectricianval in vm.installerElectricianList"
													ng-model="vm.jobs.electrician_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
								</ul>
								<ul class="formfields">

									<li class="wdth465">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("InstallerNote")</label>
											@* <input class="form-control edited" type="text" name="installerNote" ng-model="vm.jobs.installerNote">*@
											<textarea rows="4" cols="50" class="form-control" name="installerNote" ng-model="vm.jobs.installerNote" placeholder='@L("InstallerNote")'></textarea>

										</div>
									</li>
								</ul>
								<ul>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<button type="submit" class="btn btn-primary blue" ng-click="vm.setActiveTab(5)"><i class="fa fa-arrow-right"></i> <span>@L("Next")</span></button>
										</div>
									</li>
								</ul>
							</div>
							@*<div class="text-right">
									<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.setActiveTab(5)"><i class="fa fa-save"></i> <span>@L("Next")</span></button>
								</div>*@
						</uib-tab>

						<uib-tab heading="@L("RECDetails")" class="{{vm.recdetailclass}}">
							<div class="createjobsform">
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Typeofsystem")</label>
											<select id="typeofsystemmodelSelectionCombobox"
													class=""
													ng-options="typeofsystemval.id as typeofsystemval.typeOfSystemName for typeofsystemval in vm.typeofsystemList"
													ng-model="vm.jobs.typeofsystem_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>

									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Systemmountingtype")</label>
											<select id="systemmountingtypemodelSelectionCombobox"
													class=""
													ng-options="systemmountingtypeval.id as systemmountingtypeval.mountingTypeName for systemmountingtypeval in vm.mountingtypeList"
													ng-model="vm.jobs.mountingtype_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("installingacompleteunit")</label>
											<select id="installingacompleteunitmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.installingcompleteunit_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Typeofconnection")</label>
											<select id="typeofconnectionmodelSelectionCombobox"
													class=""
													ng-options="typeofconnectionval.id as typeofconnectionval.typeOfConnectionName for typeofconnectionval in vm.typeofconnectionList"
													ng-model="vm.jobs.typeofconnection_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Auditreportavailable")</label>
											<select id="auditreportavailablemodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.auditreportavailable_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>


									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("AddcapMoredetailed")</label>
											<input class="form-control edited" type="text" name="addcapMoredetailed" ng-model="vm.jobs.addcapMoredetailed" maxlength="@Job.MaxAddcapMoredetailedLength">

										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Defaultresourceavailfigure")</label>
											<select id="defaultresourceavailfiguremodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.defaultresourceavailfigure_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>

									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("RECYear")</label>
											<select id="recyearmodelSelectionCombobox"
													class=""
													ng-options="recyearval.id as recyearval.reC_Year for recyearval in vm.recyearList"
													ng-model="vm.jobs.recYear_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("ResourceAvailability")</label>
											<input class="form-control edited" type="text" name="resourceAvailability" ng-model="vm.jobs.resourceAvailability" maxlength="@Job.MaxResourceAvailabilityLength">

										</div>
									</li>
								</ul>

								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("ExplanatoryNotes")</label>
											<input class="form-control edited" type="text" name="explanatoryNotes" ng-model="vm.jobs.explanatoryNotes" maxlength="@Job.MaxExplanatoryNotesLength">

										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("CeatingCert")</label>
											<select id="ceatingCertmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.ceatingCert_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("GovernmentSitingApprovals")</label>
											<select id="governmentSitingApprovalsmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.governmentSitingApprovals_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
								</ul>
								<ul class="formfields">

									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("CECAccreditationStatement")</label>
											<select id="cecaccreditationStatementmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.cecaccreditationStatement_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>

									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("ElectricalSafetyDocumentation")</label>
											<select id="electricalSafetyDocumentationmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.electricalSafetyDocumentation_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("NotgridConnectedStatement")</label>
											<select id="notgridConnectedStatementmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.notgridConnectedStatement_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
								</ul>

								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("AustralianStandardsStatement")</label>
											<select id="australianStandardsStatementmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.australianStandardsStatement_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("InstallPropertyName")</label>
											<input class="form-control edited" type="text" name="installPropertyName" ng-model="vm.jobs.installPropertyName" maxlength="@Job.MaxInstallPropertyNameLength">

										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("SGUatThisAddress")</label>{{vm.jobs.sguatThisAddress_Id}}
											<select id="sguatThisAddressmodelSelectionCombobox"
													class=""
													ng-options="sugatthisaddressval.id as sugatthisaddressval.yesNoName for sugatthisaddressval in vm.sugatthisaddressList"
													ng-model="vm.jobs.sguatThisAddress_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
								</ul>

								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Systemmountingtype")</label>
											<select id="systemmountingtypeSelectionCombobox"
													class=""
													ng-options="systemmountingtypeval.id as systemmountingtypeval.systemMountingTypeName for systemmountingtypeval in vm.systemmountingtypeList"
													ng-model="vm.jobs.systemMountingType_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("OwnerAddressType")</label>
											<select id="ownerAddressTypemodelSelectionCombobox"
													class=""
													ng-options="postalAddressTypesval.id as postalAddressTypesval.postalAddressTypeName for postalAddressTypesval in vm.postalAddressTypes"
													ng-model="vm.jobs.ownerAddressType_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("CustomerAddressType")</label>
											<select id="customerAddressTypemodelSelectionCombobox"
													class=""
													ng-options="postalAddressTypesval.id as postalAddressTypesval.postalAddressTypeName for postalAddressTypesval in vm.postalAddressTypes"
													ng-model="vm.jobs.customerAddressType_Id"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>

								</ul>
								<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("AdditionalSystemInformation")</label>
											<input class="form-control edited" type="text" name="AdditionalSystemInformation" ng-model="vm.jobs.additionalSystemInformation" maxlength="@Job.MaxAdditionalSystemInformationLength">

										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Accreditationcode")</label>
											<input class="form-control edited" type="text" name="accreditationcode" ng-model="vm.jobs.accreditationCode" maxlength="@Job.MaxAccreditationCodeLength">

										</div>
									</li>
								</ul>
								<ul class="formfields">

									<li class="wdth465">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("DescribeAdequateIinfo")</label>
											<input class="form-control edited" type="text" name="describeAdequateIinfo" ng-model="vm.jobs.describeAdequateIinfo" maxlength="@Job.MaxDescribeAdequateIinfoLength">

										</div>
									</li>
								</ul>

							</div>
							<div class="modal-footer transparentbackground buttonarea">
								<button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
								<button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="jobsEditForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
							</div>
						</uib-tab>
					</uib-tabset>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	// This sample uses the Autocomplete widget to help the user select a
	// place, then it retrieves the address components associated with that
	// place, and then it populates the form fields with those details.
	// This sample requires the Places library. Include the libraries=places
	// parameter when you first load the API. For example:
	// <script
	// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

	var placeSearch, autocomplete;

	var componentForm = {
		street_number: 'short_name',
		route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'short_name',
		country: 'long_name',
		postal_code: 'short_name'
	};

	function initAutocomplete() {

		// Create the autocomplete object, restricting the search predictions to
		// geographical location types.
		autocomplete = new google.maps.places.Autocomplete(
			document.getElementById('StreetAddress'), { types: ['geocode'] });

		// Avoid paying for data that you don't need by restricting the set of
		// place fields that are returned to just the address components.
		autocomplete.setFields(['address_component']);

		// When the user selects an address from the drop-down, populate the
		// address fields in the form.
		autocomplete.addListener('place_changed', fillInAddress);
	}

	function fillInAddress() {
		// Get the place details from the autocomplete object.
		var place = autocomplete.getPlace();
		//for (var component in componentForm) {
		//	document.getElementById(component).value = '';
		//	document.getElementById(component).disabled = false;
		//}

		// Get each component of the address from the place details,
		// and then fill-in the corresponding field on the form.
		for (var i = 0; i < place.address_components.length; i++) {
			var addressType = place.address_components[i].types[0];
			if (componentForm[addressType]) {
				var val = place.address_components[i][componentForm[addressType]];
				if (i == 1) {
					var res = val.split(" ");
					document.getElementById('routeName').value = res[0].trim().toUpperCase();
					document.getElementById('routeType').value = res[1].trim().toUpperCase();
				}
				else {
					document.getElementById(addressType).value = val.toUpperCase();
				}
			}
		}
	}

	// Bias the autocomplete object to the user's geographical location,
	// as supplied by the browser's 'navigator.geolocation' object.
	function geolocate() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				var geolocation = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				var circle = new google.maps.Circle(
					{ center: geolocation, radius: position.coords.accuracy });
				autocomplete.setBounds(circle.getBounds());
			});
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALoDvKqgmTfpfPOEjqS2fI1kcabuxImMA&libraries=places&callback=initAutocomplete" defer></script>
@*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALoDvKqgmTfpfPOEjqS2fI1kcabuxImMA&libraries=places&callback=instinitAutocomplete" defer></script>*@