@using TechnoForms.Localization

<div>
     <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("EditInverter")</span>
            </h4>
            <a href="#" class="modalclosebtn" ng-click="vm.cancel()">
                        <i class="fa fa-times"></i>
                    </a>
        </div>
         <div class="modal-body" style="padding-bottom:20px!important;">
              <form name="exampleForm" role="form" novalidate class="form-validation">
                   <div class="form-group form-md-line-input form-md-floating-label no-hint">
                             <label>@L("EditInverterSerial")</label>
                                <input type="text" name="PanelSerial" class="form-control" ng-model="vm.scanedInverter.inverterSerialNumber" required maxlength="200">
                                  <label></label>  
                            </div>
              </form>
        </div>
        <div class="modal-footer">
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>

        </div>
</div>

