
<div class="content-wrapper">
    <div class="content-wrapper-box">
        <div class="button-wrapper">
            <a ng-click="grid.appScope.messages(row.entity)" class="link_button"><img src="/App/images/jobspeech-bubble.svg" alt="Messages">Messages</a>
            <a ng-click="grid.appScope.installerSign(row.entity)" class="link_button"><img src="/App/images/jobengineer.svg" alt="InstallerSign">Installer Sign</a>
            <a ng-click="grid.appScope.customerSign(row.entity)" class="link_button"><img src="/App/images/jobengineer.svg" alt="CustomerSign">Customer Sign</a>
            <a ng-click="grid.appScope.custLog(row.entity)" class="link_button"><img src="/App/images/jobcustlog.svg" alt="CustLog">Cust. Log</a>
            <a ng-click="grid.appScope.uploadDocuments(row.entity)" class="link_button"><img src="/App/images/jobupload.svg" alt="UploadDocuments">Upload Documents</a>
            <a ng-click="grid.appScope.downloadDocuments(row.entity)" class="link_button"><img src="/App/images/jobdownload.svg" alt="DownloadDocuments">Download Documents</a>
            <a ng-click="grid.appScope.jobform(row.entity)" class="link_button"><img src="/App/images/jobform.svg" alt="Forms">Forms</a>
        </div>
        <div class="containerBox">
            <div class="content-box">
                <div class="title-box">
                    <h4>Owner</h4>
                </div>
                <div class="content-inner">
                    <h3>{{row.entity.fullName}}</h3>
                    <a href="#" class="email_link">{{row.entity.name}}</a>
                    <p class="addressText"><img src="/App/images/icon_location.svg" alt="icon_location">{{row.entity.streetAddress}}</p>
                    <p class="phoneText"><img src="/App/images/icon_mobile.svg" class="icon_mobilesmall" />{{row.entity.phone}}</p>
                    <p><img src="/App/images/icon_email.svg" class="icon_emailsmall" /> {{row.entity.emailId}}</p>
                    {{row.entity.jobLatLong}}

                    <div class="profileBox profilewidthOne">

                        <div class="profileInner">
                            <p class="heading">House Type </p>
                            <p class="info">{{row.entity.houseTypeName}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Roof Type</p>
                            <p class="info">{{row.entity.roofTypeName}}</p>
                        </div>
                        <div class="profileInner mt10">
                            <p class="heading">Solar Type</p>
                            <p class="info">{{row.entity.solarTypeName}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="title-box">
                    <h4>Id</h4>
                    <div ng-show="{{row.entity.installerExpire}}">
                        <p ng-class="{{row.entity.installerExpiryDays}}>30? 'title-info' : 'title-info-red'"><img src="/App/images/Mask.svg">Installer Acc Licence Expired in {{row.entity.installerExpiryDays}} days</p>
                    </div>
                    <!--<p class="title-info" ng-show="{{row.entity.installerExpire}}"><img src="/App/images/Mask.svg">Installer Acc Licence Expired in {{row.entity.installerExpiryDays}} days</p>-->
                </div>
                <div class="content-inner">
                    <div class="profileBox profilewidthOne">
                        <div class="profileInner">
                            <p class="heading">Installation Date  </p>
                            <p class="info">{{row.entity.expectedInstallDate | date:'dd MMM yyyy'}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Installer</p>
                            <p class="info">{{row.entity.installerName}}</p>
                        </div>
                    </div>
                    <div class="profileBox profilewidthOne spaceClass" ng-if="row.entity.lastModifierUserName != null">
                        <div class="profileInner">
                            <p class="heading">Modified On</p>
                            <p class="info">{{row.entity.lastModificationTime | date:'dd MMM yyyy'}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Modified By</p>
                            <p class="info">{{row.entity.lastModifierUserName}}</p>
                        </div>
                    </div>
                    <div class="profileBox profilewidthOne spaceClass">
                        <div class="profileInner">
                            <p class="heading">Entered on  </p>
                            <p class="info">{{row.entity.creationTime | date:'dd MMM yyyy'}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Entered By</p>
                            <p class="info">{{row.entity.enteredBy}}</p>
                        </div>
                    </div>
                    <div class="profileBox profilewidthOne">
                        <div class="profileInner">
                            <p class="heading">Designer </p>
                            <p class="info">{{row.entity.designerName}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Electrician  </p>
                            <p class="info">{{row.entity.electricianName}}</p>
                        </div>
                    </div>
                    <div class="profileBox profilewidthOne spaceClass">
                        <div class="profileInner">
                            <p class="heading">Installer Note </p>
                            <p class="info">{{row.entity.installerNote}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">STC  </p>
                            <p class="info">{{row.entity.expectedSTC}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="title-box">
                    <h4>Panel Serials</h4>
                    <p class="tag">{{row.entity.scanedPanelCount}}</p>
                    <div ng-show="{{row.entity.panelExpire}}">
                        <p ng-class="{{row.entity.panelExpiryDays}}>30? 'title-info' : 'title-info-red'"><img src="/App/images/Mask.svg">Panel Lic. Exp. in {{row.entity.panelExpiryDays}} days</p>
                    </div>
                    <!--<p class="title-info" ng-show="{{row.entity.panelExpire}}"><img src="/App/images/Mask.svg">Panel Lic. Exp. in {{row.entity.panelExpiryDays}} days</p>-->
                </div>
                <div class="content-inner">
                    <div class="profileBox profilewidthOne">
                        <div class="profileInner">
                            <p class="heading"> <img style="height:60px;width:150px;" src="{{row.entity.panelLogoPath}}" /> </p>
                        </div>
                        <div class="profileInner wdth100">
                            <p class="heading">
                                P Manufacturer 
                            </p>
                            <p class="info">{{row.entity.panelName}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">P Model </p>
                            <p class="info">{{row.entity.panelModel}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading text-right">System Capacity </p>
                            <p class="info text-right">{{row.entity.systemCapacity}}</p>
                        </div>
                    </div>
                    <p class="table_head">
                        <button class="btn btn-info"
                                ng-click="grid.appScope.copyToClipBoardPanel(row.entity)">
                            copy
                        </button>
                        Serials <a ng-show="{{row.entity.isScanedPanelImagesLinkShow}}" ng-click="grid.appScope.addPanelImages(row.entity)">+ Add Images</a>
                        <a ng-show="{{row.entity.scanedPanelCount}}<{{row.entity.noOfPanels}} && !{{row.entity.isHistoric}}" ng-click="grid.appScope.addPanelserial(row.entity)">+ Add</a>
                    </p>
                    <div style="overflow-x:auto;">
                        <table class="tableClass">
                            <tr ng-repeat="panel in row.entity.jobScanedPanel_List">
                                <td>{{$index+1}}</td>
                                <td>{{panel.panelSerialNumber}}</td>
                                <td class="width15px"><span><a ng-click="grid.appScope.jobScanedPanelEdit(panel.id,row.entity.tenantId)"><img src="/App/images/edit.svg" class="iconedit" /></a></span></td>
                                <td class="width15px"><span><a ng-click="grid.appScope.jobScanedPaneldelete(panel.id,row.entity.tenantId,panel.panelSerialNumber)"><img src="/App/images/garbage.svg" class="icondelete" /></a></span></td>
                                <td class="width15px"><span><a ng-click="grid.appScope.jobScanedPanelview(panel.id)"><img src="/App/images/eye.svg" class="icondelete" /></a></span></td>

                                <!--<td ng-controller="tenant.views.jobs.expandableRowTemplate as vm"><span><a ng-click="vm.jobScanedPanelEdit(panel.id,row.entity.tenantId)">Edit</a></span></td>
                                <td ng-controller="tenant.views.jobs.expandableRowTemplate as vm"><span><a ng-click="vm.jobScanedPaneldelete(panel.id,row.entity.tenantId,panel.panelSerialNumber)">Delete</a></span></td>-->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="title-box">
                    <h4>Inverters</h4>                    
                    <p class="tag">{{row.entity.scanedInverterCount}}</p>
                    <div ng-show="{{row.entity.inverterExpire}}">
                        <p ng-class="{{row.entity.inverterExpiryDays}}>30? 'title-info' : 'title-info-red'"><img src="/App/images/Mask.svg">Inverter Lic. Exp. in {{row.entity.inverterExpiryDays}} days</p>
                    </div>

                </div>
                <div class="content-inner">
                    <div class="profileBox profilewidthOne">
                        <div class="profileInner">
                            <p class="heading"> <img style="height:60px;width:150px;" src="{{row.entity.inverterLogoPath}}" /> </p>
                            <!--<p class="info">{{row.entity.inverterModel}}</p>-->
                        </div>
                        <div class="profileInner wdth100">
                            <p class="heading">I Manufacturer </p>
                            <p class="info">{{row.entity.inverterName}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">I Model </p>
                            <p class="info">{{row.entity.inverterModel}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading text-right">NMI Number </p>
                            <p class="info text-right">{{row.entity.nmiNo}}</p>
                        </div>
                    </div>
                    <p class="table_head">
                        <button class="btn btn-info"
                                ng-click="grid.appScope.copyToClipBoardInverter(row.entity)">
                            copy
                        </button>
                        Serials<a ng-show="{{row.entity.isScanedInverterImagesLinkShow}}" ng-click="grid.appScope.addInverterImages(row.entity)">+ Add Images</a>
                        <a ng-show="{{row.entity.scanedInverterCount}}<{{row.entity.noOfInverter}} && !{{row.entity.isHistoric}}" ng-click="grid.appScope.addInverterserial(row.entity)">+ Add</a>
                    </p>
                    <div style="overflow-x:auto;">
                        <table class="tableClass">
                            <tr ng-repeat="inverter in row.entity.jobScanedInverter_List">
                                <td>{{$index+1}}</td>
                                <td>{{inverter.inverterSerialNumber}}</td>
                                <td class="width15px"><span><a ng-click="grid.appScope.jobScanedinverterEdit(inverter.id,row.entity.tenantId)"><img src="/App/images/edit.svg" class="iconedit" /></a> </span></td>
                                <td class="width15px"><span><a ng-click="grid.appScope.jobScanedinverterdelete(inverter.id,row.entity.tenantId,inverter.inverterSerialNumber)"><img src="/App/images/garbage.svg" class="icondelete" /></a></span></td>
                                <td class="width15px"><span><a ng-click="grid.appScope.jobScanedInverterview(inverter.id)"><img src="/App/images/eye.svg" class="icondelete" /></a></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>