﻿@using TechnoForms.Localization
<div ng-controller="tenant.views.jobs.formList as vm">
    <div class="pagetitlebox">
		<div class="row">
			<div class="col-md-6">
				<div class="page-head">
					<div class="page-title">
						<h1>
							  <span>@L("ManageForms") : <span class="fname"> {{vm.job.firstName + " " + vm.job.lastName}} </span></span>
						</h1>
						
                         
					</div>
				</div>
			</div>
			<div class="col-md-6 text-right">
				<button class="btn btn-danger btnback" ng-click="vm.backToJob()"><i class="fa fa-chevron-left"></i> <span>@L("Back")</span></button>
			</div>
		</div>
	</div>

    <div class="black-transparentbox">
       
        <div class="portlet-body">
            <div class="formstable">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Forms</th>
                                        <th>Title</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a id="Logophoto" ng-click="grid.appScope.openNewTab(row.entity.imageName)"><img src="/Common/Images/icon_downloadimage.png" /></a></td>
                                        <td>AusNet Services Alteration or Upgrade of Inverter Energy System</td>
                                        <td><button class="btn btn-sm btn-primary blue" ng-click="vm.InverterEnergySystem()"><i class="fa fa-edit"></i> @L("Edit")</button></td>
                                    </tr>
                                    <tr>
                                        <td><a id="Logophoto" ng-click="grid.appScope.openNewTab(row.entity.imageName)"><img src="/Common/Images/icon_downloadimage.png" /></a></td>
                                        <td>AusNet Services Embedded Generator(EG) and battery Storage Connection Agreement up to 30kW</td>
                                        <td><button class="btn btn-primary btn-sm blue " ng-click="vm.AusNet()"><i class="fa fa-edit"></i> @L("Edit")</button></td>
                                    </tr>
                                    <tr>
                                        <td><a id="Logophoto" ng-click="grid.appScope.openNewTab(row.entity.imageName)"><img src="/Common/Images/icon_downloadimage.png" /></a></td>
                                        <td>Additional or Alteration of Micro Embedded Generator connection</td>
                                        <td><button class="btn btn-primary btn-sm blue " ng-click="vm.MicroEmbeddedGenerator()"><i class="fa fa-edit"></i> @L("Edit")</button></td>
                                    </tr>
                                    <tr>
                                        <td><a id="Logophoto" ng-click="grid.appScope.openNewTab(row.entity.imageName)"><img src="/Common/Images/icon_downloadimage.png" /></a></td>
                                        <td>Upgrade Existing Solar Photovoltaic (PV) System Connection Form</td>
                                        <td><button class="btn btn-primary blue btn-sm" ng-click="vm.UpgradeExistingPV()"><i class="fa fa-edit"></i> @L("Edit")</button></td>
                                    </tr>
                                    <tr>
                                        <td><a id="Logophoto" ng-click="grid.appScope.openNewTab(row.entity.imageName)"><img src="/Common/Images/icon_downloadimage.png" /></a></td>
                                        <td>United Energy Inverter-Based Embedded Generatior Connection Application Form</td>
                                        <td><button class="btn btn-primary blue btn-sm" ng-click="vm.UnitedEnergyInverter()"><i class="fa fa-edit"></i> @L("Edit")</button></td>
                                    </tr>
                                    <tr>
                                        <td><a id="Logophoto" ng-click="grid.appScope.openNewTab(row.entity.imageName)"><img src="/Common/Images/icon_downloadimage.png" /></a></td>
                                        <td>Application for service - Electrical Works Request (EWR) for new and existing installations</td>
                                        <td><button class="btn btn-primary blue btn-sm" ng-click="vm.ElectricalWorksRequest()"><i class="fa fa-edit"></i> @L("Edit")</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>