@using TechnoForms.Localization

<div ng-controller="common.views.jobs.index as vm">
	<div class="pagetitlebox">
		<div class="row">
			<div class="col-md-2 col-lg-2 col-sm-2">
				<div class="page-head">
					<div class="page-title">
						<h1>
							<span>@L("Jobs")</span>
						</h1>
						<button ng-if="vm.permissions.createjobs" tooltip-placement="top" uib-tooltip="Add" class="btn btn-primary blue btnaddhead" ng-click="vm.createJobs()"><i class="fa fa-plus"></i> @*@L("CreateNewJobs")*@</button>
						<button ng-if="vm.permissions.createjobs" tooltip-placement="top" uib-tooltip="Upload" class="btn btn-primary blue btnaddhead " ng-click="vm.uploadRec()"><i class="fa fa-upload"></i> @*@L("Upload")*@</button>

					</div>
				</div>
			</div>
			<div class="col-md-10 text-right col-lg-10 jobtopfilter col-sm-10">
				<div class="filtermain">

					@* <div class="jobfilterbox">
						Filter by Job Status <a ng-click="vm.jobStatus(1)" class="btnprocess">In Process</a>
						<a ng-click="vm.jobStatus(3)" class="btnhold">On Hold</a>
						<a ng-click="vm.jobStatus(2)" class="btncompleted">Completed</a>
						<a ng-click="vm.jobStatus(0)" class="btnfailed">All</a>
						@*<a ng-click="vm.jobStatus(1)" class="btnfailed">Failed</a>*@
					@* </div>  *@
					<div class="portlet-title-filter mt5 mr10">
						<div class="inputs inputs-full-width flexfilter">
							<div class="filterdropdown">
								<select id="filterby"
										class=""
										ui-jq="selectpicker"
										title="Select"
										ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'>
									<option selected value=''>In Process</option>
									<option selected value=''>On Hold</option>
									<option selected value=''>Completed</option>
									<option selected value=''>All</option>
								</select>
							</div>
							<div class="portlet-input">
								<form>

									<div class="input-group">
										<input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("ProjectNumber")" type="text">
										<span class="input-group-btn">

											<button ng-click="vm.getJobs()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
										</span>
									</div>
								</form>
							</div>

						</div>
					</div>

					<a ng-click="toggle = !toggle" ng-class="{'showfilter' : toggle}" class="btn-filter">  </a>
				</div>
			</div>
		</div>
	</div>
	<div class="black-transparentbox">


		<div class="portlet light margin-bottom-0">
			<div class="filterarea dropdownfilter jobsfilterdropdown" ng-class="{'showfilter' : toggle}">
				<ul>
					<li><input ng-model="vm.filterFormId" auto-focus class="form-control" placeholder="@L("formid")" type="text"></li>
					<li><input ng-model="vm.filterOwnerName" auto-focus class="form-control" placeholder="@L("OwnerName")" type="text"></li>
					<li>
						<select id="createforSelectionCombobox"
								ng-options="installerval.id as installerval.fullName for installerval in vm.installerList"
								ng-model="vm.filterInstallerId"
								ui-jq="selectpicker"
								title="@L("SelectInstaller")"
								ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
								data-live-search="true">
							<option selected disabled hidden style='display: none' value=''></option>
						</select>
					</li>
					<li>
						@*<select id="streetCitySelectionCombobox"
									ng-options="streetCityval.id as streetCityval.suburb for streetCityval in vm.streetCity"
									ng-model="vm.filterCity"
									ui-jq="selectpicker"
									title="@L("SelectCity")"
									ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
									data-live-search="true">
								<option selected disabled hidden style='display: none' value=''></option>
							</select>*@
						<input id="streetCitySelectionCombobox" class="statetypeahead form-control" autocomplete="off" type="text" placeholder="Street City" ng-model="vm.filterCity" ng-keyup="vm.getSuburbList()">
						@*<input type="text" class="form-control autocomplete" ng-model="selected" typeahead="state for state in states | filter:$viewValue">*@
						@*<input type="text" class="form-control autocomplete" ng-model="vm.filterCity" typeahead="streetCityval.suburb as streetCityval.suburb for streetCityval in vm.streetCity | filter:$viewValue">*@
					</li>
					<li>
						<select id="streetStateSelectionCombobox"
								ng-options="streetStateval.stateName as streetStateval.stateName for streetStateval in vm.streetStateList"
								ng-model="vm.filterState"
								ui-jq="selectpicker"
								title="@L("SelectState")"
								ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
								data-live-search="true">
							<option selected disabled hidden style='display: none' value=''></option>
						</select>
					</li>
					<li>
						<select id="systemTypeSelectionCombobox"
								ng-options="systemTypeval.id as systemTypeval.systemTypeName for systemTypeval in vm.systemTypeList"
								ng-model="vm.filterSystemtypeId"
								ui-jq="selectpicker"
								title="@L("SelectSystemType")"
								ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
								data-live-search="true">
							<option selected disabled hidden style='display: none' value=''></option>
						</select>
					</li>
					<li>
						<div class="input-group form-group datepickerbox">
							<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.filterStartDate" is-open="popup1.opened" datepicker-options="dateOptionsApproval" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("FromDate")" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</li>
					<li>
						<div class="input-group form-group datepickerbox">
							<input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.filterEndDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("ToDate")" />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
					</li>
					<li>
						<select id="systemDateTypeSelectionCombobox"
								ng-options="datetypeval.id as datetypeval.name for datetypeval in vm.datetype"
								ng-model="vm.filterDateypeId"
								ui-jq="selectpicker"
								title="@L("SelectDateType")"
								ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
								data-live-search="true">
							<option selected disabled hidden style='display: none' value=''></option>
						</select>
					</li>
					<li>
						<select id="systemReceivedSelectionCombobox"
								ng-options="receivedval.id as receivedval.name for receivedval in vm.received"
								ng-model="vm.filterReceivedId"
								ui-jq="selectpicker"
								title="@L("Received")"
								ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
								data-live-search="true" multiple>
							<option selected disabled hidden style='display: none' value=''></option>
						</select>
					</li>
					<li>
						<select id="systemNotReceivedSelectionCombobox"
								ng-options="receivedval.id as receivedval.name for receivedval in vm.received"
								ng-model="vm.filterNotReceivedId"
								ui-jq="selectpicker"
								title="@L("NotReceived")"
								ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
								data-live-search="true" multiple>
							<option selected disabled hidden style='display: none' value=''></option>
						</select>
					</li>
					<li class="historic">
						<div class="historicbox">
							<span>@L("historic")</span>
							<label class="switch">
								<input type="checkbox" name="historic" ng-model="vm.verified">
								<span class="slider round"></span>
							</label>
						</div>
					</li>
					<li class="fullwidth100"><button class="btn btn-primary blue" ng-click="vm.getJobs()"><i class="fa fa-search"></i> Search</button> <button class="btn btn-success " ng-click="vm.ClearAll()"><i class="fa fa-refresh"></i> Clear</button></li>
				</ul>
			</div>
			<div class="portlet-body expandablerowgrid jobspagegrid">
				<div ng-show="vm.norecord">
					<div class="errormessage">  @L("NoRecordMessage") </div>
				</div>
				<div busy-if="vm.loading">
					<div ui-grid="vm.jobsGridOptions" style="{{vm.gridHeight}}" ui-grid-expandable ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
				</div>
			</div>
		</div>
	</div>
	<div class="blackoverlay" ng-class="{'showfilter' : toggle}" ng-click="toggle = !toggle"></div>
</div>