<div class="modal-header">
    <h4 class="modal-title">
        <span>@L("InstallerPhotos") {{vm.isVerifyIS}}</span>
    </h4>
    <div ng-show="vm.displayVerifyIS">
        <button type="button" class="btn btn-success" ng-click="vm.verify()" ng-show="vm.isVerifyIS"><i class="fa fa-check"></i> @L("verify")</button>
    </div>

    <a href="#" class="modalclosebtn" ng-click="vm.cancel()">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body" style="padding-bottom:15px!important;">
    <div class="imagesliderbox">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by $index" index="$index">
                <img ng-src="{{slide.panelBarcodePhoto}}" style="margin:auto;">
                <div class="carousel-caption">
					<div ng-show="slide.instcomment == 0">
						{{slide.nameWithAddress}}<br />
						@L("longitude") : {{slide.longitude}}<br />
						@L("latitude") : {{slide.latitude}}<br />
						@L("Date") : {{slide.date  | date:'dd-MM-yyyy HH:MM:ss'}}
					</div>
                    
                    @*@L("ImageCount") : {{$index+1}}<br />
                        @L("OwnerComment") : {{slide.instcomment}}<br />*@
                </div>
            </div>
        </div>
    </div>
</div>


