@using TechnoForms.Localization
<div  ng-controller="tenant.views.jobs.messageModal as vm">

 <div class="pagetitlebox">
		<div class="row">
			<div class="col-md-6">
				<div class="page-head">
					<div class="page-title">
						<h1>
						 <span>@L("Message")</span>
						</h1>
					
					</div>
				</div>
			</div>
			<div class="col-md-6 text-right">
				 <button ng-disabled="vm.saving" type="button" class="btn btn-danger btnback" ng-click="vm.cancel()"><i class="fa fa-chevron-left"></i> <span>@L("Back")</span></button>
			</div>
		</div>
	</div>
    <div class="black-transparentbox">  
    <div class="portlet light margin-bottom-0">
        <form name="exampleForm" role="form" novalidate class="form-validation">
            <div class="portlet-body mb5">
                <div class="createjobsform">
                    <ul class="formfields row">
                        <li class="col-md-6">
                            <div class="form-md-line-input form-md-floating-label no-hint">
                                <label>@L("Message")</label>
                                <textarea rows="4" cols="50" class="form-control textarea messagearea" name="Message" ng-model="vm.message.messageValue" placeholder='@L("Message")' required maxlength="500"></textarea>
                            </div>
                        </li>
                    </ul>
                    <div class="col-md-6 text-right mrtop15">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                        <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </form>
    </div>
    <div class="portlet light margin-bottom-0">
        <div class="portlet-body expandablerowgrid">
            <div busy-if="vm.loading">
                <div ui-grid="vm.jobsGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
    </div>
</div>