<div class="modal-header">
	<h4 class="modal-title">
		<span>@L("PanelPhotos")</span>
	</h4>
	<div ng-show="vm.displayVerifyPA">
		<button type="button" class="btn btn-success" ng-click="vm.verify()" ng-show="vm.displayVerifyPA"><i class="fa fa-check"></i> @L("verify")</button>
		<a>@*<img src="../App/images/icon_allfilesdownload.svg" style="height:10px;width:10px;">*@</a>
	</div>

	<a href="#" class="modalclosebtn" ng-click="vm.cancel()">
		<i class="fa fa-times"></i>
	</a>
</div>
<div class="modal-body" style="padding-bottom:15px!important;">
	<div class="imagesliderbox">
		<div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
			<div uib-slide ng-repeat="slide in slides track by slide.id" index="$index">
				<img ng-src="{{slide.panelBarcodePhoto}}" style="margin:auto;">
				<div class="carousel-caption">
					<h4>{{slide.panelSerialNumber}}</h4>
					@*<div ng-show="$index==0">*@
					<div>
						@L("longitude") : {{slide.longitude}}<br />
						@L("latitude") : {{slide.latitude}}<br />
						@L("Date") : {{slide.date | date:'dd-MM-yyyy HH:MM:ss'}}<br />
						@L("ImageCount") : {{$index+1}}<br />
						@*<img src="../App/images/downloadImage.svg">*@
					</div>
				</div>
			</div>
		</div>
	</div>
</div>