@using TechnoForms.Localization

<div  ng-controller="tenant.views.jobs.SignatureLog as vm">
    <div class="pagetitlebox">
		<div class="row">
			<div class="col-md-6">
				<div class="page-head">
					<div class="page-title">
						<h1>
						<span>@L("SignatureLog")</span>
						</h1>
					
					</div>
				</div>
			</div>
			<div class="col-md-6 text-right">
				 <button ng-disabled="vm.saving" type="button" class="btn btn-danger btnback" ng-click="vm.cancel()"><i class="fa fa-chevron-left"></i> <span>@L("Back")</span></button>
			</div>
		</div>
	</div>
    <div class="black-transparentbox">  
    <div class="portlet light margin-bottom-0">
        <form name="exampleForm" role="form" class="form-validation">
            <div class="createjobsform">
                <div class="portlet-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <div class="card m-b-30">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <section id="cd-timeline" class="cd-container">
                                                    <div class="cd-timeline-block" ng-repeat="signature in vm.signaturerequest_List">
                                                        <div class="cd-timeline-img cd-success">
                                                            <i class="mdi mdi-adjust"></i>
                                                        </div>
                                                        <div class="messagecatalog">
                                                            <ul>
                                                                <li>
                                                                    <span class="usericon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                                                                    <p> @L("RequestBy") {{signature.requestSendBy}} @L("On"), {{signature.tokenDateFormat}}  </p>

                                                                    <p>
                                                                        <b>@L("By") , {{signature.requestByUserName}} @L("To") </b><b ng-show="{{signature.isNotOwner}}">@L("Installer")</b>
                                                                        <b ng-show="{{signature.isOwner}}">@L("Customer")</b>
                                                                    </p>
                                                                </li>

                                                                <li>
                                                                    <span class="usericon"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                                                                    <p class="" ng-show="{{signature.responseDateFormat}}">
                                                                        @L("RepliedOn"), {{signature.responseDateFormat}}<br />
                                                                        <b>@L("By") {{signature.responseByUserName}}</b>
                                                                    </p>
                                                                    <span ng-show="{{signature.replyPending}}">
                                                                        @L("ReplyPending")
                                                                    </span>
                                                                </li>
                                                            </ul>


                                                            @*<h3>
                                                                    @L("RequestBy") {{signature.requestSendBy}} @L("On") , {{signature.tokenDate}}<br />
                                                                    @L("By") , {{signature.requestByUserName}} @L("To")
                                                                    <b ng-show="{{signature.isOwner}}">@L("Installer")</b>
                                                                    <b ng-show="{{signature.IsNotOwner}}">@L("Customer")</b>
                                                                </h3>
                                                                <span class="" style="font-size:larger;" ng-show="{{signature.responseData}}">
                                                                    @L("RepliedOn"), {{signature.responseDate}}<br />
                                                                    @L("By") {{signature.responseByUserName}}
                                                                </span>
                                                                <span class="" style="font-size:larger;" ng-show="{{signature.replyPending}}">
                                                                    @L("ReplyPending")
                                                                </span>*@
                                                        </div>
                                                    </div>
                                                </section>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>
</div>