﻿@using TechnoForms.Localization
<div ng-controller="tenant.views.jobs.uploadDocument as vm">
     <div class="pagetitlebox">
		<div class="row">
			<div class="col-md-6">
				<div class="page-head">
					<div class="page-title">
						<h1>
							   <span>@L("ManageDocuments") : <span class="fname"> {{vm.job.firstName + " " + vm.job.lastName}} </span></span>
                               <button class="btn btn-primary blue btnaddhead" ng-click="vm.uploadDocs()"><i class="fa fa-plus"></i>
                               </button> 
						</h1>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-right">
				   <button class="btn btn-danger btn-sm btnback mt5" ng-click="vm.backToJob()"><i class="fa fa-chevron-left"></i> <span>@L("Back")</span></button>
			</div>
		</div>
	</div>

    <div class="black-transparentbox">
        
        <div class="portlet-body">
            <div busy-if="vm.loading">
                <div ui-grid="vm.uploadDocsGridOptions" ui-grid-resize-columns ui-grid-pagination full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>