@using TechnoForms.Localization
<div ng-controller="host.views.jobsReport.index as vm">
     <div class="black-transparentbox">
    <div class="row margin-bottom-5">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>Jobs Report</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="portlet-body">
        <div busy-if="vm.loading">
            <div ui-grid="vm.jobsGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
        </div>
    </div>
</div>
</div>