@using Abp.Configuration
<div ng-controller="host.views.settings.index as vm">
    <div class="pagetitlebox">
         <div class="row">
        <div class="col-xs-6">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Settings")</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <button class="btn btn-primary blue mt5" ng-click="vm.saveAll()"><i class="fa fa-floppy-o"></i> @L("SaveAll")</button>
        </div>
    </div>
    </div>
     <div class="black-transparentbox">
   
    <div class="portlet light margin-bottom-0 settingspage">
        <div class="portlet-body">
            <uib-tabset class="tab-container tabbable-line pagenavtabs ">

                <uib-tab heading="@L("General")">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.showTimezoneSelection">
                        <timezone-combo selected-timezone="vm.settings.general.timezone" default-timezone-scope="@((int)SettingScopes.Application)" class="edited"></timezone-combo>
                        <label>@L("Timezone")</label>
                    </div>
                </uib-tab>

                <uib-tab heading="@L("TenantManagement")">
                    <div>
                        <h4>@L("FormBasedRegistration")</h4>
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="Setting_AllowSelfRegistration" class="md-check" type="checkbox" name="AllowSelfRegistration" ng-model="vm.settings.tenantManagement.allowSelfRegistration">
                                <label for="Setting_AllowSelfRegistration">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("AllowTenantsToRegisterThemselves")
                                </label>
                                <span class="help-block">@L("AllowTenantsToRegisterThemselves_Hint")</span>
                            </div>
                            <div class="md-checkbox" ng-show="vm.settings.tenantManagement.allowSelfRegistration">
                                <input id="Setting_IsNewRegisteredTenantActiveByDefault" class="md-check" type="checkbox" name="IsNewRegisteredTenantActiveByDefault" ng-model="vm.settings.tenantManagement.isNewRegisteredTenantActiveByDefault">
                                <label for="Setting_IsNewRegisteredTenantActiveByDefault">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("NewRegisteredTenantsIsActiveByDefault")
                                </label>
                                <span class="help-block">@L("NewRegisteredTenantsIsActiveByDefault_Hint")</span>
                            </div>
                            <div class="md-checkbox" ng-show="vm.settings.tenantManagement.allowSelfRegistration">
                                <input id="Setting_UseCaptchaOnRegistration" class="md-check" type="checkbox" name="UseCaptchaOnRegistration" ng-model="vm.settings.tenantManagement.useCaptchaOnRegistration">
                                <label for="Setting_UseCaptchaOnRegistration">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("UseCaptchaOnRegistration")
                                </label>
                            </div>
                        </div>
                        @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <select id="TenantEditionSelectionCombobox" class="form-control edited" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.editions" ng-model="vm.settings.tenantManagement.defaultEditionId"></select>
                            <label for="TenantEditionSelectionCombobox">@L("Edition")</label>
                        </div>*@
                    </div>
                </uib-tab>

                <uib-tab heading="@L("UserManagement")">
                    <div class="md-checkbox-list">
                        <div class="md-checkbox">
                            <input id="Settings_IsEmailConfirmationRequiredForLogin" class="md-check" type="checkbox" name="IsEmailConfirmationRequiredForLogin" ng-model="vm.settings.userManagement.isEmailConfirmationRequiredForLogin">
                            <label for="Settings_IsEmailConfirmationRequiredForLogin">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("EmailConfirmationRequiredForLogin")
                            </label>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="@L("Security")">
                    <div>
                        <h4>@L("PasswordComplexity")</h4>
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="Setting_PasswordComplexity_UseDefaultSettings" class="md-check" type="checkbox" name="Setting_PasswordComplexity_UseDefaultSettings" ng-model="vm.settings.security.useDefaultPasswordComplexitySettings">
                                <label for="Setting_PasswordComplexity_UseDefaultSettings">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("UseDefaultSettings")
                                </label>
                            </div>
                        </div>
                           <div class="createjobsform padzero mt0">
                                <ul class="formfields">
                                    <li>
                                        <div class="md-checkbox-list">
                                            <div class="md-checkbox">
                                                <input id="Setting_PasswordComplexity_UseNumbers" class="md-check" type="checkbox" name="Setting_PasswordComplexity_UseNumbers" ng-model="vm.settings.security.passwordComplexity.useNumbers" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                                <input id="Setting_PasswordComplexity_UseNumbers" class="md-check" type="checkbox" name="Setting_PasswordComplexity_UseNumbers" ng-model="vm.settings.security.defaultPasswordComplexity.useNumbers" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                                <label for="Setting_PasswordComplexity_UseNumbers">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("UseNumbers")
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="md-checkbox-list">
                                             <div class="md-checkbox">
                                                <input id="Setting_PasswordComplexity_UseUpperCaseLetters" class="md-check" type="checkbox" name="Setting_PasswordComplexity_UseUpperCaseLetters" ng-model="vm.settings.security.passwordComplexity.useUpperCaseLetters" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                                <input id="Setting_PasswordComplexity_UseUpperCaseLetters" class="md-check" type="checkbox" name="Setting_PasswordComplexity_UseUpperCaseLetters" ng-model="vm.settings.security.defaultPasswordComplexity.useUpperCaseLetters" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                                <label for="Setting_PasswordComplexity_UseUpperCaseLetters">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("UseUpperCaseLetters")
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                     <li>
                                        <div class="md-checkbox-list">
                                             <div class="md-checkbox">
                                                <input id="Setting_PasswordComplexity_UseLowerCaseLetters" class="md-check" type="checkbox" name="Setting_PasswordComplexity_UseLowerCaseLetters" ng-model="vm.settings.security.passwordComplexity.useLowerCaseLetters" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                                <input id="Setting_PasswordComplexity_UseLowerCaseLetters" class="md-check" type="checkbox" name="Setting_PasswordComplexity_UseLowerCaseLetters" ng-model="vm.settings.security.defaultPasswordComplexity.useLowerCaseLetters" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                                <label for="Setting_PasswordComplexity_UseLowerCaseLetters">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("UseLowerCaseLetters")
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                     <li>
                                        <div class="md-checkbox-list">
                                             <div class="md-checkbox">
                                                <input id="Setting_PasswordComplexity_UsePunctuations" class="md-check" type="checkbox" name="Setting_PasswordComplexity_UsePunctuations" ng-model="vm.settings.security.passwordComplexity.usePunctuations" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                                <input id="Setting_PasswordComplexity_UsePunctuations" class="md-check" type="checkbox" name="Setting_PasswordComplexity_UsePunctuations" ng-model="vm.settings.security.defaultPasswordComplexity.usePunctuations" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                                <label for="Setting_PasswordComplexity_UsePunctuations">
                                                    <span class="inc"></span>
                                                    <span class="check"></span>
                                                    <span class="box"></span>
                                                    @L("UsePunctuations")
                                                </label>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                        </div>
                        <div class="createjobsform">
                                <ul class="formfields">
                                    <li>
                                        <div class="form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("MinPasswordLength")</label>
                                            <input type="number" name="MinPasswordLength" class="form-control" ng-class="{'edited':vm.settings.security.passwordComplexity.minLength}" ng-model="vm.settings.security.passwordComplexity.minLength" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                            <input type="number" name="MinPasswordLength" class="form-control" ng-class="{'edited':vm.settings.security.defaultPasswordComplexity.minLength}" ng-model="vm.settings.security.defaultPasswordComplexity.minLength" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-md-line-input form-md-floating-label no-hint">
                                             <label>@L("MaxPasswordLength")</label>
                                            <input type="number" name="MaxPasswordLength" class="form-control" ng-class="{'edited':vm.settings.security.passwordComplexity.maxLength}" ng-model="vm.settings.security.passwordComplexity.maxLength" ng-if="!vm.settings.security.useDefaultPasswordComplexitySettings">
                                            <input type="number" name="MaxPasswordLength" class="form-control" ng-class="{'edited':vm.settings.security.defaultPasswordComplexity.maxLength}" ng-model="vm.settings.security.defaultPasswordComplexity.maxLength" ng-if="vm.settings.security.useDefaultPasswordComplexitySettings" disabled>
                                           
                                        </div>
                                    </li>
                                </ul>
                        </div>

                      
                      
                    </div>

                    <div>
                        <h4 class="martop20">@L("UserLockOut")</h4>

                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="Setting_UserLockOut_IsEnabled" class="md-check" type="checkbox" name="Setting_UserLockOut_IsEnabled" ng-model="vm.settings.security.userLockOut.isEnabled">
                                <label for="Setting_UserLockOut_IsEnabled">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("EnableUserAccountLockingOnFailedLoginAttemts")
                                </label>
                            </div>
                        </div>
                         <div class="createjobsform settingssecurity">
                                <ul class="formfields">
                                    <li>
                                        <div class="form-md-line-input form-md-floating-label no-hint" ng-if="vm.settings.security.userLockOut.isEnabled">
                                            <label>@L("MaxFailedAccessAttemptsBeforeLockout")</label>
                                            <input type="number" name="MaxFailedAccessAttemptsBeforeLockout" class="form-control" ng-class="{'edited':vm.settings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout}" ng-model="vm.settings.security.userLockOut.maxFailedAccessAttemptsBeforeLockout">
                                            
                                        </div>
                                    </li>
                                    <li>
                                        <div class="form-md-line-input form-md-floating-label no-hint" ng-if="vm.settings.security.userLockOut.isEnabled">
                                            <label>@L("DefaultAccountLockoutDurationAsSeconds")</label>
                                            <input type="number" name="DefaultAccountLockoutSeconds" class="form-control" ng-class="{'edited':vm.settings.security.userLockOut.defaultAccountLockoutSeconds}" ng-model="vm.settings.security.userLockOut.defaultAccountLockoutSeconds">
                                            
                                        </div>
                                    </li>
                                </ul>
                        </div>
                    </div>

                    <div>
                        <h4 class="martop20">@L("TwoFactorLogin")</h4>
                        <div class="md-checkbox-list">
                            <div class="md-checkbox">
                                <input id="Setting_TwoFactorLogin_IsEnabled" class="md-check" type="checkbox" name="Setting_TwoFactorLogin_IsEnabled" ng-model="vm.settings.security.twoFactorLogin.isEnabled">
                                <label for="Setting_TwoFactorLogin_IsEnabled">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("EnableTwoFactorLogin")
                                </label>
                            </div>
                            <div class="md-checkbox" ng-if="vm.settings.security.twoFactorLogin.isEnabled">
                                <input id="Setting_TwoFactorLogin_IsEmailProviderEnabled" class="md-check" type="checkbox" name="Setting_TwoFactorLogin_IsEmailProviderEnabled" ng-model="vm.settings.security.twoFactorLogin.isEmailProviderEnabled">
                                <label for="Setting_TwoFactorLogin_IsEmailProviderEnabled">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("IsEmailVerificationEnabled")
                                </label>
                            </div>
                            @*<div class="md-checkbox" ng-if="vm.settings.security.twoFactorLogin.isEnabled">
                                <input id="Setting_TwoFactorLogin_IsSmsProviderEnabled" class="md-check" type="checkbox" name="Setting_TwoFactorLogin_IsSmsProviderEnabled" ng-model="vm.settings.security.twoFactorLogin.isSmsProviderEnabled">
                                <label for="Setting_TwoFactorLogin_IsSmsProviderEnabled">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("IsSmsVerificationEnabled")
                                </label>
                            </div>*@
                            <div class="md-checkbox" ng-if="vm.settings.security.twoFactorLogin.isEnabled">
                                <input id="Setting_TwoFactorLogin_IsRememberBrowserEnabled" class="md-check" type="checkbox" name="Setting_TwoFactorLogin_IsRememberBrowserEnabled" ng-model="vm.settings.security.twoFactorLogin.isRememberBrowserEnabled">
                                <label for="Setting_TwoFactorLogin_IsRememberBrowserEnabled">
                                    <span class="inc"></span>
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    @L("AllowToRememberBrowserForTwoFactorLogin")
                                </label>
                            </div>
                        </div>
                    </div>
                </uib-tab>

                <uib-tab heading="@L("EmailSmtp")">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group  form-md-line-input form-md-floating-label no-hint">
                                <input type="email" name="DefaultFromAddress" class="form-control" ng-class="{'edited':vm.settings.email.defaultFromAddress}" ng-model="vm.settings.email.defaultFromAddress" maxlength="@TechnoForms.Authorization.Users.User.MaxEmailAddressLength">
                                <label>@L("DefaultFromAddress")</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <input type="text" name="DefaultFromDisplayName" class="form-control" ng-class="{'edited':vm.settings.email.defaultFromDisplayName}" ng-model="vm.settings.email.defaultFromDisplayName" maxlength="128">
                                <label>@L("DefaultFromDisplayName")</label>
                            </div>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="text" name="SmtpHost" class="form-control input-ltr" ng-class="{'edited':vm.settings.email.smtpHost}" ng-model="vm.settings.email.smtpHost" maxlength="64">
                            <label>@L("SmtpHost")</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                            <input type="number" name="SmtpPort" class="form-control edited" ng-class="{'edited':vm.settings.email.smtpPort}" ng-model="vm.settings.email.smtpPort" maxlength="5">
                            <label>@L("SmtpPort")</label>
                        </div>
                    </div>
                </div>

                    <div class="md-checkbox-list">
                        <div class="md-checkbox">
                            <input id="Settings_SmtpEnableSsl" class="md-check" type="checkbox" name="SmtpEnableSsl" ng-model="vm.settings.email.smtpEnableSsl">
                            <label for="Settings_SmtpEnableSsl">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("UseSsl")
                            </label>
                        </div>
                        <div class="md-checkbox">
                            <input id="Settings_SmtpUseDefaultCredentials" class="md-check" type="checkbox" name="SmtpUseDefaultCredentials" ng-model="vm.settings.email.smtpUseDefaultCredentials">
                            <label for="Settings_SmtpUseDefaultCredentials">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                @L("UseDefaultCredentials")
                            </label>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-show="!vm.settings.email.smtpUseDefaultCredentials">
                                                    <input type="text" name="SmtpUserName" class="form-control input-ltr" ng-class="{'edited':vm.settings.email.smtpUserName}" ng-model="vm.settings.email.smtpUserName" maxlength="128">
                                                    <label>@L("UserName")</label>
                                                </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-show="!vm.settings.email.smtpUseDefaultCredentials">
                                 <input type="text" name="SmtpDomainName" class="form-control input-ltr" ng-class="{'edited':vm.settings.email.smtpDomain}" ng-model="vm.settings.email.smtpDomain" maxlength="128">
                                <label>@L("DomainName")</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint" ng-show="!vm.settings.email.smtpUseDefaultCredentials">
                        <input type="password" name="SmtpPassword" class="form-control" ng-class="{'edited':vm.settings.email.smtpPassword}" ng-model="vm.settings.email.smtpPassword" maxlength="128">
                        <label>@L("Password")</label>
                    </div>
                        </div>
                    </div>

                    

                  

                   

                   <br/>

                    <h4>@L("TestEmailSettingsHeader")</h4>

                    <div class="row">
                        <div class="form-group form-md-line-input has-info form-md-floating-label col-md-4">
                            <input type="text" class="form-control input-sm" ng-model="vm.testEmailAddress">
                        </div>
                        <div class="form-group form-md-line-input col-md-2">
                            <button class="btn btn-primary blue" type="button" ng-click="vm.sendTestEmail()">@L("SendTestEmail")</button>
                        </div>
                    </div>
                </uib-tab>

            </uib-tabset>
        </div>
    </div>
</div>
</div>
