﻿@using TechnoForms.Localization
<style>
    body {
        margin: 0px;
        padding: 0px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .mainform {
        width: 1000px;
        border: 1px solid #ccc;
        margin: 0px auto;
        padding: 15px;
    }

    .heading {
        font-size: 18px;
        text-align: center;
        color: #043C83;
        font-weight: bold;
    }

    .red_head {
        color: #7C1C1D;
    }

    .blue {
        color: #043C83;
    }

    .heading span {
        font-weight: normal;
        font-size: 18px;
    }

    .border {
        border: 1px solid #043C83;
        padding: 10px
    }

    .border1 {
        border: 1px solid #000;
        padding-top: 7px;
    }

    .fontsize14 {
        font-size: 13px;
    }

    .border1 tr td {
        padding-left: 5px;
    }

    .tabs {
        min-height: 304px;
    }

    .font14 {
        font-size: 12px;
    }

    .tabs1 {
        min-height: 108px;
    }

    .tabs2 {
        min-height: 216px;
    }

    table tr td input[type="checkbox" i] {
        vertical-align: middle;
    }
</style>
<style>
    .form-actions {
        margin: 0;
        background-color: transparent;
        text-align: center;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745
    }

    .text-white {
        color: #fff !important
    }

    .app-modal-window .modal-dialog {
        width: 95%;
    }

    .app-modal-window .container {
        width: 95% !important;
    }

    .printbuttonbox {
        float: right;
    }

        .printbuttonbox a {
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 0px 4px;
            padding: 5px 10px;
        }

           .modal-header h4{color:#000!important;}
        .modal .modal-header h4 span.modalbuttonarea{display:flex; flex-direction: row; justify-content: flex-end!important;}
        .modalttl{height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.25rem !important;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; width:50%;}

</style>

<div>
<form name="exampleForm" role="form" novalidate class="form-validation">
    <div class="modal-header">
        <h4 class="modal-title">
             <span class="modalttl"> AusNet Services Embedded Generator (EG) and Battery Storage Connection Agreement up to 30kW</span>
               <span class="modalbuttonarea">
            <button ng-disabled="vm.saving" type="button" class="btn btn-danger printbuttonbox" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue printbuttonbox" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> @L("Save") </button>
            </span>
        </h4>
    </div>
    <div class="modal-body">

        <div class="mainform">
            <input type="hidden" @*value="@ViewBag.GUID"*@ name="PvId" id="PvId" />
            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td width="377" rowspan="2" align="right" style="text-align:right">
                        <table style="padding:15px 10px;border:1px solid #000;">
                            <tr style="margin-bottom:5px;">
                                <td style="text-align:left;width:40%">Retailer:</td>
                                <td style="border-bottom:1px solid #949090;width:60%;"></td>
                            </tr>
                            <tr style="margin-bottom:5px;">
                                <td style="text-align:left;width:40%">Service Order: #</td>
                                <td style="border-bottom:1px solid #949090;width:60%;"></td>
                            </tr>
                            <tr style="margin-bottom:5px;">
                                <td style="text-align:left;width:40%">NMI:</td>
                                <td style="border-bottom:1px solid #949090;width:60%;"></td>
                            </tr>
                            <tr><td></td><td style="text-align:right;color:rgb(0,0,0);font-size:12px;">Retger Use Only</td></tr>
                        </table>

                    </td>
                    <td width="623" style="text-align:right">
                        @*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/img_logo.png")" />*@
                    </td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td align="center">
                                    @*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/img_logo1.png")" />*@
                                </td>
                                <td align="center">
                                    @*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/img_logo2.png")" />*@
                                </td>
                                <td align="center">
                                    @*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/img_logo3.png")" />*@
                                </td>
                                <td align="center">
                                    @*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/img_logo4.png")" />*@
                                </td>
                                <td align="center">
                                    @*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/img_logo5.png")" />*@
                                </td>
                            </tr>
                            <tr>
                                <td align="center"><input type="checkbox" disabled="disabled" /></td>
                                <td align="center"><input type="checkbox" disabled="disabled" /></td>
                                <td align="center"><input type="checkbox" disabled="disabled" /></td>
                                <td align="center"><input type="checkbox" disabled="disabled" /></td>
                                <td align="center"><input type="checkbox" disabled="disabled" /></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>

            <div class="heading" style="padding-top:10px;padding-bottom:5px;">Application for service - Electrical Works Request (EWR) for new and existing installations</div>
            <table>
                <tr>
                    <td class="red_head">Send completed form by email or mail to Retailer:</td>
                    <td style="border-bottom:1px solid #7C1C1D;width:285px"></td>
                    <td class="red_head">or Distributor:</td>
                    <td style="border-bottom:1px solid #7C1C1D;width:25%"></td>
                </tr>
                <tr><td colspan="4" style="font-size:14px;">I acknowledge the requirements of the relevant Distribution Company have been adhered to and certify the electrical work complies with the Victorian Service & Installation Rules and the Electricity Safety Act and Regulations.  I also acknowledge the initial connection will not be connected without a Prescribed Certificate of Electrical Safety and that I am responsible for any associated Distribution Company charges unless the Retailer has accepted all charges.</td></tr>
            </table>
            <table class="fontsize14">
                <tr class="heading" style="text-align:left;"><td colspan="4">Work site address</td></tr>
                <tr>
                    <td style="color: #043C83;">Customer or business name</td>
                    <td style="border-bottom:1px solid #043C83;width:416px;">@*@Model.FirstName @Model.LastName*@</td>
                    <td style="color: #043C83;">Ph 4/ Mb #</td>
                    <td style="border-bottom:1px solid #043C83;width:285px;">@*@Model.Phone*@</td>
                </tr>
            </table>
            <table class="blue fontsize14">
                <tr>
                    <td>Site Type:</td>
                    <td align="center" style="width:14%;">Factory<input type="checkbox" disabled="disabled" /></td>
                    <td align="center" style="width:14%;">Suite<input type="checkbox" disabled="disabled" /></td>
                    <td align="center" style="width:14%;">Tenancy <input type="checkbox" checked="checked" disabled="disabled" /></td>
                    <td align="center" style="width:14%;">Shop<input type="checkbox" disabled="disabled" /></td>
                    <td>Other:</td>
                    <td style="border-bottom:1px solid #043C83;width:200px;"></td>
                </tr>
            </table>
            <table class="blue fontsize14">
                <tr>
                    <td>Unit / Floor / Shop</td>
                    <td style="width:30px;"></td>
                    <td>Street number</td>
                    <td style="width:30px;"></td>
                    <td>Street Name</td>
                    <td></td>
                </tr>
                <tr>
                    <td style="border-bottom:1px solid #043C83;height:20px;">@*@Model.UnitNo*@</td>
                    <td style="width:30px;"></td>
                    <td style="border-bottom:1px solid #043C83;width:285px;height:20px;">@*@Model.StreetNo*@</td>
                    <td style="width:30px;"></td>
                    <td style="border-bottom:1px solid #043C83;width:285px;height:20px;">@*@Model.StreetName*@</td>
                    <td></td>
                </tr>
                <tr>
                    <td colspan="2">Lot</td>
                    <td colspan="4">Suburb </td>
                    <td>Existing meter number</td>
                </tr>
                <tr>
                    <td colspan="2" style="border-bottom:1px solid #043C83;width:200px;height:20px;"></td>
                    <td colspan="4" style="border-bottom:1px solid #043C83;width:200px;height:20px;">@*@Model.Suburb , @Model.state - @Model.PostCode*@ </td>
                    <td style="border-bottom:1px solid #043C83;width:200px;height:20px;"><input type="text" @*value="@Model.EWR_Existing_no"*@ name="EWR_Existing_no" id="EWR_Existing_no" /></td>
                </tr>
            </table>
            <table class="blue fontsize14">
                <tr>
                    <td style="width:40%;">Has contact been made with Projects Group?</td>
                    <td align="center" style="width:13%;">Yes <input type="checkbox" checked="checked" disabled="disabled" /></td>
                    <td align="center" style="width:13%;">No<input type="checkbox" disabled="disabled" /></td>
                    <td>Project Number</td>
                    <td style="border-bottom:1px solid #043C83;width:180px;">@*@Model.ProjectNo*@</td>
                </tr>
                <tr>
                    <td style="width:43%;">Name of person at Distributors Projects Group to contact</td>
                    <td colspan="4" style="border-bottom:1px solid #043C83;width:180px;"></td>
                </tr>
            </table>
            <div class="heading" style="text-align:left;">Description of All Works (including coincidental works taking place)<span>(PLEASE PRINT)</span></div>
            <table class="border1 font14" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                    <td colspan="2" style="border-bottom:1px dashed #043C83;width:100%;height:10px;">Installation of Bi directional solar meter</td>
                </tr>
                <tr>
                    <td colspan="2" style="border-bottom:1px dashed #043C83;width:100%;height:15px;"></td>
                </tr>
                <tr>
                    <td style="border-bottom:1px dashed #043C83;width:68%;height:15px;"></td>
                    <td style="border-bottom:1px dashed #043C83;height:15px;border-left:1px solid #000;">CES No:<input type="text" @*value="@Model.EWR_CEC_no"*@ name="EWR_CEC_no" id="EWR_CEC_no" /> </td>
                </tr>
                <tr><td style="height:5px;"></td></tr>
            </table>
            <div class="heading" style="text-align:left;">Work requirements</div>
            <div class="font14">
                <table class="blue">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border tabs">
                                <tr><td colspan="3" style="font-weight:bold;font-size:18px;padding-bottom:5px">Premise type</td></tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:5px;">Commercial / Industrial</td>
                                    <td style="width:40px;"></td>
                                    <td align="center" style="width:40px" ;=;>&nbsp;<input type="checkbox" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:5px;">Residential </td>
                                    <td style="width:40px;"></td>
                                    <td align="center" style="width:40px" ;=;>&nbsp;<input type="checkbox" checked="checked" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:5px;">Unmelered Supply</td>
                                    <td style="width:40px;"></td>
                                    <td align="center" style="width:40px" ;=;>&nbsp;<input type="checkbox" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:5px;">Builders Supply Pole(BSP)</td>
                                    <td style="width:40px;"></td>
                                    <td align="center" style="width:40px" ;=;>&nbsp;<input type="checkbox" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:15px;">Builders Supply in Permanent Position</td>
                                    <td style="width:40px;"></td>
                                    <td align="center" style="width:40px" ;=;>&nbsp;<input type="checkbox" disabled="disabled" /></td>
                                </tr>
                                <tr><td colspan="2" style="border-top:1px dashed #043C83;">&nbsp;</td></tr>
                                <tr>
                                    <td style="width:150px;">Private Cables on Private Land</td>
                                    <td align="center">Y<input type="checkbox" disabled="disabled" /></td>
                                    <td align="center" style="width:40px" ;=;>N <input type="checkbox" checked="checked" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style="width:150px;">Is EPV required?</td>
                                    <td align="center">Y<input type="checkbox" disabled="disabled" /></td>
                                    <td align="center" style="width:40px">N <input type="checkbox" checked="checked" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style="width:150px;">Traffic Control req?</td>
                                    <td align="center">Y<input type="checkbox" disabled="disabled" /></td>
                                    <td align="center" style="width:40px">N <input type="checkbox" checked="checked" disabled="disabled" /></td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top;">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border tabs" style="height:250px;">
                                <tr><td colspan="3" style="font-weight:bold;font-size:18px;padding-bottom:5px">Connection type</td></tr>
                                <tr>
                                    <td style="padding-bottom:5px; height:25px;">New</td>
                                    <td style="width:40px;"></td>
                                    <td align="center">
                                        @*@if (Model.PvType == 1)
                                        {
                                            <input type="checkbox" checked="checked" disabled="disabled" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" disabled="disabled" />
                                        }*@
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:5px;  height:25px;">Alteration</td>
                                    <td style="width:40px;"></td>
                                    <td align="center">
                                        @*@if (Model.PvType != 1)
                                        {
                                            <input type="checkbox" checked="checked" disabled="disabled" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" disabled="disabled" />
                                        }*@
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:5px;  height:25px;">Private Overhead</td>
                                    <td style="width:40px;"></td>
                                    <td align="center"><input type="checkbox" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style="padding-bottom:5px;  height:25px;">Embedded Network</td>
                                    <td style="width:40px;"></td>
                                    <td align="center"><input type="checkbox" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style=" height:25px;">Solar Panel</td>
                                    <td align="center"><input type="text" readonly="readonly" style="width:40px;" @*value="@Model.SystemCapacity"*@ /></td>
                                    <td align="center" style="padding-left:3px;"> kW</td>
                                </tr>
                                <tr>
                                    <td style=" height:25px;">Inverter</td>
                                    <td align="center"><input type="text" style="width:40px;" readonly="readonly" @*value="@Model.InverterOutput"*@ /></td>
                                    <td align="center" style="padding-left:3px;"> kW</td>
                                </tr>
                                <tr>
                                    <td style="width:170px;">Alternative supply</td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border tabs" style="height:250px;">
                                <tr><td colspan="3" style="font-weight:bold;font-size:18px;padding-bottom:5px">Supply Required</td></tr>
                                <tr>
                                    <td style="width:70px;">Overhead</td>
                                    <td align="center">
                                        &nbsp;
                                        @*@if (Model.EWR_Overhead == "on")
                                        {
                                            <input type="checkbox" checked="checked" name="EWR_Overhead" id="EWR_Overhead" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_Overhead" id="EWR_Overhead" />
                                        }*@
                                    </td>
                                    <td style="width:160px;">Length of Overhead Cable</td>
                                    <td align="center" style="width:81px;"><input type="text" @*value="@Model.EWR_OverheadLength"*@ name="EWR_OverheadLength" id="EWR_OverheadLength" style="width:50px;" /></td>
                                    <td align="center" style="width:110px">Approximate meters</td>
                                </tr>
                                <tr>
                                    <td style="width:70px;">Underground</td>
                                    <td align="center">
                                        &nbsp;
                                        @*@if (Model.EWR_Underground == "on")
                                        {
                                            <input type="checkbox" name="EWR_Underground" id="EWR_Underground" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_Underground" id="EWR_Underground" />
                                        }*@
                                    </td>
                                    <td colspan="3"></td>
                                </tr>
                                <tr>
                                    <td style="width:70px;">Pole to pit</td>
                                    <td align="center">
                                        &nbsp;
                                        @*@if (Model.EWR_Plot_to_pit == "on")
                                        {
                                            <input type="checkbox" name="EWR_Plot_to_pit" id="EWR_Plot_to_pit" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_Plot_to_pit" id="EWR_Plot_to_pit" />
                                        }*@
                                    </td>
                                    <td style="width:160px;">Has pit been installed?</td>
                                    <td align="center" style="width:81px;">
                                        Y&nbsp;
                                        @*@if (Model.EWR_pit_yes == "on")
                                        {
                                            <input type="checkbox" name="EWR_pit_yes" id="EWR_pit_yes" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_pit_yes" id="EWR_pit_yes" />
                                        }*@
                                        N
                                        @*@if (Model.EWR_pit_no == "on")
                                        {
                                            <input type="checkbox" name="EWR_pit_no" id="EWR_pit_no" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_pit_no" id="EWR_pit_no" />
                                        }*@
                                    </td>
                                    <td align="center" style="width:110px">O/H to U/G Conversion</td>
                                </tr>
                                <tr>
                                    <td style="width:70px;">URD</td>
                                    <td align="center">
                                        &nbsp;
                                        @*@if (Model.EWR_urd == "on")
                                        {
                                            <input type="checkbox" name="EWR_urd" id="EWR_urd" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_urd" id="EWR_urd" />
                                        }*@
                                    </td>
                                    <td colspan="3">if pit has not been installed please contact the Distribution Company</td>
                                </tr>
                                <tr>
                                    <td style="width:70px;">Substation</td>
                                    <td align="center">
                                        &nbsp;
                                        @*@if (Model.EWR_Substation == "on")
                                        {
                                            <input type="checkbox" name="EWR_Substation" id="EWR_Substation" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_Substation" id="EWR_Substation" />
                                        }*@
                                    </td>
                                    <td>NEW MAINS:NO_ PHASE</td>
                                    <td>
                                        1 @*@if (Model.EWR_No1 == "on")
                                        {
                                            <input type="checkbox" name="EWR_No1" id="EWR_No1" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_No1" id="EWR_No1" />
                                        }*@2 @*@if (Model.EWR_No2 == "on")
                                        {
                                            <input type="checkbox" name="EWR_No2" id="EWR_No2" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_No2" id="EWR_No2" />
                                        }*@3 @*@if (Model.EWR_No3 == "on")
                                        {
                                            <input type="checkbox" name="EWR_No3" id="EWR_No3" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_No3" id="EWR_No3" />
                                        }*@
                                    </td>
                                    <td>SIZE <input type="text" @*value="@Model.EWR_size"*@ name="EWR_size" id="EWR_size" style="width:50px;" /> mm</td>
                                </tr>
                                <tr>
                                    <td colspan="2">MAX DEMAND Installation</td>
                                    <td>
                                        Existing
                                        @*@if (Model.EWR_existing == "on")
                                        {
                                            <input type="checkbox" name="EWR_existing" id="EWR_existing" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_existing" id="EWR_existing" />
                                        }*@
                                        &nbsp;&nbsp;New
                                        @*@if (Model.EWR_New == "on")
                                        {
                                            <input type="checkbox" name="EWR_New" id="EWR_New" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_New" id="EWR_New" />
                                        }*@
                                    </td>
                                    <td>Amps per phase</td>
                                    <td><input type="text" @*value="@Model.EWR_ampsphase"*@ name="EWR_ampsphase" id="EWR_ampsphase" style="width:50px;" /></td>
                                </tr>
                                <tr>
                                    <td colspan="2">DEMAND of TOTAL SITE</td>
                                    <td colspan="3"><input type="text" @*value="@Model.EWR_demand"*@ name="EWR_demand" id="EWR_demand" style="width:50px;" /> Amps per phase</td>
                                </tr>
                                <tr>
                                    <td colspan="2">Is SCCD Installed</td>
                                    <td>
                                        Y
                                        @*@if (Model.EWR_SCCD_y == "on")
                                        {
                                            <input type="checkbox" name="EWR_SCCD_y" id="EWR_SCCD_y" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_SCCD_y" id="EWR_SCCD_y" />
                                        }*@
                                        N &nbsp;
                                        @*@if (Model.EWR_SCCD_n == "on")
                                        {
                                            <input type="checkbox" name="EWR_SCCD_n" id="EWR_SCCD_n" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_SCCD_n" id="EWR_SCCD_n" />
                                        }*@
                                        <input type="text" @*value="@Model.EWR_amps"*@ name="EWR_amps" id="EWR_amps" style="width:50px;float:right;" />
                                    </td>
                                    <td colspan="2">&nbsp;Amps</td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table class="blue">
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border">
                                <tr><td colspan="3" style="font-weight:bold;font-size:18px;padding-bottom:5px">Number of Premises</td></tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:5px;">Single premise</td>
                                    <td style="float:right;">
                                        &nbsp;
                                        @*@if (Model.housetype == 1)
                                        {
                                            <input type="checkbox" checked="checked" disabled="disabled" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" disabled="disabled" />
                                        }*@
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:5px;">Multiple premises</td>
                                    <td style="float:right;">
                                        &nbsp;
                                        @*@if (Model.housetype != 1)
                                        {
                                            <input type="checkbox" checked="checked" disabled="disabled" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" disabled="disabled" />
                                        }*@
                                    </td>
                                </tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:5px;">Number of units</td>
                                    <td align="center">&nbsp;<input type="text" name="" readonly="readonly" style="width:60px;" /></td>
                                </tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border tabs1" style="height:110px;">
                                <tr><td colspan="5" style="font-weight:bold;font-size:18px;padding-bottom:5px">Metering requirements</td></tr>
                                <tr>
                                    <td style="width:80px;">Meter Phases:</td>
                                    <td style="width:60px;"></td>
                                    <td style="width:45px;">
                                        1
                                        @*@if (Model.EWR_meterphase1 == "on")
                                        {
                                            <input type="checkbox" name="EWR_meterphase1" id="EWR_meterphase1" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_meterphase1" id="EWR_meterphase1" />
                                        }*@
                                    </td>
                                    <td style="width:45px;">
                                        2
                                        @*@if (Model.EWR_meterphase2 == "on")
                                        {
                                            <input type="checkbox" name="EWR_meterphase2" id="EWR_meterphase2" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_meterphase2" id="EWR_meterphase2" />
                                        }*@
                                    </td>
                                    <td style="width:45px;">
                                        3
                                        @*@if (Model.EWR_meterphase3 == "on")
                                        {
                                            <input type="checkbox" name="EWR_meterphase3" id="EWR_meterphase3" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_meterphase3" id="EWR_meterphase3" />
                                        }*@
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Hot Water
                                        @*@if (Model.EWR_hot == "on")
                                        {
                                            <input type="checkbox" name="EWR_hot" id="EWR_hot" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_hot" id="EWR_hot" />
                                        }*@
                                    </td>
                                    <td align="center" colspan="2">
                                        Floor Heating
                                        @*@if (Model.EWR_floor == "on")
                                        {
                                            <input type="checkbox" name="EWR_floor" id="EWR_floor" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_floor" id="EWR_floor" />
                                        }*@
                                    </td>
                                    <td colspan="2">
                                        CT metering
                                        @*@if (Model.EWR_ct == "on")
                                        {
                                            <input type="checkbox" name="EWR_ct" id="EWR_ct" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_ct" id="EWR_ct" />
                                        }*@
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td rowspan="2" valign="top">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border tabs2" style="height:210px;">
                                <tr><td colspan="3" style="font-weight:bold;font-size:18px;padding-bottom:5px">Truck appointment</td></tr>
                                <tr>
                                    <td style="width:305px;">Do you require a truck appointment:</td>
                                    <td style="width:60px;">Y <input type="checkbox" disabled="disabled" /></td>
                                    <td style="width:60px;"> N <input type="checkbox" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style="width:305px;" colspan="3">Appointments are not necessarily supplied for all requests, unless you are required to complete work in conjunction with he Distribution Company</td>
                                </tr>
                                <tr>
                                    <td style="width:305px;" colspan="3">Note: CES needs to be supplied at time of appointment</td>
                                </tr>
                                <tr>
                                    <td style="width:305px;" colspan="3">LEI Name <input type="text" @*value="@Model.EWR_LEI"*@ name="EWR_LEI" id="EWR_LEI" style="width:80%;" /></td>
                                </tr>
                                <tr>
                                    <td style="width:305px;" colspan="3">Acceptance of charges for the truck appl: <input type="text" @*value="@Model.EWR_acceptance"*@ name="EWR_acceptance" id="EWR_acceptance" style="width:175px;" /></td>
                                </tr>
                                <tr>
                                    <td>
                                        Retailer &nbsp;&nbsp;&nbsp;
                                        @*@if (Model.EWR_retailer == "on")
                                        {
                                            <input type="checkbox" name="EWR_retailer" id="EWR_retailer" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_retailer" id="EWR_retailer" />
                                        }*@
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Field Works Order&nbsp;&nbsp;&nbsp;
                                        @*@if (Model.EWR_field_order == "on")
                                        {
                                            <input type="checkbox" name="EWR_field_order" id="EWR_field_order" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_field_order" id="EWR_field_order" />
                                        }*@
                                    </td>
                                    <td>
                                        REC
                                        @*@if (Model.EWR_REC == "on")
                                        {
                                            <input type="checkbox" name="EWR_REC" id="EWR_REC" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="EWR_REC" id="EWR_REC" />
                                        }*@
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border">
                                <tr><td colspan="3" style="font-weight:bold;font-size:18px;padding-bottom:5px">Termination:</td></tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:5px;">Group metering <input type="checkbox" disabled="disabled" /></td>
                                    <td align="center">Pilar<input type="checkbox" disabled="disabled" /></td>
                                </tr>
                                <tr>
                                    <td style="width:150px;padding-bottom:5px;">Substation<input type="checkbox" disabled="disabled" />FOLCB<input type="checkbox" disabled="disabled" /></td>
                                    <td align="center">Pit &nbsp;<input type="checkbox" checked="checked" disabled="disabled" /></td>
                                </tr>
                                <tr><td style="height:7px;"></td></tr>
                            </table>
                        </td>
                        <td valign="top">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border" style="height:100px;">
                                <tr><td colspan="3" style="font-weight:bold;font-size:18px;padding-bottom:5px">Embedded Network </td></tr>
                                <tr>
                                    <td tyle="width:150px;padding-bottom:5px;">Parent &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" /></td>
                                    <td align="left">Child &nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" disabled="disabled" /></td>
                                </tr>
                                <tr><td colspan="2">Additional Notes</td></tr>

                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <table width="100%" border="0" cellpadding="0" cellspacing="0" class="border">
                                <tr>
                                    <td style="font-weight:bold;font-size:18px;padding-bottom:5px">Access:</td>
                                    <td>
                                        To meter position & switchboard
                                        @*@if (Model.EWR_position == "on")
                                        {
                                            <input type="checkbox" id="EWR_position" checked="checked" name="EWR_position" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="EWR_position" name="EWR_position" />
                                        }*@

                                    </td>
                                    <td>
                                        VPI Lock
                                        @*@if (Model.EWR_vip == "on")
                                        {
                                            <input type="checkbox" id="EWR_vip" checked="checked" name="EWR_vip" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" id="EWR_vip" name="EWR_vip" />
                                        }*@

                                    </td>
                                    <td align="right">Access Notes: &nbsp;</td>
                                    <td style="border-bottom:1px dashed #043C83;width:35%;height:20px;"><input type="text" id="EWR_accessnotes" name="EWR_accessnotes" @*value="@Model.EWR_accessnotes"*@ /></td>
                                </tr>
                                <tr><td colspan="5" style="border-bottom:1px dashed #043C83;height:30px;"></td></tr>
                            </table>
                        </td>
                    </tr>
                </table>
                @{
                    //var date = DateTime.Today;
                    //var CustomerSignPhoto = "";
                    //if (Model.SignatureImageOwner != null)
                    //{
                    //    CustomerSignPhoto = "http://cdn.quickforms.com.au/PVSignature/" + @Model.SignatureImageOwner;
                    //}

                    // var CustomerSignPhoto = wwwroot.Class.AdminSiteConfiguration.GetURL() + "userfiles/PVSignature/" + Model.SignatureImageOwner;
                }
                <table class="border1" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                        <td style="width:20%">THE WORK WILL BE SAFE TO CONNECT ON: DATE:</td>
                        <td style="width:20%" align="center"><input type="text" style="width:50px" readonly="readonly" @*value="@Model.ExpectedInstallDate.Value.ToString("dd")"*@ /> / <input type="text" style="width:50px" readonly="readonly" @*value="@Model.ExpectedInstallDate.Value.ToString("MM")"*@ /> / <input type="text" style="width:50px" readonly="readonly" @*value="@Model.ExpectedInstallDate.Value.ToString("yyyy")"*@ /> </td>
                        <td style="width:20%">OR at Completion of Truck Appointment &nbsp;&nbsp;<input type="checkbox" disabled="disabled" /> </td>
                    </tr>
                    <tr>
                        <td colspan="2">REGISTERED ELECTRICAL CONTRACTOR &nbsp;&nbsp;<input type="text" style="width:60%;" readonly="readonly" @*value="@Model.CompanyName"*@ /></td>
                        <td>REC No: &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;<input readonly="readonly" type="text" style="width:65%;" @*value="@Model.InstallerCode"*@ /></td>
                    </tr>
                    <tr>
                        <td colspan="2">REGISTERED ADDRESS &nbsp;&nbsp;<input type="text" style="width:76%;" readonly="readonly" @*value="@Model.streetAddress, @Model.Suburb, @Model.state-@Model.PostCode"*@ /></td>
                        <td>PHONE No: &nbsp;&nbsp;<input type="text" style="width:65%;" readonly="readonly" @*value="@Model.Phone"*@ /></td>
                    </tr>
                    <tr>
                        <td colspan="2">RESPONSIBLE PERSON (Please Print)&nbsp;&nbsp;<input type="text" readonly="readonly" style="width:60%;" @*value="@Model.FullName"*@ /></td>
                        <td>MOBILE No: &nbsp;&nbsp;<input readonly="readonly" type="text" style="width:65%;" /></td>
                    </tr>
                    <tr>
                        <td colspan="2" rowspan="2">
                            SIGNATURE :
                            @*@if (Model.SignatureImageOwner != null)
                            {
                                <img src="@CustomerSignPhoto" alt="Customer Signature" style="height:90px;width:350px;" />
                            }
                            else
                            {
                                <img src="" alt="NO Image Found" style="height:90px;width:350px;" />
                            }*@
                        </td>
                        <td colspan="2">EMAIL &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" style="width:210px;" readonly="readonly" @*value="@Model.InstallerEmailId"*@ /></td>
                    </tr>
                    <tr>
                        @*<td colspan="2"><div style="border-bottom:1px dashed #000;height:20px;width:50%;"><img src="~/userfiles/PVSignature/1007Owner.jpg" style="height:20px;border:solid 0.1pt;" /> </div></td>*@
                        <td style="width:20%" align="center">DATE <input type="text" style="width:50px" readonly="readonly" @*value="@date.ToString("dd")"*@ /> / <input type="text" style="width:50px" readonly="readonly" @*value="@date.ToString("MM")"*@ /> / <input type="text" style="width:50px" readonly="readonly" @*value="@date.ToString("yyyy")"*@ /> </td>
                    </tr>

                    <tr>
                        <td colspan="3" style="padding:5px;padding-bottom:5px;font-size:13px;">The Distribution Companies list below comply with he Australian Privacy Principles applied under the Privacy Act 1988 and any other applicable laws hal protect your privacy. Please refer lo he relevant Distribution Companies websile For more information on their Privacy Policies.</td>
                    </tr>
                    <tr>
                        <td align="center" colspan="3" style="font-size:13px;padding-bottom:10px;">AusNel Seraces - 1300360795 Cilipower Ply- 1311) 132 4 Jemena - 1300 131 871 Powercor Australia Lld - 1300360 410 United Energy - 1300 131 689</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
    <div class="modal-footer">
    </div>
</form>
</div>