﻿@using TechnoForms.Localization
<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
    }

    h1, h2, h3, h4, h5, p {
        margin: 0px;
        padding: 0px;
    }

    p {
        font-size: 12px;
        line-height:
    }

    .fnt16 {
        font-size: 15px;
        line-height: 20px;
    }

    table.brdr {
        border: #000 solid 1px;
    }

        table.brdr tr td {
            border-bottom: 1px solid #000;
            border-right: 1px solid #000;
            padding: 5px;
        }

        table.brdr tr:last-child td {
            border-bottom: none;
        }

    a
    table.brdr tr td:last-child {
        border-right: none;
    }

    table.brdr tr td td {
        border: none;
        padding: 0px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 17px;
        color: #984806;
    }

    .fntsize1 {
        font-size: 13px;
    }

    .kw_table .brdbtm {
        border-bottom: #000 solid 1px !important;
        text-align: center;
    }

        .kw_table .brdbtm span {
            display: block;
            min-width: 20px;
        }

    table.brdr tr td .kw_table tr td {
        position: relative;
        vertical-align: top;
    }

        table.brdr tr td .kw_table tr td i {
            font-size: 20px;
            vertical-align: bottom;
            position: absolute;
            right: -5px;
            bottom: -4px;
        }

    .paddleft_spcial {
        padding-left: 5px !important;
    }

    .tital2 {
        padding-bottom: 3px;
    }

    .brdbtm_table tr td {
        border-bottom: #000 solid 1px;
        height: 30px;
    }

    .brdbtm_table input[type="text"] {
        height: 30px;
        border: none;
        width: 100%;
    }

    .brdbtmtd {
        border-bottom: #000 solid 2px;
    }

    .table_pad_top {
        margin-bottom: 5px;
    }

        .table_pad_top tr td {
            padding-top: 8px;
        }

    .brd1 {
        border-bottom: #000 solid 2px;
        display: inline-block;
    }

    .marginnone {
        margin: 0px;
        padding: 0px;
    }

    .li1 {
        margin: 0px;
        padding: 0px 0px 0px 15px;
    }

        .li1 li {
            padding-bottom: 5px;
        }

    .table_top_padd tr td {
        padding-top: 10px;
    }

    .table_brd {
        border: #000 solid 1px;
        border-bottom: 0px;
        border-right: 0px;
    }

        .table_brd tr td {
            padding: 3px 5px;
            border-bottom: #000 solid 1px;
            border-right: #000 solid 1px;
        }

            .table_brd tr td table, .table_brd tr td table td {
                padding: 0px;
                border: none;
            }

    .tital3 {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .box1 {
        border: #000 solid 1px;
        padding: 10px;
        margin: 4px 0px 0px 0px;
    }

    .table_padd tr td {
        padding-bottom: 5px;
    }
</style>
<style>
    .app-modal-window .modal-dialog {
        width: 95%;
    }

    .app-modal-window .container {
        width: 95% !important;
    }

    .printbuttonbox {
        float: right;
    }

        .printbuttonbox a {
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 0px 4px;
            padding: 5px 10px;
        }

    .form-actions {
        margin: 0;
        background-color: transparent;
        text-align: center;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745
    }

    .text-white {
        color: #fff !important
    }
    .modal-header h4{color:#000!important;}
        .modal .modal-header h4 span.modalbuttonarea{display:flex; flex-direction: row; justify-content: flex-end!important;}
        .modalttl{height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.25rem !important;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; width:50%;}
</style>
<div>
    <div>
        <form name="exampleForm" role="form" novalidate class="form-validation">
            <div class="modal-header">
                <h4 class="modal-title">
                  <span class="modalttl">  United Energy Inverter-Based Micro Embedded Generator Connection Form</span>
                  <span class="modalbuttonarea">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-danger printbuttonbox" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                    <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue printbuttonbox" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </span>
                </h4>
            </div>
            <div class="modal-body">

                <div style="width:1000px; margin:0px auto;border:solid 1px;">
                    <input type="hidden" @*value="@Model.GuID"*@ name="PvId" id="PvId" />
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td><h1>United Energy Inverter-Based Micro Embedded Generator Connection Form</h1></td>
                            <td width="150" align="center">@*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/united2.png")" alt="" width="100" />*@</td>
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                        <tr>
                            <td colspan="2">
                                <p class="fnt16">
                                    <strong>
                                        This application form is applicable for AS4777 compliant INVERTER generating & storage systems up to 10kW/phase/premises.
                                        Typically includes residential Solar and/or Battery Storage. For all other systems please consult <a href="http://www.unitedenergy.com.au" target="_blank">www.unitedenergy.com.au</a>.
                                    </strong>
                                </p>
                            </td>
                        </tr>

                    </table>
                    <h2 style="margin-top:35px; margin-bottom:5px;">SECTION 1: INSTALLATION DETAILS (<i>to be completed and signed by the installer</i>)</h2>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="brdr fntsize1">
                        <tr>
                            <td width="50%">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="70%">
                                            <strong>
                                                Is the embedded generator new, an alteration or
                                                an abolishment?
                                            </strong> (tick one box)
                                        </td>
                                        <td width="30"></td>
                                        <td>
                                            <table border="0" width="100%" cellpadding="0" cellspacing="0">

                                                <tr>
                                                    <td width="25">
                                                        @*@if (Model.PvType == 1)
                                                        {
                                                            <input type="checkbox" disabled="disabled" checked="checked" id="chk1" name="chk1">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" disabled="disabled" id="chk1" name="chk1">
                                                        }*@
                                                    </td>
                                                    <td><b>New</b></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @*@if (Model.PvType == 2)
                                                        {
                                                            <input type="checkbox" disabled="disabled" checked="checked" id="chk2" name="chk2">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" disabled="disabled" id="chk2" name="chk2">
                                                        }*@
                                                    <td><b>Alteration</b></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @*@if (Model.PvType == 3)
                                                        {
                                                            <input type="checkbox" disabled="disabled" id="chk3" name="chk3" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" disabled="disabled" id="chk3" name="chk3">
                                                        }*@
                                                    </td>
                                                    <td>
                                                        <b>Abolishment</b>

                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                            <td width="50%">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="60%">
                                            <strong>
                                                Are separate inverter(s) installed for the
                                                generator and energy storage system?
                                            </strong><Br>(tick one box)
                                        </td>
                                        <td width="25"></td>
                                        <td>
                                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td width="30">
                                                        @*@if (Model.chk4 == "on")
                                                        {
                                                            <input type="checkbox" id="chk4" name="chk4" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" id="chk4" name="chk4">
                                                        }*@
                                                    </td>
                                                    <td><b>Yes / Separate</b></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @*@if (Model.chk5 == "on")
                                                        {
                                                            <input type="checkbox" id="chk5" name="chk5" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" id="chk5" name="chk5">
                                                        }*@
                                                    </td>
                                                    <td><b>No / Combined</b></td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        @*@if (Model.chk6 == "on")
                                                        {
                                                            <input type="checkbox" id="chk6" name="chk6" checked="checked">
                                                        }
                                                        else
                                                        {
                                                            <input type="checkbox" id="chk6" name="chk6">
                                                        }*@
                                                    </td>
                                                    <td><b>No Storage System</b></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                    <br>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="brdr fntsize1">
                        <tr>
                            <td>
                                <b>Installed Capacity</b><br>
                                (Including previously installed capacity if applicable)
                            </td>
                            <td align="center" width="140"><b>Solar PV</b></td>
                            <td align="center" width="140"><b>Wind</b></td>
                            <td align="center" width="190"><b>Other Type:<span style="width:100px; border-bottom:#ddd solid 1px; display: inline-block; margin-left:3px;"></span></b></td>
                            <td width="180" align="center">
                                <b>Energy Storage System</b><Br>
                                (ie batteries at 3hr<br>
                                discharge rate)
                            </td>
                        </tr>
                        <tr>
                            <td><b>New capacity installed</b></td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        @*<td class="brdbtm"><span></span></td>
                                <td class="brdbtm"><span></span><i>.</i></td>*@
                                        <td class="brdbtm paddleft_spcial"><span>@*@Model.SystemCapacity*@</span></td>
                                        <td><b> &nbsp; kW</b></td>

                                        @*<td>@Model.SystemCapacity<b> kW</b></td>*@
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        @*<td class="brdbtm"><span></span></td>
                                <td class="brdbtm"><span></span><i>.</i></td>*@
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>&nbsp;kW</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Previously installed capacity retained</b></td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Previously installed capacity removed</b></td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Total installed capacity after all works</b></td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        @*<td class="brdbtm"><span></span></td>
                                <td class="brdbtm"><span></span><i>.</i></td>*@
                                        <td class="brdbtm paddleft_spcial"><span>@*@Model.SystemCapacity*@</span></td>
                                        <td><b>&nbsp; kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        @*<td class="brdbtm"><span></span></td>
                                <td class="brdbtm"><span></span><i>.</i></td>*@
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td><b>&nbsp; kW</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="brdr fntsize1">
                        <tr>
                            <td rowspan="3" style="border-bottom:0px;">
                                <strong>
                                    Multi-phase systems only:<Br>
                                    Enter the installed capacity per phase
                                </strong>
                            </td>
                            <td width="200"><b>Phase</b></td>
                            <td width="150" align="center"><b>Red</b></td>
                            <td width="150" align="center"><b>White</b></td>
                            <td width="150" align="center"><b>Blue</b></td>
                        </tr>
                        <tr>
                            <td><b>Power rating</b></td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW1"*@ id="United_KW1" name="United_KW1" style="width:17px;" /></td>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW2"*@ id="United_KW2" name="United_KW2" style="width:17px;" /><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span><input type="text" @*value="@Model.United_KW3"*@ id="United_KW3" name="United_KW3" style="width:17px;" /></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW4"*@ id="United_KW4" name="United_KW4" style="width:17px;" /></td>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW5"*@ id="United_KW5" name="United_KW5" style="width:17px;" /><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span><input type="text" @*value="@Model.United_KW6"*@ id="United_KW6" name="United_KW6" style="width:17px;" /></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW7"*@ id="United_KW7" name="United_KW7" style="width:17px;" /></td>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW8"*@ id="United_KW8" name="United_KW8" style="width:17px;" /><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><input type="text" @*value="@Model.United_KW9"*@ id="United_KW9" name="United_KW9" style="width:17px;" /><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Energy storage capacity</b></td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW10"*@ id="United_KW10" name="United_KW10" style="width:17px;" /></td>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW11"*@ id="United_KW11" name="United_KW11" style="width:17px;" /><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span><input type="text" @*value="@Model.United_KW12"*@ id="United_KW12" name="United_KW12" style="width:17px;" /></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW13"*@ id="United_KW13" name="United_KW13" style="width:17px;" /></td>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW14"*@ id="United_KW14" name="United_KW14" style="width:17px;" /><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span><input type="text" @*value="@Model.United_KW15"*@ id="United_KW15" name="United_KW15" style="width:17px;" /></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW16"*@ id="United_KW16" name="United_KW16" style="width:17px;" /></td>
                                        <td class="brdbtm"><span></span><input type="text" @*value="@Model.United_KW17"*@ id="United_KW17" name="United_KW17" style="width:17px;" /><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span><input type="text" @*value="@Model.United_KW18"*@ id="United_KW18" name="United_KW18" style="width:17px;" /></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="brdr fntsize1">
                        <tr>
                            <td><b>Inverter / Energy Storage Information:</b></td>
                            <td align="center" width="160"><b>Inverter Model 1</b></td>
                            <td align="center" width="160"><b>Inverter Model 2</b></td>
                            <td align="center" width="160"><b>Inverter Model 3</b></td>
                            <td width="170" align="center">
                                <b>Energy Storage System</b><Br>
                                (ie Batteries)
                            </td>
                        </tr>
                        <tr>
                            <td><b>Manufacturer</b></td>
                            <td valign="top">@*@Model.InverterBrandName*@</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><b>Model Name</b></td>
                            <td valign="top">@*@Model.InverterModelName*@</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><b>Rating of Each Inverter / Storage System</b></td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        @*<td class="brdbtm"><span></span></td>
                                <td class="brdbtm"><span></span><i>.</i></td>
                                <td class="brdbtm paddleft_spcial"><span></span></td>
                                <td class="brdbtm"><span></span></td>*@

                                        <td class="brdbtm paddleft_spcial">@*@Model.SystemCapacity*@<b></b></td>
                                        <td><b>&nbsp; kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table class="kw_table" border="0" cellpadding="0" cellspacing="2">
                                    <tr>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span><i>.</i></td>
                                        <td class="brdbtm paddleft_spcial"><span></span></td>
                                        <td class="brdbtm"><span></span></td>
                                        <td class="brdbtm"><span></span></td>
                                        <td><b>kW</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Number of Inverters / Storage Systems</b></td>
                            <td valign="top">@*@Model.NoOfInverter*@</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><b>Is the Inverter AS4777 compliant (Yes/No)</b></td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                        </tr>
                        <tr>
                            <td><b>Status </b>(tick box)</td>
                            <td valign="top">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="25">
                                            @*@if (Model.chk7 == "on")
                                            {
                                                <input type="checkbox" id="chk7" name="chk7" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk7" name="chk7">
                                            }*@
                                        </td>
                                        <td><b>New</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*@if (Model.chk8 == "on")
                                            {
                                                <input type="checkbox" id="chk8" name="chk8" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk8" name="chk8">
                                            }*@
                                        </td>
                                        <td><b>Existing Retained</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*@if (Model.chk9 == "on")
                                            {
                                                <input type="checkbox" id="chk9" name="chk9" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk9" name="chk9">
                                            }*@
                                        </td>
                                        <td><b>Existing Removed</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="25">
                                            @*@if (Model.chk10 == "on")
                                            {
                                                <input type="checkbox" id="chk10" name="chk10" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk10" name="chk10">
                                            }*@
                                        </td>
                                        <td><b>New</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*@if (Model.chk11 == "on")
                                            {
                                                <input type="checkbox" id="chk11" name="chk11" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk11" name="chk11">
                                            }*@
                                        </td>
                                        <td><b>Existing Retained</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*@if (Model.chk12 == "on")
                                            {
                                                <input type="checkbox" id="chk12" name="chk12" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk12" name="chk12">
                                            }*@
                                        </td>
                                        <td><b>Existing Removed</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="25">
                                            @*@if (Model.chk13 == "on")
                                            {
                                                <input type="checkbox" id="chk13" name="chk13" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk13" name="chk13">
                                            }*@
                                        </td>
                                        <td><b>New</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*@if (Model.chk14 == "on")
                                            {
                                                <input type="checkbox" id="chk14" name="chk14" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk14" name="chk14">
                                            }*@
                                        </td>
                                        <td><b>Existing Retained</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*@if (Model.chk15 == "on")
                                            {
                                                <input type="checkbox" id="chk15" name="chk15" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk15" name="chk15">
                                            }*@
                                        </td>
                                        <td><b>Existing Removed</b></td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top">
                                <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="25">
                                            @*@if (Model.chk16 == "on")
                                            {
                                                <input type="checkbox" id="chk16" name="chk16" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk16" name="chk16">
                                            }*@
                                        </td>
                                        <td><b>New</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*@if (Model.chk17 == "on")
                                            {
                                                <input type="checkbox" id="chk17" name="chk17" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk17" name="chk17">
                                            }*@
                                        </td>
                                        <td><b>Existing Retained</b></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @*@if (Model.chk18 == "on")
                                            {
                                                <input type="checkbox" id="chk18" name="chk18" checked="checked">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chk18" name="chk18">
                                            }*@
                                        </td>
                                        <td><b>Existing Removed</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Certifying Authority Certificate Number</b><br>(Available from Clean Energy Council website)</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                            <td valign="top">&nbsp;</td>
                        </tr>
                    </table>
                    <br>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="brdr fntsize1">
                        <tr>
                            <td width="50%">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="70%">
                                            <strong>Operating Manual Provided to Customer </strong>(tick box)
                                        </td>
                                        <td width="30"></td>
                                        <td>
                                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td width="25"><input type="checkbox" checked="checked" disabled="disabled"></td>
                                                    <td><b>Yes</b></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                            <td width="50%">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr>
                                        <td width="70%">
                                            <strong>Instructed Customer in Operating of System</strong> (tick box)
                                        </td>
                                        <td width="25"></td>
                                        <td>
                                            <table border="0" width="100%" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td width="25"><input type="checkbox" checked="checked" disabled="disabled"></td>
                                                    <td><b>Yes</b></td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>

                            </td>
                        </tr>
                    </table>
                    @{
//var CustomerSignPhoto = "";
//if (Model.SignatureImageOwner != null)
//{
//    CustomerSignPhoto = "http://cdn.quickforms.com.au/PVSignature/" + @Model.SignatureImageOwner;
//}
//var InstallereSignPhoto = "";
//if (Model.SignatureImageInst != null)
//{
//    InstallereSignPhoto = "http://cdn.quickforms.com.au/PVSignature/" + @Model.SignatureImageInst;
//}
                    }
                    <div style="height:30px;"></div>
                    <div class="tital1 fntsize1"><b>Other information</b> (if required):</div>
                    @*<textarea style="margin-top:10px;" rows="5" cols="135"></textarea>*@
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="brdbtm_table">
                        <tr>
                            <td><input class="form-control solar required" style="border-bottom:solid 0.5px;" @*value="@Model.United_1"*@ id="United_1" name="United_1" type="text"></td>
                        </tr>
                        <tr>
                            <td><input class="form-control solar required" style="border-bottom:solid 0.5px;" @*value="@Model.United_2"*@ id="United_2" name="United_2" type="text"></td>
                        </tr>
                        <tr>
                            <td><input class="form-control solar required" style="border-bottom:solid 0.5px;" @*value="@Model.United_3"*@ id="United_3" name="United_3" type="text"></td>
                        </tr>
                    </table>
                    <div style="height:20px;"></div>
                    <div class="fntsize1 tital2"><b>By signing this form, you acknowledge and represent that the information provided is true and correct.</b></div>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fntsize1 table_pad_top">
                        <tr>
                            <td width="70"><b>Company:</b></td>
                            <td width="400" class="brdbtmtd">@*@Model.CompanyName*@</td>
                            <td width="10"></td>
                            <td width="70"><b>Address:</b></td>
                            <td class="brdbtmtd">@*@Model.streetAddress, @Model.Suburb @Model.state @Model.PostCode*@</td>
                        </tr>
                        <tr>
                            <td><b>Telephone:</b></td>
                            <td class="brdbtmtd">@*@Model.Phone*@</td>
                            <td></td>
                            <td><b>E-mail:</b></td>
                            <td class="brdbtmtd">@*@Model.EmailId*@</td>
                        </tr>
                        <tr>
                            <td><b>Name:</b></td>
                            <td class="brdbtmtd">@*@Model.FirstName @Model.LastName*@</td>
                            <td></td>
                            <td><b>Signature:</b></td>
                            <td>
                                <span class="brd1" style="width: 255px;">
                                    &nbsp;
                                    @*@if (Model.SignatureImageOwner != null)
                                    {
                                        <img src="@CustomerSignPhoto" alt="Customer Signature" style="height:60px;width:160px;" />
                                    }
                                    else
                                    {
                                        <img src="" alt="NO Image Found" style="height:60px;width:350px;" />
                                    }*@
                                </span><span style="display: inline-block; margin:0px 3px;"><b>Date:</b></span>
                                @*@if (Model.SignatureImageOwnerDate != null)
                                {
                                    <span class="brd1" style="width: 35px;">&nbsp;@Model.SignatureImageOwnerDate.Value.ToString("dd")</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 35px;">&nbsp;@Model.SignatureImageOwnerDate.Value.ToString("MM")</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 60px;">@Model.SignatureImageOwnerDate.Value.ToString("yyyy")</span>
                                }
                                else
                                {
                                    <span class="brd1" style="width: 35px;">&nbsp;</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 35px;">&nbsp;</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 60px;"></span>
                                }*@
                            </td>
                        </tr>
                    </table>
                    <div class="fntsize1" align="center" style="padding-top:3px;">This form continues over the page.</div>
                    @*<div style="height:80px"></div>*@
                    <div style="page-break-before:always"></div>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tr>
                            <td valign="bottom"><h1>United Energy Inverter-Based Micro Embedded Generator Connection Form</h1></td>
                            <td width="150" align="center">@*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/united2.png")" alt="" width="100" />*@</td>
                        </tr>
                        <tr><td colspan="2">&nbsp;</td></tr>
                    </table>
                    <h2 style="margin-top:15px; margin-bottom:7px;">SECTION 2: INSTALLATION COMPLIANCE (<i>to be completed and signed by the Registered Electrical Contractor</i>)</h2>
                    <p class="fnt16 marginnone">
                        <b>
                            By signing this form, you acknowledge and represent that the information provided is true and correct and that the minimum
                            requirements set out for inverter-based embedded generator systems up to 10kW/phase/premises have been met. In particular:
                        </b>
                    </p><br>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fntsize1">
                        <tr>
                            <td width="48%" valign="top">
                                <ul class="li1">
                                    <li>
                                        the inverter-based embedded generator system complies
                                        with the Electricity Safety Act 1998 (Vic) and associated
                                        Safety Regulations, the Electricity; Distribution Code, the
                                        Victorian Service & Installation Rules, AS/NZS3000 (Wiring
                                        Rules) and AS4777 (Grid Connection of Energy Systems via
                                        Inverters), and any other relevant Acts, regulations,
                                        standards or guidelines;
                                    </li>
                                    <li>
                                        the inverter-based embedded generator system is
                                        connected to a dedicated circuit complete with lockable
                                        isolating switch at the switchboard;
                                    </li>
                                    <li>
                                        the main switchboard, isolating fuse/switch/circuit breaker
                                        are labelled correctly; alternative supply signage has been
                                        installed;
                                    </li>
                                </ul>
                            </td>
                            <td width="4%" valign="top"></td>
                            <td valign="top">
                                <ul class="li1">
                                    <li>
                                        commissioning tests as specified in the Service &
                                        Installation Rules have been completed and passed;
                                    </li>
                                    <li>
                                        a Prescribed Certificate of Electrical Safety (CES) has
                                        been obtained; and copies of the Electrical Works
                                        Request and the Prescribed CES will be sent to the
                                        generator system owner’s Retailer; and
                                    </li>
                                    <li>
                                        the generator system owner has been advised that the
                                        inverter-based embedded generator system should
                                        remain switched off until any metering upgrades are
                                        complete to avoid potential metering and billing issues.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table><br>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fntsize1 table_top_padd">
                        <tr>
                            <td width="48%"><b>REC Name:</b><span class="brd1" style="width: 400px;">@*@Model.FullName*@</span></td>
                            <td width="10"></td>
                            <td width="120"><b>REC Licence No.:</b></td>
                            <td width="140" class="brdbtmtd">@*@Model.ElecLicenceNo*@</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td width="48%">
                                <b>REC Signature:</b><span class="brd1" style="width: 375px;">
                                    @*@if (Model.SignatureImageInst != null)
                                    {
                                        <img src="@InstallereSignPhoto" alt="INstaller Signature" style="height:60px;width:160px;" />
                                    }
                                    else
                                    {
                                        <img src="" alt="NO Image Found" style="height:60px;width:350px;" />
                                    }*@
                                    &nbsp;
                                </span>
                            </td>
                            <td width="10"></td>
                            <td width="120"><b>Telephone:</b></td>
                            <td width="140" class="brdbtmtd">@*@Model.InstallerPhone*@</td>
                            <td>
                                <span style="display: inline-block; margin:0px 3px 0px 5px;"><b>Date:</b></span>
                                @*@if (Model.SignatureImageInstDate != null)
                                {
                                    <span class="brd1" style="width: 35px;">&nbsp;@Model.SignatureImageInstDate.Value.ToString("dd")</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 35px;">&nbsp;@Model.SignatureImageInstDate.Value.ToString("MM")</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 60px;">@Model.SignatureImageInstDate.Value.ToString("yyyy")</span>
                                }
                                else
                                {
                                    <span class="brd1" style="width: 35px;">&nbsp;</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 35px;">&nbsp;</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 60px;"></span>
                                }*@

                        </tr>
                    </table><Br><br>
                    <h2 style="margin-top:15px; margin-bottom:7px;">SECTION 3: SYSTEM OWNER DETAILS (<i>to be completed and signed by the generator owner</i>)</h2>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fntsize1 table_brd">
                        <tr>
                            <td width="180"><b>Supply Address</b></td>
                            <td>@*@Model.Inst_StreetAddress, @Model.Inst_Suburb @Model.Inst_State @Model.Inst_PostCode*@</td>
                        </tr>
                        <tr>
                            <td><b>Generator Owner Name</b></td>
                            <td>@*@Model.FirstName @Model.LastName*@</td>
                        </tr>
                        <tr>
                            <td><b>Customer NMI</b><Br>(Refer to your electricity bill)</td>
                            <td>@*@Model.NMI_No*@</td>
                        </tr>
                        <tr>
                            <td><b>E-mail Address</b></td>
                            <td>@*@Model.EmailId*@</td>
                        </tr>
                        <tr>
                            <td><b>Telephone Number</b></td>
                            <td>
                                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fntsize1">
                                    <tr>
                                        <td width="50%"><b>Business Hours:</b>@*@Model.Phone*@</td>
                                        <td><b>After Hours:</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Mailing Address</b></td>
                            <td>@*@Model.streetAddress, @Model.Suburb ,@Model.state - @Model.PostCode*@</td>
                        </tr>
                    </table><br>
                    <div class="tital3">CUSTOMER ACKNOWLEDGEMENT</div>
                    <div class="fntsize1"><b>Acceptance of Model Standing Offer</b></div>
                    <div class="box1 fntsize1">
                        <div style="padding-bottom:3px;">
                            <b>
                                By signing below, you acknowledge and represent that you have read, understand and agree to comply with the <i>
                                    Basic Micro<br>
                                    Embedded Generator Connection Model Standing Offer, and that you:
                                </i>
                            </b>
                        </div>
                        <ul class="li1">
                            <li>
                                are the owner or have a contract with the owner of the inverter-based embedded generator system listed under the Supply Address in
                                Section 1 above;
                            </li>
                            <li>
                                have received an inverter-based embedded generator system operating manual from, and been instructed on the operation of the
                                inverter-based embedded generator system by, the Installation Company detailed in Section 1;
                            </li>
                            <li>
                                accept that approval will only be granted for the inverter-based embedded generator system detailed in this form, and that you must
                                obtain further prior approval from United Energy to alter your inverter-based embedded generator system in any way;
                            </li>
                            <li>do not require a written offer.</li>
                        </ul>

                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fntsize1 table_top_padd">
                            <tr>
                                <td width="110"><b>Customer Name:</b></td>
                                <td width="170" class="brdbtmtd">@*@Model.FirstName @Model.LastName*@</td>
                                <td width="10"></td>
                                <td width="140"><b>Customer Signature:</b></td>
                                <td width="160" class="brdbtmtd">
                                    @*@if (Model.SignatureImageOwner != null)
                                    {
                                        <img src="@CustomerSignPhoto" alt="Customer Signature" style="height:60px;width:160px;" />
                                    }
                                    else
                                    {
                                        <img src="" alt="NO Image Found" style="height:60px;width:350px;" />
                                    }*@
                                </td>
                                <td>
                                    <span style="display: inline-block; margin:0px 3px 0px 5px;"><b>Date:</b></span>
                                    @*@if (Model.SignatureImageOwnerDate != null)
                                    {
                                        <span class="brd1" style="width: 35px;">&nbsp;@Model.SignatureImageOwnerDate.Value.ToString("dd")</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 35px;">&nbsp;@Model.SignatureImageOwnerDate.Value.ToString("MM")</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 60px;">@Model.SignatureImageOwnerDate.Value.ToString("yyyy")</span>
                                    }
                                    else
                                    {
                                        <span class="brd1" style="width: 35px;">&nbsp;</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 35px;">&nbsp;</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 60px;"></span>
                                    }*@

                            </tr>
                        </table>
                    </div>
                    <div class="fntsize1" style="padding:10px 0px;"><b>OR</b></div>
                    <div class="fntsize1"><b>Require Written Offer</b></div>
                    <div class="box1 fntsize1">
                        <div style="font-size:12px; padding-bottom:16px;">I would like United Energy to send me an offer for the Inverter-Based Micro Embedded Generator Connection.</div>


                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fntsize1 table_top_padd">
                            <tr>
                                <td width="110"><b>Customer Name:</b></td>
                                <td width="170" class="brdbtmtd">@*@Model.FirstName @Model.LastName*@</td>
                                <td width="10"></td>
                                <td width="140"><b>Customer Signature:</b></td>
                                @*<td width="160" class="brdbtmtd"></td>*@
                                <td colspan="2" rowspan="2" class="brdbtmtd">
                                    @*@if (Model.SignatureImageOwner != null)
                                    {
                                        <img src="@CustomerSignPhoto" alt="Customer Signature" style="height:60px;width:160px;" />
                                    }
                                    else
                                    {
                                        <img src="" alt="NO Image Found" style="height:60px;width:350px;" />
                                    }*@
                                </td>
                                <td>
                                    <span style="display: inline-block; margin:0px 3px 0px 5px;"><b>Date:</b></span>
                                    @*@if (Model.SignatureImageOwnerDate != null)
                                    {
                                        <span class="brd1" style="width: 35px;">&nbsp;@Model.SignatureImageOwnerDate.Value.ToString("dd")</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 35px;">&nbsp;@Model.SignatureImageOwnerDate.Value.ToString("MM")</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 60px;">@Model.SignatureImageOwnerDate.Value.ToString("yyyy")</span>
                                    }
                                    else
                                    {
                                        <span class="brd1" style="width: 35px;">&nbsp;</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 35px;">&nbsp;</span><span style="display: inline-block; margin:0px 2px;"><b>/</b></span><span class="brd1" style="width: 60px;"></span>
                                    }*@

                            </tr>
                        </table>
                    </div><br>
                    <div class="fntsize1" style="padding:5px 0px 10px 0px;"><b>Please return to your Retailer if you have accepted of Model Standing Offer or return the completed and signed form (keeping a <br>copy for your reference) to:</b></div>
                    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="fntsize1 table_padd" style="padding-left:30px;">
                        <tr>
                            <td width="60"><b>Mail:</b></td>
                            <td><b>UE Connections, Locked Bag 238, South Melbourne, Vic 3205</b></td>
                        </tr>
                        <tr>
                            <td><b>E-mail:</b></td>
                            <td><b><a href="mailto:ueconnections@ue.com.au">ueconnections@ue.com.au</a></b></td>
                        </tr>
                    </table>
                    <div class="form-actions">
                        <button type="submit" style="margin-bottom:10px;margin-top:10px;" class="btn  btn-success text-white">Print</button>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
            </div>
        </form>
    </div>
</div>
