﻿<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 11px;
    }

    h1, h2, h3, h4, h5, p {
        margin: 0px;
        padding: 0px;
    }

    table.brdr tr td {
        border: 1px solid #ccc;
    }

    p {
        margin: 0px;
        padding: 0px 0px 18px 0px;
        line-height: 20px;
    }

    .floatleft {
        float: left;
    }

    .floatright {
        float: right;
    }

    .clear {
        clear: both;
    }

    .bold {
        font-weight: bold;
    }

    a {
        text-decoration: none;
        color: #324268;
        outline: none;
    }

        a:active, a:focus {
            outline: none;
            text-decoration: none !important;
        }

        a:hover, a.selected {
            text-decoration: none;
            color: #333333;
        }

    ul {
        list-style: none;
    }

    li {
        list-style: none;
    }

    .nonebox_shadow {
        box-shadow: 0 0px 0px rgba(0, 0, 0, 0.05) !important;
    }

    p {
        font-size: 12px;
    }

    h1 {
        font-size: 20px;
        color: #000;
        margin-bottom: 5px;
    }

    p.united_1 {
        padding-bottom: 3px !important;
    }

    ul li {
        list-style: disc !important;
        padding-left: 10px;
        font-size: 13px;
        line-height: 24px;
    }

    ul {
        padding-left: 45px;
    }

    h4 {
        margin-top: 10px;
        color: #FF0000;
        font-size: 14px;
    }

        h4 span {
            font-weight: 500;
        }

    span.customer {
        position: relative;
        top: -8px;
        font-weight: bold !important;
    }

    table tr td {
        padding: 4px 10px 0px 10px;
    }

    .section2 {
        margin-top: 25px;
    }

    span.date_border {
        border-bottom: 1px solid #000;
        width: 30%;
        display: inline-block;
        height: 32px;
    }

    table.supply tr td {
        padding: 4px 10px 0px 10px;
    }

    table.supply1 tr td {
        padding: 30px 10px !important;
    }

    table tr td span {
        font-weight: normal !important;
    }

    .customer_box1 {
        padding-top: 10px;
    }

    h6.section3 {
        line-height: 17px;
    }

    ul.section3_list li {
        font-size: 13px;
        line-height: 20px;
    }

    table tr {
        font-size: 12px;
    }

        table tr.section2 td {
            padding: 10px 10px;
        }

    span.check_box {
        padding-left: 20px;
    }

    span.yes {
        padding-left: 10px;
    }

    .form-control {
        border-bottom: 1px solid #000 !important;
        border-radius: 0px;
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        height: 34px;
    }

    table.signa_box tr td {
        padding: 4px 0px 18px 0px !important;
    }

    label {
        float: left;
        margin-top: 15px;
        font-size: 12px;
    }

    .section3 {
        padding-top: 10px;
    }

    p a {
        color: #0C0DFF;
        text-decoration: underline;
    }

    .list2 {
        padding-top: 0px !important;
    }

    h6.sectionhead {
        padding-top: 0px !important;
    }

    .contact4 {
        width: 39% !important;
    }

    .form-control:focus {
        border-color: transparent !important;
        border-bottom-color: transparent;
        box-shadow: inset 0 1px 1px transparent, 0 0 8px transparent !important;
        border-bottom: 1px solid #000 !important;
    }

    table.bottom_logo tr td p {
        font-size: 11px;
        line-height: 15px;
    }

    .bottom_logo {
        margin-top: 60px;
    }

    .applicant_box1 {
        padding-top: 20px;
    }

    table.united_sign tr td {
        padding-top: 15px
    }

    .headtable p, ul li {
        font-size: 15px;
    }

    table.pad5 {
        margin-top: 10px;
    }

        table.pad5 tr td {
            padding: 6px 8px;
        }

    .fnt15 tr td {
        font-size: 14px !important;
    }
</style>
<style>

    .app-modal-window .modal-dialog {
        width: 95%;
    }

    .app-modal-window .container {
        width: 95% !important;
    }

    .printbuttonbox {
        float: right;
    }

        .printbuttonbox a {
            border: 1px solid #ccc;
            border-radius: 4px;
            margin: 0px 4px;
            padding: 5px 10px;
        }

    .form-actions {
        margin: 0;
        background-color: transparent;
        text-align: center;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
    }

    .btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745
    }

    .text-white {
        color: #fff !important
    }
    .modal-header h4{color:#000!important;}
        .modal .modal-header h4 span.modalbuttonarea{display:flex; flex-direction: row; justify-content: flex-end!important;}
        .modalttl{height: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.25rem !important;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; width:50%;}
</style>

<div>
    <form name="exampleForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
             <span class="modalttl">   AusNet Services Embedded Generator (EG) and Battery Storage Connection Agreement up to 30kW</span>
               <span class="modalbuttonarea">
                <button ng-disabled="vm.saving" type="button" class="btn btn-danger printbuttonbox" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue printbuttonbox" ng-click="vm.save()" ng-disabled="exampleForm.$invalid"><i class="fa fa-save"></i> @L("Save")</button>
                </span>
            </h4>
        </div>
        <div class="modal-body">
            <div style="width:1000px; margin:0px auto; border:solid 1px;">
                <div class="container">

                    <input type="hidden" @*value="@ViewBag.GUID"*@ name="PvId" id="PvId" />
                    <table width="100%" class="headtable">
                        <tr>
                            <td style="width:80%;">
                                <h1 style="padding-top:20px;">Upgrade Existing Solar Photovoltaic (PV) System Connection Form</h1>
                                <p>To be completed by customer & solar PV installer</p>
                                <p class="united_1">
                                    This form is to be submitted by solar PV customers only under the following circumstances:
                                </p>
                                <ul>
                                    <li>Changing capacity of existing solar PV system, AND</li>
                                    <li>On specific request from United Energy</li>
                                </ul>
                            </td>
                            <td>@*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/united2.png")" />*@</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>
                                    All fields are mandatory. Solar PV inverters above 10 kW per phase in size will be permitted in certain circumstances. If your solar PV
                                    inverter is greater than 10 kW per phase in size, or for further information, please contact United Energy.
                                </p>
                            </td>
                        </tr>
                    </table>

                    <h4>SECTION 1: GENERATOR OWNER DETAILS <span>(to be completed by the householder)</span></h4>

                    <table width="100%" border="0" class="brdr pad5 fnt15" cellpadding="0" cellspacing="0">
                        <tr>
                            <td width="15%"><strong>Customer Name</strong></td>
                            <td width="39%">@*@Model.FirstName @Model.LastName*@</td>
                            <td colspan="2">
                                <strong>Customer NMI</strong> <br />
                                (Refer to your electricity bill)
                            </td>
                            <td width="20%">@*@Model.NMI_No*@</td>
                        </tr>
                        <tr>
                            <td><strong>Supply Address</strong></td>
                            <td>@*@Model.Inst_StreetAddress, @Model.Inst_Suburb @Model.Inst_State @Model.Inst_PostCode*@</td>
                            <td width="10%"><strong>Mailing Address</strong></td>
                            <td colspan="2">@*@Model.streetAddress, @Model.Suburb @Model.state @Model.PostCode*@</td>
                        </tr>
                        <tr>
                            <td><strong>Phone Number</strong></td>
                            <td><strong>Business Hours</strong>@*@Model.Phone*@</td>
                            <td colspan="3"><strong>After Hours</strong></td>
                        </tr>
                        <tr>
                            <td><strong>Email Address</strong></td>
                            <td colspan="4">@*@Model.EmailId*@</td>
                        </tr>
                    </table>

                    <div class="section2">
                        <h4>SECTION 2: EXISTING SOLAR PV SYSTEM DETAILS <span>(to be completed by the householder)</span></h4>

                        <table width="100%" border="0" class="brdr pad5 fnt15" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="24%">
                                    <strong>Capacity of existing installation</strong> <br />
                                    (total rating of all solar panels)
                                </td>
                                <td width="18%">__ __ . __ __ __ kW</td>
                                <td width="40%">
                                    <strong>Existing solar PV inverter power rating</strong> <br />
                                    (1 hour or continuous rating)
                                </td>
                                <td colspan="2">__ __ . __ __ __ kW</td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>
                                    <strong>
                                        Do you have a copy of Photovoltaic (Solar)
                                        Generator Connection form from existing
                                        installation?
                                    </strong> (Please attach)
                                </td>
                                <td width="10%"><input type="checkbox" /> Yes</td>
                                <td width="10%"><input type="checkbox" /> No</td>
                            </tr>
                            <tr>
                                <td><strong>Solar Inverter Manufacturer</strong></td>
                                <td>@*@Model.InverterBrandName*@</td>
                                <td><strong>Solar Inverter Model Name</strong></td>
                                <td colspan="2">@*@Model.InverterModelName*@</td>
                                @*<td>&nbsp;</td>*@
                            </tr>
                            <tr>
                                <td><strong>Installer Company Name</strong></td>
                                <td>@*@Model.InstallerCompany*@</td>
                                <td><strong>Installer Phone Number</strong></td>
                                <td colspan="2">@*@Model.InstallerPhone*@</td>
                            </tr>
                            <tr>
                                <td><strong>Installer Company Address</strong></td>
                                <td colspan="4" style="height:40px;">@*@Model.InstallerStreetAddress, @Model.InstallerSuburb @Model.InstallerState @Model.InstallerPostCode*@</td>
                            </tr>
                        </table>

                    </div>
                    <div class="customer_box1">
                        <h6 class="section3" style="padding-top:0px; font-size:15px; margin-bottom:0px; padding-bottom:0px;">
                            CUSTOMER ACKNOWLEDGEMENT, INDEMNITY AND RELEASE<br />
                            <span style="font-size:13px;">By signing this form you acknowledge that you:</span>
                        </h6>
                        <ul class="section3_list">
                            <li>Are the owner of the PV (Solar) System listed under section 2</li>
                            <li>
                                Have received a Photovoltaic Embedded Generator operating manual from, and been instructed on the operation of the Photovoltaic Embedded
                                Generator by, the Installation Company detailed in section 3
                            </li>
                            <li>
                                Accept that approval will only be granted for the Photovoltaic Embedded Generator detailed in this form, and that you must obtain further prior approval
                                from your Distributor to alter your Photovoltaic Embedded Generator in any way
                            </li>
                            <li>
                                Release and indemnify and agree to keep indemnified your Distributor, its officers, employees and agents against all actions, proceedings, claims and
                                demands whatsoever which may be brought, including any indirect or consequential loss or any other form of pure economic loss, made or prosecuted
                                against them or any of them by any person in respect of the installation of your Photovoltaic Embedded Generator, particularly in relation to works
                                completed by the Installation Company detailed in section 2, or in respect of connection of your Photovoltaic Embedded Generator to the Victorian
                                electricity grid.
                            </li>
                        </ul>
                    </div>

                    <div class="signature_box" style="padding-top:10px;">
                        @{
//var CustomerSignPhoto = "";
//if (Model.SignatureImageOwner != null)
//{
//    CustomerSignPhoto = "http://cdn.quickforms.com.au/PVSignature/" + @Model.SignatureImageOwner;
//}
//var InstallereSignPhoto = "";
//if (Model.SignatureImageInst != null)
//{
//    InstallereSignPhoto = "http://cdn.quickforms.com.au/PVSignature/" + @Model.SignatureImageInst;
//}
                        }
                        <table class="signa_box" width="100%">
                            <tbody>
                                <tr>
                                    <td style="width:125px;">
                                        <span class="abn1 specify"> <label style="font-size:15px!important;"><strong>Customer Name:</strong> </label></span>
                                    </td>
                                    <td width="250">
                                        <span style="width:250px; border-bottom:1px solid #000; font-size:15px; height:31px; line-height:40px; display:inline-block;">@*@Model.FirstName @Model.LastName*@</span>
                                    </td>
                                    <td width="150px;"><span class="abn1 specify">  <label style="font-size:15px!important;"><strong>Customer Signature:</strong> </label></span> </td>
                                    <td width="250">
                                        <span style="width:250px;  font-size:15px;margin-top:20px; height:31px; line-height:40px; display:inline-block;">
                                            @*@if (Model.SignatureImageOwner != null)
                                            {
                                                <img src="@CustomerSignPhoto" alt="Customer Signature" style="height:50px;width:160px;border-bottom:solid 1px;" />
                                            }
                                            else
                                            {
                                                <img src="" alt="NO Image Found" style="height:50px;width:350px;border-bottom:solid 1px;" />
                                            }*@
                                        </span>
                                    </td>
                                    <td style="width:200px;"><span class="abn1 specify"><label style="font-size:15px!important;"><strong>Date:</strong> </label></span><span class="date_border" style="margin-left:5px;font-size:15px; height:31px; line-height:40px; width:140px">@*@wwwroot.Class.AdminSiteConfiguration.GetDateDisplay(Model.SignatureImageOwnerDate.ToString())*@</span></td>
                                </tr>

                            </tbody>
                        </table>
                        <p style="font-size:13px;">
                            PRIVACY STATEMENT: The personal information you provide in this form will be collected by your Distributor for the purpose of connecting your Photovoltaic
                            Embedded Generator to the Victorian electricity grid. This information will be used and disclosed by your Distributor in accordance with its privacy processes
                        </p>

                    </div>
                    <table class="bottom_logo">
                        <tr>

                            <td>@*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/jemena_bottom.png")" />*@</td>
                            <td>
                                <p>
                                    Jemena Asset Management (6) Pvt Ltd<br />
                                    ABN 52 014 352 650
                                </p>
                                <p>Jemena Asset Management (6) Pty Ltd, Australia’s leading provider of infrastructure solutions is the prime contractor for the<br />electricity network owned by United Energy.</p>
                            </td>
                        </tr>

                    </table>

                    <div style="page-break-before:always"></div>
                    <div class="section2">
                        <h4>SECTION 3: INSTALLATION DETAILS <span>(to be completed by the solar PV installer)</span></h4>

                        <table width="100%" border="0" class="brdr pad5 fnt15" cellpadding="0" cellspacing="0">
                            <tr>
                                <td><strong>Installer Company Name</strong></td>
                                <td>@*@Model.InstallerCompany*@</td>
                                <td><strong>Installer Phone Number</strong></td>
                                <td>@*@Model.InstallerPhone*@</td>
                            </tr>
                            <tr>
                                <td><strong>Installer Company Address</strong></td>
                                <td colspan="3">@*@Model.InstallerStreetAddress, @Model.InstallerSuburb @Model.InstallerState @Model.InstallerPostCode*@</td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>New capacity of installation</strong><br />
                                    (total rating of all solar panels)
                                </td>
                                <td>__ __ . __ __ __ kW</td>
                                <td>
                                    <strong>
                                        Has a replacement or additional<br />
                                        solar inverter been installed?
                                    </strong><br />
                                    (Please select one)
                                </td>
                                <td>
                                    <input type="checkbox" disabled="disabled" /> No <br />
                                    <input type="checkbox" disabled="disabled" /> Replacement <br />
                                    <input type="checkbox" disabled="disabled" /> Additional
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <strong>What is the Solar Inverter Power Rating?</strong> <br />
                                    (1 hour or continuous rating)
                                </td>
                                <td>@*@Model.SystemCapacity*@ kW</td>
                            </tr>
                            <tr>
                                <td><strong>Solar Inverter Manufacturer</strong></td>
                                <td>@*@Model.InverterBrandName*@</td>
                                <td><strong>Solar Inverter Model Name</strong></td>
                                <td>@*@Model.InverterModelName*@</td>
                            </tr>
                        </table>
                    </div>
                    <div class="section3">
                        <h4>SECTION 4: CONNECTION COMPLIANCE <span>(to be completed by the solar PV installer)</span></h4>

                        <table width="100%" border="0" class="brdr pad5 fnt15" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="82%"><strong>Inverter complies with AS4777?</strong></td>
                                <td width="9%">
                                    @*@if (Model.AS4777_yes == "on")
                                    {
                                        <input type="checkbox" id="AS4777_yes" name="AS4777_yes" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="AS4777_yes" name="AS4777_yes" />
                                    }*@
                                    Yes
                                </td>

                                <td width="9%">
                                    @*@if (Model.AS4777_no == "on")
                                    {
                                        <input type="checkbox" id="AS4777_no" name="AS4777_no" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="AS4777_no" name="AS4777_no" />
                                    }*@
                                    No
                                </td>

                            </tr>

                            <tr>

                                <td><strong>Inverter connected to a dedicated circuit complete with lockable isolating switch?</strong></td>

                                <td>
                                    @*@if (Model.switch_yes == "on")
                                    {
                                        <input type="checkbox" id="switch_yes" name="switch_yes" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="switch_yes" name="switch_yes" />
                                    }*@
                                    Yes
                                </td>

                                <td>
                                    @*@if (Model.switch_no == "on")
                                    {
                                        <input type="checkbox" id="switch_no" name="switch_no" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="switch_no" name="switch_no" />
                                    }*@
                                    No
                                </td>

                            </tr>

                            <tr>
                                switchboard

                                <td><strong>Labelling of main switchboard?</strong></td>

                                <td>
                                    @*@if (Model.switchboard_yes == "on")
                                    {
                                        <input type="checkbox" id="switchboard_yes" name="switchboard_yes" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="switchboard_yes" name="switchboard_yes" />
                                    }*@
                                    Yes
                                </td>

                                <td>
                                    @*@if (Model.switchboard_no == "on")
                                    {
                                        <input type="checkbox" id="switchboard_no" name="switchboard_no" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="switchboard_no" name="switchboard_no" />
                                    }*@
                                    No
                                </td>

                            </tr>

                            <tr>

                                <td><strong>Labelling of isolating fuse/switch/circuit breaker?</strong></td>

                                <td>
                                    @*@if (Model.breaker_yes == "on")
                                    {
                                        <input type="checkbox" id="breaker_yes" name="breaker_yes" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="breaker_yes" name="breaker_yes" />
                                    }*@
                                    Yes
                                </td>

                                <td>
                                    @*@if (Model.breaker_no == "on")
                                    {
                                        <input type="checkbox" id="breaker_no" name="breaker_no" checked="checked" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="breaker_no" name="breaker_no" />
                                    }*@
                                    No
                                </td>

                            </tr>

                        </table>

                    </div>

                    <p style="margin-top:5px;">Please refer to the UE website for diagrams of approved metering configurations: <a href="#">www.ue.com.au</a></p>


                    <div class="customer_box2">
                        <h6 class="section3 sectionhead" style="font-size:14px; margin:0px; padding:0px;"><strong>By signing this form you acknowledge that:</strong> </h6>
                        <ul class="section3_list list2">
                            <li>
                                The PV (Solar) Generator complies with the Electricity Safety Act 1998 (Vic) and associated Safety Regulations, the Electricity Distribution Code, the
                                Victorian Service & Installation Rules, AS/NZS3000 (Wiring Rules) and AS4777 (Grid Connection of Energy Systems via Inverters), and any other relevant
                                Acts, regulations, standards or guidelines
                            </li>
                            <li>The PV (Solar) Generator is connected to a dedicated circuit complete with lockable isolating switch at the switchboard</li>
                            <li>The main switchboard, isolating fuse/switch/circuit breaker are labelled correctly</li>
                            <li>Alternative supply signage has been installed</li>
                            <li>
                                The generator owner has been advised that the PV (Solar) Generator should remain switched off until any metering upgrades are complete to avoid
                                potential metering and billing issues.
                            </li>
                        </ul>
                    </div>

                    <div class="signature_box">
                        <table width="100%" class="united_sign">
                            <tr style="">
                                <td style="width:50%"><label><strong>REC Name:</strong></label><input class="form-control required" readonly="readonly" @*value="@Model.FullName"*@ id="name" type="text" style="width:80%;margin-left:5px; font-size:15px; height:31px; line-height:40px; display:inline-block"></td>
                                <td style="width:50%;">
                                    <span class="abn1"><label><strong>REC Licence Number: </strong></label></span><input class="form-control required" readonly="readonly" @*value="@Model.ElecLicenceNo"*@ id="name" type="text" style="width:70%; font-size:15px; height:31px; line-height:40px;margin-left:5px;display:inline-block">
                                </td>
                            </tr>
                            <tr>
                                <td style="width:50%">
                                    <label><strong>REC Signature:</strong></label>
                                    @*@if (Model.SignatureImageOwner != null)
                                    {
                                        <img src="@InstallereSignPhoto" alt="Customer Signature" style="height:50px;width:160px;border-bottom:solid 1px;" />
                                    }
                                    else
                                    {
                                        <img src="" alt="NO Image Found" style="height:50px;width:350px;border-bottom:solid 1px;" />
                                    }*@
                                </td>
                                <td style="width:50%;">
                                    <span class="abn1"><label><strong>Date: </strong></label></span><input class="form-control required" id="name" readonly="readonly" @*value="@wwwroot.Class.AdminSiteConfiguration.GetDateDisplay(Model.SignatureImageInstDate.ToString())"*@ type="text" style="width:92%;margin-left:5px;display:inline-block; font-size:15px; height:31px; line-height:40px;">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <table class="bottom_logo">
                        <tr>
                            <td>@*<img src="@wwwroot.Class.AdminSiteConfiguration.MakeImageSrcData("Content/image/jemena_bottom.png")" />*@</td>
                            <td>
                                <p>
                                    Jemena Asset Management (6) Pvt Ltd<br />
                                    ABN 52 014 352 650
                                </p>
                                <p>Jemena Asset Management (6) Pty Ltd, Australia’s leading provider of infrastructure solutions is the prime contractor for the<br />electricity network owned by United Energy.</p>
                            </td>
                        </tr>

                    </table>
                    <div class="form-actions">
                        <button type="submit" style="margin-bottom:10px;margin-top:10px;" class="btn  btn-success text-white">Print</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
        </div>
    </form>
</div>