﻿@using TechnoForms.UnitTypes
<div @*ng-controller="host.views.unittype.createModel as vm"*@>
	<form name="createUnitTypeForm" role="form" novalidate class="form-validation">
		<div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								<span>@L("CreateNewUnitType")</span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="black-transparentbox">
			<div class="portlet light margin-bottom-0">
				<div ng-show="vm.exist">
					<span class="help-block text-danger">{{vm.message}}</span>
				</div>
				<div class="portlet-body">
					<div class="createjobsform">
						<ul class="formfields">
							<li class="wdth100per mr0">
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<label>@L("UnitType")</label>
									<input auto-focus class="form-control" type="text" name="UnitType" ng-model="vm.unitType.UnitTypeName" required maxlength="@UnitType.MaxUnitTypeNameLength" placeholder="@L("UnitType")" ng-pattern="/^[a-zA-Z\s]*$/">
									<div>
										<span class="help-block text-danger" ng-show="!createUnitTypeForm.UnitType.$valid && createUnitTypeForm.UnitType.$dirty">Please enter only alphabets</span>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				
			</div>
			<div class="modal-footer">
					<button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
					<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
				</div>
		</div>
		
	</form>
</div>
