﻿@using TechnoForms.UnitTypes
<div @*ng-controller="host.views.unittype.editModel as vm"*@>
	<form name="unitTypeEditForm" role="form" novalidate class="form-validation">
		<div class="pagetitlebox">

			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								<span>@L("EditUnitType") : <span class="fname">{{vm.unittype.unitTypeName}}</span></span>
							</h1>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="black-transparentbox">
			<div class="portlet light margin-bottom-0">

				<div ng-show="vm.exist">
					<span class="help-block text-danger">{{vm.message}}</span>
				</div>
				<div class="portlet-body">
					<div class="createjobsform">
						<ul class="formfields">
							<li class="wdth100per mr0">
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<label>@L("UnitType")</label>
									<input auto-focus type="text" name="UnitType" class="form-control input-ltr" ng-class="{'edited':vm.unittype.unitTypeName}" ng-model="vm.unittype.unitTypeName" required maxlength="@UnitType.MaxUnitTypeNameLength">
								</div>
							</li>
						</ul>
					</div>
				</div>
				<div class="modal-footer transparentbackground">
					<button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
					<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
				</div>

			</div>
		</div>
	</form>
</div>
