<div ng-controller="host.views.video.index as vm">
     <div class="pagetitlebox">
  <div class="row">
            <div class="col-md-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("Video")</span>
                        </h1>
                        <div  ng-if="vm.createvideos">
 <button ng-if="vm.permissions.createVideo" class="btn btn-primary blue btnaddhead" ng-click="vm.creatingNewvideo()"><i class="fa fa-plus"></i>
 @* @L("CreateVideo")*@</button>
                        </div>
                    </div>
                </div>
            </div>
            @* <div class="col-md-6 text-right">
                <div class="filtermain">
                   
                </div>
            </div> *@
        </div>
     </div>
    <div class="black-transparentbox padtop20">
      

        <div class="portlet light margin-bottom-0">
            <div ng-show="vm.norecord">
                <div class="errormessage">  @L("NoRecordMessage") </div>
            </div>
            <div class="portlet-body pad15">
                <div busy-if="vm.loading" class="row">
                    <div ng-repeat="video in vm.videos" class="col-md-4 videobox">
                        <video width="300" controls="">
                            <source src="../../Temp/Video/{{video.fileName}}" type="video/mp4">
                        </video>
                        <div class="videofooter">
                            <span>{{video.title}}</span>
                            <button ng-if="vm.permissions.editVideo" class="btn btn-primary blue mt20" ng-click="vm.editvideo(video.id)"><i class="fa fa-plus"></i> @L("Upload")</button>

                        </div>
                    </div>

                    @*<div ui-grid="vm.unitTypeGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>*@
                </div>
            </div>
        </div>
    </div>
</div>
