﻿@using TechnoForms.Installers
<div>
    <form name="createExistInstallerForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("AddExistingInstaller")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint minheight30">
                <input auto-focus class="form-control" type="text" (ngModelChange)="modelChanged($event)" name="FullName" ng-model="vm.installer.installerExpiry" required maxlength="@Installer.MaxFullNameLength">
                <label>@L("InstallerExpiry")</label>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createExistInstallerForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>