﻿@using TechnoForms.Installers
<div ng-controller="tenant.views.installer.createModel as vm">
	<div class="pagetitlebox">
		<div class="row">
			<div class="col-md-12">
				<div class="page-head">
					<div class="page-title">
						<h1>
							<span>@L("CreatingNewInstaller")</span>
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="black-transparentbox createinstaller">
		
		<div class="portlet light margin-bottom-0">
			<form name="createInstallerForm" role="form" novalidate class="form-validation">
				<div class="portlet-body">
					<div class="createjobsform mt0">
						<div class="graystransparent padzero">
							<h2>Primary Information</h2>
							<div class="pad15">
							<ul class="formfields">
								@*<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="userSelectionCombobox">@L("SelectUser")</label>
											<select id="userSelectionCombobox"
													class=""
													ng-options="userval.id as userval.userName for userval in vm.users"
													ng-model="vm.installer.userId"
													ui-jq="selectpicker"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												 <option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>*@
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("FullName")</label>
										<input class="form-control" auto-focus type="text" name="FullName" ng-model="vm.installer.fullName" required maxlength="@Installer.MaxFullNameLength" placeholder='@L("FullName")'>
									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Phone")</label>
										<input class="form-control" type="text" name="Phone" ng-model="vm.installer.phone" required maxlength="@Installer.MaxPhoneLength" placeholder='@L("Phone")' ng-keypress="vm.CheckNumber()" ng-pattern="vm.phonepattern">
									</div>
									<div>
										<span class="help-block text-danger" ng-show="!createInstallerForm.Phone.$valid && createInstallerForm.Phone.$dirty">@L("Phone_Regex_Description")</span>
									</div>
								</li>
							</ul>
							
							<ul class="formfields">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Mobile")</label>
										<input class="form-control" type="text" name="Mobile" ng-model="vm.installer.mobile" maxlength="@Installer.MaxMobileLength" placeholder='@L("Mobile")' ng-keypress="vm.CheckNumber()" ng-pattern="vm.phonepattern">
									</div>
									<div>
										<span class="help-block text-danger" ng-show="!createInstallerForm.Mobile.$valid && createInstallerForm.Mobile.$dirty">@L("Phone_Regex_Description")</span>
									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("EmailId")</label>
										<input class="form-control" type="email" name="EmailId" ng-model="vm.installer.emailId" required maxlength="@Installer.MaxEmailLength" placeholder='@L("EmailId")' ng-pattern="vm.emailFormat">
									</div>
									<div>
										<span class="help-block text-danger" ng-show="!createInstallerForm.EmailId.$valid && createInstallerForm.EmailId.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("CompanyName")</label>
										<input class="form-control" type="text" name="CompanyName" ng-model="vm.installer.companyName" maxlength="@Installer.MaxCompanyNameLength" placeholder='@L("CompanyName")'>
									</div>
								</li>
							</ul>
							
							<ul class="formfields">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("ABN")</label>
										<input class="form-control" type="text" name="ABN" ng-model="vm.installer.abn" maxlength="@Installer.MaxABNLength" placeholder='@L("ABN")' ng-keypress="vm.CheckNumber()">
									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("CompanyPhone")</label>
										<input class="form-control" type="text" name="CompanyPhone" ng-model="vm.installer.companyPhone" maxlength="@Installer.MaxCompanyPhoneLength" placeholder='@L("CompanyPhone")' ng-keypress="vm.CheckNumber()" ng-pattern="vm.phonepattern">
									</div>
									<div>
										<span class="help-block text-danger" ng-show="!createInstallerForm.CompanyPhone.$valid && createInstallerForm.CompanyPhone.$dirty">@L("Phone_Regex_Description")</span>
									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Fax")</label>
										<input class="form-control" type="text" name="Fax" ng-model="vm.installer.fax" maxlength="@Installer.MaxFaxLength" placeholder='@L("Fax")' ng-keypress="vm.CheckNumber()">
									</div>
								</li>
							</ul>
							
							<ul>
								<li class="wdth365">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("IsGstReg") <span class="redstar"> *</span></label>
										<div class="gstcheckbox">
											<ul>
												<li>
													<input id="IsGSTYes" class="md-radiobtn" type="radio" name="IsGST" ng-model="vm.installer.isGST" value="true">
													<label for="IsGSTYes">
														<span class="inc"></span>
														<span class="check"></span>
														<span class="box"></span>
														@L("Yes")
													</label>
												</li>
												<li>
													<input id="IsGSTNo" class="md-radiobtn" type="radio" name="IsGST" ng-model="vm.installer.isGST" value="false">
													<label for="IsGSTNo">
														<span class="inc"></span>
														<span class="check"></span>
														<span class="box"></span>
														@L("No")
													</label>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
							</div>
						</div>
						<div class="graystransparent padzero">
							<h2>Postal Address and Street Information</h2>

							<div class="pad15">
							<div class="form-group form-md-line-input form-md-floating-label no-hint">
								<label>Select Address Type</label>
								<div class="gstcheckbox">
									<ul>
										<li>
											<input id="IsGoogleYes" class="md-radiobtn" checked="checked" ng-click="vm.google()" type="radio" name="IsGoogle" value="true">
											<label for="IsGoogleYes">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												Google Address
											</label>
										</li>
										<li>
											<input id="IsGoogleNo" class="md-radiobtn" ng-click="vm.manual()" type="radio" name="IsGoogle" value="false">
											<label for="IsGoogleNo">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												Manual Address
											</label>
										</li>
									</ul>
								</div>
							</div>
							<ul class="formfields">
								<li class="wdth265" ng-if="vm.IsGoogleAddress">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("StreetAddress")</label>
										@*<input class="form-control" type="text" name="StreetAddress" ng-class="{'edited':vm.installer.streetAddress}" ng-model="vm.installer.streetAddress" maxlength="@Installer.MaxStreetAddressLength" placeholder='@L("StreetAddress")' disabled="disabled">*@
										<input id="StreetAddress" class="form-control" placeholder="Search Address" name="StreetAddress" ng-model="vm.installer.streetAddress" onFocus="geolocate()" type="text" />
									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="unitTypeSelectionCombobox">@L("UnitType")</label>
										@*<select id="unitTypeSelectionCombobox"
													class=""
													ng-options="unitTypeval.unitTypeName as unitTypeval.unitTypeName for unitTypeval in vm.unitTypes"
													ng-class="{'edited':vm.installer.unitType}"
													ng-model="vm.installer.unitType"
													ui-jq="selectpicker"
													title="Select Unit Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" ng-change="vm.getStreetAddress()">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="UnitType" class="UnitTypetypeahead form-control" autocomplete="off" type="text" placeholder="Unit Type" ng-model="vm.installer.unitType" ng-keyup="vm.getUnitTypeList()">
									</div>
								</li>
								<li class="wdth180">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("UnitNo")</label>
										<input class="form-control" type="text" name="UnitNo" ng-class="{'edited':vm.installer.unitNo}" ng-model="vm.installer.unitNo" maxlength="@Installer.MaxUnitNumberLength" placeholder='@L("UnitNo")' ng-change="vm.getStreetAddress()">
									</div>
								</li>

							</ul>

							<ul class="formfields">
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("StreetNumber")</label>
										<input id="street_number" class="form-control" type="text" name="StreetNumber" ng-class="{'edited':vm.installer.streetNumber}" ng-model="vm.installer.streetNumber" required maxlength="@Installer.MaxStreetNumberLength" placeholder='@L("StreetNumber")' ng-change="vm.getStreetAddress()">
									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="streetNameSelectionCombobox">@L("StreetName")</label>
										@*<select id="streetNameSelectionCombobox"
													class=""
													ng-options="streetNameval.streetName as streetNameval.streetName for streetNameval in vm.streetNames"
													ng-class="{'edited':vm.installer.streetName}"
													ng-model="vm.installer.streetName"
													ui-jq="selectpicker"
													title="Select Street"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" ng-change="vm.getStreetAddress()">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="routeName" class="StreetNametypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetName")' ng-model="vm.installer.streetName" ng-keyup="vm.getStreetNameList()">
									</div>
								</li>
								<li class="wdth180">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="streetTypeSelectionCombobox">@L("StreetType")</label>
										@*<select id="streetTypeSelectionCombobox"
													class=""
													ng-options="streetTypeval.streetTypeName as streetTypeval.streetTypeName for streetTypeval in vm.streetTypes"
													ng-class="{'edited':vm.installer.streetType}"
													ng-model="vm.installer.streetType"
													ui-jq="selectpicker"
													title="Select Street Type"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" ng-change="vm.getStreetAddress()">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="routeType" class="StreetTypetypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetType")' ng-model="vm.installer.streetType" ng-keyup="vm.getStreetTypeList()">
									</div>
								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="suburbSelectionCombobox">@L("Suburb")</label>
										@*<select id="suburbSelectionCombobox"
													class=""
													ng-options="suburbval.id as suburbval.suburbstatePostcodes for suburbval in vm.suburbs"
													ng-class="{'edited':vm.installer.suburb_Id}"
													ng-model="vm.installer.suburb_Id"
													ui-jq="selectpicker"
													title="Select Suburb"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true"
													ng-change="vm.getPostCodes(vm.installer.suburb_Id)">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="locality" class="Fnametypeahead form-control" autocomplete="off" type="text" placeholder="Suburb" ng-model="vm.suburb" ng-keyup="vm.getSuburbList()" ng-blur="vm.statePostCode()">
									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="stateSelectionCombobox">@L("State")</label>
										@*<select id="stateSelectionCombobox"
													class=""
													ng-options="stateNameval.stateName as stateNameval.stateName for stateNameval in vm.stateNames"
													ng-class="{'edited':vm.installer.stateNames}"
													ng-model="vm.installer.state"
													ui-jq="selectpicker"
													title="Select State"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" disabled>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input type="text" class="form-control" id="administrative_area_level_1" name="StreetState" ng-model="vm.installer.state" placeholder="State" disabled />
										<input type="hidden" id="country" name="country" />
									</div>
								</li>
								<li class="wdth180">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="postCodeSelectionCombobox">@L("PostCode")</label>
										@*<select id="postCodeSelectionCombobox"
													class=""
													ng-options="postCodeval.postcode as postCodeval.postcode for postCodeval in vm.postCodes"
													ng-class="{'edited':vm.installer.postCodes}"
													ng-model="vm.installer.postCode"
													ui-jq="selectpicker"
													title="Select Post Code"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" disabled>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input type="text" class="form-control" id="postal_code" name="StreetPostCode" ng-model="vm.installer.postCode" placeholder="PostCode" disabled />
									</div>
								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth180">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="addressTypeSelectionCombobox">@L("AddressType")</label>
										<select id="addressTypeSelectionCombobox"
												class=""
												ng-options="addressTypeval.id as addressTypeval.postalAddressTypeName for addressTypeval in vm.addressTypes"
												ng-model="vm.installer.addressType"
												ui-jq="selectpicker"
												title="Select Address Type"
												ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
												data-live-search="true">
											<option selected disabled hidden style='display: none' value=''></option>
										</select>
									</div>
								</li>
								<li class="wdth250large">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("PostalDelNo")</label>
										<input class="form-control" type="text" name="PostalDelNo" ng-model="vm.installer.postalDelNo" maxlength="@Installer.MaxPostalDelevaryNoLength" placeholder='@L("PostalDelNo")'>
									</div>
								</li>
								<li class="wdth180">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="deliveryTypeSelectionCombobox">@L("PostalDelType")</label>
										<select id="deliveryTypeSelectionCombobox"
												class=""
												ng-options="deliveryTypeval.id as deliveryTypeval.postalDeliveryTypeName for deliveryTypeval in vm.deliveryTypes"
												ng-model="vm.installer.postalDelType"
												ui-jq="selectpicker"
												title="Select Postal Delivery Type"
												ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
												data-live-search="true">
											<option selected disabled hidden style='display: none' value=''></option>
										</select>
									</div>
								</li>
							</ul>
							</div>
						</div>
						<div class="graystransparent padzero">
							<h2>Upload Images</h2>
							<div class="pad15">
							<ul class="formfields uploadimbbox">
								<li class="wdth265">

									<label>@L("Logo")</label>
									<div class="input-group form-group">
										<input type="text" name="Logo" id="logo" ng-model="vm.installer.logo" class="form-control" placeholder="No file selected" readonly required>
										<span class="input-group-btn">
											<div class="btn btn-default  custom-file-uploader">
												<input id="Logo" type="file" name="file" nv-file-select uploader="vm.logouploader" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />
												Browse
											</div>
										</span>
									</div>
									@*<input class="form-control" type="text" name="Logo" ng-model="vm.installer.logo" maxlength="@Installer.MaxlogoLength" placeholder='@L("Logo")'>
										<input id="Logo" type="file" nv-file-select uploader="vm.logouploader" />*@
									@*<span class="help-block m-b-none">@L("Logo")</span>*@

								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("AccreditationAccPhoto")</label>
										<div class="input-group">
											<input type="text" name="accphoto" id="accphoto" class="form-control" ng-model="vm.installer.accreditationAccPhoto" placeholder="No file selected" readonly required>
											<span class="input-group-btn">
												<div class="btn btn-default  custom-file-uploader">
													<input id="acc" type="file" name="file" nv-file-select uploader="vm.accuploader" onchange="this.form.accphoto.value = this.files.length ? this.files[0].name : ''" />
													Browse
												</div>
											</span>
										</div>
										@*<input class="form-control" type="text" name="AccreditationAccPhoto" ng-model="vm.installer.accreditationAccPhoto" maxlength="@Installer.MaxAccreditationAccPhotoLength" placeholder='@L("AccreditationAccPhoto")'>
											<input id="acc" type="file" nv-file-select uploader="vm.accuploader" />*@
										@*<input id="AccreditationAccPhoto" type="file" nv-file-select uploader="vm.installer.accreditationAccPhoto" />
											<span class="help-block m-b-none">@L("AccreditationAccPhoto")</span>*@
									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("LicencePhoto")</label>
										<div class="input-group">
											<input type="text" name="LicencePhoto" id="licencephoto" class="form-control" ng-model="vm.installer.licencePhoto" placeholder="No file selected" readonly required>
											<span class="input-group-btn">
												<div class="btn btn-default  custom-file-uploader">
													<input id="licence" type="file" name="file" nv-file-select uploader="vm.licuploader" onchange="this.form.licencephoto.value = this.files.length ? this.files[0].name : ''" />
													Browse
												</div>
											</span>
										</div>
										@*<input class="form-control" type="text" name="LicencePhoto" ng-model="vm.installer.licencePhoto" maxlength="@Installer.MaxLicencePhotoLength" placeholder='@L("LicencePhoto")'>
											<input id="licence" type="file" nv-file-select uploader="vm.licuploader" />*@
										@*<input id="LicencePhoto" type="file" nv-file-select uploader="vm.installer.licencePhoto" />
											<span class="help-block m-b-none">@L("LicencePhoto")</span>*@
									</div>
								</li>
							</ul>
							@*<ul class="formfields">
									<li class="wdth265">
										<img id="Logophoto" src="" ng-show="vm.logoFileName" />
									</li>
									<li class="wdth265">
										<img id="accphoto" src="" ng-show="vm.accFileName" />
									</li>
									<li class="wdth265">
										<img id="licencephoto" src="" ng-show="vm.licenceFileName" />
									</li>
								</ul>*@
								</div>
						</div>
						<div class="row installerdetailcnt">
							<div class="col-md-4">
								<div class="graystransparent padzero">
									<h2>Installer Details</h2>
									<div class="pad15">
									<ul class="formfields">
										<li>
											<div class="form-md-line-input form-md-floating-label no-hint">
												<div class="md-checkbox-list">
													<div class="md-checkbox">
														<input id="IsInst" class="md-check" type="checkbox" name="IsInst" ng-model="vm.installer.isInst">
														<label for="IsInst">
															<span class="inc"></span>
															<span class="check"></span>
															<span class="box"></span>
															@L("IsInst")
														</label>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installer.isInst">
												<label>@L("InstallerExpiry")</label>
												<input class="form-control" type="text" name="InstallerExpiry" ng-required="vm.installer.isInst" ng-blur="vm.checkInstallerCode()" ng-model="vm.installer.installerExpiry" maxlength="@Installer.MaxInstallerExpiryLength" placeholder='@L("InstallerExpiry")'>
											</div>
										</li>
										<li>
											<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installer.isInst">
												<label>@L("InsAccreExDate")</label>
												<div class="input-group datepickerbox">
													<input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.installer.insAccreExDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="vm.installer.isInst" close-text="Close" alt-input-formats="altInputFormats" placeholder='@L("InsAccreExDate")' />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
												@*<input class="form-control" type="date" name="InsAccreExDate" ng-required="vm.installer.isInst" ng-model="vm.installer.insAccreExDate">*@
											</div>
										</li>
									</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="graystransparent padzero">
									<h2>Electrician Details</h2>
									<div class="pad15">
									<ul class="formfields">
										<li>
											<div class="form-md-line-input form-md-floating-label no-hint">
												<div class="md-checkbox-list">
													<div class="md-checkbox">
														<input id="IsElec" class="md-check" type="checkbox" name="IsElec" ng-model="vm.installer.isElec">
														<label for="IsElec">
															<span class="inc"></span>
															<span class="check"></span>
															<span class="box"></span>
															@L("IsElec")
														</label>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installer.isElec">
												<label>@L("ElectricalExpiry")</label>
												<input class="form-control" type="text" name="ElectricalExpiry" ng-required="vm.installer.isElec" ng-blur="vm.checkElecCode()" ng-model="vm.installer.electricalExpiry" maxlength="@Installer.MaxElectricalExpiryLength" placeholder='@L("ElectricalExpiry")'>
											</div>

										</li>
										<li>
											<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installer.isElec">
												<label>@L("EleLicenceExDate")</label>
												<div class="input-group datepickerbox">
													<input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.installer.eleLicenceExDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="vm.installer.isElec" close-text="Close" alt-input-formats="altInputFormats" placeholder='@L("EleLicenceExDate")' />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
												@*<input class="form-control" type="date" name="EleLicenceExDate" ng-required="vm.installer.isElec" ng-model="vm.installer.eleLicenceExDate">*@
											</div>
										</li>
									</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="graystransparent padzero">
									<h2>Designer Details</h2>
									<div class="pad15">
									<ul class="formfields">
										<li>
											<div class=" form-md-line-input form-md-floating-label no-hint">
												<div class="md-checkbox-list">
													<div class="md-checkbox">
														<input id="IsDesc" class="md-check" type="checkbox" name="IsDesc" ng-model="vm.installer.isDesc">
														<label for="IsDesc">
															<span class="inc"></span>
															<span class="check"></span>
															<span class="box"></span>
															@L("IsDesc")
														</label>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installer.isDesc">
												<label>@L("DesignerExpiry")</label>
												<input class="form-control" type="text" name="DesignerExpiry" ng-required="vm.installer.isDesc" ng-blur="vm.checkDesignerCode()" ng-model="vm.installer.designerExpiry" maxlength="@Installer.MaxDesignerExpiryLength" placeholder='@L("DesignerExpiry")'>
											</div>
										</li>
										<li>
											<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installer.isDesc">
												<label>@L("DesignerAccreExDate")</label>
												<div class="input-group datepickerbox">
													<input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.installer.designerAccreExDate" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="vm.installer.isDesc" close-text="Close" alt-input-formats="altInputFormats" placeholder='@L("DesignerAccreExDate")' />
													<span class="input-group-btn">
														<button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
													</span>
												</div>
												@*<input class="form-control" type="date" name="DesignerAccreExDate" ng-required="vm.installer.isDesc" ng-model="vm.installer.designerAccreExDate">*@
											</div>
										</li>
									</ul>
									</div>
								</div>
							</div>


						</div>
						<div class="buttonarea">
							<button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
							<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
						</div>
					</div>

			</form>
		</div>
	</div>
</div>
<script>
	// This sample uses the Autocomplete widget to help the user select a
	// place, then it retrieves the address components associated with that
	// place, and then it populates the form fields with those details.
	// This sample requires the Places library. Include the libraries=places
	// parameter when you first load the API. For example:
	// <script
	// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

	var placeSearch, autocomplete;

	var componentForm = {
		street_number: 'short_name',
		route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'short_name',
		country: 'long_name',
		postal_code: 'short_name'
	};

	function initAutocomplete() {

		// Create the autocomplete object, restricting the search predictions to
		// geographical location types.
		autocomplete = new google.maps.places.Autocomplete(
			document.getElementById('StreetAddress'), { types: ['geocode'] });

		// Avoid paying for data that you don't need by restricting the set of
		// place fields that are returned to just the address components.
		autocomplete.setFields(['address_component']);

		// When the user selects an address from the drop-down, populate the
		// address fields in the form.
		autocomplete.addListener('place_changed', fillInAddress);
	}

	function fillInAddress() {
		// Get the place details from the autocomplete object.
		var place = autocomplete.getPlace();
		//for (var component in componentForm) {
		//	document.getElementById(component).value = '';
		//	document.getElementById(component).disabled = false;
		//}

		// Get each component of the address from the place details,
		// and then fill-in the corresponding field on the form.
		for (var i = 0; i < place.address_components.length; i++) {
			var addressType = place.address_components[i].types[0];
			if (componentForm[addressType]) {
				var val = place.address_components[i][componentForm[addressType]];
				if (i == 1) {
					var res = val.split(" ");
					document.getElementById('routeName').value = res[0].trim().toUpperCase();
					document.getElementById('routeType').value = res[1].trim().toUpperCase();
				}
				else {
					document.getElementById(addressType).value = val.toUpperCase();
				}
			}
		}
	}

	// Bias the autocomplete object to the user's geographical location,
	// as supplied by the browser's 'navigator.geolocation' object.
	function geolocate() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				var geolocation = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				var circle = new google.maps.Circle(
					{ center: geolocation, radius: position.coords.accuracy });
				autocomplete.setBounds(circle.getBounds());
			});
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALoDvKqgmTfpfPOEjqS2fI1kcabuxImMA&libraries=places&callback=initAutocomplete" defer></script>