﻿@using TechnoForms.Installers
<div ng-controller="tenant.views.installer.createEmpModel as vm">
	<div class="pagetitlebox">
		<div class="row">
			<div class="col-md-12">
				<div class="page-head">
					<div class="page-title">
						<h1>
							<span>  @L("CreateInstallerEmployee") : </span> {{vm.installer.fullName}}
						</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="black-transparentbox">

		<div class="portlet light margin-bottom-0">
			<form name="createEmpInstallerForm" role="form" novalidate class="form-validation">
				<div class="portlet-body">
					<div class="createjobsform mt0">
						<div class="graystransparent padzero">
							<h2>Primary Information</h2>
							<div class="pad15">
								<ul class="formfields mb-0">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("FullName")</label>
											<input class="form-control" type="hidden" name="id" ng-class="{'edited':vm.installerEmp.installerId}" ng-model="vm.installerEmp.installerId">
											<input class="form-control" auto-focus type="text" name="FullName" ng-model="vm.installerEmp.fullName" required maxlength="@Installer.MaxFullNameLength" placeholder='@L("FullName")'>

										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Phone")</label>
											<input class="form-control" type="text" name="Phone" ng-model="vm.installerEmp.phone" required maxlength="@Installer.MaxPhoneLength" ng-keypress="vm.CheckNumber()" placeholder='@L("Phone")'>
										</div>
										<div>
											<span class="help-block text-danger" ng-show="!createEmpInstallerForm.Phone.$valid && createEmpInstallerForm.Phone.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
										</div>
									</li>
									<li class="wdth165">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Mobile")</label>
											<input class="form-control" type="text" name="Mobile" ng-model="vm.installerEmp.mobile" maxlength="@Installer.MaxMobileLength" ng-keypress="vm.CheckNumber()" placeholder='@L("Mobile")'>
										</div>
										<div>
											<span class="help-block text-danger" ng-show="!createEmpInstallerForm.Mobile.$valid && createEmpInstallerForm.Mobile.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth365">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("EmailId")</label>
											<input class="form-control" type="text" name="EmailId" ng-model="vm.installerEmp.emailId" required maxlength="@Installer.MaxEmailLength" placeholder='@L("EmailId")'>
										</div>
										<div>
											<span class="help-block text-danger" ng-show="!createEmpInstallerForm.EmailId.$valid && createEmpInstallerForm.EmailId.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
										</div>
									</li>
									<li class="wdth250">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Fax")</label>
											<input class="form-control" type="text" name="Fax" ng-model="vm.installerEmp.fax" maxlength="@Installer.MaxFaxLength" placeholder='@L("Fax")'>

										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="graystransparent padzero">
							<h2 class="mt30">Postal Address and Street Information</h2>
							<div class="pad15">
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<label>Select Address Type </label>
									<div class="gstcheckbox">
										<ul>
											<li>
												<input id="IsGoogleYes" class="md-radiobtn" checked="checked" ng-click="vm.google()" type="radio" name="IsGoogle" value="true">
												<label for="IsGoogleYes">
													<span class="inc"></span>
													<span class="check"></span>
													<span class="box"></span>
													Google Address
												</label>
											</li>
											<li>
												<input id="IsGoogleNo" class="md-radiobtn" ng-click="vm.manual()" type="radio" name="IsGoogle" value="false">
												<label for="IsGoogleNo">
													<span class="inc"></span>
													<span class="check"></span>
													<span class="box"></span>
													Manual Address
												</label>
											</li>
										</ul>
									</div>
								</div>
								<ul class="formfields mb-0">
									<li class="wdth265" ng-if="vm.IsGoogleAddress">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetAddress")</label>
											@*<input class="form-control" type="text" name="StreetAddress" ng-model="vm.installerEmp.streetAddress" maxlength="@Installer.MaxStreetAddressLength" placeholder='@L("StreetAddress")' disabled="disabled">*@
											<input id="StreetAddress" class="form-control" placeholder="Search Address" name="StreetAddress" ng-model="vm.installerEmp.streetAddress" onFocus="geolocate()" type="text" />
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="unitTypeSelectionCombobox">@L("UnitType")</label>
											@*<select id="unitTypeSelectionCombobox"
														class=""
														ng-options="unitTypeval.unitTypeName as unitTypeval.unitTypeName for unitTypeval in vm.unitTypes"
														ng-model="vm.installerEmp.unitType"
														ui-jq="selectpicker"
														title="Select Unit Type"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" ng-change="vm.getStreetAddress()">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="UnitType" class="UnitTypetypeahead form-control" autocomplete="off" type="text" placeholder="Unit Type" ng-model="vm.installerEmp.unitType" ng-keyup="vm.getUnitTypeList()">
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("UnitNo")</label>
											<input class="form-control" type="text" name="UnitNo" ng-model="vm.installerEmp.unitNo" maxlength="@Installer.MaxUnitNumberLength" placeholder='@L("UnitNo")'>

										</div>
									</li>

								</ul>
								<ul class="formfields mb-0">
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("StreetNumber")</label>
											<input id="street_number" class="form-control" type="text" name="StreetNumber" ng-model="vm.installerEmp.streetNumber" required maxlength="@Installer.MaxStreetNumberLength" placeholder='@L("StreetNumber")'>

										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="streetNameSelectionCombobox">@L("StreetName")</label>
											@*<select id="streetNameSelectionCombobox"
														class=""
														ng-options="streetNameval.streetName as streetNameval.streetName for streetNameval in vm.streetNames"
														ng-model="vm.installerEmp.streetName"
														ui-jq="selectpicker" required
														title="Select Street"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" ng-change="vm.getStreetAddress()">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="routeName" class="StreetNametypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetName")' required ng-model="vm.installerEmp.streetName" ng-keyup="vm.getStreetNameList()">
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="streetTypeSelectionCombobox">@L("StreetType")</label>
											@*<select id="streetTypeSelectionCombobox"
														class=""
														ng-options="streetTypeval.streetTypeName as streetTypeval.streetTypeName for streetTypeval in vm.streetTypes"
														ng-model="vm.installerEmp.streetType"
														ui-jq="selectpicker" required
														title="Select Street Type"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" ng-change="vm.getStreetAddress()">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="routeType" class="StreetTypetypeahead form-control" autocomplete="off" type="text" required placeholder='@L("StreetType")' ng-model="vm.installerEmp.streetType" ng-keyup="vm.getStreetTypeList()">
										</div>
									</li>
								</ul>
								<ul class="formfields">
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="suburbSelectionCombobox">@L("Suburb")</label>
											@*<select id="suburbSelectionCombobox"
														class=""
														ng-options="suburbval.id as suburbval.suburbstatePostcodes for suburbval in vm.suburbs"
														ng-model="vm.installerEmp.suburb_Id"
														ui-jq="selectpicker" required
														title="Select Suburb"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" ng-change="vm.getPostCodes(vm.installerEmp.suburb_Id)">
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input id="locality" class="Fnametypeahead form-control" autocomplete="off" required type="text" placeholder="Suburb" ng-model="vm.suburb" ng-keyup="vm.getSuburbList()" ng-blur="vm.statePostCode()">
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="stateSelectionCombobox">@L("State")</label>
											@*<select id="stateSelectionCombobox"
														class=""
														ng-options="stateNameval.stateName as stateNameval.stateName for stateNameval in vm.stateNames"
														ng-model="vm.installerEmp.state"
														ui-jq="selectpicker" required
														title="Select State"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" disabled>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input type="text" class="form-control" id="administrative_area_level_1" required name="StreetState" ng-model="vm.installerEmp.state" placeholder="State" disabled />
											<input type="hidden" id="country" name="country" />
										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="postCodeSelectionCombobox">@L("PostCode")</label>
											@*<select id="postCodeSelectionCombobox"
														class=""
														ng-options="postCodeval.postcode as postCodeval.postcode for postCodeval in vm.postCodes"
														ng-model="vm.installerEmp.postCode"
														ui-jq="selectpicker" required
														title="Select Post Code"
														ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
														data-live-search="true" disabled>
													<option selected disabled hidden style='display: none' value=''></option>
												</select>*@
											<input type="text" class="form-control" id="postal_code" required name="StreetPostCode" ng-model="vm.installerEmp.postCode" placeholder="PostCode" disabled />
										</div>
									</li>
								</ul>
								<ul class="formfields mb-0">
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label for="addressTypeSelectionCombobox">@L("AddressType")</label>
											<select id="addressTypeSelectionCombobox"
													class=""
													ng-options="addressTypeval.id as addressTypeval.postalAddressTypeName for addressTypeval in vm.addressTypes"
													ng-model="vm.installerEmp.addressType"
													ui-jq="selectpicker"
													title="Select Address type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" required>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("PostalDelNo")</label>
											<input class="form-control" type="text" name="PostalDelNo" ng-model="vm.installerEmp.postalDelNo" maxlength="@Installer.MaxPostalDelevaryNoLength" placeholder='@L("PostalDelNo")'>

										</div>
									</li>
									<li class="wdth180">
										<div class="form-group form-md-line-input form-md-floating-labe l no-hint">
											<label for="deliveryTypeSelectionCombobox">@L("PostalDelType")</label>
											<select id="deliveryTypeSelectionCombobox"
													class=""
													ng-options="deliveryTypeval.id as deliveryTypeval.postalDeliveryTypeName for deliveryTypeval in vm.deliveryTypes"
													ng-model="vm.installerEmp.postalDelType"
													ui-jq="selectpicker"
													title="Select Postal Delivery Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="row installerdetailcnt">
							<div class="col-md-4">
								<div class="graystransparent padzero">
									<h2 class="mt30">Installer Details</h2>
									<div class="pad15">
										<ul class="formfields">
											<li>
												<div class=" form-md-line-input form-md-floating-label no-hint">
													<div class="md-checkbox-list">
														<div class="md-checkbox">
															<input id="IsInst" class="md-check" type="checkbox" name="IsInst" ng-model="vm.installerEmp.isInst">
															<label for="IsInst">
																<span class="inc"></span>
																<span class="check"></span>
																<span class="box"></span>
																@L("IsInst")
															</label>
														</div>
														@*<div class="md-checkbox">
																<label for="IsInst">
																	<span class="inc"></span>
																	<span class="check"></span>
																	<span class="box"></span>
																	@L("IsInst")
																</label>
																<input id="IsInst" class="md-check" type="checkbox" name="IsInst" ng-model="vm.installerEmp.isInst">

															</div>*@
													</div>
												</div>
											</li>
											<li>
												<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installerEmp.isInst">
													<label>@L("InstallerExpiry")</label>
													<input class="form-control" type="text" ng-blur="vm.checkInstallerCode()" name="InstallerExpiry" ng-required="vm.installerEmp.isInst" ng-model="vm.installerEmp.installerExpiry" maxlength="@Installer.MaxInstallerExpiryLength" placeholder='@L("InstallerExpiry")'>
												</div>
											</li>
											<li>
												<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installerEmp.isInst">
													<label>@L("InsAccreExDate")</label>
													@*<input class="form-control" type="date" name="InsAccreExDate" ng-model="vm.installerEmp.insAccreExDate" placeholder='@L("InsAccreExDate")'>*@
													<div class="input-group datepickerbox">
														<input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.installerEmp.insAccreExDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="vm.installerEmp.isInst" close-text="Close" alt-input-formats="altInputFormats" placeholder='@L("InsAccreExDate")' />
														<span class="input-group-btn">
															<button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
														</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="graystransparent padzero">
									<h2 class="mt30">Electrician Details</h2>
									<div class="pad15">
										<ul class="formfields">
											<li>
												<div class=" form-md-line-input form-md-floating-label no-hint">
													<div class="md-checkbox-list">
														<div class="md-checkbox">
															<input id="IsElec" class="md-check" type="checkbox" name="IsElec" ng-model="vm.installerEmp.isElec">
															<label for="IsElec">
																<span class="inc"></span>
																<span class="check"></span>
																<span class="box"></span>
																@L("IsElec")
															</label>
														</div>
														@*<div class="md-checkbox">
																<label for="IsElec">
																	<span class="inc"></span>
																	<span class="check"></span>
																	<span class="box"></span>
																	@L("IsElec")
																</label>
																<input id="IsElec" class="md-check" type="checkbox" name="IsElec" ng-model="vm.installerEmp.isElec">

															</div>*@
													</div>
												</div>
											</li>
											<li>
												<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installerEmp.isElec">
													<label>@L("ElectricalExpiry")</label>
													<input class="form-control" type="text" ng-required="vm.installerEmp.isElec" ng-blur="vm.checkInstallerCode()" name="ElectricalExpiry" ng-model="vm.installerEmp.electricalExpiry" maxlength="@Installer.MaxElectricalExpiryLength" placeholder='@L("ElectricalExpiry")'>

												</div>
											</li>
											<li>
												<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installerEmp.isElec">
													<label>@L("EleLicenceExDate")</label>
													@*<input class="form-control" type="date" name="EleLicenceExDate" ng-model="vm.installerEmp.eleLicenceExDate" placeholder='@L("EleLicenceExDate")' placeholder='@L("EleLicenceExDate")'>*@
													<div class="input-group datepickerbox">
														<input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.installerEmp.eleLicenceExDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="vm.installerEmp.isElec" close-text="Close" alt-input-formats="altInputFormats" placeholder='@L("EleLicenceExDate")' />
														<span class="input-group-btn">
															<button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
														</span>
													</div>

												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<div class="graystransparent padzero">
									<h2 class="mt30">Designer Details</h2>
									<div class="pad15">
										<ul class="formfields">
											<li>
												<div class="form-md-line-input form-md-floating-label no-hint">
													<div class="md-checkbox-list">
														<div class="md-checkbox">
															<input id="IsDesc" class="md-check" type="checkbox" name="IsDesc" ng-model="vm.installerEmp.isDesc">
															<label for="IsDesc">
																<span class="inc"></span>
																<span class="check"></span>
																<span class="box"></span>
																@L("IsDesc")
															</label>
														</div>
														@*<div class="md-checkbox">
																<label for="IsDesc">
																	<span class="inc"></span>
																	<span class="check"></span>
																	<span class="box"></span>
																	@L("IsDesc")
																</label>
																<input id="IsDesc" class="md-check" type="checkbox" name="IsDesc" ng-model="vm.installerEmp.isDesc">

															</div>*@
													</div>
												</div>
											</li>
											<li>
												<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installerEmp.isDesc">
													<label>@L("DesignerExpiry")</label>
													<input class="form-control" type="text" ng-required="vm.installerEmp.isDesc" ng-blur="vm.checkDesignerCode()" name="DesignerExpiry" ng-model="vm.installerEmp.designerExpiry" maxlength="@Installer.MaxDesignerExpiryLength" placeholder='@L("DesignerExpiry")'>

												</div>
											</li>
											<li>
												<div class="form-group form-md-line-input form-md-floating-label no-hint" ng-if="vm.installerEmp.isDesc">
													<label>@L("DesignerAccreExDate")</label>
													@*<input class="form-control" type="date" name="DesignerAccreExDate" ng-model="vm.installerEmp.designerAccreExDate" placeholder='@L("DesignerAccreExDate")'>*@
													<div class="input-group datepickerbox">
														<input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.installerEmp.designerAccreExDate" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="vm.installerEmp.isDesc" close-text="Close" alt-input-formats="altInputFormats" placeholder='@L("DesignerAccreExDate")' />
														<span class="input-group-btn">
															<button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
														</span>
													</div>
												</div>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="buttonarea">
							<button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel(vm.installer)"><i class="fa fa-times"></i>@L("Cancel")</button>
							<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
						</div>
					</div>
				</div>

			</form>
		</div>
	</div>
</div>
<script>
	// This sample uses the Autocomplete widget to help the user select a
	// place, then it retrieves the address components associated with that
	// place, and then it populates the form fields with those details.
	// This sample requires the Places library. Include the libraries=places
	// parameter when you first load the API. For example:
	// <script
	// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

	var placeSearch, autocomplete;

	var componentForm = {
		street_number: 'short_name',
		route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'short_name',
		country: 'long_name',
		postal_code: 'short_name'
	};

	function initAutocomplete() {

		// Create the autocomplete object, restricting the search predictions to
		// geographical location types.
		autocomplete = new google.maps.places.Autocomplete(
			document.getElementById('StreetAddress'), { types: ['geocode'] });

		// Avoid paying for data that you don't need by restricting the set of
		// place fields that are returned to just the address components.
		autocomplete.setFields(['address_component']);

		// When the user selects an address from the drop-down, populate the
		// address fields in the form.
		autocomplete.addListener('place_changed', fillInAddress);
	}

	function fillInAddress() {
		// Get the place details from the autocomplete object.
		var place = autocomplete.getPlace();
		//for (var component in componentForm) {
		//	document.getElementById(component).value = '';
		//	document.getElementById(component).disabled = false;
		//}

		// Get each component of the address from the place details,
		// and then fill-in the corresponding field on the form.
		for (var i = 0; i < place.address_components.length; i++) {
			var addressType = place.address_components[i].types[0];
			if (componentForm[addressType]) {
				var val = place.address_components[i][componentForm[addressType]];
				if (i == 1) {
					var res = val.split(" ");
					document.getElementById('routeName').value = res[0].trim().toUpperCase();
					document.getElementById('routeType').value = res[1].trim().toUpperCase();
				}
				else {
					document.getElementById(addressType).value = val.toUpperCase();
				}
			}
		}
	}

	// Bias the autocomplete object to the user's geographical location,
	// as supplied by the browser's 'navigator.geolocation' object.
	function geolocate() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				var geolocation = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				var circle = new google.maps.Circle(
					{ center: geolocation, radius: position.coords.accuracy });
				autocomplete.setBounds(circle.getBounds());
			});
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALoDvKqgmTfpfPOEjqS2fI1kcabuxImMA&libraries=places&callback=initAutocomplete" defer></script>