﻿@using TechnoForms.Installers
<div ng-controller="tenant.views.installer.detailEmpModel as vm">
    <div class="pagetitlebox">
  <div class="row margin-bottom-5">
            <div class="col-md-9 col-sm-9">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("InstallerEmpDetail") : </span>{{vm.installerEmp.fullName}}</span></span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <button ng-disabled="vm.saving" type="button" class="btn btn-danger btnback mt5" ng-click="vm.cancel(vm.installer)"><i class="fa fa-chevron-left" aria-hidden="true"></i> @L("Back")</button>
            </div>
        </div>
    </div>
    <div class="black-transparentbox">
      
        <div class="portlet light margin-bottom-0">
            <form name="detailEmpInstallerForm" role="form" novalidate class="form-validation">
                <div class="portlet-body">
                    <div class="createjobsform mt0">
                         <div class="graystransparent padzero">
                                    <h2>Contact Details</h2>
                                    <div class="detailbox mt30">
                        <div class="contactinfo">
                            <ul>
                                <li class="phoneno"><label> {{vm.installerEmp.phone}}</label></li>
                                <li class="mobilebox"> <label> {{vm.installerEmp.mobile}}</label>  </li>
                                <li class="faxbox"> <label> {{vm.installerEmp.fax}}</label>  </li>
                                <li class="emailbox"><label>{{vm.installerEmp.emailId}}</label></li>
                            </ul>
                        </div>
                                    </div></div>



                        @*
                            <div class="graystransparent">
                                <h2>Primary Information</h2>
                                <ul class="formfields">
                                    <li class="wdth265">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("FullName")</label>
                                            <input class="form-control" type="hidden" name="id" ng-class="{'edited':vm.installerEmp.installerId}" ng-model="vm.installerEmp.installerId">
                                            <input class="form-control" type="text" readonly="readonly" name="FullName" ng-class="{'edited':vm.installerEmp.fullName}" ng-model="vm.installerEmp.fullName" required maxlength="@Installer.MaxFullNameLength">

                                        </div>
                                    </li>
                                    <li class="wdth265">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("Phone")</label>
                                            <input class="form-control" type="text" readonly="readonly" name="Phone" ng-class="{'edited':vm.installerEmp.phone}" ng-model="vm.installerEmp.phone" required maxlength="@Installer.MaxPhoneLength">

                                        </div>
                                    </li>
                                    <li class="wdth265">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("Mobile")</label>
                                            <input class="form-control" type="text" readonly="readonly" name="Mobile" ng-class="{'edited':vm.installerEmp.mobile}" ng-model="vm.installerEmp.mobile" maxlength="@Installer.MaxMobileLength">

                                        </div>
                                    </li>
                                    <li class="wdth265">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("EmailId")</label>
                                            <input class="form-control" type="text" readonly="readonly" name="EmailId" ng-class="{'edited':vm.installerEmp.emailId}" ng-model="vm.installerEmp.emailId" required maxlength="@Installer.MaxEmailLength">

                                        </div>
                                    </li>
                                    <li class="wdth265">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("Fax")</label>
                                            <input class="form-control" type="text" readonly="readonly" name="Fax" ng-class="{'edited':vm.installerEmp.fax}" ng-model="vm.installerEmp.fax" required maxlength="@Installer.MaxFaxLength">

                                        </div>
                                    </li>
                                </ul>
                            </div>
                        *@
                        <div class="graystransparent mt40 padzero">
                            <h2>Postal Address and Street Information</h2>

                            <div class="detailbox mt30">
                                <ul>
                                    <li>
                                        <label class="title">@L("StreetAddress")</label>
                                        <label class="value">{{vm.installerEmp.streetAddress}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("Suburb")</label>
                                        <label class="value">{{vm.installerEmp.suburb}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("State")</label>
                                        <label class="value">{{vm.installerEmp.state}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("PostCode")</label>
                                        <label class="value">{{vm.installerEmp.postCode}}</label>
                                    </li>
                                    @*<li>
                    <label class="title">@L("UnitNo")</label>
                    <label class="value">{{vm.installerEmp.unitNo}}</label>
                </li>
                <li>
                    <label class="title">@L("UnitType")</label>
                    <label class="value">{{vm.installerEmp.unitType}}</label>
                </li>
                <li>
                    <label class="title">@L("StreetNumber")</label>
                    <label class="value">{{vm.installerEmp.streetNumber}}</label>
                </li>*@

                                </ul>
                            </div>
                             @* <div class="detailbox mt30">
                                <ul>
                                  <li>
                    <label class="title">@L("StreetName")</label>
                    <label class="value">{{vm.installerEmp.streetName}}</label>
                </li>
                <li>
                    <label class="title">@L("StreetType")</label>
                    <label class="value">{{vm.installerEmp.streetType}}</label>
                </li>

                                </ul>
                            </div>*@
                            <div class="detailbox mt20">
                                <ul>
                                    <li>
                                        <label class="title">@L("AddressType")</label>
                                        <label class="value">{{vm.installerEmp.addressType}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("PostalDelNo")</label>
                                        <label class="value">{{vm.installerEmp.postalDelNo}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("PostalDelType")</label>
                                        <label class="value">{{vm.installerEmp.postalDelType}}</label>
                                    </li>

                                </ul>
                            </div>
                            @*
        <ul class="formfields">
            <li class="wdth180">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label for="addressTypeSelectionCombobox">@L("AddressType")</label>
                    <select id="addressTypeSelectionCombobox"
                            class=""
                            disabled="disabled"
                            ng-options="addressTypeval.id as addressTypeval.postalAddressTypeName for addressTypeval in vm.addressTypes"
                            ng-class="{'edited':vm.installerEmp.addressType}"
                            ng-model="vm.installerEmp.addressType"
                            ui-jq="selectpicker"
                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                            data-live-search="true">
                         <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                </div>
            </li>
            <li class="wdth265">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label>@L("PostalDelNo")</label>
                    <input class="form-control" type="text" readonly="readonly" name="PostalDelNo" ng-class="{'edited':vm.installerEmp.postalDelNo}" ng-model="vm.installerEmp.postalDelNo" maxlength="@Installer.MaxPostalDelevaryNoLength">

                </div>
            </li>
            <li class="wdth180">
                <div class="form-group form-md-line-input form-md-floating-labe l no-hint">
                    <label for="deliveryTypeSelectionCombobox">@L("PostalDelType")</label>
                    <select id="deliveryTypeSelectionCombobox"
                            class=""
                            disabled="disabled"
                            ng-options="deliveryTypeval.id as deliveryTypeval.postalDeliveryTypeName for deliveryTypeval in vm.deliveryTypes"
                            ng-class="{'edited':vm.installerEmp.postalDelType}"
                            ng-model="vm.installerEmp.postalDelType"
                            ui-jq="selectpicker"
                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                            data-live-search="true">
                         <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                </div>
            </li>
        </ul>
        <ul class="formfields">
            <li class="wdth365">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label>@L("StreetAddress")</label>
                    <input class="form-control" type="text" readonly="readonly" name="StreetAddress" ng-class="{'edited':vm.installerEmp.streetAddress}" ng-model="vm.installerEmp.streetAddress" maxlength="@Installer.MaxStreetAddressLength">

                </div>
            </li>
            <li class="wdth145">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label for="unitTypeSelectionCombobox">@L("UnitType")</label>
                    <select id="unitTypeSelectionCombobox"
                            class=""
                            disabled="disabled"
                            ng-options="unitTypeval.unitTypeName as unitTypeval.unitTypeName for unitTypeval in vm.unitTypes"
                            ng-class="{'edited':vm.installerEmp.unitType}"
                            ng-model="vm.installerEmp.unitType"
                            ui-jq="selectpicker"
                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                            data-live-search="true">
                         <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                </div>
            </li>
            <li class="wdth240">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label>@L("UnitNo")</label>
                    <input class="form-control" type="text" readonly="readonly" name="UnitNo" ng-class="{'edited':vm.installerEmp.unitNo}" ng-model="vm.installerEmp.unitNo" maxlength="@Installer.MaxUnitNumberLength">

                </div>
            </li>
            <li class="wdth240">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label>@L("StreetNumber")</label>
                    <input class="form-control" type="text" readonly="readonly" name="StreetNumber" ng-class="{'edited':vm.installerEmp.streetNumber}" ng-model="vm.installerEmp.streetNumber" required maxlength="@Installer.MaxStreetNumberLength">

                </div>
            </li>
        </ul>
        <ul class="formfields">
            <li class="wdth275">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label for="streetNameSelectionCombobox">@L("StreetName")</label>
                    <select id="streetNameSelectionCombobox"
                            class=""
                            disabled="disabled"
                            ng-options="streetNameval.streetName as streetNameval.streetName for streetNameval in vm.streetNames"
                            ng-class="{'edited':vm.installerEmp.streetName}"
                            ng-model="vm.installerEmp.streetName"
                            ui-jq="selectpicker"
                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                            data-live-search="true">
                         <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                </div>
            </li>
            <li class="wdth275">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label for="streetTypeSelectionCombobox">@L("StreetType")</label>
                    <select id="streetTypeSelectionCombobox"
                            class=""
                            disabled="disabled"
                            ng-options="streetTypeval.streetTypeName as streetTypeval.streetTypeName for streetTypeval in vm.streetTypes"
                            ng-class="{'edited':vm.installerEmp.streetType}"
                            ng-model="vm.installerEmp.streetType"
                            ui-jq="selectpicker"
                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                            data-live-search="true">
                         <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                </div>
            </li>
        </ul>
        <ul class="formfields">
            <li class="wdth265">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label for="suburbSelectionCombobox">@L("Suburb")</label>
                    <select id="suburbSelectionCombobox"
                            class=""
                            disabled="disabled"
                            ng-options="suburbval.suburb as suburbval.suburb for suburbval in vm.suburbs"
                            ng-class="{'edited':vm.installerEmp.suburb}"
                            ng-model="vm.installerEmp.suburb"
                            ui-jq="selectpicker"
                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                            data-live-search="true">
                         <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                </div>
            </li>
            <li class="wdth265">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label for="stateSelectionCombobox">@L("State")</label>
                    <select id="stateSelectionCombobox"
                            class=""
                            disabled="disabled"
                            ng-options="stateNameval.stateName as stateNameval.stateName for stateNameval in vm.stateNames"
                            ng-class="{'edited':vm.installerEmp.state}"
                            ng-model="vm.installerEmp.state"
                            ui-jq="selectpicker"
                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                            data-live-search="true">
                         <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                </div>
            </li>
            <li class="wdth265">
                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <label for="postCodeSelectionCombobox">@L("PostCode")</label>
                    <select id="postCodeSelectionCombobox"
                            class=""
                            disabled="disabled"
                            ng-options="postCodeval.postCode as postCodeval.postCode for postCodeval in vm.postCodes"
                            ng-class="{'edited':vm.installerEmp.postCode}"
                            ng-model="vm.installerEmp.postCode"
                            ui-jq="selectpicker"
                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                            data-live-search="true">
                         <option selected disabled hidden style='display: none' value=''></option>
                    </select>
                </div>
            </li>
        </ul>*@
                        </div>

                        <div class="row installerdetailcnt">
                            <div class="col-md-4">
                                <div class="graystransparent padzero">
                                    <h2>Installer Details</h2>
                                    <div class="detailbox mt30">
                                        <ul>
                                            <li>
                                                <div class=" form-md-line-input form-md-floating-label no-hint">
                                                    <div class="md-checkbox-list">
                                                        <div class="md-checkbox">
                                                            <input id="IsInst" class="md-check" disabled="disabled" type="checkbox" name="IsInst" ng-class="{'edited':vm.installerEmp.isInst}" ng-model="vm.installerEmp.isInst">
                                                            <label for="IsInst">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @L("IsInst")
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="title">@L("InstallerExpiry")</label>
                                                <label class="value">{{vm.installerEmp.installerExpiry}}</label>

                                            </li>
                                            <li>
                                                <label class="title">@L("InsAccreExDate")</label>
                                                <label class="value">{{vm.installerEmp.insAccreExDate | date:'dd/MM/yyyy' }}</label>
                                            </li>
                                        </ul>
                                    </div>
                                    @* <ul class="formfields">
                                            <li>
                                                <div class="form-md-line-input form-md-floating-label no-hint">
                                                    <div class="md-checkbox-list">
                                                        <div class="md-checkbox mt30">
                                                            <label for="IsInst">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @L("IsInst")
                                                            </label>
                                                            <input id="IsInst" class="md-check" disabled="disabled" type="checkbox" name="IsInst" ng-class="{'edited':vm.installerEmp.isInst}" ng-model="vm.installerEmp.isInst">

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="wdth265">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label>@L("InstallerExpiry")</label>
                                                    <input class="form-control" type="text" readonly="readonly" name="InstallerExpiry" ng-class="{'edited':vm.installerEmp.installerExpiry}" ng-model="vm.installerEmp.installerExpiry" maxlength="@Installer.MaxInstallerExpiryLength">

                                                </div>
                                            </li>
                                            <li class="wdth265">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label>@L("InsAccreExDate")</label>
                                                    <input class="form-control" type="date" readonly="readonly" name="InsAccreExDate" ng-class="{'edited':vm.installerEmp.insAccreExDate}" ng-model="vm.installerEmp.insAccreExDate">

                                                </div>
                                            </li>
                                        </ul>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="graystransparent padzero">
                                    <h2>Electrician Details</h2>
                                    <div class="detailbox mt30">
                                        <ul>
                                            <li>
                                                <div class="form-md-line-input form-md-floating-label no-hint">
                                                    <div class="md-checkbox-list">
                                                        <div class="md-checkbox ">
                                                            <input id="IsElec" class="md-check" disabled="disabled" type="checkbox" name="IsElec" ng-class="{'edited':vm.installerEmp.isElec}" ng-model="vm.installerEmp.isElec">
                                                            <label for="IsElec">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @L("IsElec")
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="title">@L("ElectricalExpiry")</label>
                                                <label class="value">{{vm.installerEmp.electricalExpiry}}</label>

                                            </li>
                                            <li>
                                                <label class="title">@L("EleLicenceExDate")</label>
                                                <label class="value">{{vm.installerEmp.eleLicenceExDate | date:'dd/MM/yyyy'}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                    @*<ul class="formfields">
                                            <li class="wdth265">
                                                <div class=" form-md-line-input form-md-floating-label no-hint">
                                                    <div class="md-checkbox-list">
                                                        <div class="md-checkbox mt30">
                                                            <label for="IsElec">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @L("IsElec")
                                                            </label>
                                                            <input id="IsElec" class="md-check" disabled="disabled" type="checkbox" name="IsElec" ng-class="{'edited':vm.installerEmp.isElec}" ng-model="vm.installerEmp.isElec">

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="wdth265">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label>@L("ElectricalExpiry")</label>
                                                    <input class="form-control" type="text" readonly="readonly" name="ElectricalExpiry" ng-class="{'edited':vm.installerEmp.electricalExpiry}" ng-model="vm.installerEmp.electricalExpiry" maxlength="@Installer.MaxElectricalExpiryLength">

                                                </div>
                                            </li>
                                            <li class="wdth265">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label>@L("EleLicenceExDate")</label>
                                                    <input class="form-control" type="date" readonly="readonly" name="EleLicenceExDate" ng-class="{'edited':vm.installerEmp.eleLicenceExDate}" ng-model="vm.installerEmp.eleLicenceExDate">

                                                </div>
                                            </li>
                                        </ul>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="graystransparent padzero">
                                    <h2>Designer Details</h2>
                                    <div class="detailbox mt30">
                                        <ul>
                                            <li>
                                                <div class="form-md-line-input form-md-floating-label no-hint">
                                                    <div class="md-checkbox-list">
                                                        <div class="md-checkbox">
                                                            <input id="IsDesc" class="md-check" disabled="disabled" type="checkbox" name="IsDesc" ng-class="{'edited':vm.installerEmp.isDesc}" ng-model="vm.installerEmp.isDesc">
                                                            <label for="IsDesc">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @L("IsDesc")
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <label class="title">@L("DesignerExpiry")</label>
                                                <label class="value">{{vm.installerEmp.designerExpiry}}</label>

                                            </li>
                                            <li>
                                                <label class="title">@L("DesignerAccreExDate")</label>
                                                <label class="value">{{vm.installerEmp.designerAccreExDate | date:'dd/MM/yyyy'}}</label>
                                            </li>
                                        </ul>
                                    </div>
                                    @*<ul class="formfields">
                                            <li class="wdth265">
                                                <div class="form-md-line-input form-md-floating-label no-hint">
                                                    <div class="md-checkbox-list">
                                                        <div class="md-checkbox mt30">
                                                            <label for="IsDesc">
                                                                <span class="inc"></span>
                                                                <span class="check"></span>
                                                                <span class="box"></span>
                                                                @L("IsDesc")
                                                            </label>
                                                            <input id="IsDesc" class="md-check" disabled="disabled" type="checkbox" name="IsDesc" ng-class="{'edited':vm.installerEmp.isDesc}" ng-model="vm.installerEmp.isDesc">

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="wdth265">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label>@L("DesignerExpiry")</label>
                                                    <input class="form-control" type="text" readonly="readonly" name="DesignerExpiry" ng-class="{'edited':vm.installerEmp.designerExpiry}" ng-model="vm.installerEmp.designerExpiry" maxlength="@Installer.MaxDesignerExpiryLength">

                                                </div>
                                            </li>
                                            <li class="wdth265">
                                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                                    <label>@L("DesignerAccreExDate")</label>
                                                    <input class="form-control" type="date" readonly="readonly" name="DesignerAccreExDate" ng-class="{'edited':vm.installerEmp.designerAccreExDate}" ng-model="vm.installerEmp.designerAccreExDate">

                                                </div>
                                            </li>
                                        </ul>*@
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
                <div class="buttonarea">

                </div>
                @*<button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createEmpInstallerForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>*@
            </form>
        </div>
    </div>

</div>