﻿@using TechnoForms.Localization
<div ng-controller="tenant.views.installer.employeeList as vm">
     <div class="pagetitlebox">
 <div class="row ">
            <div class="col-md-9 col-sm-9">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("InstallerEmployee") : </span> {{vm.installer.fullName}}
                        </h1>
                         <button tooltip-placement="top" uib-tooltip="Add" class="btn btn-primary blue btnaddhead" ng-click="vm.createInstallerEmp(vm.installer)"><i class="fa fa-plus"></i> 
               @*@L("CreateNewInstallerEmployee")*@   </button>
                    </div>
                </div>
            </div>
             <div class="col-md-3 col-sm-3">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-danger btnback mt5" ng-click="vm.cancel()"><i class="fa fa-chevron-left"></i> @L("Back")</button>
                </div>
          
        </div>
     </div>
    <div class="black-transparentbox">
       
        <div class="portlet-body">
            <div ng-show="vm.norecord">
                <div class="errormessage">  @L("NoRecordMessage") </div>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.installerEmployeeGridOptions" ui-grid-resize-columns ui-grid-pagination full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>