﻿@using TechnoForms.RecUsers
<div ng-controller="common.views.recUser.editModel as vm">
    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">
            <form name="recUserEditForm" role="form" novalidate class="form-validation">
                <div class="row margin-bottom-5">
                    <div class="col-md-12">
                        <div class="page-head">
                            <div class="page-title">
                                <h1>
                                    <span>@L("EditingRECUser") : <span class="fname">{{vm.recUser.recUserName}}</span></span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="vm.exist">
                    <span class="help-block text-danger">{{vm.message}}</span>
                </div>
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("RecUserName")</label>
                                    <input class="form-control" type="text" name="RecUserName" ng-class="{'edited':vm.recUser.recUserName}" ng-model="vm.recUser.recUserName" required placeholder="@L("RecUserName")" maxlength="@RecUser.MaxRecUserNameLength" ng-pattern="/^[a-zA-Z\s]*$/">
                                    <div>
                                        <span class="help-block text-danger" ng-show="!recUserEditForm.RecUserName.$valid && recUserEditForm.RecUserName.$dirty">Please enter only alphabets</span>
                                    </div>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("RecPassword")</label>
                                    <input class="form-control" type="password" name="recPassword" ng-class="{'edited':vm.recUser.recPasswprd}" ng-model="vm.recUser.recPasswprd" required placeholder="@L("RecPassword")" maxlength="@RecUser.MaxRecPasswprdLength">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer transparentbackground">
                    <button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                    <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
