﻿@using TechnoForms.Localization
<div ng-controller="common.views.recUser.index as vm">
    <div class="black-transparentbox">
        <div class="row margin-bottom-5">
            <div class="col-md-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("RECUser")</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="filtermain">
                    <div class="portlet-title portlet-title-filter mt20 mr10">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form>
                                    <div class="input-group">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("RecUserName")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getRecUser()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <button ng-if="vm.permissions.createrecUser" class="btn btn-primary blue mt20" ng-click="vm.createrecUser()"><i class="fa fa-plus"></i> @L("CreatingNewRECUser")</button>
                </div>
            </div>
        </div>
        <div class="portlet light margin-bottom-0">
            <div class="portlet-body">
                <div ng-show="vm.norecord">
                    <div class="errormessage">  @L("NoRecordMessage") </div>
                </div>
                <div busy-if="vm.loading" ng-show="!vm.norecord">
                    <div ui-grid="vm.recUserGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </div>
    </div>
</div>