﻿
<style>
	#map {
		height: 100%;
	}
	html, body {
		height: 100%;
		margin: 0;
		padding: 0;
	}
</style>
<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
<style>
	#locationField, #controls {
		position: relative;
		width: 480px;
	}

	#autocomplete {
		position: absolute;
		top: 0px;
		left: 0px;
		width: 99%;
	}

	.label {
		text-align: right;
		font-weight: bold;
		width: 100px;
		color: #303030;
		font-family: "Roboto";
	}

	#address {
		border: 1px solid #000090;
		background-color: #f0f9ff;
		width: 480px;
		padding-right: 2px;
	}

		#address td {
			font-size: 10pt;
		}

	.field {
		width: 99%;
	}

	.slimField {
		width: 80px;
	}

	.wideField {
		width: 200px;
	}

	#locationField {
		height: 20px;
		margin-bottom: 2px;
	}
</style>

<div id="locationField">
	<input id="autocomplete"
		   placeholder="Enter your address"
		   onFocus="geolocate()"
		   type="text" />
</div>

@*<div ng-controller="host.views.test.index">
	<div angucomplete-alt id="txtCustomers" placeholder="Customer Name" pause="100" selected-object="SelectedCustomer"
		 local-data="unitTypeName" search-fields="unitTypeName" title-field="unitTypeName"
		 minlength="1" input-class="form-control" match-class="highlight">
	</div>
	<hr />
	Selected Customer : {{SelectedCustomer.title}}
</div>*@
<table id="address">
	<tr>
		<td class="">Street address</td>
		<td class=""><input class="" id="street_number" disabled="true" /></td>
		<td class="" colspan="2"><input class="" id="route" disabled="true" /></td>
	</tr>
	<tr>
		<td class="">City</td>
		<td class="" colspan="3"><input class="" id="locality" disabled="true" /></td>
	</tr>
	<tr>
		<td class="">State</td>
		<td class=""><input class="" id="administrative_area_level_1" disabled="true" /></td>
		<td class="">Zip code</td>
		<td class=""><input class="" id="postal_code" disabled="true" /></td>
	</tr>
	<tr>
		<td class="">Country</td>
		<td class="" colspan="3"><input class="" id="country" disabled="true" /></td>
	</tr>
</table>

<script>
	// This sample uses the Autocomplete widget to help the user select a
	// place, then it retrieves the address components associated with that
	// place, and then it populates the form fields with those details.
	// This sample requires the Places library. Include the libraries=places
	// parameter when you first load the API. For example:
	// <script
	// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

	var placeSearch, autocomplete;

	var componentForm = {
		street_number: 'short_name',
		route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'short_name',
		country: 'long_name',
		postal_code: 'short_name'
	};

	function initAutocomplete() {
		alert();
		// Create the autocomplete object, restricting the search predictions to
		// geographical location types.
		autocomplete = new google.maps.places.Autocomplete(
			document.getElementById('autocomplete'), { types: ['geocode'] });
		console.log(autocomplete);
		// Avoid paying for data that you don't need by restricting the set of
		// place fields that are returned to just the address components.
		autocomplete.setFields(['address_component']);

		// When the user selects an address from the drop-down, populate the
		// address fields in the form.
		autocomplete.addListener('place_changed', fillInAddress);
	}

	function fillInAddress() {
		// Get the place details from the autocomplete object.
		var place = autocomplete.getPlace();

		for (var component in componentForm) {
			document.getElementById(component).value = '';
			document.getElementById(component).disabled = false;
		}

		// Get each component of the address from the place details,
		// and then fill-in the corresponding field on the form.
		for (var i = 0; i < place.address_components.length; i++) {
			var addressType = place.address_components[i].types[0];
			if (componentForm[addressType]) {
				var val = place.address_components[i][componentForm[addressType]];
				document.getElementById(addressType).value = val;
			}
		}
	}

	// Bias the autocomplete object to the user's geographical location,
	// as supplied by the browser's 'navigator.geolocation' object.
	function geolocate() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				var geolocation = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				var circle = new google.maps.Circle(
					{ center: geolocation, radius: position.coords.accuracy });
				autocomplete.setBounds(circle.getBounds());
			});
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALoDvKqgmTfpfPOEjqS2fI1kcabuxImMA&libraries=places&callback=initAutocomplete" defer></script>