﻿
@{
	ViewBag.Title = "ELEReport";
	Layout = "~/Views/Layout/_Layout.cshtml";
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<style>
	.padd_right10 {
		padding-right: 5px;
	}

	.w100per .select2 {
		width: 100% !important;
	}

	.table_d {
		margin: 10px 0px 10px 0px;
	}
</style>
<div class="panel-body animate-panel padtopzero">
	<div class="searchfinal">
		<div class="widget-body shadownone brdrgray">

			<div class="dataTables_wrapper form-inline dt-bootstrap no-footer">
				<div class="dataTables_filter">
					@using (Html.BeginForm("ELEReport", "ELEReport", FormMethod.Get, new { enctype = "multipart/form-data" }))
					{
						<table cellpadding="0" cellspacing="0" border="0" class="table_d">

							<tr>
								<td width="20"></td>
								<td>
									<input type="submit" name="btnFilter" value="Sort" class="btn btn-maroon" />
								</td>
							</tr>
						</table>
					}
				</div>
			</div>
		</div>
	</div>
</div>

<div class="table-responsive printArea">
	<div id="PanGrid">
		<div class="panel-body animate-panel padtopzero">
			<div class="well with-header with-footer addform">
				<div class="table-responsive printArea" style="min-height:700px;">
					<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
					<link href="/ReportViewer/styles/kendo.common.min.css" rel="stylesheet" />
					<link href="/ReportViewer/styles/kendo.blueopal.min.css" rel="stylesheet" />
					<style>
						#reportViewer1 {
							position: absolute;
							left: 15px;
							right: 15px;
							top: 15px;
							bottom: 5px;
							overflow: hidden;
							font-family: Verdana, Arial;
						}
					</style>
					@{
						var designparameter = "ELEReport";
					}
					@(Html.TelerikReporting().ReportViewer()
                                                                                        .Id("reportViewer1")
                                                                                        .ServiceUrl("/api/ReportViewerr/")
                                                                                       //
                                                                                       .ReportSource(designparameter)
                                                                                       .ViewMode(ViewMode.PrintPreview)
                                                                                       .ScaleMode(ScaleMode.Specific)
                                                                                       .Scale(1.0)
                                                                                      ////.PersistSession(true)
                                                                                      .Deferred()
                    )
					<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer.kendo-14.2.20.916.min.js")"></script>
					<script src="@Url.Content("~/ReportViewer/js/telerikReportViewer-14.2.20.916.js")"></script>
					@(
                                             // All deferred initialization statements will be rendered here
                                             Html.TelerikReporting().DeferredScripts()
                    )
				</div>
			</div>

		</div>
	</div>
</div>