﻿@model TechnoForms.Web.Models.Jobs.JobDetails
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/signature_pad.js"></script>
<script src="~/Scripts/signature_pad.min.js"></script>
<link href="~/Content/Signature.css" rel="stylesheet" />
<style>
    .preloader {
        opacity: 0.8;
    }
</style>
<div>
    <div class="preloader" id="preloader" style="display:none;">
        <div id="status" class="status">
            <div class="spinner" id="spinner">
            </div>
        </div>
    </div>
    <div class="" style="min-height:75vh;">
        @if (ViewBag.StatusMessage == "Success")
        {
            <table class="signaturehidebox" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border:#ddd solid 1px; max-width:1000px; font-size:14px; font-family:arial; color:#494949;" width="100%">
                <tbody>
                    <tr>
                        <td style="mso-height-rule: exactly; padding:20px 0px;">
                            <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 20px; max-width:950px">
                                <tbody>
                                    <tr>
                                        <td colspan="2">
                                            <h2> SGU - Collecting Home Owner Signature email template </h2>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <p class="hostname"> Dear @ViewBag.Name,</p>
                                            <p>
                                                @Model.Company is requesting a signature for the assignment of STCs for the Solar Generation Unit (SGU) they have installed on property At
                                                @Model.StreetAddress @Model.StreetCity, @Model.StreetState-@Model.StreetPostCode On @Model.ExpectedInstallDate FOR @Model.ProjectNumber.
                                            </p>
                                            <div class="imppoints">
                                                <p><b>Before signing please verify your system details below:</b></p>
                                                <ul>
                                                    <li><strong>Panel brand:</strong> @Model.BrandName </li>
                                                    <li> <strong>Panel Model:</strong> @Model.PanelModel</li>
                                                    <li><strong>Inverter brand:</strong>  @Model.InverterBrandName</li>
                                                    <li><strong>Inverter Model:</strong> @Model.InverterModel </li>
                                                    <li><strong>System Total Rated Output kW:</strong> @Model.SystemCapacity</li>
                                                    <li><strong>No Of Panel:</strong> @Model.NoOfPanels</li>
                                                </ul>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h4> Mandatory Declaration: </h4>

                                            <ul class="listpoints">
                                                <li> I am the legal owner of the above small generation unit(SGU) and assign the right to create STCs to <strong> @Model.Company </strong></li>
                                                <li> I have not previously assigned or created any STCs for this system within this period to claim <strong>@Model.RECYearName </strong> deeming for SGU. SGUs must be registered within 12 months of installation.</li>
                                                <li> I understand i am under no obligation to assign STCs to <strong> @Model.Company.</strong></li>
                                                <li> I agree to repay the STC payment to <strong> @Model.Company </strong> should my assignment be invalid.</li>
                                                <li>  I understand that an agent of the Clean Energy Regulator or <strong> @Model.Company </strong> may wish to inspect SGU within the first five years of certificate redemption.</li>
                                                <li>I am aware that penalties can be applied for providing misleading information in this form under the Renewable (Electricity) Act 2000.</li>
                                                <li> I understand that this system is eligible for @*93.00*@  STCs in exchange for assigning my right to create these STCs I will receive from the installer/supplier a point of sale discount.</li>
                                                <li>I must retain receipts and proof of the installation date for the life of the STCs.</li>
                                                <li>Your Signature is required to sign documents pertaining to your solar system installation and connection.</li>
                                                <li> These documents are necessary to allow your installer to complete the installation process.</li>
                                                <li>Your Signature will be populated on these document types STC assignment form, Any Electrical approval forms, Any required electrical connection forms, any documents for finance or lease products if applicable.</li>
                                                <li>By signing you are agreeing that your give consent for your signature(s) to be populated on these documents.</li>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" style="height:20px;"></td>
                                    </tr>
                                    <tr>
                                        <td align="left" colspan="2" style="padding-left:10px;"><input type="checkbox" id="Check" name="Check" /> I have read and understood these terms and conditions and accept them </td>

                                    </tr>
                                    <tr>
                                        <td colspan="2" style="height:30px;"></td>
                                    </tr>
                                    <tr>
                                        <td style="width:350px;" class="blockdevice">
                                            <div class="imppoints" style="display: block; height: 320px; margin-top: 0px!important; padding: 10px 30px;">
                                                <table align="left" border="0" cellpadding="0" cellspacing="0" style="border:0px solid #ccc; margin-left: 0px; padding-bottom: 20px; max-width:100%; width:100%;">
                                                    <tbody>
                                                        <tr align="left">
                                                            <td style="padding: 10px 5px; font-size:20px; ">  SIGN HERE: </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="width: 100%; padding: 0px 10px;" colspan="2"></td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div id="myDIV">
                                                                    <div class="panel panel-default" style="padding:0px; background:#c6ddfd; border:0px;">
                                                                        <div class="panel-body" id="signature-pad" style="padding:0px; border:0px;">
                                                                            <div style="text-align:center">
                                                                                <canvas style="width: 95%; height:150px; border: 1px solid black;"></canvas>
                                                                            </div>
                                                                            <div style="text-align:right">
                                                                                <br />
                                                                                <button data-action="clear" class="btntryagain">Try Again</button>
                                                                                <button data-action="save" class="btndone">Done</button>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </td>
                                        <td style="vertical-align:top; padding-left:40px;" class="blockdevice">
                                            <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <strong> Customer name:</strong>  @ViewBag.Name
                                                        </td>
                                                    </tr>
                                                    <tr><td><strong>Date:</strong> @Model.CreationTime.ToString("dd/MM/yyyy") </td></tr>
                                                    <tr><td><strong>Email:</strong> @Model.EmailId</td></tr>
                                                    <tr><td><strong>Captured IP Address:</strong><input type="text" id="ip" name="@Html.NameFor(model => model.ip)" style="max-width:110px;" value=" @ViewBag.IPAddress" /></td></tr>
                                                    <tr><td><strong>Location:</strong><input type="text" id="log" name="@Html.NameFor(model => model.Longitude)" style="max-width:80px;margin-left:10px;" /><input type="text" id="lat" name="@Html.NameFor(model => model.Latitude)" style="max-width:80px;margin-left:10px;" /></td></tr>
                                                </tbody>
                                            </table>
                                            <table style="width:100%; margin-top:30px;" border="0" cellpadding="0" cellspacing="0">
                                                <tr>
                                                    <td> <b> Privacy Declaration: </b> @Model.Company will only use this personal information as intended and will not sell or divulge this to any parties other than the Clean Energy Regulator. If you are not the intended recipient of this email - Please dispose this email and disregard the information within. </td>
                                                </tr>
                                            </table>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="SaveSuccess" style="display:none;">
                <div class="expiredlinkbox">
                    <div class="linkexpiredbox">
                        <img src="/Common/Images/success.svg" style="width:80px;" />
                        <div style="font-size:20px;text-align:center; margin-top:30px; color:#000;">
                            Your Signature saved successfully.
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="expiredlinkbox">
                <div class="linkexpiredbox">
                    <img src="/Common/Images/clock.svg" style="width:80px;" />
                    <h3>Hello @ViewBag.Name,</h3>
                    <p class="fnt20">Signature link does not exists or expired.</p>
                    <p>
                        You can ask your owner to re-send it, <br />
                        So you can access it again.
                    </p>
                    <a href="#" class="resendlink">Click here to re-send link</a>
                </div>
            </div>
            <div style="text-align:center">
                @*<img src="@wwwroot.Class.AdminSiteConfiguration.GetURL()/content/admin/assets/images/logo.png" class="quickformlogo">*@
            </div>
            @* <div style="font-size:20px;text-align:center" class="alert alert-info">Hello @ViewBag.Name,</div>
                <div style="font-size:20px;text-align:center" class="alert alert-info">The link does not exists or expired.</div>*@
        }
    </div>
</div>
<style>
    input[type="text"] {
        border: 0px;
    }

    textarea {
        border: 0px;
        background: #fff;
    }

    .bgwith {
        background: #fff;
    }

    .whiteboxstc {
        background: #fff;
        display: inline-block;
        width: 95%;
        height: 15px;
        overflow: hidden;
        margin-bottom: 2px;
        border-bottom: 1px solid #dbd8d9;
    }

    .whitebox2stc {
        background: #fff;
        display: inline-block;
        width: 95%;
        height: 30px;
        overflow: hidden;
        margin-bottom: 2px;
        border-bottom: 1px solid #dbd8d9;
    }

    .whiteboxstc input[type="text"] {
        width: 90%;
        background: #fff;
    }

    .yesnoradio {
        display: block;
        padding: 2px;
        width: 54px;
        border-bottom: 1px solid #dbd8d9;
    }

        .yesnoradio label {
            position: relative;
            width: 100%;
            display: block;
            height: 20px;
        }

        .yesnoradio input[type="radio"] {
            float: left;
            margin-top: -2px;
        }

    .northbox {
        width: 95%;
        height: 15px;
        display: block;
    }

        .northbox label {
            position: relative;
            width: 100%;
            display: block;
        }

        .northbox table tr td label input[type="radio"] {
            float: left;
            margin-top: -4px;
            position: absolute;
            top: 3px;
            left: 0px;
        }

        .northbox table tr td label span.text {
            border: 0px solid #000;
            margin-left: 25px;
            padding-top: 2px;
        }

    .northbox2 {
        width: 95%;
        display: inline-block;
    }

        .northbox2 label.marbtm10 {
            margin-bottom: 3px;
            display: inline-block;
        }

        .northbox2 label {
            position: relative;
            width: 100%;
        }

            .northbox2 label input[type="radio"] {
                float: left;
                margin-top: -5px;
                position: absolute;
                top: 3px;
                left: 0px;
            }

            .northbox2 label span.text {
                border: 0px solid #000;
                margin-left: 25px;
                padding-top: 2px;
            }

    .black-transparentbox {
        background: rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 0px 3px 44px #000000B8;
        box-shadow: 0px 3px 44px #000000B8;
        /* min-height: 80vh; */
        border-radius: 19px;
        -webkit-border-radius: 19px;
        -moz-border-radius: 19px;
        opacity: 1;
        /* padding: 35px 30px; */
        padding: 20px 20px 70px;
        margin-top: 0px;
    }

    .signaturehidebox {
        background: #fff !important;
    }
</style>

<script>
    $(document).ready(function () {

        //getLocation1();

        // Handler for .ready() called.

        var wrapper = document.getElementById("signature-pad"),
            clearButton = wrapper.querySelector("[data-action=clear]"),
            saveButton = wrapper.querySelector("[data-action=save]"),
            canvas = wrapper.querySelector("canvas"),
            signaturePad;

        // Adjust canvas coordinate space taking into account pixel ratio,
        // to make it look crisp on mobile devices.
        // This also causes canvas to be cleared.
        function resizeCanvas() {
            var ratio = window.devicePixelRatio || 1;
            canvas.width = canvas.offsetWidth * ratio;
            canvas.height = canvas.offsetHeight * ratio;
            canvas.getContext("2d").scale(ratio, ratio);
        }


        window.onresize = resizeCanvas;
        resizeCanvas();

        signaturePad = new SignaturePad(canvas);

        clearButton.addEventListener("click", function (event) {
            signaturePad.clear();
        });

        saveButton.addEventListener("click", function (event) {
            if (signaturePad.isEmpty() && $("#Check").prop('checked') == false) {
                alert("Please provide signature and confirmation checkbox first.");
            }
            else if (signaturePad.isEmpty()) {
                alert("Please provide signature first.");
            }
            else if ($("#Check").prop('checked') == false) {
                alert("Please select the confirmation checkbox first.");
            }
            else {
                SaveImage(signaturePad.toDataURL());
            }
        });


        //Location Code
        $.get("http://ipinfo.io", function (response) {
            //alert(response);
            var location = response.loc;
            var index = location.indexOf(",");
            var ip = response.ip;
            latitude = location.substring(0, index - 1);
            longitude = location.substring(index + 1, index + 7);
            $("#lat").val(latitude);
            $("#log").val(longitude);
            $("#ip").val(ip);
        }, "jsonp");
        //Location Code End

    });

      function SaveImage(dataURL) {
            var rt = '@ViewBag.rt';
            var GuId_val = '@ViewBag.GuId';
            var log = document.getElementById("log").value;
            var lat = document.getElementById("lat").value;
            var IP = document.getElementById("ip").value;
            dataURL = dataURL.replace('data:image/png;base64,', '');
            var data = JSON.stringify(
                               {
                                   value: dataURL,
                                   rt: rt,
                                   GuId: GuId_val,
                                   log: log,
                                   lat: lat,
                                   IP:IP
                               });
            $.ajax({
                type: "POST",
                url: "/signature/SaveSignAsync",
                contentType: "application/json; charset=utf-8",
                processData: false,
                data: data,
                contentType: "application/json; charset=utf-8",
                beforeSend: function () {
                    $("#preloader").show();
                    $("#status").show();
                },
                success: function (response) {
                    if (response == "Success") {
                        $(".signaturehidebox").hide();
                        $(".SaveSuccess").show();
                        $("#preloader").hide();
                        $("#status").hide();
                    }
                    else if(response == "Error") {

                    }
                },
                error: onWebServiceFailed

            });
        }

        function onWebServiceFailed(result, status, error) {
            var errormsg = eval("(" + result.responseText + ")");
            alert(errormsg.Message);
        }
</script>