@using TechnoForms.Localization
<div ng-controller="host.views.collection.index as vm">
     <div class="pagetitlebox">
 <div class="row">
            <div class="col-xs-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("Collection")</span>
                        </h1>
                    </div>
                </div>
            </div>
            @*<div class="col-xs-6 text-right">
                    <div class="filtermain">
                    <div class="portlet-title portlet-title-filter">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form>
                                    <div class="input-group">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("SearchWithThreeDot")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.newinvitationGridOptions()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                    </div>*@
        </div>
     </div>
    <div class="black-transparentbox">
       
        <div class="portlet light margin-bottom-0">
            <div class="portlet-body">
                <div ng-show="vm.norecord">
                    <div class="errormessage">  @L("NoRecordMessage") </div>
                </div>
                <div busy-if="vm.loading">
                    <div ui-grid="vm.collectionGridOptions" ui-grid-pagination ui-grid-resize-columnsfull-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </div>
    </div>
</div>