﻿
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
.quickformlogo { width:20%; margin:30px 0px;}
canvas {border-radius:15px; margin-top:10px; height:200px; max-width:400px;
}
body{font-family: "Poppins", sans-serif !important;}
.pre-header, .social-footer{display:none!important;}
.corporate{background-image: url(../App/images/body_background.jpg)!important; background-position:fixed; background-size: cover;}
.main{min-height:80vh;}
.expiredlinkbox{width:100%; height:72vh; display:flex; justify-content: center; align-items: center; flex-direction: row;}
.linkexpiredbox{background: rgba(255,255,255,0.75); min-width: 520px; min-height: 350px; display:flex; flex-direction: column; border-radius:20px!important; justify-content: center; align-items: center;}
.linkexpiredbox h3, .linkexpiredbox p{margin:0px!important; padding:0px!important; text-align: center!important; color:#000000!important;}

.linkexpiredbox h3{margin-top:20px!important; margin-bottom: 15px!important; font-size:30px; font-weight: 500;}
.linkexpiredbox p{font-size:15px;}
.linkexpiredbox p.fnt20{font-size:20px; margin:0px 0px 10px!important;}
.linkexpiredbox  a.resendlink{background: #0064f2; border-radius:50px!important; margin-top: 20px; padding:10px 35px; color:#fff; text-align: center; font-size:14px!important;}
.linkexpiredbox  a.resendlink:hover{background:#01429f; text-decoration: none;}
.imppoints{background:#c6ddfd; border-radius:20px; padding:30px; border-radius:30px!important; margin:25px 0px!important;}
.signaturehidebox h2, p, table tr td{font-family: "Poppins", sans-serif;}
.signaturehidebox h2{font-size:30px; border-bottom:1px solid #ccc; padding-bottom:18px;}
.hostname{font-size:20px; font-weight: 400;}
table tr td p{font-size:15px; line-height: 22px;}
.imppoints p{margin:0px 0px 15px!important; padding:0px!important;}
.imppoints p b{font-size:20px; font-weight: 500!important;}
.imppoints ul{margin:0px 0px 0px 20px; padding: 0px;}
.imppoints ul li{margin: 0px 0px 5px; padding: 0px;}
table tr td h4{font-weight: 600; margin-bottom:20px; margin-top: 20px;}
ul.listpoints{margin:0px 0px 0px 25px; padding: 0px;}
ul.listpoints li{margin-bottom: 10px;}
.btntryagain{background: #0064F2;
    border: 0px;
    box-shadow: none;
    color: #fff;
    padding: 10px 30px;
    border-radius: 50px!important;
    font-weight: 600;
    font-size: 14px!important;}
    .btndone{background: #1e8e08;
        border: 0px;
        box-shadow: none;
        color: #fff;
        padding: 10px 30px;
        border-radius: 50px!important;
        font-weight: 600;
        font-size: 14px!important;}

@media screen and (max-width:825px){
    table tr td p, table tr td h2, table tr td h4{padding:0px 15px;}
    ul.listpoints {padding:0px 15px;}

}

@media only screen and (max-width: 500px) {
  table tr td p, table tr td h2{padding:0px 15px;}
    .quickformlogo {
        width: 80%;
        margin: 30px 0px;
    }
    .linkexpiredbox{background: rgba(255,255,255,0.75); min-width: 300px; min-height: 350px;}
    .blockdevice{display:block;}
}

@media screen and (min-width:1800px){
    .main{min-height:85vh;}
}


@media screen and (min-width:2200px){
    .main{min-height:90vh;}
}
