@using Abp.Web.Mvc.Extensions
<div>
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("ChangeProfilePicture")</span>
            </h3>
        </div>
        <div class="modal-body">
            <div class="uploadimbbox">
                <div class="input-group form-group">
                    <input type="text" name="Logo" id="logo" class="form-control" placeholder="No file selected" readonly required>
                    <span class="input-group-btn">
                        <div class="btn btn-default  custom-file-uploader">
                            <input id="filetoupload" file-model="myFile" type="file" name="file" nv-file-select uploader="vm.uploader" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />
                            Browse
                        </div>
                    </span>
                </div>
            </div>
            <span class="help-block m-b-none">@L("ProfilePicture_Change_Info")</span>
            @*<div class="form-group">
                <input type="file" nv-file-select uploader="vm.uploader" />
                <span class="help-block m-b-none">@L("ProfilePicture_Change_Info")</span>
            </div>*@
            <img id="ProfilePictureResize" src="" ng-show="vm.uploadedFileName" />
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
            <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>