<div>
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("ChangePassword")</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="password" name="CurrentPassword" class="form-control" ng-model="vm.passwordInfo.currentPassword" required maxlength="@TechnoForms.Authorization.Users.User.MaxPlainPasswordLength">
                <label>@L("CurrentPassword")</label>
                <span class="help-block">@Html.Raw(L("PasswordChangeDontRememberMessage", "<a href=\"" + Url.Action("ForgotPassword", "Account") + "\">" + L("ClickHere") + "</a>"))</span>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="password" name="NewPassword" class="form-control" ng-model="vm.passwordInfo.newPassword" required password-complexity password-complexity-setting="vm.passwordComplexitySetting">
                <label>@L("NewPassword")</label>
            </div>
            <div ng-messages="mySettingsForm.passwordComplexity.$error" ng-show="mySettingsForm.NewPassword.$error">
                <ul class="help-block text-danger">
                    <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityMinLengthValidator" ng-message="passwordCompexityMinLengthValidator">{{vm.passwordComplexityMessages.minLength}}</li>
                    <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityMaxLengthValidator" ng-message="passwordCompexityMaxLengthValidator">{{vm.passwordComplexityMessages.maxLength}}</li>
                    <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityUseUpperCaseLettersValidator" ng-message="passwordCompexityUseUpperCaseLettersValidator">{{vm.passwordComplexityMessages.useUpperCaseLetters}}</li>
                    <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityUseLowerCaseLettersValidator" ng-message="passwordCompexityUseLowerCaseLettersValidator">{{vm.passwordComplexityMessages.useLowerCaseLetters}}</li>
                    <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityUseNumbersValidator" ng-message="passwordCompexityUseNumbersValidator">{{vm.passwordComplexityMessages.useNumbers}}</li>
                    <li ng-show="mySettingsForm.NewPassword.$error.passwordCompexityUsePunctuationsValidator" ng-message="passwordCompexityUsePunctuationsValidator">{{vm.passwordComplexityMessages.usePunctuations}}</li>
                </ul>
            </div>
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="password" name="NewPasswordRepeat" class="form-control" ng-model="vm.passwordInfo.newPasswordRepeat" required ui-validate=" '$value==vm.passwordInfo.newPassword' " ui-validate-watch=" 'vm.passwordInfo.newPassword' ">
                <label>@L("NewPasswordRepeat")</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="mySettingsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>