﻿<div>
    <form name="linkAccountForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("LinkNewAccount")</span>
            </h4>
        </div>
        <div class="modal-body">

            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input type="text" name="TenancyName" class="form-control" ng-class="{'edited':vm.linkUser.tenancyName}" ng-model="vm.linkUser.tenancyName" maxlength="@TechnoForms.MultiTenancy.Tenant.MaxTenancyNameLength">
                <label>@L("TenancyName")</label>
            </div>

            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <input class="form-control" type="text" name="UserName" ng-class="{'edited':vm.linkUser.usernameOrEmailAddress}" ng-model="vm.linkUser.usernameOrEmailAddress" required maxlength="@TechnoForms.Authorization.Users.User.MaxEmailAddressLength">
                <label>@L("UserName")</label>
            </div>

            <div class="form-group form-md-line-input form-md-floating-label">
                <input type="password" ng-class="{'edited':vm.linkUser.password}" name="Password" class="form-control" ng-model="vm.linkUser.password" required maxlength="@TechnoForms.Authorization.Users.User.MaxPasswordLength">
                <label>@L("Password")</label>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="linkAccountForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>