﻿@using TechnoForms.Installers
<div ng-controller="tenant.views.installerInvitation.detailInstallerModel as vm">
    <div class="black-transparentbox">
        <div class="row margin-bottom-5">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("InstallerDetail") : {{vm.installer.fullName}}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="portlet light margin-bottom-0">
            <form name="detailInstallerForm" role="form" novalidate class="form-validation">
                <div class="portlet-body">
                    <div class="createjobsform">
                        <h2>Primary Information</h2>
                        <ul class="formfields">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="userSelectionCombobox">@L("SelectUser")</label>
                                    <select id="userSelectionCombobox"
                                            class=""
                                            ng-options="userval.id as userval.userName for userval in vm.users"
                                            ng-model="vm.installer.userId"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                            <li class="width265">
                                <div class="">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>@L("FullName")</label>
                                        <input class="form-control" type="text" name="FullName" readonly="readonly" ng-class="{'edited':vm.installer.fullName}" ng-model="vm.installer.fullName" required maxlength="@Installer.MaxFullNameLength" placeholder='@L("FullName")'>
                                    </div>
                                </div>
                            </li>
                            <li class="width265">
                                <div class="">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>@L("Phone")</label>
                                        <input class="form-control" type="text" name="Phone" readonly="readonly" ng-class="{'edited':vm.installer.phone}" ng-model="vm.installer.phone" required maxlength="@Installer.MaxPhoneLength" placeholder='@L("Phone")'>
                                    </div>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Mobile")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="Mobile" ng-class="{'edited':vm.installer.mobile}" ng-model="vm.installer.mobile" maxlength="@Installer.MaxMobileLength" placeholder='@L("Mobile")'>
                                </div>
                            </li>
                            <li class="width265">
                                <div class="">
                                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>@L("EmailId")</label>
                                        <input class="form-control" type="text" readonly="readonly" name="EmailId" ng-class="{'edited':vm.installer.emailId}" ng-model="vm.installer.emailId" required maxlength="@Installer.MaxEmailLength" placeholder='@L("EmailId")'>
                                    </div>
                                </div>
                            </li>
                            <li class="wdth365">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("CompanyName")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="CompanyName" ng-class="{'edited':vm.installer.companyName}" ng-model="vm.installer.companyName" required maxlength="@Installer.MaxCompanyNameLength" placeholder='@L("CompanyName")'>
                                </div>
                            </li>
                        </ul>
                        <ul class="formfields">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("ABN")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="ABN" ng-class="{'edited':vm.installer.abn}" ng-model="vm.installer.abn" required maxlength="@Installer.MaxABNLength" placeholder='@L("ABN")'>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("CompanyPhone")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="CompanyPhone" ng-class="{'edited':vm.installer.companyPhone}" ng-model="vm.installer.companyPhone" maxlength="@Installer.MaxCompanyPhoneLength" placeholder='@L("CompanyPhone")'>
                                </div>
                            </li>
                            <li class="wdth365">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Fax")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="Fax" ng-class="{'edited':vm.installer.fax}" ng-model="vm.installer.fax" required maxlength="@Installer.MaxFaxLength" placeholder='@L("Fax")'>
                                </div>
                            </li>
                        </ul>
                        <ul>
                            <li class="wdth365">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("IsGstReg")</label>
                                    <input id="IsGSTYes" class="md-radiobtn" type="radio" name="IsGST" ng-class="{'edited':vm.installer.isGST}" ng-model="vm.installer.isGST" value="true">
                                    <label for="IsGSTYes">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("Yes")
                                    </label>
                                    <input id="IsGSTNo" class="md-radiobtn" type="radio" name="IsGST" ng-class="{'edited':vm.installer.isGST}" ng-model="vm.installer.isGST" value="false">
                                    <label for="IsGSTNo">
                                        <span class="inc"></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                        @L("No")
                                    </label>
                                </div>
                            </li>
                        </ul>
                        <h2>Postal Address and Street Information</h2>


                        <ul class="formfields">
                            <li class="wdth365">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("StreetAddress")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="StreetAddress" ng-class="{'edited':vm.installer.streetAddress}" ng-model="vm.installer.streetAddress" maxlength="@Installer.MaxStreetAddressLength" placeholder='@L("StreetAddress")'>
                                </div>
                            </li>
                            <li class="wdth145">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="unitTypeSelectionCombobox">@L("UnitType")</label>
                                    <select id="unitTypeSelectionCombobox"
                                            class=""
                                            ng-options="unitTypeval.unitTypeName as unitTypeval.unitTypeName for unitTypeval in vm.unitTypes"
                                            ng-class="{'edited':vm.installer.unitType}"
                                            ng-model="vm.installer.unitType"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                            <li class="wdth240">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("UnitNo")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="UnitNo" ng-class="{'edited':vm.installer.unitNo}" ng-model="vm.installer.unitNo" maxlength="@Installer.MaxUnitNumberLength" placeholder='@L("UnitNo")'>
                                </div>
                            </li>
                            <li class="wdth240">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("StreetNumber")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="StreetNumber" ng-class="{'edited':vm.installer.streetNumber}" ng-model="vm.installer.streetNumber" required maxlength="@Installer.MaxStreetNumberLength" placeholder='@L("StreetNumber")'>
                                </div>
                            </li>
                        </ul>

                        <ul class="formfields">
                            <li class="wdth275">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="streetNameSelectionCombobox">@L("StreetName")</label>
                                    <select id="streetNameSelectionCombobox"
                                            class=""
                                            ng-options="streetNameval.streetName as streetNameval.streetName for streetNameval in vm.streetNames"
                                            ng-class="{'edited':vm.installer.streetName}"
                                            ng-model="vm.installer.streetName"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                            <li class="wdth275">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="streetTypeSelectionCombobox">@L("StreetType")</label>
                                    <select id="streetTypeSelectionCombobox"
                                            class=""
                                            ng-options="streetTypeval.streetTypeName as streetTypeval.streetTypeName for streetTypeval in vm.streetTypes"
                                            ng-class="{'edited':vm.installer.streetType}"
                                            ng-model="vm.installer.streetType"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <ul class="formfields">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="suburbSelectionCombobox">@L("Suburb")</label>
                                    <select id="suburbSelectionCombobox"
                                            class=""
                                            ng-options="suburbval.suburb as suburbval.suburb for suburbval in vm.suburbs"
                                            ng-class="{'edited':vm.installer.suburbs}"
                                            ng-model="vm.installer.suburb"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>

                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="stateSelectionCombobox">@L("State")</label>
                                    <select id="stateSelectionCombobox"
                                            class=""
                                            ng-options="stateNameval.stateName as stateNameval.stateName for stateNameval in vm.stateNames"
                                            ng-class="{'edited':vm.installer.stateNames}"
                                            ng-model="vm.installer.state"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="postCodeSelectionCombobox">@L("PostCode")</label>
                                    <select id="postCodeSelectionCombobox"
                                            class=""
                                            ng-options="postCodeval.postCode as postCodeval.postCode for postCodeval in vm.postCodes"
                                            ng-class="{'edited':vm.installer.postCodes}"
                                            ng-model="vm.installer.postCode"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                        </ul>
                        <ul class="formfields">
                            <li class="wdth180">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="addressTypeSelectionCombobox">@L("AddressType")</label>
                                    <select id="addressTypeSelectionCombobox"
                                            class=""
                                            ng-options="addressTypeval.id as addressTypeval.postalAddressTypeName for addressTypeval in vm.addressTypes"
                                            ng-class="{'edited':vm.installer.addressType}"
                                            ng-model="vm.installer.addressType"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("PostalDelNo")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="PostalDelNo" ng-class="{'edited':vm.installer.postalDelNo}" ng-model="vm.installer.postalDelNo" maxlength="@Installer.MaxPostalDelevaryNoLength" placeholder='@L("PostalDelNo")'>
                                </div>
                            </li>
                            <li class="wdth180">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="deliveryTypeSelectionCombobox">@L("PostalDelType")</label>
                                    <select id="deliveryTypeSelectionCombobox"
                                            class=""
                                            ng-options="deliveryTypeval.id as deliveryTypeval.postalDeliveryTypeName for deliveryTypeval in vm.deliveryTypes"
                                            ng-class="{'edited':vm.installer.postalDelType}"
                                            ng-model="vm.installer.postalDelType"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                        <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                        </ul>

                        <h2>Upload Images</h2>
                        <ul class="formfields">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Logo")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="Logo" ng-class="{'edited':vm.installer.logo}" ng-model="vm.installer.logo" maxlength="@Installer.MaxlogoLength" placeholder='@L("Logo")'>
                                    @*<input id="Logo" type="file" nv-file-select uploader="vm.uploader" />
                    <span class="help-block m-b-none">@L("Logo")</span>*@
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("AccreditationAccPhoto")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="AccreditationAccPhoto" ng-class="{'edited':vm.installer.accreditationAccPhoto}" ng-model="vm.installer.accreditationAccPhoto" maxlength="@Installer.MaxAccreditationAccPhotoLength" placeholder='@L("AccreditationAccPhoto")'>
                                    @*<input id="AccreditationAccPhoto" type="file" nv-file-select uploader="vm.installer.accreditationAccPhoto" />
                    <span class="help-block m-b-none">@L("AccreditationAccPhoto")</span>*@
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("LicencePhoto")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="LicencePhoto" ng-class="{'edited':vm.installer.licencePhoto}" ng-model="vm.installer.licencePhoto" maxlength="@Installer.MaxLicencePhotoLength" placeholder='@L("LicencePhoto")'>
                                    @*<input id="LicencePhoto" type="file" nv-file-select uploader="vm.installer.licencePhoto" />
                    <span class="help-block m-b-none">@L("LicencePhoto")</span>*@
                                </div>
                            </li>
                        </ul>
                        <h2>Installer Details</h2>
                        <ul class="formfields">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="IsInst" class="md-check" disabled="disabled" type="checkbox" name="IsInst" ng-class="{'edited':vm.installer.isInst}" ng-model="vm.installer.isInst">
                                            <label for="IsInst">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsInst")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("InstallerExpiry")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="InstallerExpiry" ng-class="{'edited':vm.installer.installerExpiry}" ng-model="vm.installer.installerExpiry" maxlength="@Installer.MaxInstallerExpiryLength" placeholder='@L("InstallerExpiry")'>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("InsAccreExDate")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="InsAccreExDate" ng-class="{'edited':vm.installer.insAccreExDate}" ng-model="vm.installer.insAccreExDate" placeholder='@L("InsAccreExDate")'>
                                </div>
                            </li>
                        </ul>
                        <h2>Electrician Details</h2>
                        <ul class="formfields">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="IsElec" class="md-check" disabled="disabled" type="checkbox" name="IsElec" ng-class="{'edited':vm.installer.isElec}" ng-model="vm.installer.isElec">
                                            <label for="IsElec">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsElec")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("ElectricalExpiry")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="ElectricalExpiry" ng-class="{'edited':vm.installer.electricalExpiry}" ng-model="vm.installer.electricalExpiry" maxlength="@Installer.MaxElectricalExpiryLength" placeholder='@L("ElectricalExpiry")'>
                                </div>

                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("EleLicenceExDate")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="EleLicenceExDate" ng-class="{'edited':vm.installer.eleLicenceExDate}" ng-model="vm.installer.eleLicenceExDate" placeholder='@L("EleLicenceExDate")'>
                                </div>
                            </li>
                        </ul>
                        <h2>Designer Details</h2>
                        <ul class="formfields">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox">
                                            <input id="IsDesc" class="md-check" disabled="disabled" type="checkbox" name="IsDesc" ng-class="{'edited':vm.installer.isDesc}" ng-model="vm.installer.isDesc">
                                            <label for="IsDesc">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsDesc")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("DesignerExpiry")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="DesignerExpiry" ng-class="{'edited':vm.installer.designerExpiry}" ng-model="vm.installer.designerExpiry" maxlength="@Installer.MaxDesignerExpiryLength" placeholder='@L("DesignerExpiry")'>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("DesignerAccreExDate")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="DesignerAccreExDate" ng-class="{'edited':vm.installer.designerAccreExDate}" ng-model="vm.installer.designerAccreExDate" placeholder='@L("DesignerAccreExDate")'>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                </div>
            </form>
        </div>
    </div>
</div>