@using TechnoForms.Authorization.Roles
<div @*ng-controller="common.views.roles.createOrEditModal as vm"*@>
    	<div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								<span ng-if="vm.role.id">@L("EditRole"): <span class="fname">{{vm.role.displayName}}</span></span>
                                <span ng-if="!vm.role.id">@L("CreateNewRole")</span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">
            <form name="roleCreateOrEditForm" role="form" novalidate class="form-validation">            
                <div class="portlet-body">
                    <div class="createjobsform mt0" style="max-height: 400px; overflow:auto">
                        <uib-tabset class="tab-container tabbable-line">
                            <uib-tab heading="@L("RoleProperties")">
                                <ul class="formfields">
                                    <li class="wdth265">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("RoleName")</label>
                                            <input auto-focus class="form-control" type="text" name="RoleDisplayName" ng-class="{'edited':vm.role.displayName}" ng-model="vm.role.displayName" required maxlength="@Role.MaxDisplayNameLength">

                                        </div>
                                    </li>
                                    <li class="wdth365">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <div class="md-checkbox-list">
                                                <div class="md-checkbox mt18">
                                                    <input id="EditRole_IsDefault" class="md-check" type="checkbox" name="IsDefault" ng-model="vm.role.isDefault">
                                                    <label for="EditRole_IsDefault">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        @L("Default")
                                                    </label>
                                                    <span class="help-block">@L("DefaultRole_Description")</span>
                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </uib-tab>
                            <uib-tab heading="@L("Permissions")">
                                <permission-tree edit-data="vm.permissionEditData"></permission-tree>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                    <div class="modal-footer transparentbackground">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"> </i> <span>@L("Cancel") </span> </button>
                        <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>