@using TechnoForms.Localization
<div ng-controller="common.views.roles.index as vm">
    <div class="pagetitlebox">
<div class="row">
        <div class="col-md-4">
            <div class="page-head">
                <div class="page-title">
                    <h1>
                        <span>@L("Roles")</span>
                    </h1>
                    <button ng-if="vm.permissions.create" tooltip-placement="top" uib-tooltip="Add" class="btn btn-primary blue btnaddhead" ng-click="vm.createRole()"><i class="fa fa-plus"></i> 
                    @*@L("CreateNewRole")*@  </button>
                </div>
            </div>
        </div>

        
        <div class="col-md-8 text-right">
            <div class="filtermain rolefilter">
               <permission-combo selected-permission="vm.requestParams.permission"></permission-combo>
                <button class="btn btn-primary blue mt20" ng-click="vm.getRoles()"><i class="fa fa-refresh"></i> @L("Refresh")</button>
                
            
            @*<a ng-click="showFilter = !showFilter" class="btn-filter">  </a>*@
            </div>
        </div>
    </div>
    </div>
     <div class="black-transparentbox">
    
    <div class="portlet light margin-bottom-0">
        @* <div class="filterarea" ng-show="showFilter">
              <form>
                    <ul>
                        <li> <permission-combo selected-permission="vm.requestParams.permission"></permission-combo> </li>
                        <li><button class="btn btn-primary blue" ng-click="vm.getRoles()"><i class="fa fa-refresh"></i> @L("Refresh")</button></li>
                    </ul>
            </form>
        </div>    *@
        <!-- <div class="portlet-title portlet-title-filter">
            <div class="inputs inputs-full-width">
                <div class="portlet-input">
                    <form>
                        <div class="row">
                            <div class="col-xs-6">
                               
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> -->
        <div class="portlet-body">
            <div ng-show="vm.norecord">
                <div class="errormessage">  @L("NoRecordMessage") </div>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.roleGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
</div>
</div>