@using TechnoForms.StreetTypes
<div @*ng-controller="host.views.streettype.createModal as vm"*@>
    
            <form name="createStreetTypeForm" role="form" novalidate class="form-validation">
                	<div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								 <span>@L("CreateNewStreetType")</span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>    
        <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">      
                <div ng-show="vm.exist">
                    <span class="help-block text-danger">{{vm.message}}</span>
                </div>
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields">
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("StreetTypeName")</label>
                                    <input auto-focus type="text" name="StreetTypeName" class="form-control" ng-model="vm.streetType.streetTypeName" required maxlength="@StreetType.MaxStreetTypeCodeLength" placeholder="@L("StreetTypeName")">
                                </div>
                            </li>
                            <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("StreetTypeCode")</label>
                                    <input class="form-control" type="text" name="StreetTypeCode" ng-model="vm.streetType.streetTypeCode" required maxlength="@StreetType.MaxStreetTypeNameLength" placeholder="@L("StreetTypeCode")">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer transparentbackground">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span>@L("Cancel")</span></button>
                    <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
           
        </div>
    </div>
 </form>

</div>