@using TechnoForms.StreetTypes
<div @*ng-controller="host.views.streettype.editModal as vm"*@>
    
            <form name="streettypeEditForm" role="form" novalidate class="form-validation">
                       	<div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								 <span>@L("EditingStreetType") : <span class="fname">{{vm.streettype.streetTypeName}}</span></span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div> 
        <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">

                <div ng-show="vm.exist">
                    <span class="help-block text-danger">{{vm.message}}</span>
                </div>

                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields">
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("StreetTypeName")</label>
                                    <input auto-focus type="text" name="StreetTypeName" class="form-control input-ltr" ng-class="{'edited':vm.streettype.streetTypeName}" ng-model="vm.streettype.streetTypeName" required maxlength="@StreetType.MaxStreetTypeNameLength">
                                </div>
                            </li>
                            <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("StreetTypeCode")</label>
                                    <input type="text" name="StreetTypeCode" class="form-control edited" ng-model="vm.streettype.streetTypeCode" required maxlength="@StreetType.MaxStreetTypeCodeLength">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer transparentbackground">
                    <button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span>@L("Cancel")</span></button>
                    <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
           
        </div>
    </div>
     </form>
</div>