@using TechnoForms.Localization

<div ng-controller="host.views.streettype.index as vm">
	<div class="pagetitlebox">
		<div class="row">
			<div class="col-md-6">
				<div class="page-head">
					<div class="page-title">
						<h1>
							<span>@L("StreetType")</span>
						</h1>
						<button tooltip-placement="top" uib-tooltip="Add" ng-if="vm.permissions.createstreettype" class="btn btn-primary blue btnaddhead" ng-click="vm.createStreetType()"><i class="fa fa-plus"></i> @*@L("CreateNewStreetType")*@</button>
					</div>
				</div>
			</div>
			<div class="col-md-6 text-right">
				<div class="filtermain">
					<div class="portlet-title portlet-title-filter mr10 mt5">
						<div class="inputs inputs-full-width">
							<div class="portlet-input">
								<form>
									<div class="input-group">
										<input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("StreetTypeName")" type="text">
										<span class="input-group-btn">
											<button ng-click="vm.getStreetType()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
										</span>
									</div>
								</form>
							</div>
						</div>
					</div>

					@*<a ng-click="showFilter = !showFilter" class="btn-filter">  </a>*@
				</div>
			</div>
		</div>
	</div>
	<div class="black-transparentbox">

		<div class="portlet light margin-bottom-0">
			<div class="portlet-body">
				<div ng-show="vm.norecord">
					<div class="errormessage">  @L("NoRecordMessage") </div>
				</div>
				<div busy-if="vm.loading">
					<div ui-grid="vm.streetTypeGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
				</div>
			</div>
		</div>
	</div>
</div>