﻿@using TechnoForms.Installers
<div ng-controller="host.views.allInstallers.detailInstallerModel as vm">

     <div class="pagetitlebox">
   <div class="row">
                <div class="col-md-9">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>@L("InstallerDetail") : <span class="fname">{{vm.installer.fullName}}</span></span>
                            </h1>


                        </div>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-danger btnback" ng-click="vm.cancel()"><i class="fa fa-chevron-left"></i> @L("Back")</button>
                </div>
            </div>
     </div>
    <div class="black-transparentbox backlightbray">
        <form name="detailInstallerForm" role="form" novalidate class="form-validation">
         
            <div class="portlet-body">
                <div class="createjobsform">
                     <div class="graystransparent padzero">
                          <h2>Company Detail</h2>
                        <div class="detailbox mt30">
                            <div class="contactinfo">
                                <ul>
                                    <li class="phoneno"><label> {{vm.installer.phone}}</label></li>
                                    <li class="mobilebox"> <label> {{vm.installer.mobile}}</label>  </li>
                                    <li class="emailbox"><label>{{vm.installer.emailId}}</label></li>
                                </ul>
                            </div>
                        </div>
                        <div class="detailbox mt30">
                            <ul>
                                <li>
                                    <label class="title">@L("CompanyName")</label>
                                    <label class="value">{{vm.installer.companyName}}</label>
                                </li>
                                <li>
                                    <label class="title">@L("ABN")</label>
                                    <label class="value">{{vm.installer.abn}}</label>
                                </li>
                                <li>
                                    <label class="title">@L("CompanyPhone")</label>
                                    <label class="value">{{vm.installer.companyPhone}}</label>
                                </li>
                                <li>
                                    <label class="title">@L("Fax")</label>
                                    <label class="value">{{vm.installer.fax}}</label>
                                </li>
                                <li>
                                    <label class="title">@L("IsGstReg")</label>
                                    <label class="value">{{vm.installer.isGST}}</label>
                                </li>
                            </ul>
                        </div>
                    <div class="detailbox mt30">
                        <ul>
                            <li class="wdth265">
                                <label class="title">@L("Logo")</label>
                                <a id="Logophoto" ng-click="vm.openNewTab(vm.logoFileName)"><img src="~/Common/Images/icon_downloadimage.png" /></a>
                                @*<label class="value uploadimgbox"></label>*@
                            </li>
                            <li class="wdth265">
                                <label class="title">@L("AccreditationAccPhoto")</label>
                                <a id="accphoto" ng-click="vm.openNewTab(vm.accFileName)"><img src="~/Common/Images/icon_downloadimage.png" /></a>
                                @*<label class="value uploadimgbox"></label>*@
                            </li>
                            <li class="wdth265">
                                <label class="title">@L("LicencePhoto")</label>
                                @*<label class="value uploadimgbox"></label>*@
                                <a id="licencephoto" ng-click="vm.openNewTab(vm.licenceFileName)"><img src="~/Common/Images/icon_downloadimage.png" /></a>
                            </li>

                        </ul>
                    </div>
                    </div>
                    <div class="graystransparent mt30 padzero">
                        <h2>Postal Address and Street Information</h2>

                        <div class="detailbox ">
                            <ul>
                                <li>
                                    <label class="title">@L("StreetAddress")</label>
                                    <label class="value">{{vm.installer.streetAddress}}</label>
                                </li>
                                @*<li>
                    <label class="title">@L("UnitNo")</label>
                    <label class="value">{{vm.installer.unitNo}}</label>
                </li>
                <li>
                    <label class="title">@L("UnitType")</label>
                    <label class="value">{{vm.installer.unitType}}</label>
                </li>
                <li>
                    <label class="title">@L("StreetNumber")</label>
                    <label class="value">{{vm.installer.streetNumber}}</label>
                </li>*@
                                <li>
                                    <label class="title">@L("Suburb")</label>
                                    <label class="value">{{vm.installer.suburb}}</label>
                                </li>
                                <li>
                                    <label class="title">@L("State")</label>
                                    <label class="value">{{vm.installer.state}}</label>
                                </li>
                                <li>
                                    <label class="title">@L("PostCode")</label>
                                    <label class="value">{{vm.installer.postCode}}</label>
                                </li>
                            </ul>
                        </div>
                        <div class="detailbox ">
                            <ul>
                                <li>
                                    <label class="title">@L("AddressType")</label>
                                    <label class="value">{{vm.installer.addressTypeName}}</label>
                                </li>
                                <li>
                                    <label class="title">@L("PostalDelNo")</label>
                                    <label class="value">{{vm.installer.postalDelNo}}</label>
                                </li>
                                <li>
                                    <label class="title">@L("PostalDelType")</label>
                                    <label class="value">{{vm.installer.postalDelTypeName}}</label>
                                </li>

                            </ul>
                        </div>
                      @*  <div class="detailbox mt30">
                            <ul>
                                <li>
                    <label class="title">@L("StreetName")</label>
                    <label class="value">{{vm.installer.streetName}}</label>
                </li>
                <li>
                    <label class="title">@L("StreetType")</label>
                    <label class="value">{{vm.installer.streetType}}</label>
                </li>

                            </ul>
                        </div>*@
                    </div>
                    <div class="row installerdetailcnt">
                        <div class="col-md-4 pr8">
                            <div class="graystransparent padzero">
                                <h2>Installer Details</h2>
                                <div class="detailbox mt30">
                                    <ul>
                                        <li>
                                            <div class=" form-md-line-input form-md-floating-label no-hint">
                                                <div class="md-checkbox-list">
                                                    <div class="md-checkbox">
                                                        <input id="IsInst" class="md-check" disabled="disabled" type="checkbox" name="IsInst" ng-class="{'edited':vm.installer.isInst}" ng-model="vm.installer.isInst">
                                                        <label for="IsInst">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            @L("IsInst")
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-if="vm.installer.isInst">
                                            <label class="title">@L("InstallerExpiry")</label>
                                            <label class="value">{{vm.installer.installerExpiry}}</label>

                                        </li>
                                        <li ng-if="vm.installer.isInst">
                                            <label class="title">@L("InsAccreExDate")</label>
                                            <label class="value">{{vm.installer.insAccreExDate | date:'dd/MM/yyyy'}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pl8 pr8">
                            <div class="graystransparent padzero">
                                <h2>Electrician Details</h2>
                                <div class="detailbox mt30">
                                    <ul>
                                        <li>
                                            <div class="form-md-line-input form-md-floating-label no-hint">
                                                <div class="md-checkbox-list">
                                                    <div class="md-checkbox ">
                                                        <input id="IsElec" class="md-check" disabled="disabled" type="checkbox" name="IsElec" ng-class="{'edited':vm.installer.isElec}" ng-model="vm.installer.isElec">
                                                        <label for="IsElec">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            @L("IsElec")
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-if="vm.installer.isElec">
                                            <label class="title">@L("ElectricalExpiry")</label>
                                            <label class="value">{{vm.installer.electricalExpiry}}</label>

                                        </li>
                                        <li ng-if="vm.installer.isElec">
                                            <label class="title">@L("EleLicenceExDate")</label>
                                            <label class="value">{{vm.installer.eleLicenceExDate | date:'dd/MM/yyyy'}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 pl8">
                            <div class="graystransparent padzero">
                                <h2>Designer Details</h2>
                                <div class="detailbox mt30">
                                    <ul>
                                        <li>
                                            <div class="form-md-line-input form-md-floating-label no-hint">
                                                <div class="md-checkbox-list">
                                                    <div class="md-checkbox">
                                                        <input id="IsDesc" class="md-check" disabled="disabled" type="checkbox" name="IsDesc" ng-class="{'edited':vm.installer.isDesc}" ng-model="vm.installer.isDesc">
                                                        <label for="IsDesc">
                                                            <span class="inc"></span>
                                                            <span class="check"></span>
                                                            <span class="box"></span>
                                                            @L("IsDesc")
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li ng-if="vm.installer.isDesc">
                                            <label class="title">@L("DesignerExpiry")</label>
                                            <label class="value">{{vm.installer.designerExpiry}}</label>
                                        </li>
                                        <li ng-if="vm.installer.isDesc">
                                            <label class="title">@L("DesignerAccreExDate")</label>
                                            <label class="value">{{vm.installer.designerAccreExDate | date:'MM/dd/yyyy'}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    @* <h2>Primary Information</h2>*@
                    @*<ul class="formfields mb-0">
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label for="userSelectionCombobox">@L("SelectUser")</label>
                                    <select id="userSelectionCombobox"
                                            class=""
                                            ng-options="userval.id as userval.userName for userval in vm.users"
                                            ng-model="vm.installer.userId"
                                            ui-jq="selectpicker"
                                            disabled="disabled"
                                            ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                            data-live-search="true">
                                         <option selected disabled hidden style='display: none' value=''></option>
                                    </select>
                                </div>
                            </li>
                            <li class="wdth265">
                                 <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                     <label>@L("FullName")</label>
                                    <input class="form-control" type="text" name="FullName" readonly="readonly" ng-class="{'edited':vm.installer.fullName}" ng-model="vm.installer.fullName" required maxlength="@Installer.MaxFullNameLength" placeholder='@L("FullName")'>
                                </div>
                            </li>
                            </ul>
                            <ul class="formfields">
                            <li class="wdth165">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Phone")</label>
                                    <input class="form-control" type="text" name="Phone" readonly="readonly" ng-class="{'edited':vm.installer.phone}" ng-model="vm.installer.phone" required maxlength="@Installer.MaxPhoneLength" placeholder='@L("Phone")'>
                                </div>
                            </li>
                            <li class="wdth165">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Mobile")</label>
                                    <input class="form-control" type="text" name="Mobile" readonly="readonly" ng-class="{'edited':vm.installer.mobile}" ng-model="vm.installer.mobile" maxlength="@Installer.MaxMobileLength" placeholder='@L("Mobile")'>
                                </div>
                            </li>
                            <li class="wdth365">
                                 <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                     <label>@L("EmailId")</label>
                                    <input class="form-control" type="text" name="EmailId" readonly="readonly" ng-class="{'edited':vm.installer.emailId}" ng-model="vm.installer.emailId" required maxlength="@Installer.MaxEmailLength" placeholder='@L("EmailId")'>
                                </div>
                            </li>
                        </ul>*@
                    @* <h2 class="mt30">Company Information</h2>*@
                    @* <ul class="formfields mt-0">
                        <li class="wdth265">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label>@L("CompanyName")</label>
                                <input class="form-control" type="text" name="CompanyName" readonly="readonly" ng-class="{'edited':vm.installer.companyName}" ng-model="vm.installer.companyName" required maxlength="@Installer.MaxCompanyNameLength" placeholder='@L("CompanyName")'>
                            </div>
                        </li>
                        <li class="wdth165">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("ABN")</label>
                                <input class="form-control" type="text" name="ABN" readonly="readonly" ng-class="{'edited':vm.installer.abn}" ng-model="vm.installer.abn" required maxlength="@Installer.MaxABNLength" placeholder='@L("ABN")'>
                            </div>
                        </li>
                         <li class="wdth165">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("CompanyPhone")</label>
                                <input class="form-control" type="text" name="CompanyPhone" readonly="readonly" ng-class="{'edited':vm.installer.companyPhone}" ng-model="vm.installer.companyPhone" maxlength="@Installer.MaxCompanyPhoneLength" placeholder='@L("CompanyPhone")'>

                            </div>
                        </li>
                         <li class="wdth165">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label>@L("Fax")</label>
                                <input class="form-control" type="text" name="Fax" readonly="readonly" ng-class="{'edited':vm.installer.fax}" ng-model="vm.installer.fax" required maxlength="@Installer.MaxFaxLength" placeholder='>@L("Fax")'>
                            </div>
                        </li>
                        </ul>
                        <ul class="formfields">
                         <li class="wdth365">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("IsGstReg")</label>
                                <div class="gstcheckbox">
                                    <ul>
                                        <li>
                                            <input id="IsGSTYes" class="md-radiobtn" type="radio" name="IsGST" disabled="disabled" ng-class="{'edited':vm.installer.isGST}" ng-model="vm.installer.isGST" value="true">
                                            <label for="IsGSTYes">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("Yes")
                                            </label>
                                        </li>
                                        <li>
                                            <input id="IsGSTNo" class="md-radiobtn" type="radio" name="IsGST" disabled="disabled" ng-class="{'edited':vm.installer.isGST}" ng-model="vm.installer.isGST" value="false">
                                            <label for="IsGSTNo">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("No")
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        </ul>*@
                    @*<h2>Upload Image</h2>*@
                    <ul class="formfields mb-0 disnone">
                        <li class="wdth265">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("Logo")</label>
                                <input class="form-control" type="text" name="Logo" readonly="readonly" ng-class="{'edited':vm.installer.logo}" ng-model="vm.installer.logo" maxlength="@Installer.MaxlogoLength" placeholder='@L("Logo")'>

                                @*<input id="Logo" type="file" nv-file-select uploader="vm.installer.logo" />
                                    <span class="help-block m-b-none">@L("Logo")</span>*@
                            </div>
                        </li>
                        <li class="wdth265">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("AccreditationAccPhoto")</label>
                                <input class="form-control" type="text" name="AccreditationAccPhoto" readonly="readonly" ng-class="{'edited':vm.installer.accreditationAccPhoto}" ng-model="vm.installer.accreditationAccPhoto" maxlength="@Installer.MaxAccreditationAccPhotoLength" placeholder='@L("AccreditationAccPhoto")'>

                                @*<input id="AccreditationAccPhoto" type="file" nv-file-select uploader="vm.installer.accreditationAccPhoto" />
                                    <span class="help-block m-b-none">@L("AccreditationAccPhoto")</span>*@
                            </div>
                        </li>
                        <li class="wdth265">
                            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                <label>@L("LicencePhoto")</label>
                                <input class="form-control" type="text" name="LicencePhoto" readonly="readonly" ng-class="{'edited':vm.installer.licencePhoto}" ng-model="vm.installer.licencePhoto" maxlength="@Installer.MaxLicencePhotoLength" placeholder='@L("LicencePhoto")'>

                                @*<input id="LicencePhoto" type="file" nv-file-select uploader="vm.installer.licencePhoto" />
                                    <span class="help-block m-b-none">@L("LicencePhoto")</span>*@
                            </div>
                        </li>
                    </ul>
                    @* <h2 class="mt30">Postal Address and Street Information</h2>
                         <ul class="formfields mb-0">
                         <li class="wdth265">
                              <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label for="addressTypeSelectionCombobox">@L("AddressType")</label>
                                 <select id="addressTypeSelectionCombobox"
                                         class=""
                                         ng-options="addressTypeval.id as addressTypeval.postalAddressTypeName for addressTypeval in vm.addressTypes"
                                         ng-class="{'edited':vm.installer.addressType}"
                                         ng-model="vm.installer.addressType"
                                         ui-jq="selectpicker"
                                         disabled="disabled"
                                         ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                         data-live-search="true">
                                      <option selected disabled hidden style='display: none' value=''></option>
                                 </select>
                             </div>
                         </li>
                         <li class="wdth165">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label>@L("PostalDelNo")</label>
                                 <input class="form-control" type="text" readonly="readonly" name="PostalDelNo" ng-class="{'edited':vm.installer.postalDelNo}" ng-model="vm.installer.postalDelNo" maxlength="@Installer.MaxPostalDelevaryNoLength" placeholder='@L("PostalDelNo")'>
                             </div>
                         </li>
                         <li class="wdth165">
                            <div class="form-group form-md-line-input form-md-floating-labe l no-hint">
                                 <label for="deliveryTypeSelectionCombobox">@L("PostalDelType")</label>
                                 <select id="deliveryTypeSelectionCombobox"
                                         class=""
                                         ng-options="deliveryTypeval.id as deliveryTypeval.postalDeliveryTypeName for deliveryTypeval in vm.deliveryTypes"
                                         ng-class="{'edited':vm.installer.postalDelType}"
                                         ng-model="vm.installer.postalDelType"
                                         ui-jq="selectpicker"
                                         disabled="disabled"
                                         ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                         data-live-search="true">
                                      <option selected disabled hidden style='display: none' value=''></option>
                                 </select>
                             </div>
                         </li>
                        </ul>
                        <ul class="formfields mb-0">
                         <li class="wdth365">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label>@L("StreetAddress")</label>
                                 <input class="form-control" type="text" name="StreetAddress" readonly="readonly" ng-class="{'edited':vm.installer.streetAddress}" ng-model="vm.installer.streetAddress" maxlength="@Installer.MaxStreetAddressLength" placeholder='@L("StreetAddress")'>

                             </div>
                         </li>
                         <li class="wdth165">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label>@L("UnitNo")</label>
                                 <input class="form-control" type="text" name="UnitNo" readonly="readonly" ng-class="{'edited':vm.installer.unitNo}" ng-model="vm.installer.unitNo" maxlength="@Installer.MaxUnitNumberLength" placeholder='@L("UnitNo")'>

                             </div>
                         </li>
                         <li class="wdth165">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label for="unitTypeSelectionCombobox">@L("UnitType")</label>
                                 <select id="unitTypeSelectionCombobox"
                                         class=""
                                         ng-options="unitTypeval.unitTypeName as unitTypeval.unitTypeName for unitTypeval in vm.unitTypes"
                                         ng-class="{'edited':vm.installer.unitType}"
                                         ng-model="vm.installer.unitType"
                                         ui-jq="selectpicker"
                                         disabled="disabled"
                                         ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                         data-live-search="true">
                                      <option selected disabled hidden style='display: none' value=''></option>
                                 </select>
                             </div>
                         </li>
                         <li class="wdth165">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label>@L("StreetNumber")</label>
                                 <input class="form-control" type="text" name="StreetNumber" readonly="readonly" ng-class="{'edited':vm.installer.streetNumber}" ng-model="vm.installer.streetNumber" required maxlength="@Installer.MaxStreetNumberLength" placeholder='@L("StreetNumber")'>

                             </div>
                         </li>
                         </ul>
                         <ul class="formfields mb-0">
                         <li class="wdth265">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                             <label for="streetNameSelectionCombobox">@L("StreetName")</label>
                             <select id="streetNameSelectionCombobox"
                                     class=""
                                     ng-options="streetNameval.streetName as streetNameval.streetName for streetNameval in vm.streetNames"
                                     ng-class="{'edited':vm.installer.streetName}"
                                     ng-model="vm.installer.streetName"
                                     ui-jq="selectpicker"
                                     disabled="disabled"
                                     ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                     data-live-search="true">
                                  <option selected disabled hidden style='display: none' value=''></option>
                             </select>
                         </div>
                         </li>
                         <li class="wdth265">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label for="streetTypeSelectionCombobox">@L("StreetType")</label>
                                 <select id="streetTypeSelectionCombobox"
                                         class=""
                                         ng-options="streetTypeval.streetTypeName as streetTypeval.streetTypeName for streetTypeval in vm.streetTypes"
                                         ng-class="{'edited':vm.installer.streetType}"
                                         ng-model="vm.installer.streetType"
                                         ui-jq="selectpicker"
                                         disabled="disabled"
                                         ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                         data-live-search="true">
                                      <option selected disabled hidden style='display: none' value=''></option>
                                 </select>
                             </div>
                         </li>
                         <li class="wdth165">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label for="suburbSelectionCombobox">@L("Suburb")</label>
                                 <select id="suburbSelectionCombobox"
                                         class=""
                                         ng-options="suburbval.suburb as suburbval.suburb for suburbval in vm.suburbs"
                                         ng-class="{'edited':vm.installer.suburbs}"
                                         ng-model="vm.installer.suburb"
                                         ui-jq="selectpicker"
                                         disabled="disabled"
                                         ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                         data-live-search="true">
                                      <option selected disabled hidden style='display: none' value=''></option>
                                 </select>
                             </div>
                         </li>
                         <li class="wdth165">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label for="stateSelectionCombobox">@L("State")</label>
                                 <select id="stateSelectionCombobox"
                                         class=""
                                         ng-options="stateNameval.stateName as stateNameval.stateName for stateNameval in vm.stateNames"
                                         ng-class="{'edited':vm.installer.stateNames}"
                                         ng-model="vm.installer.state"
                                         ui-jq="selectpicker"
                                         disabled="disabled"
                                         ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                         data-live-search="true">
                                      <option selected disabled hidden style='display: none' value=''></option>
                                 </select>
                             </div>
                         </li>
                         <li class="wdth165">
                             <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                 <label for="postCodeSelectionCombobox">@L("PostCode")</label>
                                 <select id="postCodeSelectionCombobox"
                                         class=""
                                         ng-options="postCodeval.postCode as postCodeval.postCode for postCodeval in vm.postCodes"
                                         ng-class="{'edited':vm.installer.postCodes}"
                                         ng-model="vm.installer.postCode"
                                         ui-jq="selectpicker"
                                         disabled="disabled"
                                         ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                         data-live-search="true">
                                      <option selected disabled hidden style='display: none' value=''></option>
                                 </select>
                             </div>
                         </li>
                         </ul>*@
                    @* <h2 class="mt30">Installer Details</h2>
                            <ul class="formfields mb-0">
                            <li class="wdth165">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox mt27">
                                            <input id="IsInst" class="md-check" disabled="disabled" type="checkbox" name="IsInst" ng-class="{'edited':vm.installer.isInst}" ng-model="vm.installer.isInst">
                                            <label for="IsInst">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsInst")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="wdth265">
                                 <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                     <label>@L("InstallerExpiry")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="InstallerExpiry" ng-class="{'edited':vm.installer.installerExpiry}" ng-model="vm.installer.installerExpiry" maxlength="@Installer.MaxInstallerExpiryLength" placeholder='@L("InstallerExpiry")'>
                                </div>
                            </li>
                            <li class="wdth265">
                                 <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                     <label>@L("InsAccreExDate")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="InsAccreExDate" ng-class="{'edited':vm.installer.insAccreExDate}" ng-model="vm.installer.insAccreExDate" placeholder='@L("InsAccreExDate")'>

                                </div>
                            </li>
                            </ul>
                            <h2 class="mt30">Electrician Details</h2>
                            <ul class="formfields mb-0">
                            <li class="wdth165">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox mt27">
                                            <input id="IsElec" class="md-check" disabled="disabled" type="checkbox" name="IsElec" ng-class="{'edited':vm.installer.isElec}" ng-model="vm.installer.isElec">
                                            <label for="IsElec">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsElec")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="wdth265">
                                 <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                     <label>@L("ElectricalExpiry")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="ElectricalExpiry" ng-class="{'edited':vm.installer.electricalExpiry}" ng-model="vm.installer.electricalExpiry" maxlength="@Installer.MaxElectricalExpiryLength" placeholder='@L("ElectricalExpiry")'>
                                </div>
                            </li>
                             <li class="wdth265">
                                 <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                     <label>@L("EleLicenceExDate")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="EleLicenceExDate" ng-class="{'edited':vm.installer.eleLicenceExDate}" ng-model="vm.installer.eleLicenceExDate" placeholder='@L("EleLicenceExDate")'>

                                </div>
                            </li>
                            </ul>
                            <h2 class="mt30">Designer Details</h2>
                            <ul class="formfields mb-0">
                            <li class="wdth165">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <div class="md-checkbox-list">
                                        <div class="md-checkbox mt27">
                                            <input id="IsDesc" class="md-check" disabled="disabled" type="checkbox" name="IsDesc" ng-class="{'edited':vm.installer.isDesc}" ng-model="vm.installer.isDesc">
                                            <label for="IsDesc">
                                                <span class="inc"></span>
                                                <span class="check"></span>
                                                <span class="box"></span>
                                                @L("IsDesc")
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("DesignerExpiry")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="DesignerExpiry" ng-class="{'edited':vm.installer.designerExpiry}" ng-model="vm.installer.designerExpiry" maxlength="@Installer.MaxDesignerExpiryLength" placeholder='@L("DesignerExpiry")'>

                                </div>
                            </li>
                            <li class="wdth265">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("DesignerAccreExDate")</label>
                                    <input class="form-control" type="text" readonly="readonly" name="DesignerAccreExDate" ng-class="{'edited':vm.installer.designerAccreExDate}" ng-model="vm.installer.designerAccreExDate" placeholder='@L("DesignerAccreExDate")'>

                                </div>
                            </li>

                            <li class="wdth100per">
                                <div class="buttonarea">
                                    <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                </div>
                            </li>
                        </ul>*@
                </div>
            </div>

            @*<div class="modal-body">
                    <div class="form-group form-md-line-input form-md-floating-label no-hint">
                        <input id="IsGSTYes" class="md-radiobtn" type="radio" name="IsGST" ng-class="{'edited':vm.installer.isGST}" ng-model="vm.installer.isGST" value="true">
                        <label for="IsGSTYes">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("Yes")
                        </label>
                        <input id="IsGSTNo" class="md-radiobtn" type="radio" name="IsGST" ng-class="{'edited':vm.installer.isGST}" ng-model="vm.installer.isGST" value="false">
                        <label for="IsGSTNo">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            @L("No")
                        </label>
                    </div>
                </div>*@

        </form>
    </div>
</div>