@using TechnoForms.MultiTenancy
<div ng-controller="host.views.tenants.createModal as vm">
	  <div class="pagetitlebox">
<div class="row">
					<div class="col-md-12">
						<div class="page-head">
							<div class="page-title">
								<h1>
									<span>@L("CreateNewTenant")</span>
								</h1>
							</div>
						</div>
					</div>
				</div>
		</div>
	<div class="black-transparentbox tenantadd">
		<div class="portlet light margin-bottom-0">
			<form name="tenantCreateForm" role="form" novalidate class="form-validation">
				
				<div class="portlet-body">
					<div class="createjobsform mt0">
						<div class="graystransparent padzero">
							<div class="pad15">
							<ul class="formfields">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("TenancyName")</label>
										<input auto-focus  class="form-control input-ltr" type="text"  ng-change="vm.test()" name="TenancyName" ng-model="vm.tenant.tenancyName" required maxlength="@Tenant.MaxTenancyNameLength" ng-pattern="/@Tenant.TenancyNameRegex/" placeholder='@L("TenancyName")'>

										<div>
											<span class="help-block text-danger" ng-show="!tenantCreateForm.TenancyName.$valid && tenantCreateForm.TenancyName.$dirty">@L("TenantName_Regex_Description")</span>
										</div>
									</div>

								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Name")</label>
										<input type="text" name="Name" class="form-control" ng-model="vm.tenant.name" required maxlength="@Tenant.MaxNameLength" placeholder='@L("Name")' ng-minlength="2">
										<div>
											<span class="help-block text-danger" ng-show="tenantCreateForm.Name.$dirty&&tenantCreateForm.Name.$error.minlength">@L("NameMinn_Length")</span>
										</div>
									</div>

								</li>
							</ul>
							
							@*<ul class="formfields">
									<li class="wdth265">
										<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<div class="md-checkbox-list">
												<div class="md-checkbox">
													<input id="CreateTenant_UseHostDb" class="md-check" type="checkbox" name="UseHostDb" ng-model="vm.useHostDb">
													<label for="CreateTenant_UseHostDb">
														<span class="inc"></span>
														<span class="check"></span>
														<span class="box"></span>
														@L("UseHostDatabase")
													</label>
												</div>
											</div>
										</div>
									</li>
								</ul>*@
							<ul class="formfields" @*ng-if="!vm.useHostDb"*@>
								<li class="wdth547">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("DatabaseConnectionString")</label>
										<input type="text" @*readonly="readonly"*@ name="ConnectionString" class="form-control" ng-model="vm.tenant.connectionString" required maxlength="@Tenant.MaxConnectionStringLength" placeholder='@L("DatabaseConnectionString")'>
									</div>
								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth547">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("AdminEmailAddress")</label>
										<input type="email" name="AdminEmailAddress" class="form-control" ng-model="vm.tenant.adminEmailAddress" required maxlength="@TechnoForms.Authorization.Users.User.MaxEmailAddressLength" placeholder='@L("AdminEmailAddress")' ng-pattern="vm.emailFormat">
										<div>
											<span class="help-block text-danger" ng-show="!tenantCreateForm.AdminEmailAddress.$valid && tenantCreateForm.AdminEmailAddress.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
										</div>
									</div>

								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<div class="md-checkbox-list">
											<div class="md-checkbox">
												<input id="CreateTenant_SetRandomPassword" class="md-check" type="checkbox" name="SetRandomPassword" ng-model="vm.setRandomPassword">
												<label for="CreateTenant_SetRandomPassword">
													<span class="inc"></span>
													<span class="check"></span>
													<span class="box"></span>
													@L("SetRandomPassword")
												</label>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<ul class="formfields" ng-if="!vm.setRandomPassword">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("AdminPassword")</label>
										<input type="password" name="Password" class="form-control" ng-model="vm.tenant.adminPassword" ng-required="!vm.setRandomPassword" maxlength="@TechnoForms.Authorization.Users.User.MaxPlainPasswordLength" placeholder='@L("AdminPassword")' ng-pattern="/^(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/">

										<div>
											<span class="help-block text-danger" ng-show="!tenantCreateForm.Password.$valid && tenantCreateForm.Password.$dirty">@L("Password_Regex_Description")</span>
										</div>
									</div>

								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("AdminPasswordRepeat")</label>
										<input type="password" name="AdminPasswordRepeat" class="form-control" ng-model="vm.tenant.adminPasswordRepeat" ng-required="!vm.setRandomPassword" maxlength="@TechnoForms.Authorization.Users.User.MaxPlainPasswordLength" ui-validate=" '$value==vm.tenant.adminPassword' " ui-validate-watch=" 'vm.tenant.adminPassword' " placeholder='@L("AdminPasswordRepeat")'>

									</div>
								</li>
								<li class="wdth265">
									@*<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<select id="TenantEditionSelectionCombobox" class="form-control edited" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.editions" ng-model="vm.tenant.editionId"></select>
											<label for="TenantEditionSelectionCombobox">@L("Edition")</label>
										</div>*@
								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth465">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<div class="md-checkbox">
											<input id="CreateTenant_ShouldChangePasswordOnNextLogin" class="md-check" type="checkbox" name="ShouldChangePasswordOnNextLogin" ng-model="vm.tenant.shouldChangePasswordOnNextLogin">
											<label for="CreateTenant_ShouldChangePasswordOnNextLogin">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("ShouldChangePasswordOnNextLogin")
											</label>
										</div>
									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<div class="md-checkbox">
											<input id="CreateTenant_SendActivationEmail" class="md-check" type="checkbox" name="SendActivationEmail" ng-model="vm.tenant.sendActivationEmail">
											<label for="CreateTenant_SendActivationEmail">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("SendActivationEmail")
											</label>
										</div>
									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<div class="md-checkbox">
											<input id="CreateTenant_IsActive" class="md-check" type="checkbox" name="IsActive" ng-model="vm.tenant.isActive">
											<label for="CreateTenant_IsActive">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("Active")
											</label>
										</div>
									</div>
								</li>
							</ul>
							</div> 
						</div>
						<div class="graystransparent padzero">
							<h2>Customer Information</h2>
							<div class="pad15">
							<ul class="formfields">

								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("CustomerName")</label>
										<input  class="form-control input-ltr" type="text" name="FullName" ng-model="vm.tenant.fullName" required maxlength="@Tenant.MaxFullNameLength" placeholder='@L("CustomerName")' ng-minlength="2">
										<div>
											<span class="help-block text-danger" ng-show="tenantCreateForm.FullName.$dirty&&tenantCreateForm.FullName.$error.minlength">@L("fullName_Length")</span>
										</div>
									</div>

								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("CompanyName")</label>
										<input  class="form-control input-ltr" type="text" name="CompanyName" ng-model="vm.tenant.companyName" required maxlength="@Tenant.MaxCompanyNameLength" placeholder='@L("CompanyName")' ng-minlength="2">
										<div>
											<span class="help-block text-danger" ng-show="tenantCreateForm.CompanyName.$dirty&&tenantCreateForm.CompanyName.$error.minlength">@L("CompanyName_Length")</span>
										</div>
									</div>

								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("ABN")</label>
										<input  class="form-control input-ltr" type="text" name="ABN" ng-model="vm.tenant.abn" required maxlength="@Tenant.MaxABNLength" placeholder='@L("ABN")'>

									</div>
								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("FAX")</label>
										<input  class="form-control input-ltr" type="text" name="FAX" ng-model="vm.tenant.fax" maxlength="@Tenant.MaxFAXLength" placeholder='@L("FAX")'>

									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Phone")</label>
										<input  class="form-control input-ltr" type="text" name="Phone" ng-model="vm.tenant.phone" required maxlength="@Tenant.MaxPhoneLength" ng-keypress="vm.CheckNumber()" placeholder='@L("Phone")' ng-pattern="vm.phonepattern">
										<div>
											<span class="help-block text-danger" ng-show="!tenantCreateForm.Phone.$valid && tenantCreateForm.Phone.$dirty">@L("Phone_Regex_Description")</span>
										</div>
									</div>

								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Mobile")</label>
										<input  class="form-control input-ltr" type="text" name="Mobile" ng-model="vm.tenant.mobile" required maxlength="@Tenant.MaxMobileLength" ng-keypress="vm.CheckNumber()" placeholder='@L("Mobile")' ng-pattern="vm.phonepattern">
										<div>
											<span class="help-block text-danger" ng-show="!tenantCreateForm.Mobile.$valid && tenantCreateForm.Mobile.$dirty">@L("Mobile_Regex_Description")</span>
										</div>
									</div>

								</li>
								<li class="wdth282">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Email")</label>
										<input  class="form-control input-ltr" type="text" name="Email" ng-model="vm.tenant.email" required maxlength="@Tenant.MaxEmailLength" placeholder='@L("Email")' ng-pattern="vm.emailFormat">
										<div>
											<span class="help-block text-danger" ng-show="!tenantCreateForm.Email.$valid && tenantCreateForm.Email.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
										</div>
									</div>

								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("STCCharges")</label>
										<input  class="form-control input-ltr" type="text" name="STCCharges" ng-model="vm.tenant.stcCharges" placeholder='@L("STCCharges")' ng-keypress="vm.CheckFloatNumber()">

									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("RetailerName")</label>
										<input class="form-control input-ltr" type="text" name="RetailerName" ng-model="vm.tenant.retailerName" required maxlength="@Tenant.MaxRetailerNameLength" placeholder='@L("RetailerName")'>

									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("RetailerABN")</label>
										<input  class="form-control input-ltr" type="text" name="RetailerABN" ng-model="vm.tenant.retailerABN" required maxlength="@Tenant.MaxRetailerABNLength" placeholder='@L("RetailerABN")'>

									</div>
								</li>
							</ul>
							</div>
						</div>
						<div class="graystransparent padzero">
							<h2>Postal Address and Street Information</h2>
							<div class="detailbox padzerobox">
							<div class="form-group form-md-line-input form-md-floating-label no-hint">
								<label>Select Address Type</label>
								<div class="gstcheckbox googleCheckBox">
									<ul>
										<li>
											<input id="IsGoogleYes" class="md-radiobtn" checked="checked" ng-click="vm.google()" type="radio" name="IsGoogle" value="true">
											<label for="IsGoogleYes">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												Google Address
											</label>
										</li>
										<li>
											<input id="IsGoogleNo" class="md-radiobtn" ng-click="vm.manual()" type="radio" name="IsGoogle" value="false">
											<label for="IsGoogleNo">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												Manual Address
											</label>
										</li>
									</ul>
								</div>
							</div>
							</div>
					<div class="detailbox padzerobox">
							<ul class="formfields">
								<li class="wdth314" ng-if="vm.IsGoogleAddress">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("StreetAddress")</label>
										<!--<input class="form-control" type="text" name="StreetAddress" ng-model="vm.tenant.streetAddress"--> @*maxlength="@Tenant.MaxStreetAddressLength"*@ <!--placeholder='@L("StreetAddress")' disabled="disabled">-->
										<input id="StreetAddress" class="form-control" placeholder="Search Address" name="StreetAddress" ng-model="vm.tenant.streetAddress" onFocus="geolocate()" type="text" />
									</div>
								</li>
								<li class="wdth145">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="unitTypeSelectionCombobox">@L("UnitType")</label>
										@*<select id="unitTypeSelectionCombobox"
													class=""
													ng-options="unitTypeval.unitTypeName as unitTypeval.unitTypeName for unitTypeval in vm.unitTypes"
													ng-model="vm.tenant.unitType"
													ui-jq="selectpicker"
													title="Select Unit Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" ng-change="vm.getStreetAddress()">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="UnitType" class="UnitTypetypeahead form-control" autocomplete="off" type="text" placeholder="Unit Type" ng-model="vm.tenant.unitType" ng-keyup="vm.getUnitTypeList()">
									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("UnitNo")</label>
										<input class="form-control" type="text" name="UnitNo" ng-model="vm.tenant.unitNo" @*maxlength="@Tenant.MaxUnitNumberLength"*@ placeholder='@L("UnitNo")'>
									</div>
								</li>
							</ul>
							</div>
							<div class="detailbox padzerobox">
							<ul class="formfields">
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("StreetNumber")</label>
										<input id="street_number" class="form-control" type="text" name="StreetNumber" ng-model="vm.tenant.streetNumber" required @*maxlength="@Tenant.MaxStreetNumberLength"*@ placeholder='@L("StreetNumber")'>
									</div>
								</li>
								<li class="wdth275">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="streetNameSelectionCombobox">@L("StreetName")</label>
										@*<select id="streetNameSelectionCombobox"
													class=""
													ng-options="streetNameval.streetName as streetNameval.streetName for streetNameval in vm.streetNames"
													ng-model="vm.tenant.streetName"
													ui-jq="selectpicker"
													title="Select Street"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" ng-change="vm.getStreetAddress()">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="routeName" class="StreetNametypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetName")' ng-model="vm.tenant.streetName" ng-keyup="vm.getStreetNameList()">
									</div>
								</li>
								<li class="wdth185">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="streetTypeSelectionCombobox">@L("StreetType")</label>
										@*<select id="streetTypeSelectionCombobox"
													class=""
													ng-options="streetTypeval.streetTypeName as streetTypeval.streetTypeName for streetTypeval in vm.streetTypes"
													ng-model="vm.tenant.streetType"
													ui-jq="selectpicker"
													title="Select Street"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" ng-change="vm.getStreetAddress()">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="routeType" class="StreetTypetypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetType")' ng-model="vm.tenant.streetType" ng-keyup="vm.getStreetTypeList()">
									</div>
								</li>
							</ul>
							</div>
							<div class="detailbox padzerobox">
							<ul class="formfields">
								<li class="wdth265">
									@*<div class="form-group form-md-line-input form-md-floating-label no-hint">
											<label>@L("Suburb")</label>
											<input class="form-control" type="text" name="Suburb" ng-model="vm.tenant.suburb" required placeholder='@L("Suburb")' ng-change="vm.getSuburb()">
										</div>
										<div angucomplete-alt id="txtAutocomplete" placeholder="Type country name" pause="100"
											 selected-object="afterSelectedCountry" local-data="Countries" search-fields="CountryName"
											 title-field="CountryName" minlength="1" input-class="form-control" match-class="highlight">
										</div>
										<div>
											Selected Country : {{SelectedCountry.CountryName}}
										</div>*@
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="suburbSelectionCombobox">@L("Suburb")</label>
										@*<select id="suburbSelectionCombobox"
													class=""
													ng-options="suburbval.id as suburbval.suburbstatePostcodes for suburbval in vm.suburbs"
													ng-model="vm.tenant.suburb_Id"
													ui-jq="selectpicker"
													title="Select Suburb"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true"
													ng-change="vm.getPostCodes(vm.tenant.suburb_Id)">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="locality" class="Fnametypeahead form-control" autocomplete="off" type="text" placeholder="Suburb" ng-model="vm.suburb" ng-keyup="vm.getSuburbList()" ng-blur="vm.statePostCode()">
									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="stateSelectionCombobox">@L("State")</label>
										@*<select id="stateSelectionCombobox"
													class=""
													ng-options="stateNameval.stateName as stateNameval.stateName for stateNameval in vm.stateNames"
													ng-model="vm.tenant.state"
													ui-jq="selectpicker"
													title="Select State"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" disabled>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input type="text" class="form-control" id="administrative_area_level_1" name="StreetState" ng-model="vm.tenant.state" placeholder="State" disabled />
										<input type="hidden" id="country" name="country" />
									</div>
								</li>
								<li class="wdth195">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="postCodeSelectionCombobox">@L("PostCode")</label>
										@*<select id="postCodeSelectionCombobox"
													class=""
													ng-options="postCodeval.postcode as postCodeval.postcode for postCodeval in vm.postCodes"
													ng-model="vm.tenant.postCode"
													ui-jq="selectpicker"
													title="Select Post Code"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" disabled>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input type="text" class="form-control" id="postal_code" name="StreetPostCode" ng-model="vm.tenant.postCode" placeholder="PostCode" disabled />
									</div>
								</li>
							</ul>
							</div>
						</div>
						</div>
					</div>
					<div class="modal-footer transparentbackground">
						<button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"> <i class="fa fa-times"></i> <span> @L("Cancel")</span></button>
						@*<button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createjobsForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>*@
						<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	// This sample uses the Autocomplete widget to help the user select a
	// place, then it retrieves the address components associated with that
	// place, and then it populates the form fields with those details.
	// This sample requires the Places library. Include the libraries=places
	// parameter when you first load the API. For example:
	// <script
	// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

	var placeSearch, autocomplete;

	var componentForm = {
		street_number: 'short_name',
		route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'short_name',
		country: 'long_name',
		postal_code: 'short_name'
	};

	function initAutocomplete() {

		// Create the autocomplete object, restricting the search predictions to
		// geographical location types.
		autocomplete = new google.maps.places.Autocomplete(
			document.getElementById('StreetAddress'), { types: ['geocode'] });

		// Avoid paying for data that you don't need by restricting the set of
		// place fields that are returned to just the address components.
		autocomplete.setFields(['address_component']);

		// When the user selects an address from the drop-down, populate the
		// address fields in the form.
		autocomplete.addListener('place_changed', fillInAddress);
	}

	function fillInAddress() {
		// Get the place details from the autocomplete object.
		var place = autocomplete.getPlace();
		//for (var component in componentForm) {
		//	document.getElementById(component).value = '';
		//	document.getElementById(component).disabled = false;
		//}

		// Get each component of the address from the place details,
		// and then fill-in the corresponding field on the form.
		for (var i = 0; i < place.address_components.length; i++) {
			var addressType = place.address_components[i].types[0];
			if (componentForm[addressType]) {
				var val = place.address_components[i][componentForm[addressType]];
				if (i == 1) {
					var res = val.split(" ");
					document.getElementById('routeName').value = res[0].trim().toUpperCase();
					document.getElementById('routeType').value = res[1].trim().toUpperCase();
				}
				else {
					document.getElementById(addressType).value = val.toUpperCase();
				}
			}
		}
	}

	// Bias the autocomplete object to the user's geographical location,
	// as supplied by the browser's 'navigator.geolocation' object.
	function geolocate() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				var geolocation = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				var circle = new google.maps.Circle(
					{ center: geolocation, radius: position.coords.accuracy });
				autocomplete.setBounds(circle.getBounds());
			});
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALoDvKqgmTfpfPOEjqS2fI1kcabuxImMA&libraries=places&callback=initAutocomplete" defer></script>