@using TechnoForms.MultiTenancy
<div ng-controller="host.views.tenants.editModal as vm">
	 <div class="pagetitlebox">
	<div class="row">
					<div class="col-md-12">
						<div class="page-head">
							<div class="page-title">
								<h1>
									<span>@L("EditTenant"): <span class="fname">{{vm.tenant.tenancyName}}</span></span>
								</h1>
							</div>
						</div>
					</div>
				</div>
		 </div>
	<div class="black-transparentbox">
		<div class="portlet light margin-bottom-0">
			<form name="tenantEditForm" role="form" novalidate class="form-validation">
			
				<div class="portlet-body">
					<div class="createjobsform mt0">
						<div class="graystransparent padzero">
							<div class="pad15">
						<ul class="formfields">
							<li class="wdth265">
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<label>@L("Name")</label>
									<input auto-focus  type="text" name="Name" class="form-control input-ltr" ng-class="{'edited':vm.tenant.name}" ng-model="vm.tenant.name" required maxlength="@Tenant.MaxNameLength" ng-minlength="2">
								</div>
								<div>
									<span class="help-block text-danger" ng-show="tenantEditForm.Name.$dirty&&tenantEditForm.Name.$error.minlength">@L("TenantName_Regex_Description")</span>
								</div>
							</li>
							@*<li class="wdth265">
									<div class="form-group  form-md-floating-label has-info">
										<label for="TenantEditionSelectionCombobox">@L("Edition")</label>
										<select id="TenantEditionSelectionCombobox" class="form-control" ng-class="{'edited':vm.tenant.editionId != null}" ng-options="vm.getEditionValue(item) as item.displayText for item in vm.editions" ng-model="vm.tenant.editionId"></select>

									</div>
								</li>*@
							<li class="wdth265">
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<div class="md-checkbox-list mt27">
										<div class="md-checkbox">
											<input id="EditTenant_IsActive" class="md-check" type="checkbox" name="IsActive" ng-model="vm.tenant.isActive">
											<label for="EditTenant_IsActive">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("Active")
											</label>

										</div>
									</div>
								</div>
							</li>
							<li class="wdth100per" ng-if="vm.currentConnectionString">
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<label>@L("DatabaseConnectionString")</label>
									<input type="text" @*readonly="readonly"*@ name="ConnectionString" class="form-control edited" ng-model="vm.tenant.connectionString" required maxlength="@Tenant.MaxConnectionStringLength">
								</div>
							</li>
							@*<li class="wdth265">
									<div ng-if="vm.currentConnectionString">
										<span class="help-block text-warning">@L("TenantDatabaseConnectionStringChangeWarningMessage")</span>
									</div>
								</li>*@

						</ul>
						</div>
						</div>
						<div class="graystransparent padzero">
							<h2>Customer Information</h2>
							<div class="pad15">
							<ul class="formfields">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("CustomerName")</label>
										<input class="form-control input-ltr" type="text" name="FullName" ng-class="{'edited':vm.tenant.fullName}" ng-model="vm.tenant.fullName" required maxlength="@Tenant.MaxFullNameLength" ng-minlength="2">
									</div>
									<div>
										<span class="help-block text-danger" ng-show="tenantEditForm.FullName.$dirty&&tenantEditForm.FullName.$error.minlength">@L("fullName_Length")</span>
									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("CompanyName")</label>
										<input class="form-control input-ltr" type="text" name="CompanyName" ng-class="{'edited':vm.tenant.companyName}" ng-model="vm.tenant.companyName" required maxlength="@Tenant.MaxCompanyNameLength" ng-minlength="2">
									</div>
									<div>
										<span class="help-block text-danger" ng-show="tenantEditForm.CompanyName.$dirty&&tenantEditForm.CompanyName.$error.minlength">@L("CompanyName_Length")</span>
									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("ABN")</label>
										<input class="form-control input-ltr" type="text" name="ABN" ng-class="{'edited':vm.tenant.abn}" ng-model="vm.tenant.abn" required maxlength="@Tenant.MaxABNLength">

									</div>
								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("FAX")</label>
										<input class="form-control input-ltr" type="text" name="FAX" ng-class="{'edited':vm.tenant.fax}" ng-model="vm.tenant.fax" maxlength="@Tenant.MaxFAXLength">

									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Phone")</label>
										<input class="form-control input-ltr" type="text" name="Phone" ng-class="{'edited':vm.tenant.phone}" ng-model="vm.tenant.phone" required maxlength="@Tenant.MaxPhoneLength" ng-keypress="vm.CheckNumber()" ng-pattern="vm.phonepattern">

									</div>
									<div>
										<span class="help-block text-danger" ng-show="!tenantEditForm.Phone.$valid && tenantEditForm.Phone.$dirty">@L("Phone_Regex_Description")</span>
									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Mobile")</label>
										<input class="form-control input-ltr" type="text" name="Mobile" ng-class="{'edited':vm.tenant.mobile}" ng-model="vm.tenant.mobile" required maxlength="@Tenant.MaxMobileLength" ng-keypress="vm.CheckNumber()" ng-pattern="vm.phonepattern">

									</div>
									<div>
										<span class="help-block text-danger" ng-show="!tenantEditForm.Mobile.$valid && tenantEditForm.Mobile.$dirty">@L("Mobile_Regex_Description")</span>
									</div>
								</li>
								<li class="wdth282">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("Email")</label>
										<input class="form-control input-ltr" type="text" name="Email" ng-class="{'edited':vm.tenant.email}" ng-model="vm.tenant.email" required maxlength="@Tenant.MaxEmailLength" ng-pattern="vm.emailFormat">

									</div>
									<div>
										<span class="help-block text-danger" ng-show="!tenantEditForm.Email.$valid && tenantEditForm.Email.$dirty">@L("AdminEmailAddress_Regex_Description")</span>
									</div>
								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("STCCharges")</label>
										<input class="form-control input-ltr" type="text" name="STCCharges" ng-class="{'edited':vm.tenant.stcCharges}" ng-model="vm.tenant.stcCharges" ng-keypress="vm.CheckFloatNumber()">

									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("RetailerName")</label>
										<input class="form-control input-ltr" type="text" name="RetailerName" ng-class="{'edited':vm.tenant.retailerName}" ng-model="vm.tenant.retailerName" required maxlength="@Tenant.MaxRetailerNameLength">

									</div>
								</li>
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("RetailerABN")</label>
										<input class="form-control input-ltr" type="text" name="RetailerABN" ng-class="{'edited':vm.tenant.retailerABN}" ng-model="vm.tenant.retailerABN" required maxlength="@Tenant.MaxRetailerABNLength">

									</div>
								</li>
							</ul>
							</div>
						</div>
						<div class="graystransparent padzero">
							<h2>Postal Address and Street Information</h2>
							<div class="pad15">
							
							<div class="form-group form-md-line-input form-md-floating-label no-hint">
								<label>Select Address Type</label>
								
								<div class="gstcheckbox">
									<ul>
										<li>
											<input id="IsGoogleYes" class="md-radiobtn" checked="checked" ng-click="vm.google()" type="radio" name="IsGoogle" value="true">
											<label for="IsGoogleYes">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												Google Address
											</label>
										</li>
										<li>
											<input id="IsGoogleNo" class="md-radiobtn" ng-click="vm.manual()" type="radio" name="IsGoogle" value="false">
											<label for="IsGoogleNo">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												Manual Address
											</label>
										</li>
									</ul>
								</div>
							</div>
							<ul class="formfields">
								<li class="wdth314" ng-if="vm.IsGoogleAddress">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("StreetAddress")</label>
										<!--<input class="form-control" type="text" name="StreetAddress" ng-class="{'edited':vm.tenant.streetAddress}" ng-model="vm.tenant.streetAddress"--> @*maxlength="@Tenant.MaxStreetAddressLength"*@ <!--placeholder='@L("StreetAddress")' disabled="disabled">-->
										<input id="StreetAddress" class="form-control" placeholder="Search Address" name="StreetAddress" ng-model="vm.tenant.streetAddress" onFocus="geolocate()" type="text" />
									</div>
								</li>
								<li class="wdth145">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="unitTypeSelectionCombobox">@L("UnitType")</label>
										@*<select id="unitTypeSelectionCombobox"
													class=""
													ng-options="unitTypeval.unitTypeName as unitTypeval.unitTypeName for unitTypeval in vm.unitTypes"
													ng-class="{'edited':vm.tenant.unitType}"
													ng-model="vm.tenant.unitType"
													ui-jq="selectpicker"
													title="Select Unit Type"
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" ng-change="vm.getStreetAddress()">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="UnitType" class="UnitTypetypeahead form-control" autocomplete="off" type="text" placeholder="Unit Type" ng-model="vm.tenant.unitType" ng-keyup="vm.getUnitTypeList()">
									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("UnitNo")</label>
										<input class="form-control" type="text" name="UnitNo" ng-class="{'edited':vm.tenant.unitNo}" ng-model="vm.tenant.unitNo" @*maxlength="@Tenant.MaxUnitNumberLength"*@ placeholder='@L("UnitNo")'>
									</div>
								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label>@L("StreetNumber")</label>
										<input id="street_number" class="form-control" type="text" name="StreetNumber" ng-class="{'edited':vm.tenant.streetNumber}" ng-model="vm.tenant.streetNumber" required @*maxlength="@Tenant.MaxStreetNumberLength"*@ placeholder='@L("StreetNumber")'>
									</div>
								</li>
								<li class="wdth275">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="streetNameSelectionCombobox">@L("StreetName")</label>
										@*<select id="streetNameSelectionCombobox"
													class=""
													ng-options="streetNameval.streetName as streetNameval.streetName for streetNameval in vm.streetNames"
													ng-class="{'edited':vm.tenant.streetName}"
													ng-model="vm.tenant.streetName"
													ui-jq="selectpicker"
													title="Select Street"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" ng-change="vm.getStreetAddress()">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="routeName" class="StreetNametypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetName")' ng-model="vm.tenant.streetName" ng-keyup="vm.getStreetNameList()">
									</div>
								</li>
								<li class="wdth185">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="streetTypeSelectionCombobox">@L("StreetType")</label>
										@*<select id="streetTypeSelectionCombobox"
													class=""
													ng-options="streetTypeval.streetTypeName as streetTypeval.streetTypeName for streetTypeval in vm.streetTypes"
													ng-class="{'edited':vm.tenant.streetType}"
													ng-model="vm.tenant.streetType"
													ui-jq="selectpicker"
													title="Select Street Type"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" ng-change="vm.getStreetAddress()">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="routeType" class="StreetTypetypeahead form-control" autocomplete="off" type="text" placeholder='@L("StreetType")' ng-model="vm.tenant.streetType" ng-keyup="vm.getStreetTypeList()">
									</div>
								</li>
							</ul>
							<ul class="formfields">
								<li class="wdth265">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="suburbSelectionCombobox">@L("Suburb")</label>
										@*<select id="suburbSelectionCombobox"
													class=""
													ng-options="suburbval.id as suburbval.suburbstatePostcodes for suburbval in vm.suburbs"
													ng-class="{'edited':vm.tenant.suburb_Id}"
													ng-model="vm.tenant.suburb_Id"
													ui-jq="selectpicker"
													title="Select Suburb"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true"
													ng-change="vm.getPostCodes(vm.tenant.suburb_Id)">
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input id="locality" class="Fnametypeahead form-control" autocomplete="off" type="text" placeholder="Suburb" ng-model="vm.suburb" ng-keyup="vm.getSuburbList()" ng-blur="vm.statePostCode()">
									</div>
								</li>
								<li class="wdth165">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="stateSelectionCombobox">@L("State")</label>
										@*<select id="stateSelectionCombobox"
													class=""
													ng-options="stateNameval.stateName as stateNameval.stateName for stateNameval in vm.stateNames"
													ng-class="{'edited':vm.tenant.state}"
													ng-model="vm.tenant.state"
													ui-jq="selectpicker"
													title="Select State"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" disabled>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input type="text" class="form-control" id="administrative_area_level_1" name="StreetState" ng-model="vm.tenant.state" placeholder="State" disabled />
										<input type="hidden" id="country" name="country" />
									</div>
								</li>
								<li class="wdth195">
									<div class="form-group form-md-line-input form-md-floating-label no-hint">
										<label for="postCodeSelectionCombobox">@L("PostCode")</label>
										@*<select id="postCodeSelectionCombobox"
													class=""
													ng-options="postCodeval.postcode as postCodeval.postcode for postCodeval in vm.postCodes"
													ng-class="{'edited':vm.tenant.postCode}"
													ng-model="vm.tenant.postCode"
													ui-jq="selectpicker"
													title="Select Post Code"
													required
													ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
													data-live-search="true" disabled>
												<option selected disabled hidden style='display: none' value=''></option>
											</select>*@
										<input type="text" class="form-control" id="postal_code" name="StreetPostCode" ng-model="vm.tenant.postCode" placeholder="PostCode" disabled />
									</div>
								</li>
							</ul>
							</div>
						</div>
					</div>
					<div class="modal-footer transparentbackground">
						<button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span> @L("Cancel")</span></button>
						<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	// This sample uses the Autocomplete widget to help the user select a
	// place, then it retrieves the address components associated with that
	// place, and then it populates the form fields with those details.
	// This sample requires the Places library. Include the libraries=places
	// parameter when you first load the API. For example:
	// <script
	// src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

	var placeSearch, autocomplete;

	var componentForm = {
		street_number: 'short_name',
		route: 'long_name',
		locality: 'long_name',
		administrative_area_level_1: 'short_name',
		country: 'long_name',
		postal_code: 'short_name'
	};

	function initAutocomplete() {

		// Create the autocomplete object, restricting the search predictions to
		// geographical location types.
		autocomplete = new google.maps.places.Autocomplete(
			document.getElementById('StreetAddress'), { types: ['geocode'] });

		// Avoid paying for data that you don't need by restricting the set of
		// place fields that are returned to just the address components.
		autocomplete.setFields(['address_component']);

		// When the user selects an address from the drop-down, populate the
		// address fields in the form.
		autocomplete.addListener('place_changed', fillInAddress);
	}

	function fillInAddress() {
		// Get the place details from the autocomplete object.
		var place = autocomplete.getPlace();
		//for (var component in componentForm) {
		//	document.getElementById(component).value = '';
		//	document.getElementById(component).disabled = false;
		//}

		// Get each component of the address from the place details,
		// and then fill-in the corresponding field on the form.
		for (var i = 0; i < place.address_components.length; i++) {
			var addressType = place.address_components[i].types[0];
			if (componentForm[addressType]) {
				var val = place.address_components[i][componentForm[addressType]];
				if (i == 1) {
					var res = val.split(" ");
					document.getElementById('routeName').value = res[0].trim().toUpperCase();
					document.getElementById('routeType').value = res[1].trim().toUpperCase();
				}
				else {
					document.getElementById(addressType).value = val.toUpperCase();
				}
			}
		}
	}

	// Bias the autocomplete object to the user's geographical location,
	// as supplied by the browser's 'navigator.geolocation' object.
	function geolocate() {
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				var geolocation = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				var circle = new google.maps.Circle(
					{ center: geolocation, radius: position.coords.accuracy });
				autocomplete.setBounds(circle.getBounds());
			});
		}
	}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyALoDvKqgmTfpfPOEjqS2fI1kcabuxImMA&libraries=places&callback=initAutocomplete" defer></script>