<div @*ng-controller="host.views.tenants.featuresModal as vm"*@>
    <form name="editTenantFeaturesForm" role="form" novalidate class="form-validation">
                	<div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								  <span>@L("Features") : <span class="fname">{{vm.tenant.name}}</span></span>
							</h1>
							@* <button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button> *@
						</div>
					</div>
				</div>
			</div>
		</div>  
         <div class="black-transparentbox">
            <div class="portlet light margin-bottom-0"> 
                <div class="portlet-body" style="padding:15px;">
                     <feature-tree edit-data="vm.featureEditData"></feature-tree>
                   
                </div>     
            </div>
            <div class="modal-footer transparentbackground">
 <div class="buttonarea features">
                        <button type="button" ng-disabled="vm.saving" button-busy="vm.resettingFeatures" busy-text="@L("SavingWithThreeDot")" class="btn btn-default pull-left" ng-click="vm.resetFeatures()" uib-popover="@L("ResetFeaturesTooltip")" popover-trigger="'mouseenter'" popover-placement="top"><span>@L("ResetSpecialFeatures")</span></button>
                        <button type="button" ng-disabled="vm.saving || vm.resettingFeatures" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span> @L("Cancel") </span> </button>
                        <button type="submit" ng-disabled="vm.resettingFeatures" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
            </div>
        </div>     
       
    </form>
</div>