@using TechnoForms.Localization
<div ng-controller="host.views.tenants.index as vm">
    <div class="pagetitlebox">
            <div class="row">
                <div class="col-md-6">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>@L("Tenants")</span> @*<small>@L("TenantsHeaderInfo")</small>*@
                            </h1>
                            
                            <button tooltip-placement="top" uib-tooltip="Add" ng-if="vm.permissions.create" class="btn btn-primary blue btnaddhead" ng-click="vm.createTenant()"><i class="fa fa-plus"></i> @*@L("CreateNewTenant")*@</button>
                        </div>
                    </div>
                </div>
                    <div class="col-md-6 text-right">
                    <div class="filtermain">
                        <div class="portlet-title portlet-title-filter mt5 mr10">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                    <div class="input-group">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("Tenant")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getTenants()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>  
            </div>
        </div>
    <div class="black-transparentbox">        
        <div class="portlet light margin-bottom-0">
            <div class="filterarea" ng-show="showFilter">
                <ul>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><input type="text" class="form-control" placeholder="Search" /></li>
                    <li><button class="btn btn-primary blue"><i class="fa fa-search"></i> Search</button> <button class="btn btn-success "><i class="fa fa-refresh"></i> Clear</button></li>

                </ul>
            </div>
            <div class="portlet-body">
                <div ng-show="vm.norecord">
                    <div class="errormessage">  @L("NoRecordMessage") </div>
                </div>
                <div busy-if="vm.loading">
                    <div ui-grid="vm.tenantGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </div>
    </div>
</div>

