﻿@using TechnoForms.Inverters
<div @*ng-controller="host.views.inverter.createModel as vm"*@>
             <div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								  <span>@L("CreateNewInverter")</span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>

    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">
            <form name="createInverterForm" role="form" novalidate class="form-validation">            
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields mb-0">
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Manufacturer")</label>
                                    <input auto-focus class="form-control" type="text" name="Manufacturer" ng-model="vm.inverter.ManufacturarName" required maxlength="@Inverter.MaxManufacturarNameLength" placeholder="@L("Manufacturer")">
                                </div>
                            </li>
                            <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Series")</label>
                                    <input class="form-control" type="text" name="Series" ng-model="vm.inverter.Series" required maxlength="@Inverter.MaxSeriesNameLength" placeholder="@L("Series")">
                                </div>
                            </li>
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("ModelNumber")</label>
                                    <input class="form-control" type="text" name="ModelNumber" ng-model="vm.inverter.ModelNumber" required maxlength="@Inverter.MaxModelNumberLength" placeholder="@L("ModelNumber")">
                                </div>
                            </li>
                             <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("ACPower")</label>
                                    <input class="form-control" type="number" name="ACPower" ng-model="vm.inverter.ACPower" required maxlength="18" placeholder="@L("ACPower")" min="0">
                                </div>
                            </li>
                        </ul>
                        <ul class="formfields">
                           
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Sizes")</label>
                                    <input class="form-control" type="number" name="Sizes" ng-model="vm.inverter.Sizes" required maxlength="18" placeholder="@L("Sizes")" min="0">
                                </div>
                            </li>
                                  <li class="wddth48 mr0">
                                <label>@L("Logo")</label>
                                <div class="input-group form-group">
                                    <input type="text" name="Logo" id="logo" ng-model="vm.inverter.inverterLogo" class="form-control" placeholder="No file selected" readonly>
                                    <span class="input-group-btn">
                                        <div class="btn btn-default  custom-file-uploader">
                                            <input id="Logo" type="file" name="file" nv-file-select uploader="vm.logouploader" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />
                                            Browse
                                        </div>
                                    </span>
                                </div>
                            </li>
                            <li class="wddth48">

                                <label>@L("ApprovalDate")</label>
                                <div class="input-group form-group datepickerbox">
                                    <input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.inverter.approvalDate" is-open="popup1.opened" datepicker-options="dateOptionsApproval" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("ApprovalDate")" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>

                                @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>@L("ApprovalDate")</label>
                                        <input class="form-control" type="text" ngbDatepicker #d="" name="ApprovalDate" ng-model="vm.inverter.ApprovalDate" placeholder="@L("ApprovalDate")" required>
                                    </div>*@
                            </li>
                            <li class="wddth48 mr0">

                                <label>@L("ExpiryDate")</label>
                                <div class="input-group form-group datepickerbox">
                                    <input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.inverter.expiryDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("ExpiryDate")" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>

                                @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>@L("ExpiryDate")</label>
                                        <input class="form-control" type="text" name="ExpiryDate" ng-model="vm.inverter.ExpiryDate" placeholder="@L("ExpiryDate")" required>
                                    </div>*@
                            </li>
                      
                        </ul>
                        <ul class="formfields">
                            <li class="wdth165">

                                @*<pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>*@

                                @*<h4>Popup</h4>*@
                                @*<div class="row">*@


                                @*<div class="col-md-6">
                                            <p class="input-group">
                                                <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
                                        </div>
                                    </div>

                                    <hr />
                                    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
                                    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>*@

                            </li>
                        </ul>
                    </div>
                    <div class="modal-footer transparentbackground">
                        <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span>@L("Cancel") </span></button>
                        <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>