﻿@using TechnoForms.Inverters
<div @*ng-controller="host.views.inverter.editModal as vm"*@>
             <div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								   <span>@L("EditingInverter") : <span class="fname">{{vm.inverter.modelNumber}}</span></span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close"  ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">
            <form name="inverterEditForm" role="form" novalidate class="form-validation">         
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields mb-0">
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Manufacturer")</label>
                                    <input auto-focus type="text" name="Manufacturer" class="form-control input-ltr" ng-class="{'edited':vm.inverter.manufacturarName}" ng-model="vm.inverter.manufacturarName" required maxlength="@Inverter.MaxManufacturarNameLength" placeholder="@L("Manufacturer")">
                                </div>
                            </li>
                            <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Series")</label>
                                    <input type="text" name="Series" class="form-control input-ltr" ng-class="{'edited':vm.inverter.series}" ng-model="vm.inverter.series" required maxlength="@Inverter.MaxSeriesNameLength" placeholder="@L("Series")">
                                </div>
                            </li>
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("ModelNumber")</label>
                                    <input type="text" name="ModelNumber" class="form-control input-ltr" ng-class="{'edited':vm.inverter.modelNumber}" ng-model="vm.inverter.modelNumber" required maxlength="@Inverter.MaxModelNumberLength" placeholder="@L("ModelNumber")">
                                </div>
                            </li>
                             <li class="wddth48 mr0">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("ACPower")</label>
                                    <input type="text" name="ACPower" class="form-control input-ltr" ng-class="{'edited':vm.inverter.acPower}" ng-model="vm.inverter.acPower" required maxlength="18" placeholder="@L("ACPower")" min="0">
                                </div>
                            </li>                        
                           
                            <li class="wddth48">
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Sizes")</label>
                                    <input type="text" name="Sizes" class="form-control input-ltr" ng-class="{'edited':vm.inverter.sizes}" ng-model="vm.inverter.sizes" required maxlength="18" placeholder="@L("Sizes")" min="0">
                                </div>
                            </li>
                            <li class="wddth48 mr0">
                                <label>@L("Logo")</label>
                                <div class="input-group fileuploadbox">
                                    <input type="text" name="Logo" id="logo" ng-model="vm.inverter.inverterLogo" class="form-control" placeholder="No file selected" readonly>
                                    <span class="input-group-btn">
                                        <div class="btn btn-default  custom-file-uploader">
                                            <input id="Logo" type="file" name="file" nv-file-select uploader="vm.logouploader" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />
                                            Browse
                                        </div>
                                    </span>
                                </div>
                                <a id="Logophoto" class="iconfileupload" ng-click="vm.openNewTab(vm.logoFileName)"><img src="~/Common/Images/icon_downloadimage.png" /></a>
                            </li>
                           
                           <li class="wddth48 ">

                                @*<p ng-bind="vm.inverter.approvalDate | date:'MM/dd/yyyy'"></p>*@
                                <label>@L("ApprovalDate")</label>
                                <div class="input-group form-group datepickerbox">
                                    <input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-class="{'edited':vm.inverter.approvalDate}" ng-model="vm.inverter.approvalDate" is-open="popup1.opened" datepicker-options="dateOptionsApproval" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("ApprovalDate")" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>

                                @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>@L("ApprovalDate")</label>
                                        <input type="text" name="ApprovalDate" class="form-control input-ltr" ng-class="{'edited':vm.inverter.approvalDate}" [ngModel]="vm.inverter.approvalDate" required>
                                    </div>*@
                            </li>

                            <li class="wddth48 mr0">

                                <label>@L("ExpiryDate")</label>
                                <div class="input-group datepickerbox">
                                    <input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-class="{'edited':vm.inverter.expiryDate}" ng-model="vm.inverter.expiryDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("ExpiryDate")" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                    </span>
                                </div>

                                @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                                        <label>@L("ExpiryDate")</label>
                                        <input type="text" name="ExpiryDate" class="form-control input-ltr" ng-class="{'edited':vm.inverter.expiryDate}" [ngModel]="vm.inverter.expiryDate" required>
                                    </div>*@
                            </li>
                             
                            
                        </ul>
                    </div>
                    <div class="modal-footer transparentbackground">
                        <button type="button" ng-disabled="vm.saving" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span>@L("Cancel") </span></button>
                        <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@*<script>
        $(function () {
            $('input[name="ApprovalDate"]').daterangepicker({
                singleDatePicker: true
            });
            $('input[name="ExpiryDate"]').daterangepicker({
                singleDatePicker: true
            });
        });
    </script>*@