﻿@using TechnoForms.Localization
<div ng-controller="host.views.inverter.index as vm">
         <div class="pagetitlebox">
            <div class="row">
                <div class="col-md-4">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>@L("Inverter")</span> @*<small>@L("InverterHeaderInfo")</small>*@
                            </h1>
                            <button ng-if="vm.permissions.createInverter" tooltip-placement="top" uib-tooltip="Add"  class="btn btn-primary blue btnaddhead" ng-click="vm.createInverter()"><i class="fa fa-plus"></i>@*@L("CreateNewInverter")*@</button>
                        <button ng-if="vm.permissions.createInverter" tooltip-placement="top" uib-tooltip="Upload"  class="btn btn-primary blue btnaddhead" ng-click="vm.uploadRec()"><i class="fa fa-upload"></i> @*@L("Upload")*@</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 text-right">
                    <div class="filtermain">
                        <div class="portlet-title portlet-title-filter mt5 mr10">
                            <div class="inputs inputs-full-width">
                                <div class="portlet-input">
                                    <form>
                                        <div class="input-group">
                                            <input ng-model="vm.manufacturarText" auto-focus class="form-control" placeholder="@L("Manufacturer")" type="text">
                                            <span class="input-group-btn">
                                                <button ng-click="vm.getInverter()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        
                        <a ng-click="toggle = !toggle" ng-class="{'showfilter' : toggle}" class="btn-filter">  </a>
                    </div>
                </div>      
            </div>
        </div>
        
    <div class="black-transparentbox">
       
        <div class="portlet light margin-bottom-0">
            <div class="filterarea dropdownfilter" ng-class="{'showfilter' : toggle}">
                <h4>Advance Filter</h4>
              <form>
                    <ul>
                        <li>
                            <input ng-model="vm.manufacturarText" auto-focus class="form-control" placeholder="@L("Manufacturer")" type="text">
                        </li>
                        <li>
                            <input ng-model="vm.modelNumber" auto-focus class="form-control" placeholder="@L("ModelNumber")" type="text">
                        </li>
                        <li>
                            @*<input ng-model="vm.expiryDate" auto-focus class="form-control" placeholder="@L("ExpiryDate")" type="date">*@
                            <div class="input-group datepickerbox">
                                <input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.expiryDate" is-open="popup2.opened" datepicker-options="dateOptions" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("ExpiryDate")" />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </div>
                        </li>
                        <li>
                            <span class="input-group-btn ">
                                <button ng-click="vm.getInverter()" class="btn btn-primary blue mr5" type="submit"><i class="icon-magnifier"></i> Search</button>
                            </span>
                            <span class="input-group-btn">
                                <button class="btn btn-success" ng-click="vm.ClearAll()"><i class="fa fa-refresh"></i> Clear</button>
                            </span>
                        </li>
                    </ul>
                </form>
            </div>

            <div class="portlet-body">
                <div ng-show="vm.norecord">
                    <div class="errormessage">  @L("NoRecordMessage") </div>
                </div>
                <div busy-if="vm.loading">
                    <div ui-grid="vm.inverterGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
            
        </div>
         <div class="blackoverlay" ng-class="{'showfilter' : toggle}" ng-click="toggle = !toggle"></div>
    </div>
</div>

