﻿<div >
    <form name="UploadRECDetailForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("UploadRECDetail")</span>
            </h4>
        </div>
        <div class="modal-body" >
            @*<div class="form-group form-md-line-input form-md-floating-label no-hint">
                    <input type="file" id="filetoupload" file-model="myFile" required />
                </div>*@
            <div class="uploadimbbox">
                <div class="input-group">
                    <input type="text" name="Logo" id="logo" class="form-control" placeholder="No file selected" readonly required>
                    <span class="input-group-btn">
                        <div class="btn btn-default  custom-file-uploader">
                            <input id="filetoupload" type="file" name="file" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />
                            Browse
                        </div>
                    </span>                    
                </div>
                <div class="input-group" style="margin-top:20px;">
                    <span>File Uploaded on {{vm.inverter.creationTime}} by {{vm.inverter.uploaderName}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("UploadingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.uploadFile(myFile)" ng-disabled="UploadRECDetailForm.$invalid"><i class="fa fa-save"></i> <span>@L("Upload")</span></button>
        </div>
    </form>
</div>