@using TechnoForms.Localization
<div ng-controller="tenant.views.jobs.customerSignature as vm">
    <div class="black-transparentbox">
    <table class="signaturehidebox" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border:#ddd solid 1px; max-width: 802px; font-size:14px; font-family:arial; color:#494949;" width="100%">
        <tbody>
            <tr>
                <td style="mso-height-rule: exactly; padding:20px 0px;">
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 20px; max-width:730px">
                        <tbody>
                            <tr>
                                <td colspan="2" style="border-bottom: 1px solid #ccc; font-size: 25px; padding-bottom: 10px; padding-top: 10px;">
                                    <b> SGU - Collecting Home Owner Signature email template </b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <p style="line-height:24px; font-size:14px;  font-family: arial;font-weight: 400; margin:0px; padding:20px 0px 0px 0px;"> Dear {{vm.jobs.firstName}} {{vm.jobs.lastName}},</p>
                                    <p style="line-height:24px; font-size:14px;  font-family: arial;font-weight: 400; margin:0px; padding:10px 0px 0px 0px;">
                                        {{vm.jobs.company}} is requesting a signature for the assignment of STCs for the Solar Generation Unit (SGU) they have installed on property At
                                        {{vm.jobs.streetAddress}} {{vm.jobs.streetCity}}, {{vm.jobs.streetState}}-{{vm.jobs.streetPostCode}} On {{vm.jobs.expectedInstallDate}} FOR {{vm.jobs.projectNumber}}.
                                    </p>
                                    <p style="color:#333; line-height:24px; font-size:18px;  font-family: arial; margin:0px;
                                     padding:10px 0px 10px 0px;"><b>Before signing please verify your system details below:</b></p>

                                    <p style="line-height:24px; font-size:14px;  font-family: arial;font-weight: 400; margin:8px 0px;"> Panel brand : {{vm.jobs.brandName}} </p>
                                    <p style="line-height:24px; font-size:14px;  font-family: arial;font-weight: 400; margin:8px 0px;"> Panel Model: {{vm.jobs.panelModel}}</p>
                                    <p style="line-height:24px; font-size:14px;  font-family: arial;font-weight: 400; margin:8px 0px;"> Inverter brand :  {{vm.jobs.inverterBrandName}}</p>
                                    <p style="line-height:24px; font-size:14px;  font-family: arial;font-weight: 400; margin:8px 0px;"> Inverter Model: {{vm.jobs.inverterModel}} </p>
                                    <p style="line-height:24px; font-size:14px;  font-family: arial;font-weight: 400; margin:8px 0px;"> System Total Rated Output kW: {{vm.jobs.systemCapacity}}</p>
                                    <p style="line-height:24px; font-size:14px;  font-family: arial;font-weight: 400; margin:8px 0px;"> No Of Panel: {{vm.jobs.noOfPanels}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="color:#333; line-height:24px; font-size:18px;  font-family: arial; margin:0px; padding:10px 0px 10px 0px;"><b> Mandatory Declaration: </b></td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 8px 0px"> - I am the legal owner of the above small generation unit(SGU) and assign the right to create STCs to  {{vm.jobs.company}} </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;font-family: arial; margin:0px; padding: 5px 0px"> - I have not previously assigned or created any STCs for this system within this period to claim {{vm.jobs.recYearName}} deeming for SGU. SGUs must be registered within 12 months of installation.</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px"> - I understand i am under no obligation to assign STCs to {{vm.jobs.company}} . </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px"> - I agree to repay the STC payment to {{vm.jobs.company}} should my assignment be invalid.</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px"> - I understand that an agent of the Clean Energy Regulator or {{vm.jobs.company}}  may wish to inspect SGU within the first five years of certificate redemption. </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px"> - I am aware that penalties can be applied for providing misleading information in this form under the Renewable (Electricity) Act 2000. </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px"> - I understand that this system is eligible for @*93.00*@  STCs in exchange for assigning my right to create these STCs I will receive from the installer/supplier a point of sale discount. </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px;"> - I must retain receipts and proof of the installation date for the life of the STCs. </td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px;">- Your Signature is required to sign documents pertaining to your solar system installation and connection.</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px;">- These documents are necessary to allow your installer to complete the installation process.</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px;"> - Your Signature will be populated on these document types STC assignment form, Any Electrical approval forms, Any required electrical connection forms, any documents for finance or lease products if applicable.</td>
                            </tr>
                            <tr>
                                <td colspan="2" style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px;"> - By signing you are agreeing that your give consent for your signature(s) to be populated on these documents.</td>
                            </tr>
                            <tr>
                                <td align="left" style="padding-bottom: 12px;"><input type="checkbox" id="Check" name="Check" /></td>
                                <td style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px; padding-bottom: 20px;"> I have read and understood these terms and conditions and accept them </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="border: 1px solid #ccc; margin-left: 55px; padding-bottom: 20px; max-width:380px;">
                        <tbody>
                            <tr align="left">
                                <td style="background: #ccc; padding: 10px 5px; font-size: 14px; ">  SIGN HERE: </td>
                            </tr>
                            <tr>
                                <td style="width: 100%; padding: 0px 10px;" colspan="2"></td>
                            </tr>
                            <tr>
                                <td>
                                    <div id="myDIV">
                                        <div class="panel panel-default">
                                            <div class="panel-body" id="signature-pad">
                                                <div style="text-align:center">
                                                    <canvas style="width: 95%; height:150px; border: 1px solid black;"></canvas>
                                                </div>
                                                <div style="text-align:right">
                                                    <br />
                                                    <button data-action="clear" class="" style="padding:5px;font-size:20px; border-radius: 10px; border-color:#86A9AB; background-color:#86A9AB;margin-right:10px;">Try Again</button>
                                                    <button data-action="save" class="" style="padding:5px;font-size:20px;border-radius: 10px;border-color:#86A9AB; background-color:#86A9AB;margin-top: 10px;margin-bottom:10px;">Done</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding:10px 20px; max-width:730px;">
                        <tbody>
                            <tr>
                                <td style="line-height:24px; font-size:14px; font-family: arial; margin:0px; padding: 5px 0px">
                                    Customer name:{{vm.jobs.firstName}} {{vm.jobs.lastName}}
                                </td>
                            </tr>
                            <tr><td style="line-height:24px; font-size:14px; font-family: arial; margin:0px; padding: 5px 0px">Date : {{date | date:'dd/MM/yyyy'}}</td></tr>
                            <tr><td style="line-height:24px; font-size:14px; font-family: arial; margin:0px; padding: 5px 0px">Email: {{vm.jobs.emailId}}</td></tr>
                            <tr><td style="line-height:24px; font-size:14px; font-family: arial; margin:0px; padding: 5px 0px">Captured IP Address :</td></tr>
                            <tr><td style="line-height:24px; font-size:14px; font-family: arial; margin:0px; padding: 5px 0px">Location : </td></tr>
                        </tbody>
                    </table>
                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 0px 20px; max-width:730px;">
                        <tbody>
                            <tr align="left">
                                <td style="line-height:24px; font-size:14px;  font-family: arial; margin:0px; padding: 5px 0px"> <b> Privacy Declaration: </b> @*@Model.CustCompanyName*@  will only use this personal information as intended and will not sell or divulge this to any parties other than the Clean Energy Regulator. If you are not the intended recipient of this email - Please dispose this email and disregard the information within. </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="panel panel-default">
                                        <div class="panel-body" id="signature-pad">
                                            <div style="text-align:center">
                                            </div>
                                            <div style="text-align:right">
                                                <br />

                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</div>
<style>
    input[type="text"] {
        border: 0px;
    }

    textarea {
        border: 0px;
        background: #fff;
    }

    .bgwith {
        background: #fff;
    }

    .whiteboxstc {
        background: #fff;
        display: inline-block;
        width: 95%;
        height: 15px;
        overflow: hidden;
        margin-bottom: 2px;
        border-bottom: 1px solid #dbd8d9;
    }

    .whitebox2stc {
        background: #fff;
        display: inline-block;
        width: 95%;
        height: 30px;
        overflow: hidden;
        margin-bottom: 2px;
        border-bottom: 1px solid #dbd8d9;
    }

    .whiteboxstc input[type="text"] {
        width: 90%;
        background: #fff;
    }

    .yesnoradio {
        display: block;
        padding: 2px;
        width: 54px;
        border-bottom: 1px solid #dbd8d9;
    }

        .yesnoradio label {
            position: relative;
            width: 100%;
            display: block;
            height: 20px;
        }

        .yesnoradio input[type="radio"] {
            float: left;
            margin-top: -2px;
        }

    .northbox {
        width: 95%;
        height: 15px;
        display: block;
    }

        .northbox label {
            position: relative;
            width: 100%;
            display: block;
        }

        .northbox table tr td label input[type="radio"] {
            float: left;
            margin-top: -4px;
            position: absolute;
            top: 3px;
            left: 0px;
        }

        .northbox table tr td label span.text {
            border: 0px solid #000;
            margin-left: 25px;
            padding-top: 2px;
        }

    .northbox2 {
        width: 95%;
        display: inline-block;
    }

        .northbox2 label.marbtm10 {
            margin-bottom: 3px;
            display: inline-block;
        }

        .northbox2 label {
            position: relative;
            width: 100%;
        }

            .northbox2 label input[type="radio"] {
                float: left;
                margin-top: -5px;
                position: absolute;
                top: 3px;
                left: 0px;
            }

            .northbox2 label span.text {
                border: 0px solid #000;
                margin-left: 25px;
                padding-top: 2px;
            }

            .black-transparentbox {
                background: rgba(0, 0, 0, 0.8);
                -webkit-box-shadow: 0px 3px 44px #000000B8;
                box-shadow: 0px 3px 44px #000000B8;
                /* min-height: 80vh; */
                border-radius: 19px;
                -webkit-border-radius: 19px;
                -moz-border-radius: 19px;
                opacity: 1;
                /* padding: 35px 30px; */
                padding: 20px 20px 70px;
                margin-top: 0px;
            }
            .signaturehidebox{background:#fff!important;}
</style>