﻿@using TechnoForms.Localization
<div ng-controller="tenant.views.compliaencejobs.audioList as vm">
    <div class="black-transparentbox">
        <div class="row margin-bottom-5">
            <div class="col-md-6">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("Audio")</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="filtermain">
                    <button class="btn btn-primary blue mt20" ng-click="vm.createAudio(vm.jobId)"><i class="fa fa-plus"></i> @L("AddAudio")</button>
                </div>
            </div>
        </div>
        <div class="portlet light margin-bottom-0">
            <div class="portlet-body">
                <div ng-show="vm.norecord">
                    <div class="errormessage">  @L("NoRecordMessage") </div>
                </div>
                <div busy-if="vm.loading" ng-show="!vm.norecord">
                    <div ui-grid="vm.audioGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </div>
    </div>
</div>