﻿<div ng-controller="tenant.views.compliaencejobs.createAudio as vm">
    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">
            <form name="createUnitTypeForm" role="form" novalidate class="form-validation">
                <div class="row margin-bottom-5">
                    <div class="col-md-12">
                        <div class="page-head">
                            <div class="page-title">
                                <h1>
                                    <span>@L("CreateNewAudio")</span>
                                </h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="createjobsform">
                        <ul class="formfields uploadimbbox">
                            <li class="wdth265">
                                <label>@L("VideoFile")</label>
                                <div class="input-group">
                                    <input type="text" name="Logo" id="logo" ng-model="" class="form-control" placeholder="No file selected" readonly required>
                                    <span class="input-group-btn">
                                        <div class="btn btn-default  custom-file-uploader">
                                            <input id="Logo" type="file" name="file" nv-file-select uploader="vm.logouploader" onchange="this.form.logo.value = this.files.length ? this.files[0].name : ''" />
                                            Browse
                                        </div>
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="modal-footer transparentbackground">
                    <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                    <button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                </div>
            </form>
        </div>
    </div>
</div>