<div class="modal-header">
    <h4 class="modal-title">
        <span>@L("CustomerPhotos")</span>
    </h4>
    <a href="#" class="modalclosebtn" ng-click="vm.cancel()">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body" style="padding-bottom:15px!important;">
    <div class="imagesliderbox">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by $index" index="$index">
                <img ng-src="{{slide.panelBarcodePhoto}}" style="margin:auto;">
                <div class="carousel-caption">
                    <div ng-show="slide.ownercomment == 0">
                        @L("longitude") : {{slide.longitude}}<br />
                        @L("latitude") : {{slide.latitude}}<br />
                        @L("Date") : {{slide.date  | date:'dd-MM-yyyy'}}
                    </div>
                    @*@L("ImageCount") : {{$index+1}}<br />
                        @L("OwnerComment") : {{slide.ownercomment}}<br />*@
                </div>
            </div>
        </div>
    </div>
</div>
