<div ng-controller="tenant.views.compliaencejobs.detailModal as vm">
    <div class="black-transparentbox">
        <div class="row margin-bottom-5">
            <div class="col-md-9 col-sm-9">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("DetailJobs"): <span class="fname"> {{vm.jobs.firstName}} {{vm.jobs.lastName}}</span></span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <button ng-disabled="vm.saving" type="button" class="btn btn-danger btnback" ng-click="vm.cancel()"><i class="fa fa-chevron-left"></i> @L("Back")</button>
            </div>
        </div>
        <div class="portlet light margin-bottom-0">
            <div class="portlet-body">
                <uib-tabset class="tab-container tabbable-line" active="vm.activeTabIndex">
                    <uib-tab heading="@L("CustomerDetail")">
                        <div>
                            <div class="contactinfo mt20">
                                <ul>
                                    <li class="phoneno"><label> {{vm.jobs.phone}}</label></li>
                                    <li class="faxbox"> <label> {{vm.jobs.fax}}</label>  </li>
                                    <li class="emailbox"><label>{{vm.jobs.emailId}}</label></li>
                                    <li class="companyname"><label>{{vm.jobs.company}}</label></li>
                                </ul>
                            </div>
                            @*<h2> {{vm.jobs.firstName}} {{vm.jobs.lastName}}</h2>*@
                            @* <div class="detailbox mt30">
                                    <ul>
                                        <li>
                                            <label class="title">@L("Company") </label>
                                            <label class="value"></label>
                                        </li>
                                    </ul>
                                </div>*@
                            @* <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("FirstName") : </label> {{vm.jobs.firstName}}
                                </div>
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("LastName") : </label> {{vm.jobs.lastName}}
                                </div>
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">

                                </div>
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("EmailId") : </label> {{vm.jobs.emailId}}
                                </div>
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Phone") : </label> {{vm.jobs.phone}}
                                </div>
                                <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                    <label>@L("Fax") : </label> {{vm.jobs.fax}}
                                </div>*@

                            <div class="graystransparent mt40">
                                <h2 class="mt0">Postal Address and Street Information</h2>

                                @*<div class="detailbox mt30">
                                            <ul>
                                               <li>
                                                    <label class="title">@L("UnitNo")</label>
                                                    <label class="value">{{vm.jobs.unitType}}</label>
                                                </li>
                                                 <li>
                                                    <label class="title">@L("UnitType")</label>
                                                    <label class="value">{{vm.jobs.unitNo}}</label>
                                                </li>
                                                <li>
                                                    <label class="title">@L("StreetNo")</label>
                                                    <label class="value">{{vm.jobs.streetNo}}</label>
                                                </li>
                                                <li>
                                                    <label class="title">@L("StreetName")</label>
                                                    <label class="value">{{vm.jobs.streetName}}</label>
                                                </li>
                                                 <li>
                                                    <label class="title">@L("StreetType")</label>
                                                    <label class="value">{{vm.jobs.streetType}}</label>
                                                </li>
                                            </ul>
                                    </div>*@
                                <div class="detailbox mt30">
                                    <ul>
                                        <li>
                                            <label class="title">@L("StreetAddress") </label>
                                            <label class="value"> {{vm.jobs.streetAddress}}</label>
                                        </li>
                                        <li>
                                            <label class="title">@L("StreetCity")</label>
                                            <label class="value">{{vm.jobs.streetCity}}</label>
                                        </li>
                                        <li>
                                            <label class="title">@L("StreetState")</label>
                                            <label class="value">{{vm.jobs.streetState}}</label>
                                        </li>
                                        <li>
                                            <label class="title">@L("StreetPostCode")</label>
                                            <label class="value">{{vm.jobs.streetPostCode}}</label>
                                        </li>
                                    </ul>
                                </div>
                                <div class="detailbox mt30">
                                    <ul>
                                        <li>
                                            <label class="title">@L("PostalAddressType")</label>
                                            <label class="value">{{vm.jobs.postalAddressType}}</label>
                                        </li>
                                        <li>
                                            <label class="title">@L("PostalDeliveryNumber")</label>
                                            <label class="value">{{vm.jobs.postalDeliveryNumber}}</label>
                                        </li>
                                        <li>
                                            <label class="title">@L("PostalDeliveryType")</label>
                                            <label class="value"> {{vm.jobs.postalDeliveryType}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="graystransparent mt40">
                                <h2 class="mt0">Installation Details</h2>
                                <div class="detailbox mt30">
                                    <ul>
                                        <li>
                                            <label class="title">@L("InstallationAddresssameasHouseAddress")</label>
                                            <label class="value">{{vm.jobs.installationAddresssameasHouseAddress}}</label>
                                        </li>
                                        <li ng-if="!vm.installationameasHouse">
                                            <label class="title">@L("InstallationStreetAddress")</label>
                                            <label class="value">{{vm.jobs.installationStreetAddress}}</label>
                                        </li>

                                    </ul>
                                </div>
                                @*<div class="detailbox mt30">
                                        <ul>
                                              <li ng-if="!vm.installationameasHouse">
                                                <label class="title">@L("InstallationUnitType")</label>
                                                <label class="value">{{vm.jobs.installationUnitType}}</label>
                                            </li>
                                            <li ng-if="!vm.installationameasHouse">
                                                <label class="title">@L("InstallationUnitNo")</label>
                                                <label class="value">{{vm.jobs.installationUnitNo}}</label>
                                            </li>
                                             <li ng-if="!vm.installationameasHouse">
                                                <label class="title">@L("InstallationStreetNo")</label>
                                                <label class="value">{{vm.jobs.installationStreetNo}}</label>
                                            </li>
                                             <li ng-if="!vm.installationameasHouse">
                                                <label class="title">@L("InstallationStreetName")</label>
                                                <label class="value">{{vm.jobs.installationStreetName}}</label>
                                            </li>
                                        </ul>
                                    </div>*@
                                <div class="detailbox mt30">
                                    <ul>
                                        @*<li ng-if="!vm.installationameasHouse">
                                                <label class="title">@L("InstallationStreetType")</label>
                                                <label class="value">{{vm.jobs.installationStreetType}}</label>
                                            </li>*@
                                        <li ng-if="!vm.installationameasHouse">
                                            <label class="title">@L("InstallationStreetCity")</label>
                                            <label class="value"> {{vm.jobs.installationStreetCity}}</label>
                                        </li>
                                        <li ng-if="!vm.installationameasHouse">
                                            <label class="title">@L("InstallationStreetState")</label>
                                            <label class="value">{{vm.jobs.installationStreetState}}</label>
                                        </li>
                                        <li ng-if="!vm.installationameasHouse">
                                            <label class="title">@L("InstallationStreetPostCode") </label>
                                            <label class="value">{{vm.jobs.installationStreetPostCode}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </uib-tab>

                    <uib-tab heading="@L("SitesDetail")">
                        <div>
                            <div class="detailbox mt30">
                                <ul>
                                    <li>
                                        <label class="title">@L("HouseType") </label>
                                        <label class="value">{{vm.jobs.houseTypeName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("RoofType")</label>
                                        <label class="value">{{vm.jobs.roofTypeName}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="detailbox mt30">
                                <ul>
                                    <li>
                                        <label class="title">@L("NMINo")</label>
                                        <label class="value">{{vm.jobs.nmiNo}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("RegPlanNo")</label>
                                        <label class="value">{{vm.jobs.regPlanNo}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("LotNo") </label>
                                        <label class="value">{{vm.jobs.lotNo}}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </uib-tab>

                    <uib-tab heading="@L("Panels")">
                        <div>
                            <div class="detailbox mt30">
                                <ul>
                                    <li>
                                        <label class="title">@L("Panel")</label>
                                        <label class="value">{{vm.jobs.panelName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("Brand") </label>
                                        <label class="value">{{vm.jobs.brandName}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="detailbox mt30">
                                <ul>
                                    <li>
                                        <label class="title">@L("Model") </label>
                                        <label class="value">{{vm.jobs.panelModel}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("Size") </label>
                                        <label class="value">{{vm.jobs.panelSize}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("NoOfPanels")</label>
                                        <label class="value">{{vm.jobs.noOfPanels}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("SystemCapacity")</label>
                                        <label class="value">{{vm.jobs.systemCapacity}}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </uib-tab>

                    <uib-tab heading="@L("Inverter")">
                        <div>
                            <div class="detailbox mt30">
                                <ul>
                                    <li>
                                        <label class="title">@L("Inverter")</label>
                                        <label class="value">{{vm.jobs.inverterName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("Brand")</label>
                                        <label class="value">{{vm.jobs.inverterBrandName}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="detailbox mt30">
                                <ul>
                                    <li>
                                        <label class="title">@L("Model")</label>
                                        <label class="value">{{vm.jobs.inverterModel}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("Series")</label>
                                        <label class="value">{{vm.jobs.inverterSeries}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("NoOfInventers")</label>
                                        <label class="value">{{vm.jobs.noOfInverter}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("InverterOutput")</label>
                                        <label class="value">{{vm.jobs.inverterOutput}}</label>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </uib-tab>

                    <uib-tab heading="@L("InstallationDetail")">
                        <div>
                            <div class="detailbox mt30">
                                <ul>
                                    <li>
                                        <label class="title">@L("SolarType")</label>
                                        <label class="value"> {{vm.jobs.solarTypeName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("SystemType")</label>
                                        <label class="value">{{vm.jobs.systemTypeName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("ExpectedInstallDate")</label>
                                        <label class="value">{{vm.jobs.expectedInstallDate | date:'dd MMM yyyy'}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="detailbox mt30" ng-if="vm.systemTypeVal">
                                <ul>
                                    <li>
                                        <label class="title">@L("RoofFacingPanels")</label>
                                        <label class="value"> {{vm.jobs.roofFacingPanelName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("SUGatthisaddress")</label>
                                        <label class="value">{{vm.jobs.sugstthisaddressName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("LocationOfNewSystem")</label>
                                        <label class="value">{{vm.jobs.locationOfNewSystemName}}</label>
                                    </li>
                                </ul>
                            </div>
                            <div class="detailbox mt30">
                                <ul>
                                    <li>
                                        <label class="title">@L("CreateFor")</label>
                                        <label class="value">{{vm.jobs.createForName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("Installer")</label>
                                        <label class="value">{{vm.jobs.installerName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("Designer") </label>
                                        <label class="value"> {{vm.jobs.designerName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("Electrician")</label>
                                        <label class="value">{{vm.jobs.electricianName}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("ProjectNumber")</label>
                                        <label class="value">{{vm.jobs.projectNumber}}</label>
                                    </li>
                                    <li>
                                        <label class="title">@L("InstallerNote") </label>
                                        <label class="value">{{vm.jobs.installerNote}}</label>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </uib-tab>

                    <uib-tab heading="@L("RECDetails")">
                        <div class="recdetails">
                            <div class="graystransparent">
                                <div class="detailbox">
                                    <ul>
                                        <li class="wdth265">
                                            <label class="title">@L("Typeofsystem")</label>
                                            <label class="value">{{vm.jobs.typeofsystemName}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("Typeofconnection")</label>
                                            <label class="value">{{vm.jobs.typeofconnectionName}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("Systemmountingtype")</label>
                                            <label class="value">{{vm.jobs.mountingtypeName}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="graystransparent">
                                <div class="detailbox">
                                    <ul>
                                        <li class="wdth265">
                                            <label class="title">@L("Auditreportavailable")</label>
                                            <label class="value"> {{vm.jobs.auditreportavailableName}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("installingacompleteunit")</label>
                                            <label class="value">{{vm.jobs.installingcompleteunitName}}</label>
                                        </li>

                                        <li class="wdth265">
                                            <label class="title">@L("Accreditationcode")</label>
                                            <label class="value">{{vm.jobs.accreditationCode}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="graystransparent">
                                <div class="detailbox">
                                    <ul>
                                        <li class="wdth265">
                                            <label class="title">@L("AddcapMoredetailed")</label>
                                            <label class="value">{{vm.jobs.addcapMoredetailed}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("RECYear")</label>
                                            <label class="value">{{vm.jobs.recYearName}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("Defaultresourceavailfigure")</label>
                                            <label class="value">{{vm.jobs.defaultresourceavailfigureName}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="graystransparent">
                                <div class="detailbox">
                                    <ul>
                                        <li class="wdth265">
                                            <label class="title">@L("ResourceAvailability")</label>
                                            <label class="value">{{vm.jobs.resourceAvailability}}</label>
                                        </li>

                                        <li class="wdth265">
                                            <label class="title">@L("ExplanatoryNotes")</label>
                                            <label class="value">{{vm.jobs.explanatoryNotes}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("CeatingCert")</label>
                                            <label class="value">{{vm.jobs.ceatingCertName}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="graystransparent">
                                <div class="detailbox mt30">
                                    <ul>
                                        <li class="wdth265">
                                            <label class="title">@L("CECAccreditationStatement") </label>
                                            <label class="value">{{vm.jobs.cecAccreditationStatementName}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("ElectricalSafetyDocumentation")</label>
                                            <label class="value">{{vm.jobs.electricalSafetyDocumentationName}}</label>
                                        </li>

                                        <li class="wdth265">
                                            <label class="title">@L("NotgridConnectedStatement")</label>
                                            <label class="value">{{vm.jobs.notgridConnectedStatementName}}</label>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="graystransparent">
                                <div class="detailbox mt30">
                                    <ul>
                                        <li class="wdth265">
                                            <label class="title">@L("GovernmentSitingApprovals")</label>
                                            <label class="value">{{vm.jobs.governmentSitingApprovalsName}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("AustralianStandardsStatement")</label>
                                            <label class="value">{{vm.jobs.australianStandardsStatementName}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("InstallPropertyName")</label>
                                            <label class="value">{{vm.jobs.installPropertyName}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="graystransparent">
                                <div class="detailbox mt30">
                                    <ul>
                                        <li class="wdth265">
                                            <label class="title">@L("SGUatThisAddress")</label>
                                            <label class="value">{{vm.jobs.sgUatThisAddressName}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("DescribeAdequateIinfo")</label>
                                            <label class="value">{{vm.jobs.describeAdequateIinfo}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("AdditionalSystemInformation")</label>
                                            <label class="value">{{vm.jobs.additionalSystemInformation}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="graystransparent">
                                <div class="detailbox mt30">
                                    <ul>
                                        <li class="wdth165">
                                            <label class="title">@L("Systemmountingtype")</label>
                                            <label class="value">{{vm.jobs.systemMountingTypeName}}</label>
                                        </li>
                                        <li class="wdth265">
                                            <label class="title">@L("OwnerAddressType")</label>
                                            <label class="value">{{vm.jobs.ownerAddressTypeName}}</label>
                                        </li>

                                        <li class="wdth265">
                                            <label class="title">@L("CustomerAddressType")</label>
                                            <label class="value">{{vm.jobs.customerAddressTypeName}}</label>
                                        </li>
                                        <li class="wdth165">
                                            <label class="title">@L("JobStatus")</label>
                                            <label class="value">{{vm.jobs.jobStatusName}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer transparentbackground">
                            <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                        </div>
                    </uib-tab>

                </uib-tabset>
            </div>
        </div>
    </div>
</div>
