<style>
    .not-active {
        pointer-events: none;
        cursor: default;
        text-decoration: none;
        color: black;
    }
</style>
<div class="content-wrapper">
    <div class="content-wrapper-box">
        <div class="button-wrapper">
            <span class="link_button columnbox">
                <span class="documenttext">PA</span>
                <span class="subapprovebtn">
                    <a ng-click="grid.appScope.approvePanelImages(row.entity.id)" class="ticktrue">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a ng-click="grid.appScope.rejectPanelImages(row.entity.id)" class="crosstick">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>

                </span>
            </span>
            <span class="link_button columnbox">
                <span class="documenttext">IN</span>
                <span class="subapprovebtn">
                    <a ng-click="grid.appScope.approveINImages(row.entity.id)" class="ticktrue">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a ng-click="grid.appScope.rejectINImages(row.entity.id)" class="crosstick">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </span>
            </span>
            <span class="link_button columnbox">
                <span class="documenttext">IM</span>
                <span class="subapprovebtn">
                    <a ng-click="grid.appScope.approveIMImages(row.entity.id)" class="ticktrue">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a ng-click="grid.appScope.rejectIMImages(row.entity.id)" class="crosstick">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </span>
            </span>
            <span class="link_button columnbox">
                <span class="documenttext">CS</span>
                <span class="subapprovebtn">
                    <a ng-click="grid.appScope.approveCSImages(row.entity.id)" class="ticktrue">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a ng-click="grid.appScope.rejectCSImages(row.entity.id)" class="crosstick">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </span>
            </span>
            <span class="link_button columnbox">
                <span class="documenttext">IS</span>
                <span class="subapprovebtn">
                    <a ng-click="grid.appScope.approveISImages(row.entity.id)" class="ticktrue">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a ng-click="grid.appScope.rejectISImages(row.entity.id)" class="crosstick">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </span>
            </span>
            <span class="link_button columnbox">
                <span class="documenttext">CEC</span>
                <span class="subapprovebtn">
                    <a ng-click="grid.appScope.approveCECImages(row.entity.id)" class="ticktrue">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a ng-click="grid.appScope.rejectCECImages(row.entity.id)" class="crosstick">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </span>
            </span>
            <span class="link_button columnbox">
                <span class="documenttext">ELE</span>
                <span class="subapprovebtn">
                    <a ng-click="grid.appScope.approveELEImages(row.entity.id)" class="ticktrue">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a ng-click="grid.appScope.rejectELEImages(row.entity.id)" class="crosstick">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </span>
            </span>

            <span class="link_button columnbox">
                <span class="documenttext">CUCK</span>
                <span class="subapprovebtn">
                    <a ng-click="grid.appScope.approveCUCKImages(row.entity.id)" class="ticktrue">
                        <i class="fa fa-check" aria-hidden="true"></i>
                    </a>
                    <a ng-click="grid.appScope.rejectCUCKImages(row.entity.id)" class="crosstick">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </a>
                </span>
            </span>

            <a ng-click="grid.appScope.cjaudio(row.entity)" class="link_button columnbox"><span class="documenttext">Upload Audio</span></a>

        </div>
        <div class="containerBox">
            <div class="content-box">
                <div class="title-box">
                    <h4>Owner</h4>
                </div>
                <div class="content-inner">
                    <h3>{{row.entity.fullName}}</h3>
                    <a href="#" class="email_link">{{row.entity.name}}</a>
                    <p class="addressText"><img src="/App/images/icon_location.svg" alt="icon_location">{{row.entity.streetAddress}}</p>
                    <p class="phoneText"><img src="/App/images/icon_mobile.svg" class="icon_mobilesmall" />{{row.entity.phone}}</p>
                    <p><img src="/App/images/icon_email.svg" class="icon_emailsmall" /> {{row.entity.emailId}}</p>
                    {{row.entity.jobLatLong}}
                    <div class="profileBox profilewidthOne">

                        <div class="profileInner">
                            <p class="heading">House Type </p>
                            <p class="info">{{row.entity.houseTypeName}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Roof Type</p>
                            <p class="info">{{row.entity.roofTypeName}}</p>
                        </div>
                        <div class="profileInner mt10">
                            <p class="heading">Solar Type</p>
                            <p class="info">{{row.entity.solarTypeName}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="title-box">
                    <h4>Id</h4>
                    <p class="title-info" ng-show="{{row.entity.installerExpire}}"><img src="/App/images/Mask.svg">Installer Acc Licence Expired</p>
                </div>
                <div class="content-inner">
                    <div class="profileBox profilewidthOne">
                        <div class="profileInner">
                            <p class="heading">Entered on  </p>
                            <p class="info">{{row.entity.creationTime | date:'dd MMM yyyy'}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Installer</p>
                            <p class="info">{{row.entity.installerName}}</p>
                        </div>
                    </div>
                    <div class="profileBox profilewidthOne spaceClass">
                        <div class="profileInner">
                            <p class="heading">Modified On </p>
                            <p class="info">{{row.entity.lastModificationTime | date:'dd MMM yyyy'}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Modified By</p>
                            <p class="info">{{row.entity.lastModifierUserName}}</p>
                        </div>
                    </div>
                    <div class="profileBox profilewidthOne spaceClass">
                        <div class="profileInner">
                            <p class="heading">Installation Date  </p>
                            <p class="info">{{row.entity.expectedInstallDate | date:'dd MMM yyyy'}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Entered By</p>
                            <p class="info"></p>
                        </div>
                    </div>
                    <div class="profileBox profilewidthOne">
                        <div class="profileInner">
                            <p class="heading">Designer </p>
                            <p class="info">{{row.entity.designerName}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">Electrician  </p>
                            <p class="info">{{row.entity.electricianName}}</p>
                        </div>
                    </div>
                    <div class="profileBox profilewidthOne spaceClass">
                        <div class="profileInner">
                            <p class="heading">Installer Note </p>
                            <p class="info">{{row.entity.installerNote}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="title-box">
                    <h4>Panel Serials</h4>
                    <p class="tag">{{row.entity.scanedPanelCount}}</p>
                    <p class="title-info" ng-show="{{row.entity.panelExpire}}"><img src="/App/images/Mask.svg">Panel Lic. Exp.</p>
                </div>
                <div class="content-inner">
                    <div class="profileBox profilewidthOne">
                        <div class="profileInner">
                            <p class="heading"> <img style="height:60px;width:150px;" src="{{row.entity.panelLogoPath}}" /> </p>
                            <!--<p class="info">{{row.entity.inverterModel}}</p>-->
                        </div>
                        <div class="profileInner wdth100">
                            <p class="heading">
                                P Manufacturer 
                            </p>
                            <p class="info">{{row.entity.panelName}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">P Model </p>
                            <p class="info">{{row.entity.panelModel}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading text-right">System Capacity </p>
                            <p class="info text-right">{{row.entity.systemCapacity}}</p>
                        </div>
                    </div>
                    <p class="table_head">
                        Serials
                    </p>
                    <div style="overflow-x:auto;">
                        <table class="tableClass">
                            <tr ng-repeat="panel in row.entity.jobScanedPanel_List">
                                <td>{{$index+1}}</td>
                                <td>{{panel.panelSerialNumber}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="content-box">
                <div class="title-box">
                    <h4>Inverters</h4>
                    <p class="tag">{{row.entity.scanedInverterCount}}</p>
                    <p class="title-info" ng-show="{{row.entity.inverterExpire}}"><img src="/App/images/Mask.svg">Inverter Lic. Exp.</p>
                </div>
                <div class="content-inner">
                    <div class="profileBox profilewidthOne">
                        <div class="profileInner">
                            <p class="heading"> <img style="height:60px;width:150px;" src="{{row.entity.inverterLogoPath}}" /> </p>
                            <!--<p class="info">{{row.entity.inverterModel}}</p>-->
                        </div>
                        <div class="profileInner wdth100">
                            <p class="heading">I Manufacturer </p>
                            <p class="info">{{row.entity.inverterName}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading">I Model </p>
                            <p class="info">{{row.entity.inverterModel}}</p>
                        </div>
                        <div class="profileInner">
                            <p class="heading text-right">NMI Number </p>
                            <p class="info text-right">{{row.entity.nmiNo}}</p>
                        </div>
                    </div>
                    <p class="table_head">
                        Serials
                    </p>
                    <div style="overflow-x:auto;">
                        <table class="tableClass">
                            <tr ng-repeat="inverter in row.entity.jobScanedInverter_List">
                                <td>{{$index+1}}</td>
                                <td>{{inverter.inverterSerialNumber}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>