@using TechnoForms.Localization

<div ng-controller="common.views.compliaencejobs.index as vm">
    <div class="pagetitlebox">
 <div class="row">
            <div class="col-md-5 col-lg-5 col-sm-2">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("CompliaenceJobs")</span>
                        </h1>
                         <button tooltip-placement="top" uib-tooltip="Appy For STC"  class="btn btn-default  btnexcelupload mr10 btnaddhead" ng-click="vm.applyForSTC()"><i class="fa fa-file-excel-o"></i> @*@L("ApplyForSTC")*@ </button>
                            <button tooltip-placement="top" uib-tooltip="Download"  class="btn btn-default  btnexcelupload btnaddhead" ng-click="vm.downloadCSV()"><i class="fa fa-download"></i>  @*@L("CSV")*@</button>
                    </div>
                </div>
            </div>
            <div ng-if="vm.saving" ng-spinner-bar class="page-spinner-bar">
                <img src="~/App/images/loader3.gif" />
            </div>
            <div class="col-md-7 text-right col-lg-7 jobtopfilter col-sm-10">
                <div class="filtermain complaiancejobs">
                    <div class="portlet-title portlet-title-filter mt5 mr10">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form>
                                    <div class="input-group">
                                        <input ng-model="vm.filterText" auto-focus class="form-control" placeholder="@L("ProjectNumber")" type="text">
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getJobs()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                   
                    <a ng-click="toggle = !toggle" ng-class="{'showfilter' : toggle}" class="btn-filter">  </a>
                </div>
            </div>
        </div>
    </div>
    <div class="black-transparentbox">
       

        <div class="portlet light margin-bottom-0">
             <div class="filterarea dropdownfilter jobsfilterdropdown" ng-class="{'showfilter' : toggle}">
                <ul>
                    <li><input ng-model="vm.filterFormId" auto-focus class="form-control" placeholder="@L("formid")" type="text"></li>
                    <li><input ng-model="vm.filterOwnerName" auto-focus class="form-control" placeholder="@L("OwnerName")" type="text"></li>
                    <li>
                        <select id="createforSelectionCombobox"
                                ng-options="installerval.id as installerval.fullName for installerval in vm.installerList"
                                ng-model="vm.filterInstallerId"
                                ui-jq="selectpicker"
                                title="@L("SelectInstaller")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                            <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="streetCitySelectionCombobox"
                                class=""
                                ng-options="streetCityval.suburb as streetCityval.suburb for streetCityval in vm.streetCity"
                                ng-model="vm.filterCity"
                                ui-jq="selectpicker"
                                title="@L("SelectCity")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                            <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="streetStateSelectionCombobox"
                                class=""
                                ng-options="streetStateval.stateName as streetStateval.stateName for streetStateval in vm.streetStateList"
                                ng-model="vm.filterState"
                                ui-jq="selectpicker"
                                title="@L("SelectState")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                            <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <select id="systemTypeSelectionCombobox"
                                ng-options="systemTypeval.id as systemTypeval.systemTypeName for systemTypeval in vm.systemTypeList"
                                ng-model="vm.filterSystemtypeId"
                                ui-jq="selectpicker"
                                title="@L("SelectSystemType")"
                                ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                data-live-search="true">
                            <option selected disabled hidden style='display: none' value=''></option>
                        </select>
                    </li>
                    <li>
                        <div class="input-group form-group datepickerbox">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.filterStartDate" is-open="popup1.opened" datepicker-options="dateOptionsApproval" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("FromDate")" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </li>
                    <li>
                        <div class="input-group form-group datepickerbox">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.filterEndDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" placeholder="@L("ToDate")" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </li>
                    <li class="historic">
                        <div class="historicbox">
                            <span>@L("historic")</span>
                            <label class="switch">
                                <input type="checkbox" name="historic" ng-model="vm.verified">
                                <span class="slider round"></span>
                            </label>
                        </div>
                    </li>
                    <li class="fullwidth100"><button class="btn btn-primary blue" ng-click="vm.getJobs()"><i class="fa fa-search"></i> Search</button> <button class="btn btn-success " ng-click="vm.ClearAll()"><i class="fa fa-refresh"></i> Clear</button></li>
                </ul>                
            </div>
            <div class="portlet-body expandablerowgrid jobspagegrid">
                <div ng-show="vm.norecord">
                    <div class="errormessage">  @L("NoRecordMessage") </div>
                </div>
                <div busy-if="vm.loading">
                    <div ui-grid="vm.cjGridOptions" ui-grid-expandable ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>
            </div>
        </div>
    </div>
    <div class="blackoverlay" ng-class="{'showfilter' : toggle}" ng-click="toggle = !toggle"></div>
</div>