<div class="modal-header">
    <h4 class="modal-title">
        <span>@L("OtherPhotos")</span>
    </h4>

    <a href="#" class="modalclosebtn" ng-click="vm.cancel()">
        <i class="fa fa-times"></i>
    </a>
</div>
<div class="modal-body" style="padding-bottom:15px!important;">
    <div class="imagesliderbox">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="$index">
                <img ng-src="../../Temp/Photos/{{slide.photo}}" style="margin:auto;">
                <div class="carousel-caption">
                    @*<h4>{{slide.photo}}</h4>*@
                    @L("PhotoType") : {{slide.fileTypeName}}<br />
                    @L("longitude") : {{slide.longitude}}<br />
                    @L("latitude") : {{slide.latitude}}<br />
                    @L("Date") : {{slide.date | date:'dd-MM-yyyy'}}<br />
                    @L("ImageCount") :  {{$index+1}}<br />
                </div>
            </div>
        </div>
    </div>
</div>


