﻿@using TechnoForms.Localization
<div ng-controller="host.views.adminInvitation.index as vm">
       <div class="pagetitlebox">
  <div class="row">
            <div class="col-md-7">
                <div class="page-head">
                    <div class="page-title">
                        <h1>
                            <span>@L("InstallerRequest")</span>
                        </h1>
                    </div>
                </div>
            </div>

            <div class="col-md-5 text-right">
                <div class="filtermain">
                    <div class="portlet-title portlet-title-filter mt5">
                        <div class="inputs inputs-full-width">
                            <div class="portlet-input">
                                <form>
                                    <div class="input-group">
                                        <input ng-model="vm.instName" auto-focus class="form-control" placeholder="@L("InstallerName")" type="text">
                                        @*<input type="hidden" ng-model="vm.pageStatus" value="0"/>*@
                                        <span class="input-group-btn">
                                            <button ng-click="vm.getinvitationList()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                                        </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <a ng-click="toggle = !toggle" ng-class="{'showfilter' : toggle}"  class="btn-filter"></a>
                </div>
            </div>
        </div>
       </div>
    <div class="black-transparentbox">
      
        <div class="portlet light margin-bottom-0">
            <div class="filterarea dropdownfilter" ng-class="{'showfilter' : toggle}">
                <ul>
                    <li>
                        <input ng-model="vm.instName" auto-focus class="form-control" placeholder="@L("InstallerName")" type="text">
                    </li>
                    <li>
                        <input ng-model="vm.custName" auto-focus class="form-control" placeholder="@L("CustomerName")" type="text">
                    </li>
                    <li>
                        <button class="btn btn-primary blue" ng-click="vm.getinvitationList()"><i class="fa fa-search"></i> Search</button>
                        <button class="btn btn-success" ng-click="vm.ClearAll()"><i class="fa fa-refresh"></i> Clear</button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="portlet-body">
            <div ng-show="vm.norecord">
                <div class="errormessage">  @L("NoRecordMessage") </div>
            </div>
            <div busy-if="vm.loading">
                <div ui-grid="vm.admininvitationGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
            </div>
        </div>
    </div>
     <div class="blackoverlay" ng-class="{'showfilter' : toggle}" ng-click="toggle = !toggle"></div>
</div>