﻿@using TechnoForms.Energy
<div>
	<form name="createerForm" role="form" novalidate class="form-validation">
		<div class="pagetitlebox">
			<div class="row margin-bottom-5">
				<div class="col-md-12">
					<div class="page-head">
						<div class="page-title">
							<h1>
								<span>@L("CreatingNewEnergyRetailers")</span>
							</h1>
							<button type="button" class="closebtn" aria-label="Close" ng-click="vm.cancel()"><span aria-hidden="true"><i class="fa fa-times"></i></span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="black-transparentbox">
			<div class="portlet light margin-bottom-0">
				<div ng-show="vm.exist">
					<span class="help-block text-danger">{{vm.message}}</span>
				</div>
				<div class="portlet-body">
					<div class="createjobsform">
						<ul class="formfields">
							<li class="wdth100per mr0">
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<label>@L("Name")</label>
									<input auto-focus class="form-control" type="text" name="Name" ng-model="vm.energyRetailer.name" required maxlength="50" placeholder="@L("Name")">
								</div>
							</li>
							<li class="wdth100per mr0">
								<div class="form-group form-md-line-input form-md-floating-label no-hint">
									<label>@L("ElectricityProviderId")</label>
									<input auto-focus class="form-control" type="text" name="ElectricityProviderId" ng-model="vm.energyRetailer.electricityProviderId" required maxlength="10" placeholder="@L("ElectricityProviderId")">
								</div>
							</li>
							<li class="wdth100per mr0">
								<div class="form-md-line-input form-md-floating-label no-hint">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="NSW" class="md-check" type="checkbox" name="NSW" ng-model="vm.energyRetailer.nsw">
											<label for="NSW">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("NSW")
											</label>
										</div>
									</div>
								</div>
							</li>
							<li class="wdth100per mr0">
								<div class="form-md-line-input form-md-floating-label no-hint">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="SA" class="md-check" type="checkbox" name="SA" ng-model="vm.energyRetailer.sa">
											<label for="SA">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("SA")
											</label>
										</div>
									</div>
								</div>
							</li>
							<li class="wdth100per mr0">
								<div class="form-md-line-input form-md-floating-label no-hint">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="QLD" class="md-check" type="checkbox" name="QLD" ng-model="vm.energyRetailer.qld">
											<label for="QLD">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("QLD")
											</label>
										</div>
									</div>
								</div>
							</li>
							<li class="wdth100per mr0">
								<div class="form-md-line-input form-md-floating-label no-hint">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="VIC" class="md-check" type="checkbox" name="VIC" ng-model="vm.energyRetailer.vic">
											<label for="VIC">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("VIC")
											</label>
										</div>
									</div>
								</div>
							</li>
							<li class="wdth100per mr0">
								<div class="form-md-line-input form-md-floating-label no-hint">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="WA" class="md-check" type="checkbox" name="WA" ng-model="vm.energyRetailer.wa">
											<label for="WA">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("WA")
											</label>
										</div>
									</div>
								</div>
							</li>
							<li class="wdth100per mr0">
								<div class="form-md-line-input form-md-floating-label no-hint">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="ACT" class="md-check" type="checkbox" name="ACT" ng-model="vm.energyRetailer.act">
											<label for="ACT">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("ACT")
											</label>
										</div>
									</div>
								</div>
							</li>
							<li class="wdth100per mr0">
								<div class="form-md-line-input form-md-floating-label no-hint">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="TAS" class="md-check" type="checkbox" name="TAS" ng-model="vm.energyRetailer.tas">
											<label for="TAS">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("TAS")
											</label>
										</div>
									</div>
								</div>
							</li>
							<li class="wdth100per mr0">
								<div class="form-md-line-input form-md-floating-label no-hint">
									<div class="md-checkbox-list">
										<div class="md-checkbox">
											<input id="NT" class="md-check" type="checkbox" name="NT" ng-model="vm.energyRetailer.nt">
											<label for="NT">
												<span class="inc"></span>
												<span class="check"></span>
												<span class="box"></span>
												@L("NT")
											</label>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
				<button type="submit" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
			</div>
		</div>
	</form>
</div>
