﻿@using TechnoForms.Localization
<div ng-controller="tenant.views.energyRetailers.index as vm">
	<div class="pagetitlebox">
		<div class="row">
			<div class="col-md-3">
				<div class="page-head">
					<div class="page-title">
						<h1>
							<span>@L("EnergyRetailers")</span>
						</h1>
						<button tooltip-placement="top" uib-tooltip="Add" ng-if="vm.permissions.createer" class="btn btn-primary blue btnaddhead" ng-click="vm.createer()">
							<i class="fa fa-plus"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-9 text-right">
				<div class="filtermain erfilter">
					<div class="portlet-title portlet-title-filter mt5 mr10">
						<div class="inputs inputs-full-width">
							<div class="portlet-input">
								<form>
									<div class="input-group">
										<input ng-model="vm.fullName" auto-focus class="form-control" placeholder="@L(" FullName")" type="text">
										<span class="input-group-btn">
											<button ng-click="vm.geter()" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
										</span>
									</div>
								</form>
							</div>
						</div>
					</div>
					<a ng-click="toggle = !toggle" ng-class="{'showfilter' : toggle}" class="btn-filter">  </a>
				</div>
			</div>
		</div>
	</div>
	<div class="black-transparentbox">

		<div class="portlet light margin-bottom-0">
			<div class="filterarea dropdownfilter" ng-class="{'showfilter' : toggle}">
				<ul>
					<li><input ng-model="vm.fullName" auto-focus class="form-control" placeholder="@L(" FullName")" type="text"></li>
					<li>
						<select id="stateSelectionCombobox"
								class=""
								ng-options="stateNameval.stateName as stateNameval.stateName for stateNameval in vm.stateNames"
								ng-model="vm.filterstate"
								ui-jq="selectpicker"
								ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
								data-live-search="true">
							<option selected disabled hidden style='display: none' value=''></option>
						</select>
					</li>
					<li><button class="btn btn-primary blue" ng-click="vm.geter()"><i class="fa fa-search"></i> Search</button> <button class="btn btn-success " ng-click="vm.ClearAll()"><i class="fa fa-refresh"></i> Clear</button></li>
				</ul>
			</div>
			<div class="portlet-body">
				<div ng-show="vm.norecord">
					<div class="errormessage">  @L("NoRecordMessage") </div>
				</div>
				<div busy-if="vm.loading">
					<div ui-grid="vm.erGridOptions" ui-grid-pagination ui-grid-resize-columns full-height-grid dir=@(CultureHelper.IsRtl ? "rtl" : "" )></div>
				</div>
			</div>
		</div>
	</div>
	<div class="blackoverlay" ng-class="{'showfilter' : toggle}" ng-click="toggle = !toggle"></div>
</div>