﻿@using TechnoForms.Installers
<div>
    <form name="invitationRejectForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span>@L("PleaseAssignUserToInstaller") : {{vm.invitation.installerExpiry}}</span>
            </h4>
        </div>
        <div class="modal-body">
            <div class="form-group form-md-line-input form-md-floating-label no-hint">
                <label for="userSelectionCombobox">@L("SelectUser")</label>
                <select id="userSelectionCombobox"
                        class=""
                        ng-options="userval.id as userval.userName for userval in vm.users"
                        ng-model="vm.invitation.userId"
                        ui-jq="selectpicker"
                        ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                        data-live-search="true">
                     <option selected disabled hidden style='display: none' value=''></option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
            <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="invitationRejectForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
        </div>
    </form>
</div>