@using TechnoForms.Localization
@using TechnoForms.Payments
<div ng-controller="host.views.invoicegenerated.paymentPage as vm">
    <div class="pagetitlebox">
<div class="row">
                <div class="col-md-12">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>@L("AddPayment")</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="black-transparentbox">
        <div class="portlet light margin-bottom-0">
            
            <div class="portlet-body paymentpage">
                <div class="createjobsform">
                    <div class="detailbox">
                        <ul>
                            <li>
                                <label class="title"> @L("CustomerName") </label>
                                <label class="value">{{ vm.customername }}</label>
                            </li>
                            <li>
                                <label class="title"> @L("InvoiceNumber")  </label>
                                <label class="value"> {{ vm.invoiceNumber }}</label>
                            </li>

                        </ul>
                        <ul>
                            <li>
                                <label class="title"> @L("TotalInvoiceAmount") </label>
                                <label class="value text-right">{{ vm.invoiceAmount }}</label>
                            </li>
                            <li>
                                <label class="title">  @L("PaidAmount")  </label>
                                <label class="value text-right">{{ vm.paidAmount }}</label>
                            </li>
                            <li>
                                <label class="title">  @L("OutStandingAmount")</label>
                                <label class="value text-right"> {{ vm.outStandingAmount }}</label>
                            </li>
                        </ul>
                    </div>
                    <div class="mt30">
                        <form name="createPaymentForm" role="form" novalidate class="form-validation">
                            <div class="createjobsform">
                                <ul class="formfields">
                                    <li class="wdth265">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label for="modeOfPaymentCombobox">@L("ModeOfPayment")</label>
                                            <select id="modeOfPaymentCombobox" name="modeOfPaymentCombobox"
                                                    class=""
                                                    ng-options="modeofpaymentval.id as modeofpaymentval.modeOfPaymentName for modeofpaymentval in vm.modeofpayment"
                                                    ng-model="vm.payments.modeofpayment_Id"
                                                    ui-jq="selectpicker"
                                                    ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
                                                    data-live-search="true" required>
                                                 <option selected disabled hidden style='display: none' value=''></option>
                                            </select>
                                        </div>
                                        @*<div>
                                            <span class="help-block text-danger" ng-show="!createPaymentForm.modeOfPaymentCombobox.$valid && createPaymentForm.modeOfPaymentCombobox.$dirty">@L("PleaseSelectModeOfPayment")</span>
                                        </div>*@
                                    </li>
                                    <li class="wdth165">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("Date")</label>
                                            @*<input class="form-control" name="Date" ng-model="vm.payments.date" type="date" required>*@

                                            <div class="input-group datepickerbox">
                                                <input type="text" readonly="readonly" class="form-control" uib-datepicker-popup="{{format}}" ng-model="vm.payments.date" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                                            </div>
                                        </div>
                                        @*<div>
                                            <span class="help-block text-danger" ng-show="!createPaymentForm.Date.$valid && createPaymentForm.Date.$dirty">@L("PleaseEnterDate")</span>
                                        </div>*@
                                    </li>

                                    <li class="wdth165">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("Amount")</label>
                                            <input class="form-control" type="text" name="amount" ng-model="vm.payments.amount" required maxlength="10" ng-change="vm.checkamount(vm.payments.amount,vm.invoiceAmount)" ng-keypress="vm.CheckFloatNumber()">
                                            @*<div ng-if="!vm.amountvalid"><span>@L("Pleaseentervalidamount")</span></div>*@
                                        </div>
                                        <div>
                                            <span class="help-block text-danger" ng-show="!vm.amountvalid">@L("Pleaseentervalidamount")</span>
                                        </div>
                                        @*<div>
                                            <span class="help-block text-danger" ng-show="!createPaymentForm.amount.$valid && createPaymentForm.amount.$dirty">@L("PleaseEnterAmount")</span>
                                        </div>*@
                                    </li>
                                    <li class="wdth100per">
                                        <div class="form-group form-md-line-input form-md-floating-label no-hint">
                                            <label>@L("InstrumentDetail")</label>
                                            <textarea rows="4" cols="50" class="form-control" name="InstrumentDetail" ng-model="vm.payments.instrumentDetail" required maxlength="@Payment.MaxInstrumentDetailLength"></textarea>
                                            @*<input class="form-control" type="text" name="InstrumentDetail" ng-model="vm.payments.instrumentDetail" required maxlength="@Payment.MaxInstrumentDetailLength">*@



                                        </div>
                                        @*<div>
                                            <span class="help-block text-danger" ng-show="!createPaymentForm.InstrumentDetail.$valid && createPaymentForm.InstrumentDetail.$dirty">@L("PleaseInstrumentDetail")</span>
                                        </div>*@
                                    </li>
                                </ul>
                            </div>
                            <div class="modal-footer transparentbackground">
                                <button ng-disabled="vm.saving" type="button" class="btn btn-danger" ng-click="vm.cancel()"><i class="fa fa-times"></i> <span> @L("Cancel")</span></button>
                                <button type="submit" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="createPaymentForm.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="portlet light margin-bottom-0 mt30">
                    <div class="portlet-body">
                        <div ng-show="vm.norecord">
                            <div class="errormessage">  @L("NoRecordMessage") </div>
                        </div>
                        <div busy-if="vm.loading" ng-show="!vm.norecord">
                            <div ui-grid="vm.paymentGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
