@using TechnoForms.Localization
<div ng-controller="host.views.pendinginvoice.invoiceGenerateDetail as vm">
       <div class="pagetitlebox">
   <div class="row">
                <div class="col-md-12">
                    <div class="page-head">
                        <div class="page-title">
                            <h1>
                                <span>@L("GenerateInvoice")</span>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
       </div>
    <div class="black-transparentbox mt0">
        <div class="portlet light margin-bottom-0">
         

            <div class="portlet-body">

                <div>
                    <div class="detailbox invoicegeneragewrap">
                        <div>
                        <ul>
                            <li>
                                <label class="title"> @L("CustomerName") </label>
                                <label class="value"> {{ vm.customername }}</label>
                            </li>
                            <li>
                                <label class="title">@L("TotalSTC") </label>
                                <label class="value text-right"> {{ vm.totalSTC }}</label>
                            </li>
                            <li>
                                <label class="title">  @L("STCRate")  </label>
                                <label class="value text-right"> {{ vm.strRate }} </label>
                            </li>
                            <li>
                                <label class="title">  @L("TotalInvoiceAmount") </label>
                                <label class="value text-right"> {{ vm.totalInvoiceAmount }}</label>
                            </li>
                            
                        </ul>
                        </div>
                        <div class="generateinvoice genrateinvoiceform">
                                    <ul class="formfields">
                                        <li class="wdth265">
                                            <div class="form-md-line-input form-md-floating-label no-hint">
                                                <label class="title">@L("InvoiceNumber")</label>
                                                <input type="text" name="InvoiceNumber" class="form-control" ng-model="vm.invoiceNumber" required maxlength="10" placeholder='@L("InvoiceNumber")' />
                                                <div ng-if="!vm.isValidinvoiceNumber" style="color:red"><span>@L("PleaseenterInvoiceNumber")</span></div>
                                            </div>
                                        </li>
                                        <li>
                                            <button class="btn btn-primary blue mt26" ng-click="vm.generateInvoice(vm.tenantId)"><i class="fa fa-plus"></i> @L("GenerateInvoice")</button>
                                        </li>
                                        <li>
                                            <button ng-disabled="vm.saving" type="button" class="btn btn-danger mt26" ng-click="vm.cancel()"><i class="fa fa-times"></i> @L("Cancel")</button>
                                        </li>

                                    </ul>
                                </div>
                    </div>
                </div>
                <div ng-show="vm.norecord">
                    <div class="errormessage">  @L("NoRecordMessage") </div>
                </div>
                <div busy-if="vm.loading" class="">
                    <div ui-grid="vm.jobsGridOptions" ui-grid-pagination ui-grid-resize-columns dir=@(CultureHelper.IsRtl ? "rtl" : "")></div>
                </div>


            </div>
        </div>
    </div>

</div>